- @title = member? ? @market.format(:fullname) : 'Markets'

= content_for(:breadcrumbs) do
  =breadcrumb 'Admin'
  - if member?
    =breadcrumb 'Markets', collection_url

= content_for(:navigation) do
  - if member?
    - if can? :edit, @market
      = nav_item t(:edit), edit_resource_url

= content_for(:content) do 
  =yield

= render :template => 'layouts/application3'