- @title = @property.format(:address) if member?

= content_for(:breadcrumbs) do
  =breadcrumb 'Markets'
  =breadcrumb @market.format(:fullname), client_market_url(@market)
  - if member?
    =breadcrumb 'Properties'
- if params[:action] == "saved"
  = content_for(:pagination) do
    .addrem_saved{:style => "float: right; width: 220px; height: 20px; margin-right: 10px; text-align: right"}
      = saved_page_select({ data: { market_id: @market.id, page: params[:page] } }, session[:per_page])
= content_for(:navigation) do
  - if member?
    - if can? :summary, @property
      =nav_item t(:summary), summary_client_market_property_url
    - if can? :proforma, @property
      =nav_item t(:proforma), client_market_properties_url   
    -#
      - if can? :comps, @property
        %li.dropdown{:class => (:active if action_name.match(/comps_/)) }
          %a.dropdown-toggle{'data-toggle' => :dropdown, :href => '#'}
            =t(:comps)
            %b.caret
          %ul.dropdown-menu
            - if can? :comps_rental, @property
              =nav_item t(:rental), comps_rental_client_market_property_url
            - if can? :comps_sale, @property
              =nav_item t(:sale), comps_sale_client_market_property_url
            - if can? :comps_build, @property
              =nav_item t(:build), comps_build_client_market_property_url
    - if can? :map, @property
      =nav_item t(:map), map_client_market_property_url
    - if can? :mls, @property
      =nav_item "MLS", @property.mls_url, target: :_blank
    %li.dropdown
      %a.dropdown-toggle{'data-toggle' => :dropdown, :href => '#'}
        ="Property Data"
        %b.caret
      %ul.dropdown-menu
        - if can? :tax, @property
          =nav_item t(:tax), @property.tax_url, target: :_blank
        - if can? :deed, @property
          =nav_item t(:deed), @property.deed_url, target: :_blank
        - if can? :zillow, @property
          =nav_item t(:zillow), @property.zillow_url, target: :_blank
        - if can? :pshark, @property
          =nav_item t(:pshark), @property.pshark_url, target: :_blank 
    
    
    
    
    
     
    - if can? :comment, @property
      =nav_item "Contact & Notes", comment_client_market_property_url
    - if can? :capex_calc, @property
      =nav_item "Capex Calculator", capex_calc_client_market_property_url
    - if can? :neighborhood, @property
      =nav_item "Neighborhood Data", neighborhood_client_market_property_url
    - if can? :download, @property
      %li.dropdown
        %a.dropdown-toggle{'data-toggle' => :dropdown, :href => '#'}
          ="Evaluation"
          %b.caret
        %ul.dropdown-menu
          - if can? :level2, @property
            =nav_item t(:level2), client_market_properties_url
          - if can? :level3, @property
            =nav_item t(:level3), client_market_properties_url
    - if can? :edit, @property
      =nav_item t(:edit), client_market_properties_url
    - if can? :raw, @property
      =nav_item t(:raw), client_market_properties_url
  - elsif collection?
   
    - if current_user.admin? || current_user.role == 'analyst'
      =nav_item t(:results), saved_market_properties_url(params_without_action)
    - if current_user.admin? || current_user.role == 'analyst'
      %li.dropdown
        %a.dropdown-toggle{'data-toggle' => :dropdown, :href => '#'}
          =t(:download)
          %b.caret
        %ul.dropdown-menu
          - if current_user.admin? || current_user.role == 'analyst'
            =nav_item t(:excel), export_market_properties_url(params_without_action)

= content_for(:addrem_saved) do
  -#
    - if member? && MyProp.my_prop_exists(@property.id, current_user.id) 
      .addrem_saved{:style => "float: right; width: 200px; height: 20px; margin-right: 10px; text-align: right"}
        = link_to "Remove from My Props", {:controller => "properties", :action => "remove_saved", :referer => request.referer } 
    - elsif member?
      .addrem_saved{:style => "float: right; width: 200px; height: 20px; margin-right: 10px; text-align: right"}
        = link_to "Add to My Props", {:controller => "properties", :action => "add_saved", :referer => request.referer } 
  
    =f.button :submit, 'Make Offer', :disable_with => t('wait')
    .addrem_saved{:style => "float: right; width: 400px; height: 20px; margin-right: 10px; text-align: right"}
      %input.btn.btn-primary{type: "submit", value: "Make Offer"}
      %input.btn{type: "submit", value: "Request Visit"}
  - if member? 
    .addrem_saved{:style => "float: right; width: 400px; height: 20px; margin-right: 10px; text-align: right"}
      =link_to image_tag("btn_make_offer.jpg", border: 0, alt: "Make Offer", title: "Make Offer"),  "https://login.salesforce.com", target: "_blank"
      -# =link_to image_tag("btn_request_visit.jpg", border: 0, alt: "Request Visit", title: "Request Visit"), "mailto:visit@greenletrealty.com", target: "_blank"
      =link_to image_tag("btn_request_visit.jpg", border: 0, alt: "Request Visit", title: "Request Visit"), request_visit_client_market_property_url , remote: true, class: "ajax_link", data: {type: 'script'}
      
      - if member? && MyProp.my_prop_exists(@property.id, current_user.id) 
        =link_to image_tag("btn_rem_from_my_props.jpg", border: 0, alt: "Remove from My Properties", title: "Remove from My Properties"), {:controller => "properties", :action => "remove_saved", :referer => request.referer } 
      - elsif member?
        =link_to image_tag("btn_add_to_my_props.jpg", border: 0, alt: "Add to My Properties", title: "Add to My Properties"), {:controller => "properties", :action => "add_saved", :referer => request.referer } 
= content_for(:content) do
  - if member?
    .row

      .span3
        =image_for(@property)
      .span3
        =definitions_for2(@property, :style => "margin-bottom: 0px" ) do |d|
          =d.rows :status, :category, :list_price 
          =d.row :list_price_psf, as: :money_w_two_decimal
          =d.rows :sold_price, :year_built
          =d.row :school_district_full, definition_class: 'Property', label: 'School District'
          
      .span3
        =definitions_for2(@property, :style => "margin-bottom: 0px") do |d|
          =d.rows :mls_number, :tax_id, :id, :legal_subdivision
          =d.row :subdivision_full, definition_class: 'Property', label: 'Subdivision'
          =d.row :county
          =d.row :avg_school_rating, label: 'Avg. School Rate'
        
          
          
      .span3
        =definitions_for2(@property, :style => "margin-bottom: 0px") do |d|
         
          =d.row :square_feet
          =d.rows :lot_square_feet, :beds, :bathrooms, :listing_date 
          =d.rows :cdom, :dom
          
    
  =yield
  
  - if @market.id == 9 && !controller.action_name.to_sym.in?([:proforma,:comps_sale,:comps_rental,:comps_build,:comment,:edit])
    .blocktext
      .aleft
        = image_tag("fmls_logo.jpg")
      .span13{ :style => "float: left; width: 480px; margin-left: 10px" }= "Listing content provided by FMLS and deemed reliable but not guaranteed." 
      .fmls_bottom{:style => "clear:both; text-align: center;" }= "©2014 First Multiple Listing Service, Inc.​"
    %br
    %br  
= render :template => 'layouts/application'
#my-modal.modal.hide
  .modal-header
    %a.close{"data-dismiss" => "modal"} ×
    %h6 
      %i.icon-share.icon-large
      Request Visit
  .modal-body
    #modal-rec-body
      %p *this is where _recommendation.html.haml is rendered*

    
  
