<div class="row">
    <div id="closings_map_view" class="col-xl-9 col-lg-8 col-md-7 col-sm-7 hidden-xs"  ng-if="deviceWidth >= 768">
        <div id="simba_map_area" scroll-to-fixed="scrollToFixedOptions">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject bold font-green uppercase">
                            Map View
                        </span>
                    </div>
                    <div class="tools">
                        <button class="btn green btn-outline " type="button" ng-click="listView()">
                            List
                        </button>
                        <button class="btn green btn-outline active" type="button" ng-click="mapView()">
                            Map
                        </button>
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="row ">
                        <div id="map_portion">

                            <div ng-if="renderClosingsMap">
                                <ng-include src="templateMapViewMapUrl"></ng-include>
                            </div>
                            
                        </div>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="closings_map_image_view" class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-xs-12">
        <div class="portlet light" >
            <div class="portlet-title">
                <div class="row visible-xs">
                    <div class="col-md-12 text-right">
                        <button class="btn green btn-outline " type="button" ng-click="listView()">
                            List
                        </button>
                        <button class="btn green btn-outline active" type="button" ng-click="mapView()">
                            Map
                        </button>
                    </div>
                </div>
                <div class="caption">
                    <span class="caption-subject bold font-green uppercase">
                        Sort By
                    </span>
                    <div class="font-md map_list_paginate"></div>
                </div>
                <div class="tools">
                    
                    <select class="bs-select form-control input-small" data-style="green" ng-change="listSortBy()" ng-model="sort_by" id="list_sort_by">
                        <option value="offer_date_c DESC" selected="selected">Newest</option>
                        <option value="opportunity_status_c = 'closing_contingencies' ASC, opportunity_status_c = 'closed_purchased' ASC,opportunity_status_c = 'offer_sent_to_seller' ASC, opportunity_status_c = 'offer_signed_ready_to_submit' ASC,opportunity_status_c = 'offer_out_for_signature' ASC, opportunity_status_c = 'offer_make_offer' ASC, opportunity_status_c = 'offer_lost_deal' ASC, opportunity_status_c = 'closing_inspection' ASC, opportunity_status_c = 'closing_post_constingencies' ASC, opportunity_status_c = 'closing_cancel_contract' ASC">Status</option>
                        <option value="offer_date_c DESC">Offer Date</option>
                        <option value="close_date_c DESC">Close Date</option>
                        <option value="list_price_c DESC">Price</option>
                    </select>
                </div>
            </div>

            <div class="portlet-body" >
                <div class="" style="margin: 0 auto; max-width: 360px;">
                    <table ng-maplistview-closings class="table table-striped table-hover dt-responsive" width="100%" id="maplistview_closings">
                        <thead>
                            <tr>
                                <th class=""></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>