= f.fields_for :overrides, object: object, index: '' do |d|
  %tr
    %td= link_to t(:delete), '#', data: {toggle: :delete}
    - for attr in Property::IMPORT_FIELDS
      %td= d.input attr, label: false, model: Property, input_html: {class: 'input-small', value: object[attr]}, unchecked_value: nil