= page_info(@uploads)
%table.table.table-hover
  %thead
    - for attr in [:run_at, :user, :started_at, :completed_at, :status, :results_count, :errors_count]
      %th= Job.label(attr)
    %th= t(:actions)
  %tbody
    - for upload in @uploads
      %tr
        %td= upload.format(:run_at)
        %td= upload.format(:user)
        %td= upload.format(:started_at, as: :time)
        %td= upload.format(:completed_at, as: :time)
        %td= upload.format(:status)
        %td= upload.format(:results_count)
        %td= upload.format(:errors_count)
        %td.nowrap
          %ul.nav.nav-links
            - if can? :show, upload
              =nav_item t(:show), market_upload_url(@market, upload)
            - if can? :destroy, upload
              =nav_item t(:delete), resource_url(upload), :method => :delete, :confirm => t(:are_you_sure)