.tabbable
  %ul.nav.nav-tabs
    - for key in [(:error if @upload.status == 'error'), :results, :info].compact
      =tab_item t(key), "##{key}"
  .tab-content
    .tab-pane#error
      =debug(@upload.last_error, true)
    .tab-pane#results
      = render 'properties', data: @properties, columns: current_user.preferences.columns_results
    .tab-pane#info
      =debug(@upload.info, true)
