<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li class="active"> Dashboard </li>
</ul>
<div id="simbanic_dashboard">
	<div class="simba_widget_section1" ng-include="'assets/app/components/dashboard/widgets/section1.html'">
	</div>

	<div class="simba_widget_section2" ng-include="'assets/app/components/dashboard/widgets/section2.html'">
	</div>

	<div class="simba_widget_section3" ng-include="'assets/app/components/dashboard/widgets/section3.html'">
	</div>

	<div class="simba_widget_section4" ng-include="'assets/app/components/dashboard/widgets/section4.html'">
	</div>
</div>