= page_info(@searches)
.row
  %table.table.table-hover.table-bordered.span12
    %thead
      %tr
        %th{:colspan => 2}= ""
        %th{:colspan => 4}= "Email"
        %th{:rowspan => 2}= t(:actions)
      %tr
        - for attr in %w{name config email_start_on email_frequency email_public email_most_recent}
          %th= Search.label(attr)
    %tbody
      - @searches.each do |search|
        %tr
          %td{:nowrap => :nowrap}= search.format(:name)
          %td= search.format(:config)
          - for attr in %w{email_start_on email_frequency email_public email_most_recent}
            %td{:nowrap => :nowrap}= search.format(attr)
          %td{:nowrap => :nowrap}
            %ul.nav.nav-links
              
              - if can? :show, search
                =nav_item t(:show), client_market_search_url(@market,search.id)
              - if can? :edit, search
                =nav_item t(:edit), edit_client_market_search_url(@market,search.id)
              - if can? :destroy, search
                =nav_item t(:delete), client_market_search_url(@market,search.id), method: :delete, confirm: t(:are_you_sure)
              