=content_for(:head) do
  =javascript_include_tag 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false'

.geocontainer.clearfix
  #geoerrors= t(:not_geocoded)
  #geomap.gmap{:data => {:properties => @properties.prepare_geomap_json(proc{|id| market_property_url(@market, id: id)},current_user.id), icons: 98.times.map{|i| image_path("marker#{i+1}.png")}}, :style => 'float: left; width: 850px; height: 600px'}
  #geoinfo{:style => 'float: right; width: 300px'}