= simple_form_for([:client,@market, @market.searches.new(user_id: current_user_id)]) do |f|
  =f.input :user_id, as: :hidden
  - session[:parameters] = params
  = render 'client_properties', data: @properties, columns: current_user.preferences.columns_results, refine: f
  .controlbar
    .container
      .form-actions
        =f.button :submit, t(:refine_search), disable_with: t('wait')
        
    - if @market.id == 9
      .blocktext
        .aleft
          = image_tag("fmls_logo.jpg")
        .span13{ :style => "float: left; width: 480px; margin-left: 10px" }= "Listing content provided by FMLS and deemed reliable but not guaranteed." 
        .fmls_bottom{:style => "clear:both; text-align: center;" }= "©2014 First Multiple Listing Service, Inc.​"
      
    
        
        