= simple_form_for([:admin, @service], :observe => true) do |f|
  =f.input :code
  =f.input :login
  =f.input :password, :input_html => { :value => @service.password }
  =f.input :key
  =f.input :daily_limit
  - unless @service.new_record?
    =f.input :daily_calls, disabled: true
    =f.input :last_date, disabled: true
  
  .controlbar
    .container
      .form-actions
        =f.button :submit, :disable_with => t('wait')
        =link_to t(:cancel), collection_url, class: 'btn btn-link'