= page_info(@services)
%table.table.table-hover
  %thead
    %tr
      - %w{name login password key daily_limit daily_calls last_date}.each do |attr|
        %th= Service.label(attr)
      %th= t(:actions)
  %tbody
    - @services.each do |service|
      %tr
        - %w{name login password key daily_limit daily_calls last_date}.each do |attr|
          %td= service.format(attr)
        %td.nowrap
          %ul.nav.nav-links
            - if can? :edit, service
              =nav_item t(:edit), edit_resource_url(service)
            - if can? :destroy, service
              =nav_item t(:delete), resource_url(service), :method => :delete, :confirm => t(:are_you_sure) 