.row
  .span3
    %span 
  .span3
    =definitions_for2(@property, :style => "margin-bottom: 0px" ) do |d|
      
      
      =d.row :elementary_school_full, definition_class: 'Property', label: 'Elementary School'
      =d.row :garage_capacity
      =d.row :roof_type, label: 'Roof Type'
    = frm.definitions :style => "margin-bottom: 0px !important" do |d|
      =d.row :pool_private, editable: true, as: :boolean_two
    =definitions_for2(@property, :style => "margin-bottom: 0px" ) do |d|
      =d.row :comps_updated_at
      

  .span3
    =definitions_for2(@property, :style => "margin-bottom: 0px") do |d|
      
      =d.row :middle_school_full, definition_class: 'Property', label: 'Middle School'
      =d.row :lock_box_code
    = frm.definitions :style => "margin-bottom: 0px !important" do |d|
      =d.row :tax_amount, label: 'Property Tax Amount', editable: true, as: :money_wo_decimal
    =definitions_for2(@property, :style => "margin-bottom: 0px") do |d|
      =d.row :user_updated_at
    -if @pclass == "invitation_proforma"
      %table.table.table-definitions{:style => "margin-bottom: 0px"}
        %tbody
          %tr
            %td.align-left.title
              %label Monthly HOA
            %td.item.align-right= "#{((!@property.annual_maintenance_fee.nil? ? @property.annual_maintenance_fee : 0 ) / 12).round}"
  .span3
    =definitions_for2(@property, :style => "margin-bottom: 0px" ) do |d|
      
      =d.row :high_school_full, definition_class: 'Property', label: 'High School'
      =d.row :listing_broker_name 
    = frm.definitions :style => "margin-bottom: 0px !important" do |d|
      =d.row :tax_rate, editable: true
    = frm.definitions :style => "margin-bottom: 0px !important" do |d|
      =d.row2 :annual_maintenance_fee, label: "Annual HOA", editable: true, as: :money_wo_decimal
.row
  .span3
    .empty-col
  .span3
    .empty-col
  .span3
    .empty-col
  .span3
    .empty-col
.row
  
  .span3
    = frm.hidden_field "market_id"
    = frm.hidden_field "id"
  .span3
    - disabled_items = []
    - disabled_items =  User.all.map(&:id).reject! {|d| d == current_user.id  } if !current_user.admin? && !(current_user.role == "analyst")
    = client_prop_mul_rep(frm, User.order("firstname , lastname").all.map{|s| [ [(s.firstname.nil? ? '':s.firstname),(s.lastname.nil? ? '': s.lastname)].join(' ').gsub(/^\s\s*/, '').gsub(/\s\s*$/, ''), s.id.to_s]},  (@property.rep ? @property.rep : "" ).split(",").each {|t| t.strip!}, disabled_items ,"/client" )
    = client_near_commercial_select(frm, [["Yes","1"],["No","0"]], (@property.near_commercial == true ?  "1" : (@property.near_commercial == false ? "0" : @property.near_commercial  ) ) ,"/client" )
  .span55
    
    .span25
      - Property.assign_user_id(current_user.id)
      = client_prop_select(frm, @property.market.property_tags.map{|s| [s.name, s.id.to_s]}, @property.user_assigned_tag.nil? ? nil : @property.user_assigned_tag.tag , "/client"  )          
    .span25
      = client_flood_select2(frm, [["High","high"],["Moderate-Low","moderate-low"],["Undetermined","undetermined"]], @property.flood, "/client")
    .span56
      - notes = [@comment.content] if @comment
      = prop_note(frm, notes)
.row
  
  .span12
    = prop_realtor_remarks(frm, @property.realtor_remarks)
    = prop_public_remarks(frm, @property.public_remarks)
    = prop_equipment(frm, @property.equipment)
    
