= simple_form_for([@market, @property], url: save_client_market_property_url, method: :post, observe: true) do |f|
      
  
  = render 'property_top', property: @property, comment: @comment, frm: f
  %br
  .row
    .span3 &nbsp;
    .span9
      = image_tag("capex_calc_panel.jpg")