= simple_form_for([@market, @property], url: save_client_market_property_url, method: :post, observe: true, html: { class: "contact_associated_form"}) do |f|
  = render 'property_top', property: @property, comment: @comment, frm: f
%h4= "Contacts and Notes"
-# =debug(@property._overrides)
.row{:style => "height:550px;"}
  .span9
    = simple_form_for([@market, @property], url: save_comment_client_market_property_url, method: :post, html: { class: "contact_submit_form"}) do |f|
      .span35{:style => "margin-left: 20px; height: 400px;"}  
        - for attr in %w{owner_name owner_street_address owner_city owner_state owner_zip_code owner_zip_4 owner_phone owner_email }
          = f.input attr, input_html: {style: 'width: 130px'}
      .span35{:style => "margin-left: 20px; height: 400px;"}
        - for attr in %w{list_price offer_price owner_estimated_loan_balance mortgagee listing_agent_phone listing_agent_name listing_agent_email lock_box_code } 
          - if attr.in? ["list_price","offer_price","owner_estimated_loan_balance"]
            = f.input attr, as: :money_wo_decimal,  input_html: {style: 'width: 130px'}
          - else
            = f.input attr,  input_html: {style: 'width: 160px'}
        = f.hidden_field "tax_amount"
        = f.hidden_field "tax_rate_percent"
        = f.hidden_field "annual_maintenance_fee"
        = hidden_field_tag  "client_rep"
        = hidden_field_tag "client_flood"
        = hidden_field_tag "client_near_commercial"
        = hidden_field_tag "client_tag"
        = hidden_field_tag "client_notes"
        = f.hidden_field "pool_private"
          
      .controlbar
        .container
          .form-actions.clear
            =f.button :submit, "Save", :disable_with => t('wait')
            =f.submit :reset, :value => t(:reset), :type => :reset, :class => 'btn'
        - if @market.id == 9
          .blocktext
            .aleft
              = image_tag("fmls_logo.jpg")
            .span13{ :style => "float: left; width: 480px; margin-left: 10px" }= "Listing content provided by FMLS and deemed reliable but not guaranteed." 
            .fmls_bottom{:style => "clear:both; text-align: center;" }= "©2014 First Multiple Listing Service, Inc.​"
  .span3{:style => "margin-left: 10px;" }
    = simple_form_for([@market, @property], url: save_comment_client_market_property_url, method: :post, observe: true, remote: true) do |f|
      .comment_small_gap
        %span.small_title Notes
      .comment_large_gap
        = f.fields_for @property.notes.build do |n|
          = n.text_area :content, :cols => "40", :rows => "3", :style => "width: 268px; margin-left: 0px"
          .comment_tiny_gap 
        = f.button :submit, "Add Note", :disable_with => t('wait'), :style => "margin-left: 0px"
        .comment_tiny_gap 
        #comment_list     
          .comment_container
            %ul.list_module
              - note_list = @property.notes.select {|n| !n.new_record?}
              - if note_list.length > 0
                - for note in note_list
                  = render :partial => 'note', :locals => {:note => note }                               
                     
      
      
             