= simple_form_for([@market, @property], url: save_client_market_property_url, method: :post, observe: true) do |f|
      

  = render 'property_top', property: @property, comment: @comment, frm: f

  - if @property.address
    %iframe{:style=>"width:100%;height:640px",:src=>"http://data.dualmaps.com/dualmaps4/map.htm?addr=#{@property.address}&z=16&gm=0&ve=4&gc=0&bz=0&bd=0&mw=1&sv=1&sva=1&svb=0&svp=0&svz=0&svm=2&svf=0&sve=1", :frameborder=>"0"}
  - else
    =t(:no_address_available)
    
