= simple_form_for([@market, @property], url: save_client_market_property_url, method: :post, observe: true) do |f|
      
  
  = render 'property_top', property: @property, comment: @comment, frm: f
  %br
  .row    
    .span12{style: "text-align: center"}
      = image_tag("neighborhood.jpg")