= simple_form_for([@market, @property], url: schedule_visit_client_market_property_url, method: :post, observe: true, remote: true) do |f|
  .row{:style => "margin-left: 0px"}
    = f.hidden_field :address
    .span3    
      %table.table.table-definitions{:style => "margin-bottom: 0px"}
        %tbody
          = client_access_select2(f, [["Access","access"],["Evaluator","evaluator"],["Inspector","inspector"]], "", "/client")
          = client_scheduled_date(f,nil)
          = client_username(f,current_user.email)
         
              
          
    .span3
      %table.table.table-definitions{:style => "margin-bottom: 0px"}
        %tbody
          %tr{:style => "height: 26.7778px"}
            %td &nbsp;
            %td &nbsp;
          = client_scheduled_time(f,nil,nil)
          %tr{:style => "height: 26.7778px"}
            %td &nbsp;
            %td &nbsp;
            
  .row{:style => "margin-left: 0px"}
    .span6{:style => "text-align: center"}
      =f.button :submit, "Submit", :disable_with => t('wait')
      =f.submit :close, :value => "Close", :type => :button, :class => 'btn btn-close'
    
          
