:plain
  $("#modal-rec-body").html("#{escape_javascript(render(:action => 'request_visit_form', :template => 'client/properties/request_visit_form'))}");
  $('#my-modal').css('width', '700px');
  $('#my-modal').css('margin-left','-350px');
  $('#my-modal').modal({
    keyboard: true,
    show: true
  });
  
  

