= content_for(:navigation) do
  - if member?
    - if can? :show, @search
      =nav_item t(:results), client_property_url(params_without_action)
= simple_form_for(:properties, :url => rem_myprop_client_market_properties_path, :html => {:id => 'market_properties_rem_myprop'}) do |f|
  - puts "$$ params #{params}"
  - session[:parameters] = params
  = render 'client_saved_properties', data: @properties, columns: current_user.preferences.columns_saved, delete_method: true, rem: f
  .controlbar
    .container
      .form-actions
        =f.submit :delete_properties, :name => :delete_properties, :value => 'Remove Property', :type => :submit, :class => 'btn btn-warning', :id => 'delete_properties'