$("ul.list_module").append('<%= j render :partial => 'note', :locals => {:note => @note } %>');
$("ul.list_module li:last").fadeIn("slow");
$('#property_note_content').val('');
$('#comment_list').scrollTop( $('#comment_list')[0].scrollHeight);
$("label[for=user_updated_at]").parent().next().text('<%= j @user_updated_at.in_time_zone('Central Time (US & Canada)').strftime("%m/%d/%Y %H:%M") %>');
$("label:contains('Notes')").parent().next().children().first().val('<%= j @note.content %>');
