= simple_form_for([@market, @property], url: recompute_client_market_property_url, method: :post, observe: true) do |f|
      
  = render 'property_top', property: @property, comment: @comment, frm: f
  
      
  -Property.set_user_id(current_user.id)
  = f.simple_fields_for @proforma do |r|

    %h5.well= t(:offer).upcase
    .row
      .span45
        =definitions_for2(@property) do |d|
          =d.row :list_price 
        = r.definitions do |d|
          =d.row2 :rental_output_recommended_offer, label: 'Recommended Offer', editable: true, as: :money_wo_decimal
          =d.row2 :rental_output_calc_offer, label: 'Calc Offer'
          
      .span45
        =definitions_for(@proforma) do |d|
          =d.row2 :rental_output_max_purchase_ratio, label: 'Offer to List Price'

          =d.row2 :rental_output_cap_rate, label: 'Offer CAP Rate', as: :percent_w_two_decimal
        = r.definitions do |d|
          =d.row2 :rental_output_minimum_cap_rate, label: 'Min CAP Rate', editable: true
      .span45
        =definitions_for(@proforma) do |d|
          =d.row2 :rental_output_max_purchase_amount, label: 'Max CAP Offer'
          =d.row2 :rental_output_max_ltv_offer, label: 'Max LTV Offer'
          -if @pclass.start_with?("invitation")
            =d.row2 :rental_output_max_price, label: 'Max Price', as: :money_wo_decimal
          -else
            =d.row2 :rental_output_gross_yield, label: 'Offer Gross Yield', as: :percent_w_two_decimal

    %h5.well= t(:capex).upcase
    .row
      .span45
        = r.definitions do |d|
          =d.row2 :rental_output_condition_grade, label: 'Condition Grade', editable: true
          =d.row2 :rental_output_renovation_user_entry, label: 'Analyst Recmd CapEx',editable: true, as: :money_wo_decimal
      .span45
        = r.definitions do |d|
          =d.row2 :rental_output_renovation_calculated, label: 'Calculated CAPEX'
          =d.row2 :rental_output_minimum_capex, label: 'Minimum CAPEX'
          =d.row2 :rental_output_max_renovation_amount, label: 'Max CAPEX'
      .span45
        = r.definitions do |d|
          =d.row2 :rental_output_repair_description, label: 'Repair Description'

  %h5.well= 'RENTAL'
  .row
    .span6          
      %table.table.table-bordered
        %thead.align-center
          %tr          
            %th.align-center.span1-5 
              = f.fields_for :rental do |c|
                = c.hidden_field :category, :value => :rental
            %th.align-center.span1-5{:style => @comp_level_rental == 'expanded' ? "background-color: #99CCFF" : "" } Expanded (A-C)
            %th.align-center.span1-5{:style => @comp_level_rental == 'moderate' ? "background-color: #99CCFF" : "" } Moderate (A-B)
            %th.align-center.span1-5{:style => @comp_level_rental == 'conservative' ? "background-color: #99CCFF" : "" } Conservative (A)
        %tbody
          %tr
            %th= "Top Tier AVM"
            - for attr in [:expanded_avm, :moderate_avm, :conservative_avm]
              %td.align-right{:style => @comp_level_rental == attr.to_s.split("_")[0] ? "background-color: #99CCFF" : "" }= @stats_rental.format("#{attr}", as: :money)
          %tr
            %th= "Top Tier Sq Ft"
            - for attr in [:expanded_sale_price, :moderate_sale_price, :conservative_sale_price]
              %td.align-right{:style => @comp_level_rental == attr.to_s.split("_")[0] ? "background-color: #99CCFF" : "" }= @stats_rental.format("#{attr}_psf", as: :money_w_two_decimal)
          %tr
            %th= "Med-Max Range"
            - for attr in [:expanded, :moderate, :conservative]          
              %td.align-right{:style => @comp_level_rental == attr.to_s.split("_")[0] ? "background-color: #99CCFF" : "" }= [@stats_rental.format("#{attr}_avm_mean", as: :money_wo_decimal, custom_empty_value: ""),' - ',@stats_rental.format("#{attr}_avm_max", as: :money_wo_decimal, custom_empty_value: "" )].join("")
          %tr
            %th= "Med-Max PSFT Range"
            - for attr in [:expanded, :moderate, :conservative]          
              %td.align-right{:style => @comp_level_rental == attr.to_s.split("_")[0] ? "background-color: #99CCFF" : "" }= [@stats_rental.format("#{attr}_sale_price_psf_mean", as: :money_w_two_decimal, custom_empty_value: ""),' - ',@stats_rental.format("#{attr}_sale_price_psf_max", as: :money_w_two_decimal, custom_empty_value: "")].join("")
          - if @category_rental == :sale
            %tr
              %th= "Max Sold Price"
              - for attr in [:expanded, :moderate, :conservative]          
                %td.align-right{:style => @comp_level_rental == attr.to_s.split("_")[0] ? "background-color: #99CCFF" : "" }=  @stats_rental.format("#{attr}_sale_price_max", as: :money)
      %br  
      %table.table.table-bordered 
        %thead.align-center
          %tr          
            %th.align-center.span1-5 &nbsp;
            %th.align-center.span1-5 Price
            %th.align-center.span1-5 Sq Ft
        %tbody
          %tr
            %th= "#{@comp_level_rental.capitalize} Top Tier AVM"
            %td.align-right= @stats_rental.format("#{@comp_level_rental}_avm", as: :money)
            %td.align-right= @stats_rental.format("#{@comp_level_rental}_sale_price_psf", as: :money_w_two_decimal)
          %tr
            %th= "User Comps"
            %td.align-right{:style => "padding: 4px 5px 4px 0px"}
              = f.simple_fields_for @proforma do |r|
                = r.definitions2 do |d|
                  =d.row4 "comparables_user_avm_#{@category_rental}".to_sym, label: 'User Comps', editable: true, as: :money_wo_decimal
            %td.align-right{:style => "padding: 4px 5px 4px 0px"}
              = f.simple_fields_for @proforma do |r|
                = r.definitions2 do |d|
                  =d.row4 "comparables_user_sale_price_psf_#{@category_rental}".to_sym, label: 'User Comps', editable: true, as: :decimal_w_two_decimal
          %tr
            - if @category_rental == :sale
              %th= "Estimated Resale"
            - else
              %th= "Estimated Rent"
            %td.align-right{:style => "padding: 4px 5px 4px 0px"}

              = f.simple_fields_for @proforma do |r|
                = r.definitions2 do |d|
                  
                  =d.row3  @category_rental == :sale ? :sale_income_user_estimated_resale : :rental_income_user_estimated_rent, label: 'Estimated Resale', editable: true, as: :money_wo_decimal
                 
            %td.align-right &nbsp;
        
  


    .span6
      .row
        .span2
          =definitions_for(@stats_rental, caption: t(:stats)) do |d| 
            -[:active_count, :pending_count, :sold_count, :terminated_count, :withdrawn_count, :expired_count].each do |attr|
              =d.row attr, as: :integer
        .span2
          = definitions_for(@stats_rental, caption: t(:absorption_rate)) do |d|
            = d.rows :timeframe, :sold_homes, :active_homes
            = d.rows :absorption_rate, as: :decimal          
            %tr
              %td.align-left.title
                %label{:for => "market"} Market
              %td.item.align-right Seller
            = d.row "#{@comp_level_rental}_sale_price_to_list_price_mean".to_sym, label: "Median Sale to List", as: :percent_wo_decimal
            = d.row "#{@comp_level_rental}_dom_mean".to_sym, fixed_label: "Median DOM", as: :integer
            - if @category_rental == :sale
              = d.row "#{@comp_level}_list_price_to_avm".to_sym, fixed_label: "List to Top AVM", as: :percent_wo_decimal
            - else
              %tr
                %td.align-left.title
                  %label{:for => "#{@comp_level_rental}_list_price_to_avm"} List to Top AVM
                %td.item.align-right N/A
        .span2
          = definitions_for2(@stats_rental, caption: t(:zillow)) do |d|
            =d.row :zestimate, as: :money
            =d.row :zestimate_psf, as: :decimal           
          = definitions_for2(@property) do |d|
            =d.row :comps_updated_at


  %table.table.table-definitions{:style => "margin-bottom: 10px;margin-top: 10px"}
    %caption= "Subject Property"
    %tbody
      %tr
        %td
  .row
    .span12
      = render 'client_new_comps_properties', data: @subject_property_rental, coordinate: {lat: @property.latitude, long: @property.longitude }, comp_grades: @property.send("comps_#{@category_rental}_stats")[:comp_grades], comps: @property.send("comps_#{@category_rental}_stats")[:comps], columns: current_user.preferences.columns_comps, anchor: 'data', category: @category_rental
  %table.table.table-definitions{:style => "margin-bottom: 10px;margin-top: 10px"}
    %caption= "Comparable Properties"
    %tbody
      %tr
        %td
  
  .row
    .span12
      = render 'client_new_comps_properties', data:  @comp_properties_rental, coordinate: {lat: @property.latitude, long: @property.longitude }, comp_grades: @selected_comp_grades_rental, comps: @selected_comps_rental, columns: current_user.preferences.columns_comps, anchor: 'data', refine: f, proforma: @proforma, category: @category_rental, comparables_user_comp_list: @comparables_user_comp_list_rental
  %table.table.table-definitions{:style => "margin-bottom: 10px;margin-top: 10px"}
    %caption= "Other Properties"
    %tbody
      %tr
        %td
  
  .row
    .span12
      = render 'client_new_other_comps_properties', data: @non_comp_properties_rental, coordinate: {lat: @property.latitude, long: @property.longitude }, comp_grades: @stats_comp_grades_rental, comps: @stats_comps_rental, columns: current_user.preferences.columns_comps, anchor: 'data', category: @category_rental,  refine: f, proforma: @proforma, category: @category_rental , comparables_user_comp_list: @comparables_user_comp_list_rental         
    

   
  %br

  %h5.well= 'SALE'
  .row
    .span6          
      %table.table.table-bordered
        %thead.align-center
          %tr          
            %th.align-center.span1-5 
              = f.fields_for :sale do |c|
                = c.hidden_field :category, :value => :sale
            %th.align-center.span1-5{:style => @comp_level_sale == 'expanded' ? "background-color: #99CCFF" : "" } Expanded (A-C)
            %th.align-center.span1-5{:style => @comp_level_sale == 'moderate' ? "background-color: #99CCFF" : "" } Moderate (A-B)
            %th.align-center.span1-5{:style => @comp_level_sale == 'conservative' ? "background-color: #99CCFF" : "" } Conservative (A)
        %tbody
          %tr
            %th= "Top Tier AVM"
            - for attr in [:expanded_avm, :moderate_avm, :conservative_avm]
              %td.align-right{:style => @comp_level_sale == attr.to_s.split("_")[0] ? "background-color: #99CCFF" : "" }= @stats_sale.format("#{attr}", as: :money)
          %tr
            %th= "Top Tier Sq Ft"
            - for attr in [:expanded_sale_price, :moderate_sale_price, :conservative_sale_price]
              %td.align-right{:style => @comp_level_sale == attr.to_s.split("_")[0] ? "background-color: #99CCFF" : "" }= @stats_sale.format("#{attr}_psf", as: :money_w_two_decimal)
          %tr
            %th= "Med-Max Range"
            - for attr in [:expanded, :moderate, :conservative]          
              %td.align-right{:style => @comp_level_sale == attr.to_s.split("_")[0] ? "background-color: #99CCFF" : "" }= [@stats_sale.format("#{attr}_avm_mean", as: :money_wo_decimal, custom_empty_value: ""),' - ',@stats_sale.format("#{attr}_avm_max", as: :money_wo_decimal, custom_empty_value: "" )].join("")
          %tr
            %th= "Med-Max PSFT Range"
            - for attr in [:expanded, :moderate, :conservative]          
              %td.align-right{:style => @comp_level_sale == attr.to_s.split("_")[0] ? "background-color: #99CCFF" : "" }= [@stats_sale.format("#{attr}_sale_price_psf_mean", as: :money_w_two_decimal, custom_empty_value: ""),' - ',@stats_sale.format("#{attr}_sale_price_psf_max", as: :money_w_two_decimal, custom_empty_value: "")].join("")
          - if @category_sale == :sale
            %tr
              %th= "Max Sold Price"
              - for attr in [:expanded, :moderate, :conservative]          
                %td.align-right{:style => @comp_level_sale == attr.to_s.split("_")[0] ? "background-color: #99CCFF" : "" }=  @stats_sale.format("#{attr}_sale_price_max", as: :money)
      %br  
      %table.table.table-bordered 
        %thead.align-center
          %tr          
            %th.align-center.span1-5 &nbsp;
            %th.align-center.span1-5 Price
            %th.align-center.span1-5 Sq Ft
        %tbody
          %tr
            %th= "#{@comp_level_sale.capitalize} Top Tier AVM"
            %td.align-right= @stats_sale.format("#{@comp_level_sale}_avm", as: :money)
            %td.align-right= @stats_sale.format("#{@comp_level_sale}_sale_price_psf", as: :money_w_two_decimal)
          %tr
            %th= "User Comps"
            %td.align-right{:style => "padding: 4px 5px 4px 0px"}
              = f.simple_fields_for @proforma do |r|
                = r.definitions2 do |d|
                  =d.row4 "comparables_user_avm_#{@category_sale}".to_sym, label: 'User Comps', editable: true, as: :money_wo_decimal
            %td.align-right{:style => "padding: 4px 5px 4px 0px"}
              = f.simple_fields_for @proforma do |r|
                = r.definitions2 do |d|
                  =d.row4 "comparables_user_sale_price_psf_#{@category_sale}".to_sym, label: 'User Comps', editable: true, as: :decimal_w_two_decimal
          %tr
            - if @category_sale == :sale
              %th= "Estimated Resale"
            - else
              %th= "Estimated Rent"
            %td.align-right{:style => "padding: 4px 5px 4px 0px"}

              = f.simple_fields_for @proforma do |r|
                = r.definitions2 do |d|
                  
                  =d.row3  @category_sale == :sale ? :sale_income_user_estimated_resale : :rental_income_user_estimated_rent, label: 'Estimated Resale', editable: true, as: :money_wo_decimal
                 
            %td.align-right &nbsp;
    
    .span6
      .row
        .span2
          =definitions_for(@stats_sale, caption: t(:stats)) do |d| 
            -[:active_count, :pending_count, :sold_count, :terminated_count, :withdrawn_count, :expired_count].each do |attr|
              =d.row attr, as: :integer
        .span2
          = definitions_for(@stats_sale, caption: t(:absorption_rate)) do |d|
            = d.rows :timeframe, :sold_homes, :active_homes
            = d.rows :absorption_rate, as: :decimal          
            %tr
              %td.align-left.title
                %label{:for => "market"} Market
              %td.item.align-right Seller
            = d.row "#{@comp_level_sale}_sale_price_to_list_price_mean".to_sym, label: "Median Sale to List", as: :percent_wo_decimal
            = d.row "#{@comp_level_sale}_dom_mean".to_sym, fixed_label: "Median DOM", as: :integer
            - if @category_sale == :sale
              = d.row "#{@comp_level_sale}_list_price_to_avm".to_sym, fixed_label: "List to Top AVM", as: :percent_wo_decimal
            - else
              %tr
                %td.align-left.title
                  %label{:for => "#{@comp_level_sale}_list_price_to_avm"} List to Top AVM
                %td.item.align-right N/A
        .span2
          = definitions_for2(@stats_sale, caption: t(:zillow)) do |d|
            =d.row :zestimate, as: :money
            =d.row :zestimate_psf, as: :decimal           
          = definitions_for2(@property) do |d|
            =d.row :comps_updated_at  

  %table.table.table-definitions{:style => "margin-bottom: 10px;margin-top: 10px"}
    %caption= "Subject Property"
    %tbody
      %tr
        %td
  
  .row
    .span12
      = render 'client_new_comps_properties', data: @subject_property_sale, coordinate: {lat: @property.latitude, long: @property.longitude }, comp_grades: @property.send("comps_#{@category_rental}_stats")[:comp_grades], comps: @property.send("comps_#{@category_rental}_stats")[:comps], columns: current_user.preferences.columns_comps, anchor: 'data', category: @category_sale
  %table.table.table-definitions{:style => "margin-bottom: 10px;margin-top: 10px"}
    %caption= "Comparable Properties"
    %tbody
      %tr
        %td
  
  .row
    .span12
      = render 'client_new_comps_properties', data:  @comp_properties_sale, coordinate: {lat: @property.latitude, long: @property.longitude }, comp_grades: @selected_comp_grades_sale, comps: @selected_comps_sale, columns: current_user.preferences.columns_comps, anchor: 'data', refine: f, proforma: @proforma, category: @category_sale, comparables_user_comp_list: @comparables_user_comp_list_sale
  
  %table.table.table-definitions{:style => "margin-bottom: 10px;margin-top: 10px"}
    %caption= "Other Properties"
    %tbody
      %tr
        %td
  
  .row
    .span12
      = render 'client_new_other_comps_properties', data: @non_comp_properties_sale, coordinate: {lat: @property.latitude, long: @property.longitude }, comp_grades: @stats_comp_grades_sale, comps: @stats_comps_sale, columns: current_user.preferences.columns_comps, anchor: 'data', refine: f, proforma: @proforma, category: @category_sale, comparables_user_comp_list: @comparables_user_comp_list_sale          
  
  .controlbar
    .container
      .form-actions
        - if can? :recompute, @property
          -#=form_for(:recompute, url: recompute_client_market_property_url) do |f|              
          =f.button :submit, t(:save), :disable_with => t('wait')
          =f.submit t(:recompute), class: 'btn btn-warning', :disable_with => t('wait')
          =f.submit :restore, :name => :restore, :value => t(:restore), :type => :submit, :class => 'btn btn-primary'
          =f.submit :reset, :value => t(:reset), :type => :reset, :class => 'btn'

    - if @market.id == 9 
      .blocktext
        .aleft
          = image_tag("fmls_logo.jpg")
        .span13{ :style => "float: left; width: 480px; margin-left: 10px" }= "Listing content provided by FMLS and deemed reliable but not guaranteed." 
        .fmls_bottom{:style => "clear:both; text-align: center;" }= "©2014 First Multiple Listing Service, Inc.​"
