
var delay, inpt, ogColor;

ogColor = $('select#flood').css('border-left-color');

inpt = $('select#flood');
delay = 1000;

inpt.animate({
  borderColor: "#22FF22"
}, delay, function() {
  return inpt.animate({
    borderColor: ogColor
  }, delay);
}); 
$("label[for=user_updated_at]").parent().next().text('<%= j @user_updated_at.in_time_zone('Central Time (US & Canada)').strftime("%m/%d/%Y %H:%M") %>');
// $('span#last_user_update').text('<%= j @user_updated_at.in_time_zone('Central Time (US & Canada)').strftime("%m/%d/%Y %H:%M") %>');