
var delay, inpt, ogColor;

ogColor = $('select#rep').css('border-left-color');

inpt = $('select#rep');
inpt.val("<%= id %>");


delay = 1000;

inpt.animate({
  borderColor: "#FF0000"
}, delay, function() {
  return inpt.animate({
    borderColor: ogColor
  }, delay);
}); 

