<div class="row" >
	<div class="col-md-12">
		<div class="portlet light" style="padding: 0px; margin: 0px;">
			<div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-black bold">
                    	You are leaving Greenlet
                	</span>
                </div>
                <div class="tools">
                	<button class="bootbox-close-button close" data-dismiss="modal" type="button">×</button>
            	</div>
            </div>
            <div class="portlet-body form">
            	<div class="row simba-form-horizontal">
        			<div class="col-md-12">
	            		<form role="form" method="POST" class="form-horizontal" novalidate>
							<div class="form-body" style="padding: 0px;">
								<div class="row margin-bottom-15">
									<div class="col-md-12 ">
										<p>You are being directed to a 3rd party website not owned or operated by Greenlet. Although we have verified the accuracy of this link from our website to this third party, the ownership of the domain names and content of the web pages may change without notice and is the responsibility of the third party. </p>
										<p>Click AGREE to proceed to the third party website. If you wish to remain on Greenlet, click CANCEL.</p>
										<p>Thank you.</p>
									</div>
								</div>
								
							</div>
							<div class="form-actions" style="padding-bottom: 10px;">
								<div class="row">
									<div class="col-md-12 text-right">
										
										<a class="btn green" type="button" href="{{ settings.financeLink }}" target="_blank">Agree</a>
										<button class="bootbox-close-button btn default" data-dismiss="modal" type="button">Cancel</button>
										
									</div>
									
								</div>
							</div>
						</form>
        			</div>
            	</div>
            	
            </div>
		</div>
	</div>
</div>


