<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard.html">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
    	<span class="active"> Calendar </span>
    </li>
</ul>

<div class="row">

	<div class="col-lg-12 col-md-12">
		<div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject bold font-green uppercase">
                        Calendar
                    </span>
                </div>

                <a href="#/Tasks/0?create=true" class="btn green uppercase margin-left-20" style="margin-top: 2px;">New Task</a>

                <div class="actions">
                    
                    <label class="">View:</label>

                    <div class="btn-group">
                        <a class="btn btn-sm green btn-outline btn-circle" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> Filter By
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <!-- hold-on-click -->
                        <div class="dropdown-menu dropdown-checkboxes pull-right">
                            <div class="md-radio-list" style="padding: 0px 10px;">
                                <div class="md-radio">
                                    <input type="radio" name="filter_1" id="checkbox_incomplete" class="md-radiobtn" ng-change="listFilterBy('incomplete')" value="incomplete"  ng-model="filter1">
                                    <label for="checkbox_incomplete">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> Incomplete </label>
                                </div>
                                <div class="md-radio">
                                    <input type="radio" name="filter_1" id="checkbox_complete" class="md-radiobtn" ng-change="listFilterBy('complete')" value="complete" ng-model="filter1">
                                    <label for="checkbox_complete">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> Complete </label>
                                </div>
                                <div class="md-radio" style="padding-bottom: 5px; margin-bottom: 10px; border-bottom: 2px dotted #c2cad8">
                                    <input type="radio" name="filter_1" id="checkbox_all_status" class="md-radiobtn" ng-change="listFilterBy('all')" value="all_status" ng-model="filter1">
                                    <label for="checkbox_all_status">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> All Status </label>
                                </div>
                                <div class="md-radio">
                                    <input type="radio" name="filter_2" id="checkbox_my_tasks" class="md-radiobtn" ng-change="listFilterBy('my_tasks')" value="my_tasks" ng-model="filter2">
                                    <label for="checkbox_my_tasks">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> My Tasks </label>
                                </div>
                                <div class="md-radio">
                                    <input type="radio" name="filter_2" id="checkbox_all_user_tasks" class="md-radiobtn" ng-change="listFilterBy('all_user_tasks')" value="all_user_tasks" ng-model="filter2" >
                                    <label for="checkbox_all_user_tasks">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> All Users Tasks </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="" class="fullscreen"> </a>
                    <a class="collapse" href="javascript:;" data-original-title="" title=""> </a>
                </div>

                <ul class="nav nav-tabs margin-top-5">
                    <li >
                        <a href="#/Tasks" class="btn green simba-btn-outline margin-right-5"> List </a>
                    </li>
                    <li class="active">
                        <a href="#" class="btn green simba-btn-outline margin-right-20"> Calendar </a>
                    </li>
                </ul>
            </div>

			<div class="portlet-body">

				<div ui-calendar="uiConfig.calendar" calendar="simbaCalendar" ng-model="eventSources" viewRender="changeView" class="simba_task_calendar">
				</div>

			</div>
		</div>
	</div>
</div>


<!--<div class="row" >
	<tien-clndr id="clndr_events" class="simba_calendar " tien-clndr-object="clndr" tien-clndr-events="events" tien-clndr-options="options">
		<div class="col-lg-12 col-md-12">
			<div class="portlet light bordered">
	            <div class="portlet-title">
	                <div class="caption">
	                    <span class="caption-subject bold font-green uppercase">
	                        {{month}} {{year}}
	                    </span>
	                </div>
	                <div class="tools">
	                	<a href="" class="fullscreen"> </a>
	                    <a class="collapse" href="javascript:;" data-original-title="" title=""> </a>
	                </div>
	                <div class="actions">
	                	<a href="" class="fullscreen"> </a>
	                    <a class="collapse" href="javascript:;" data-original-title="" title=""> </a>
	                	<a class="btn btn-circle btn-icon-only btn-default" href="javascript:;" ng-click="clndr.back()">
							<i class="fa fa-angle-left"></i>
						</a>
	                    <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;" ng-click="clndr.forward()">
							<i class="fa fa-angle-right"></i>
						</a>
						<a class="btn btn-circle btn-icon-only btn-default" href="javascript:;" ng-click="today()">
							<i class="fa fa-calendar"></i>
						</a>
	                </div>

	            </div>

				<div class="portlet-body">
	                <div class="row">
	                    <div class="col-lg-12 col-md-12">
	                    	<div class="clndr clndr-wrapper">
	                    		<div class="clndr_days">
		                    		<div class="clndr_days_names">
		                    			<div class="day-header" ng-repeat="day in daysOfTheWeek track by $index">
											{{day}}
										</div>
		                    		</div>
		                    		<div class="clndr_days_grid">
		                    			<div class="{{day.classes}}" ng-repeat="day in days" ng-click="showEvents(day.events)">
											<span>
												{{day.day}}
											</span>
										</div>
		                    		</div>
		                    	</div>
		                    	<div class="clndr_events">

									<i class="icon-close clndr_events_close_button" ng-click="closeEvents()"></i>
									
	                    			<div class="clndr_event ng-scope" ng-repeat="event in events | filter: selectedDay" style="opacity: 1; display: block; transform: translateY(0px);">
	                    				<a href="#">
											<span class="clndr_event_title">
												{{event.title}}
											</span>
											<span class="clndr_event_more_info " ng-if="event.timeStart || event.timeEnd">
												{{event.timeStart}}
											<span class="ng-scope" ng-if="event.timeStart && event.timeEnd"> - </span>
												{{event.timeEnd}}
											</span>
										</a>
	                    			</div>
	                    		</div>
	                    	</div>
	                    </div>
	                </div>
					
				</div>
			</div>
		</div>
   	</tien-clndr>
</div>-->