<div class="row" ng-controller="truckAddController">
	<div class="col-md-12">
		<div class="portlet light" style="padding: 0px; margin: 0px;">
			<div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green bold uppercase">
                    	Add Truck
                	</span>
                </div>
                <div class="tools">
                	<button class="bootbox-close-button close" data-dismiss="modal" type="button">×</button>
            	</div>
            </div>
            
            <div class="portlet-body form">
<!--             	<h4 class="sbold">
		    		Truck ID : {{database.id}}
				</h4> -->
				<hr class="margin-top-10" />
            	<div class="row simba-form-horizontal">
        			<div class="col-md-12">
        			
	            		<form role="form" method="POST" class="form-horizontal" novalidate name="trucksForm" id="trucksForm">
							<div class="form-body" style="padding: 0px;">
								
								<div class="row margin-bottom-15">
									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4 col-xs-4">
												Id
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                        			<input type="text" id="licence_number" name="licence_number" class="form-control" ng-model="newRecord.id" validator="required" required-error-message="Required Field">
											</div>
										</div>
									</div>

									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Licence Number
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                        			<input type="text" id="licence_number" name="licence_number" class="form-control" ng-model="newRecord.licence_number" validator="required" required-error-message="Required Field">
											</div>
										</div>
									</div>
								</div>

								<div class="row margin-bottom-15">

									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4 col-xs-4">
												Make
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" id="make" name="make" validator="required" class="form-control" ng-model="newRecord.make" required-error-message="Required Field" >
											</div>
					                    </div>
									</div>
								
									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Model
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" id="model" name="model"  ng-model="newRecord.model" validator="required" class="form-control" required-error-message="Required Field" >
											</div>
										</div>
									</div>
								</div>

								<div class="row margin-bottom-15">

									<div class="col-md-6 ">
										<div class="form-group" ng-class="{'has-error': earliestTimeError}">
											<label class="control-label col-md-4 col-sm-4 col-xs-4">
												Colour
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" name="colour" id="colour"  class="form-control" ng-model="newRecord.colour" validator="required" required-error-message="Required Field" >
											</div>
										</div>
									</div>

									<div class="col-md-6 ">
										<div class="form-group" ng-class="{'has-error': earliestTimeError}">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Type
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" name="type" id="type"  class="form-control" ng-model="newRecord.type" validator="required" required-error-message="Required Field">
											</div>
										</div>
									</div>
								</div>
								
								<div class="row margin-bottom-15">

									<div class="col-md-6 ">
										<div class="form-group" ng-class="{'has-error': earliestTimeError}">
											<label class="control-label col-md-4 col-sm-4 col-xs-4">
												Year
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" name="year" id="year"  class="form-control" ng-model="newRecord.year" validator="required" required-error-message="Required Field">
											</div>
										</div>
									</div>

									<div class="col-md-6 ">
										<div class="form-group" ng-class="{'has-error': earliestTimeError}">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Mileage
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" name="mileage" id="mileage" class="form-control" ng-model="newRecord.mileage" validator="required" required-error-message="Required Field">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-actions">
							<div class="row">
								<div class="col-md-6">
									<div class="col-md-offset-3 col-md-9">
										<button class="btn green" type="button" ng-click="editTruck(database)" validation-submit="trucksForm">Submit</button>
										<button class="bootbox-close-button btn default" data-dismiss="modal" type="button">Cancel</button>
									</div>
								</div>
							</div>
						</div>
					</form>
        			</div>
            	</div>
            </div>
		</div>



