<div class="row" ng-controller="binAddController">
	<div class="col-md-12">
		<div class="portlet light" style="padding: 0px; margin: 0px;">
			<div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green bold uppercase">
                    	Add Bin
                	</span>
                </div>
                <div class="tools">
                	<button class="bootbox-close-button close" data-dismiss="modal" type="button">×</button>
            	</div>
            </div>
            
            <div class="portlet-body form">
<!--             	<h4 class="sbold">
		    		Bin ID : {{database.id}}
				</h4> -->
				<hr class="margin-top-10" />
            	<div class="row simba-form-horizontal">
        			<div class="col-md-12">
        			
	            		<form role="form" method="POST" class="form-horizontal" novalidate name="trucksForm" id="trucksForm">
							<div class="form-body" style="padding: 0px;">
								
								<div class="row margin-bottom-15">
									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4 col-xs-4">
												Id 
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                        			<input type="text" id="tag_id" name="tag_id" class="form-control" ng-model="newRecord.id" validator="required" required-error-message="Required Field" >
											</div>
										</div>
									</div>

									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Tag id 
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                        			<input type="text" id="tag_id" name="tag_id" class="form-control" ng-model="newRecord.tag_id" validator="required" required-error-message="Required Field" >
											</div>
										</div>
									</div>
								</div>

								<div class="row margin-bottom-15">
									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4 col-xs-4">
												Barcode id
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" id="barcode_id" name="barcode_id" class="form-control" ng-model="newRecord.barcode_id"  validator="required" required-error-message="Required Field" >
											</div>
					                    </div>
									</div>
								
									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Model
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" id="model" name="model" class="form-control" ng-model="newRecord.model" validator="required" required-error-message="Required Field">
											</div>
										</div>
									</div>
								</div>

								<div class="row margin-bottom-15">

									<div class="col-md-6 ">
										<div class="form-group" ng-class="{'has-error': earliestTimeError}">
											<label class="control-label col-md-4 col-sm-4 col-xs-4">
												Weight
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" name="weight" id="weight" class="form-control" ng-model="newRecord.weight" validator="required" required-error-message="Required Field">
											</div>
										</div>
									</div>

									<div class="col-md-6 ">
										<div class="form-group" ng-class="{'has-error': earliestTimeError}">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Dimension
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" name="dimension" id="dimension" class="form-control" ng-model="newRecord.dimension" validator="required" required-error-message="Required Field">
											</div>
										</div>
									</div>
								</div>

								<div class="row margin-bottom-15">

									<div class="col-md-6 ">
										<div class="form-group" ng-class="{'has-error': earliestTimeError}">
											<label class="control-label col-md-4 col-sm-4 col-xs-4">
												Load_status
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" name="load_status" id="load_status" class="form-control" ng-model="newRecord.load_status" validator="required" required-error-message="Required Field">
											</div>
										</div>
									</div>

									<div class="col-md-6 ">
										<div class="form-group" ng-class="{'has-error': earliestTimeError}">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Status
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" name="status" id="status" class="form-control" ng-model="newRecord.status" validator="required" required-error-message="Required Field">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-actions">
							<div class="row">
								<div class="col-md-6">
									<div class="col-md-offset-3 col-md-9">
										<button class="btn green" type="button" ng-click="editBin(database)" validation-submit="trucksForm">Submit</button>
										<button class="bootbox-close-button btn default" data-dismiss="modal" type="button">Cancel</button>
									</div>
								</div>
							</div>
						</div>
					</form>
        			</div>
            	</div>
            </div>
		</div>



