<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard.html">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span class="active">Opportunity</span>
    </li>
</ul>

<div ng-detailview-opportunity class="simba_opportunity_detail_view">

	<div class="row">
		<div class="col-lg-12 col-md-12">
			<div class="portlet light margin-bottom-10">
				<div class="portlet-body">
					<div class="row opportunity_head_info">
						<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 simba_opp_status">
							<div class="row">
								<div class="col-md-12">
									<div class="general-item-list">
										<div class="item">
											<div class="item-head">
												<div class="item-details">
													<div class="pull-left margin-right-10">
														<!-- Pending - use yellow class -->
													<!-- Sold - use red class -->
														<a href="javascript:;" class="btn rounded green_dark font-hg" ng-if="database.status == 'Active'">
															A
														</a>
														<a href="javascript:;" class="btn rounded green_dark font-hg" ng-if="database.status == 'Pending'">
															P
														</a>
														<a href="javascript:;" class="btn rounded green_dark font-hg" ng-if="database.status == 'Sold'">
															S
														</a>
	 													<h5 class="sbold">{{database.status}}</h5>
													</div>
													<div class="pull-left font-lg sbold">
														<div>{{database.street_address}}</div>
  													<div class="font-md">
   														{{database.city}}, {{database.state}}, {{database.zip_code}}
														</div>
														<div class="font-xs ">Days on Greenlet: {{database.cdom | domFilter}}</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
						</div>

						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 margin-top-10">
							<table class="table simba_sqft_slash">
								<tbody>
									<tr>
										<td style="border-right: 1px solid">{{ database.list_price }}</td>
										<td class="slash_after"><span>{{database.beds}}</span></td>
										<td class="slash_after"><span>{{database.bathrooms}}</span></td>
										<td>{{ database.square_feet }}</td>
									</tr>
									<tr>
										<td style="border-right: 1px solid">List</td>
										<td>Bd</td>
										<td>Ba</td>
										<td>Sqft</td>
									</tr>
									
								</tbody>
							</table>
						</div>

						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 margin-top-10">
							<table class="table simba_greenlet_table simba_cap_gross">
								<tbody>
									<tr>
										<td>{{database.rental_output_cap_rate}}</td>
										<td>14.3%</td>
										<td>{{ '4625' | currency:undefined:0 }}</td>
									</tr>
									<tr>
										<td>Cap</td>
										<td>Gross %</td>
										<td>Gross $</td>
									</tr>
									
								</tbody>
							</table>
					  </div>

						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 text-right margin-top-10">

							<div class="btn-group btn-group-devided simba-group-btn " data-toggle="buttons">
								<a class="icon-btn " href="javascript:;" ng-class="{'bg_green_dark': isLike==true}" ng-click="properyLike()">
									<i class="fa fa-thumbs-o-up"  ></i>
									<div class="font-md"> Like </div>
								</a><a class="icon-btn " href="javascript:;" ng-class="{'bg-red': isReject==true}" ng-click="properyReject()">
									<i class="fa fa-thumbs-o-down"></i>
									<div> Reject </div>
								</a><a class="icon-btn" href="javascript:;" ng-click="isSave=!isSave">
									<i class="fa " ng-class="isSave==true ? 'font-yellow fa-star' : 'fa-star-o'"></i>
									<div> Save </div>
								</a>
							</div>
						</div>
						
					</div>
					
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12 col-md-12">
			<div class="simba-tabbable-line tabbable-line simba_responsive_tabs">
				<ul class="nav nav-tabs pull-left simba_first_tab">
					<li class="active first">
						<a href="" ng-click="gotoTab('overview')">Overview</a>
					</li>
					<li>
						<a href="" ng-click="gotoTab('values_comps')">Values & Comps</a>
					</li>
					<li>
						<a href="" ng-click="gotoTab('financials')">Financials</a>
					</li>
					<li>
						<a href="" ng-click="gotoTab('property_details')">Property Details</a>
					</li>
					<!--<li>
						<a href="" ng-click="gotoTab('rehab_estimator')">Rehab Estimator</a>
					</li>
					<li>
						<a href="" ng-click="gotoTab('neighborhood_data')">Neighborhood Data</a>
					</li>-->
				</ul>
				<ul class="nav nav-tabs simba_second_tab">
					<li class="opportunity_rehab_estimator">
						<a href="" data-target="#opportunity_rehab_estimator" data-toggle="tab" ng-click="nextTab('rehab_estimator')" opportunity-rehab-estimator>Rehab Estimator</a>
					</li>
					<li class="opportunity_neighborhood_data">
						<a href="" data-target="#opportunity_neighborhood_data" data-toggle="tab" ng-click="nextTab('neighborhood_data')">Neighborhood Data</a>
					</li>
				</ul>

				<!-- Overview Tab -->
				
				<div id="opportunity_overview" class="row" ng-if="simbaFirstTabDisplay">
					<div class="col-lg-7 col-md-7">
						<div class="portlet light" >
							<div class="portlet-title">
				                <div class="caption">
				                    <span class="caption-subject font-green bold uppercase">
				                    	Overview
			                    	</span>
				                </div>
				                <div class="tools">
				                	<a href="" class="fullscreen"> </a>
									<a class="collapse" href="javascript:;" data-original-title="" title=""> </a>
								</div>
								<ul class="nav nav-tabs">
			                        <li class="active">
			                            <a href="#" data-target="#simbanic_overview_photos" data-toggle="tab" class="btn green simba-btn-outline margin-right-5" ng-click="overviewPhotos()" ng-init="overviewPhotos()"> Photos </a>
			                        </li>
			                        <li>
			                            <a href="#" data-target="#simbanic_overview_map" data-toggle="tab" class="btn green simba-btn-outline margin-right-5" ng-click="overviewMap()"> Map </a>
			                        </li>
			                        <li>
			                            <a href="#" data-target="#simbanic_overview_media" data-toggle="tab" class="btn green simba-btn-outline margin-right-5" ng-click="overviewMedia()"> Media </a>
			                        </li>
			                    </ul>
				            </div>
				            <div class="portlet-body">

				            	<div class="tab-content">
			            			<!-- Photos Tab -->
			            			<div class="tab-pane active" id="simbanic_overview_photos" ng-if="hasOverviewPhotos">
			            				<div class="row " ng-if="hasOverviewPhotos">
					            			<div class="col-md-12">
					            				<div class="simba-slider">
					            					<slick simba-slick-for init-onload=true data="propertyImages" class="simba-slick-for" slidesToShow="1" slidesToScroll="1">
														<div class="simba_property_image" ng-repeat="propertyImage in propertyImages">
															<img class="overview_photos_{{$index}}" data-lazy="{{propertyImage.src}}" >
														</div>
													</slick>
												</div>
												<div class="col-md-12">
													<div class="simba-slider">
														<slick simba-slick-nav init-onload=true data="propertyImages" class="simba-slick-nav" slidesToShow="5" slidesToScroll="1">
															<div class="simba_property_slider" ng-repeat="propertyImage in propertyImages">
																<img src="{{propertyImage.src}}" class="simba_slider_bottom_image">
															</div>
														</slick>
													</div>
												</div>
											</div>
										</div>
			            			</div>
		            				<!-- Map Tab -->
			            			<div class="tab-pane " id="simbanic_overview_map" ng-if="hasoverviewMap">

			            				<div ng-include src="'assets/app/components/opportunities/detailview/map.html'" ng-if="hasoverviewMap" ng-controller="overviewMapController"></div>
			            			</div>
			            			<!-- Media Tab -->
			            			<div class="tab-pane " id="simbanic_overview_media" ng-if="hasOverviewMedia">
			            				<div class="row " ng-if="hasOverviewMedia" >
			            					
					            			<div class="col-md-12">
					            				<div class="simba-video-slider simba-video-slider-for">
													<div class="simba_property_video" ng-repeat="propertyVideo in propertyVideos track by $index">
														<div style="height: 400px;" >
															<iframe width="100%" height="385" ng-src="{{propertyVideo.src | trustAsResourceUrl}}" frameborder="0" allowfullscreen id="property_video_{{$index}}"></iframe>
														</div>
											        </div>

												</div>
												<div class="col-md-12">
													<div class="simba-video-slider simba-video-slider-nav">
												        <div class="simba_property_slider" ng-repeat="propertyVideo in propertyVideos">
												        	<img class="simba_slider_bottom_image" src="http://img.youtube.com/vi/{{ propertyVideo.videoId }}/0.jpg">
												        </div>
													    
													</div>
												</div>
											</div>
										</div>
			            			</div>

			            			<div class="clearfix"></div>
			            			<div class="margin-top-20">
			            				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
			            			</div>
				            	</div>
				            </div>
						</div>
					</div>

					<div simba-element-height class="col-lg-5 col-md-5">
						<div class="row">
							<div class="col-md-12">
								<div class="portlet light">
									<div class="portlet-body">

										<div class="row">
											<div id="simba_opp_detail_btn" class="closing_detail_buttons">
												<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
													<a class="icon-btn simba_icon_btn" href="javascript:;" ng-click="opportunitiesVisit()">
														<i class="fa fa-user-plus"></i>
														<div> Visit </div>
													</a>
												</div>

												<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-click="opportunitiesEvaluator()">
													<a class="icon-btn simba_icon_btn" href="javascript:;">
														<i class="fa fa-search"></i>
														<div> Evaluator </div>
													</a>
												</div>
												<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-click="opportunitiesFinance()">
													<a class="icon-btn simba_icon_btn" href="javascript:;">
														<i class="fa fa-dollar"></i>
														<div> Finance </div>
													</a>
												</div>
												<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-click="opportunitiesOffer()">
													<a class="icon-btn simba_icon_btn" href="javascript:;">
														<i class="fa fa-edit"></i>
														<div> Offer </div>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12 simba_opp_property_info">
								<div class="portlet light">
									<div class="portlet-body form">
										<form class="form-horizontal" role="form">
											<div class="form-body">
												<div class="row">
													
													<div class="col-md-12">
														<div class="form-group">
															<label class="control-label col-md-4">
																
																Property Type
															</label>
															<div class="col-md-8">
																<p class="form-control-static"> 	{{database.category}}
																</p>
															</div>
														</div>
													</div>

													<div class="col-md-12">
														<div class="form-group">
															<label class="control-label col-md-4">
																	
																Year Built
															</label>
															<div class="col-md-8">
																<p class="form-control-static"> 	{{database.year_built}}
																</p>
															</div>
														</div>
													</div>

													<div class="col-md-12">
														<div class="form-group">
															<label class="control-label col-md-4">
																
																MLS#
															</label>
															<div class="col-md-8">
																<p class="form-control-static">
																	{{database.mls_number}}
																</p>
															</div>
														</div>
													</div>

													<div class="col-md-12">
														<div class="form-group">
															<label class="control-label col-md-4">
																
																Community
															</label>
															<div class="col-md-8">
																<p class="form-control-static">{{database.subdivision  | subdivisionFilter: database.subdivision_section_number}}
																</p>
															</div>
														</div>
													</div>

													<div class="col-md-12">
														<div class="form-group">
															<label class="control-label col-md-4">
																
																Lot Size
															</label>
															<div class="col-md-8">
																<p class="form-control-static">
																	{{database.lot_square_feet}}
																</p>
															</div>
														</div>
													</div>

													<div class="col-md-12">
														<div class="form-group">
															<label class="control-label col-md-4">
																
																Style
															</label>
															<div class="col-md-8">
																<p class="form-control-static">
																	{{database.new_style_of_building}}
																</p>
															</div>
														</div>
													</div>

													<div class="col-md-12">
														<div class="form-group">
															<label class="control-label col-md-4">
																
																Stories
															</label>
															<div class="col-md-8">
																<p class="form-control-static">
																	{{database.new_stories}}
																</p>
															</div>
														</div>
													</div>

													<div class="col-md-12">
														<div class="form-group">
															<label class="control-label col-md-4">
																
																Garage & Spaces
															</label>
															<div class="col-md-8">
																<p class="form-control-static">{{database.garage_attach | garageFilter: database.garage_capacity}}</p>
															</div>
														</div>
													</div>

													<div class="col-md-12">
														<div class="form-group">
															<label class="control-label col-md-4">
																
																Avg School Rate
															</label>
															<div class="col-md-8">
																<p class="form-control-static"> 	{{database.avg_school_rating}}
																</p>
															</div>
														</div>
													</div>

													<div class="col-md-12">
														<div class="form-group">
															<label class="control-label col-md-4">
																
																Near Commercial 
															</label>
															<div class="col-md-8">
																<select id="input_near_commercial"  ng-options="n.value as n.name for n in near_commercial_options" ng-model="database.near_commercial"  class="form-control" style="width: 150px" ng-change='updateBook(database)'>
																	<option value="">--Select--</option>
																</select>
															<!-- <p class="form-control-static">
																{{database.near_commercial}}
															</p> -->
															</div>
														</div>
													</div>

													<div class="col-md-12">
														<div class="form-group">
															<label class="control-label col-md-4">
																
																Flood Zone  
															</label>
															<div class="col-md-8">
																<select id="input_flood"  ng-options="f.value as f.name for f in flood_options" ng-model="database.flood"  class="form-control" style="width: 150px" ng-change='updateBook(database)'>
																	<option value="">--Select--</option>
																</select>
		
															</div>
														</div>
													</div>

													<div class="col-md-12">
														<div class="form-group">
															<label class="control-label col-md-4">
																
																Private Pool
															</label>
															<div class="col-md-8">
																<p class="form-control-static">
																	{{database.pool_private}}
																</p>
															</div>
														</div>
													</div>

													<div class="col-md-12">
														<div class="form-group">
															<label class="control-label col-md-4">
																
																County
															</label>
															<div class="col-md-8">
																<p class="form-control-static">
																	{{database.county}}
																</p>
															</div>
														</div>
													</div>

													<div class="col-md-12">
														<div class="form-group">
															<label class="control-label col-md-4">
																
																Tax ID
															</label>
															<div class="col-md-8">
																<p class="form-control-static">
																	{{database.tax_id}}
																</p>
	<!-- 															<input type="text" name="tax-id" ng-model="database.tax_id" id="tax-id"> -->
															</div>
														</div>
													</div>

													

												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Values & Comps Tab -->
				<div id="opportunity_values_comps" ng-if="simbaFirstTabDisplay">
					<div ng-include src="'assets/app/components/opportunities/detailview/values_comps.html'"></div>
				</div>

				<!-- Financials Tab -->
				
				<div id="opportunity_financials" class="" ng-if="simbaFirstTabDisplay" ng-controller="opportunitiesFinancialController">
					<div ng-include src="'assets/app/components/opportunities/detailview/financial.html'"></div>
	            </div>

				<!-- Property Details Tab -->
				<div id="opportunity_property_details" class="row simba_opp_property_details_tab " ng-if="simbaFirstTabDisplay">
					<div ng-include src="'assets/app/components/opportunities/detailview/property_details.html'"></div>
	            </div>

	            <div class="tab-content padding-0">
	            	<div class="tab-pane" id="opportunity_rehab_estimator">
	            		<div ng-include src="'assets/app/components/opportunities/detailview/rehab_estimator.html'" ng-controller="opportunitiesRehabEstimatorController" ng-if="simbaSecondTabDisplay"></div>
	            	</div>
	            	<div class="tab-pane" id="opportunity_neighborhood_data">
	            		<div ng-include src="'assets/app/components/opportunities/detailview/neighborhood_data.html'" ng-controller="opportunitiesNeighborhoodController" ng-if="simbaSecondTabDisplay == true && simbaNeighborhoodTab == true"></div>
	            	</div>
		            
				</div>
					
			</div>
		</div>
	</div>

</div>