<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard.html">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span class="active">Opportunity</span>
    </li>
</ul>

<div ng-opportunity-editview>
	<form class="form-horizontal" name="opportunity_cloud_form" method="POST" id="opportunity_cloud_form" novalidate>
		<div class="form-body">
			<div class="row">
				<div class="col-md-12">
					<div class="m-heading-1 border-green m-bordered">
						<h3>Upload Many Properties</h3>
						<ul>
							<li>
								Download this <a class="text-underline" href="{{settings.siteURL}}{{settings.documentsPath}}/properties/template.csv">Property Upload Template</a>
							</li>
							<li>
								Name your group of properties, upload location and the folder name
							</li>
							<li>
								A maximum of 5000 properties may be added
							</li>
							<li>
								A message will be sent when processing is complete
							</li>
						</ul>
						<div class="clearfix margin-bottom-10"></div>
						<div class="row">
							<div class="col-md-9">
								<div class="form-group">
									<label class="control-label col-md-3">Property Group Name<span class="">*</span></label>
									<div class="col-md-9">
										<input class="form-control" type="text" placeholder="Property Group Name" ng-model="opportunityEditForm.property_group_name" name="property_group_name" validator="required" required-error-message="Required Field">
										<span class="help-block">Name your group of properties</span>
									</div>
									
								</div>
							</div>
						</div>

						{{$validationProvider}}
						<div class="row">
							<div class="col-md-9">
								<div class="form-group">
									<label class="control-label col-md-3">Upload Location<span class="">*</span></label>
									<div class="col-md-9">
										<div class="radio-list">
	                                        <label class="radio-inline">
	                                            <input type="radio" name="upload_location" value="new_opportunity" ng-model="opportunityEditForm.upload_location" ng-change="uploadLocation()" validator="required" required-error-message="Required Field"> New Opportunity 
	                                        </label>
	                                        <label class="radio-inline">
	                                            <input type="radio" name="upload_location" value="my_portfolio" ng-model="opportunityEditForm.upload_location" ng-change="uploadLocation()" validator="required"> My Portfolio
	                                        </label>
	                                    </div>
										<span class="help-block">Are these properties new opportunities or part of your existing portfolio?</span>
									</div>
								</div>
							</div>
						</div>

						<div class="clearfix margin-bottom-10"></div>

						<div class="row">
							<div class="col-md-9">
								<div class="form-group">
									<label class="control-label col-md-3">Folder Name<span class="">*</span></label>
									<div class="col-md-9">
										<ol name="folder_name" class="nya-bs-select bs-select bootstrap-select form-control" ng-model="opportunityEditForm.folder_name" validator="required" required-error-message="Required Field">
											<li data-value="" class="nya-bs-option" >
										        <a>
										            Please Select
										        </a>
										    </li>
										    <li data-value="auction" class="nya-bs-option" ng-if="opportunityEditForm.upload_location=='new_opportunity'">
										        <a>
										            Auction
										        </a>
										    </li>
										    <li data-value="mls" class="nya-bs-option" ng-if="opportunityEditForm.upload_location=='new_opportunity'">
										        <a>
										            MLS
										        </a>
										    </li>
										    <li data-value="npl" class="nya-bs-option" ng-if="opportunityEditForm.upload_location=='new_opportunity'">
										        <a>
										            NPL
										        </a>
										    </li>
										    <li data-value="off_market" class="nya-bs-option" ng-if="opportunityEditForm.upload_location=='new_opportunity'">
										        <a>
										            Off Market
										        </a>
										    </li>
										    <li data-value="portfolio" class="nya-bs-option" ng-if="opportunityEditForm.upload_location=='new_opportunity'">
										        <a>
										            Portfolio
										        </a>
										    </li>
										    <li data-value="saved" class="nya-bs-option" ng-if="opportunityEditForm.upload_location=='new_opportunity'">
										        <a>
										            Saved
										        </a>
										    </li>
										    <li data-value="other" class="nya-bs-option" ng-if="opportunityEditForm.upload_location=='new_opportunity'">
										        <a>
										            Other
										        </a>
										    </li>
										    <li data-value="lease_renewal" class="nya-bs-option" ng-if="opportunityEditForm.upload_location=='my_portfolio'">
										        <a>
										            Lease Renewal
										        </a>
										    </li>
										    <li data-value="for_sale" class="nya-bs-option" ng-if="opportunityEditForm.upload_location=='my_portfolio'">
										        <a>
										            For Sale
										        </a>
										    </li>
										    <li data-value="other" class="nya-bs-option" ng-if="opportunityEditForm.upload_location=='my_portfolio'">
										        <a>
										            Other
										        </a>
										    </li>

										</ol>
										<span class="help-block">What's the source of these properties?</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row fileupload-buttonbar">
				<div class="col-md-12 margin-bottom-20">
					<span class="btn green fileinput-button" >
						<i class="fa fa-plus"></i>
						<span> Add files...</span>
						<input type="file" multiple="" name="file[]" nv-file-select="" uploader="uploader">
					</span>
				</div>
				<div class="col-md-12 margin-bottom-40" ng-if="uploader.queue.length > 0">
	                <p>Queue length: {{ uploader.queue.length }}</p>

	                <table class="table">
	                    <thead>
	                        <tr>
	                            <th width="50%">Name</th>
	                            <th ng-show="uploader.isHTML5">Size</th>
	                            <th ng-show="uploader.isHTML5">Progress</th>
	                            <th>Status</th>
	                            <th>Actions</th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <tr ng-repeat="item in uploader.queue">
	                            <td>
	                                <strong>{{ item.file.name }}</strong>
	                                <!-- Image preview -->
	                                <!--auto height-->
	                                <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
	                                <!--auto width-->
	                                <!--<div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>-->
	                                <!--fixed width and height -->
	                                <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
	                            </td>
	                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
	                            <td ng-show="uploader.isHTML5">
	                                <div class="progress" style="margin-bottom: 0;">
	                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
	                                </div>
	                            </td>
	                            <td class="text-center">
	                                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
	                                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
	                                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
	                            </td>
	                            <td nowrap>
	                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess" validation-submit="opportunity_cloud_form">
	                                    <span class="glyphicon glyphicon-upload"></span> Upload
	                                </button>
	                                <!--<button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
	                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
	                                </button>-->
	                                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
	                                    <span class="glyphicon glyphicon-trash"></span> Remove
	                                </button>
	                            </td>
	                        </tr>
	                    </tbody>
	                </table>

	                <div>
	                    <div>
	                        Queue progress:
	                        <div class="progress" style="">
	                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
	                        </div>
	                    </div>
	                    <button type="button" class="btn btn-success btn-s" ng-click="saveCloud()" ng-disabled="!uploader.getNotUploadedItems().length" validation-submit="opportunity_cloud_form">
	                        <span class="glyphicon glyphicon-upload"></span> Upload all
	                    </button>
	                    <!--<button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
	                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
	                    </button>-->
	                    <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
	                        <span class="glyphicon glyphicon-trash"></span> Remove all
	                    </button>
	                </div>

	            </div>
			</div>

		</div>
	</form>
	
	<div class="row">
		<div class="col-md-12">
			<div class="portlet box green">
				<div class="portlet-title">
					<div class="caption uppercase">
						Add Individual Property
					</div>
					<div class="tools">
						<a class="collapse" href="javascript:;" data-original-title="" title=""> </a>
						<a class="reload" href="javascript:;" data-original-title="" title=""> </a>
					</div>
				</div>
				<div class="portlet-body form">
					<form class="horizontal-form" name="opportunity_edit_form" method="POST" id="opportunity_edit_form" novalidate>
						<div class="form-body form-horizontal">

							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Address1<span class="asterisk">*</span></label>
										<div class="col-md-9">
											<input class="form-control" type="text" placeholder="Address1" name="address1" ng-model="opportunityEditForm.address1" validator="required" required-error-message="Required Field">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Address2</label>
										<div class="col-md-9">
											<input class="form-control" type="text" placeholder="Address2" name="address2" ng-model="opportunityEditForm.address2">
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">City<span class="asterisk">*</span></label>
										<div class="col-md-9">
											<input class="form-control" type="text" placeholder="City" name="city" ng-model="opportunityEditForm.city" validator="required" required-error-message="Required Field">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">State<span class="asterisk">*</span></label>
										<div class="col-md-9">
											<ol name="state" class="nya-bs-select bs-select bootstrap-select form-control" ng-model="opportunityEditForm.state" validator="required" required-error-message="Required Field" data-live-search="true">
												<li data-value="" class="nya-bs-option">
											        <a>
											            Select State
											        </a>
											    </li>
												<li data-value="{{key}}" class="nya-bs-option" ng-repeat="(key, value) in stateList">
											        <a>
											            {{ value }}
											        </a>
											    </li>
										    </ol>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Zip Code</label>
										<div class="col-md-9">
											<input class="form-control" type="text" placeholder="Zip Code" name="zip_code" ng-model="opportunityEditForm.zip_code">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">County</label>
										<div class="col-md-9">
											<input class="form-control" type="text" placeholder="County" name="county" ng-model="opportunityEditForm.county">
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">
											Category<span class="asterisk">*</span>
										</label>
										<div class="col-md-9">
											<select name="property_category" ng-model="opportunityEditForm.property_category" class="bs-select form-control simba-bs-select" data-style="default" validator="required" required-error-message="Required Field">
											    <option value="">Please Select</option>
											    <option value="single_family">Single Family</option>
											    <option value="townhouse_condo">Townhouse/Condo</option>
											    <option value="lot">Lot</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">List Price<span class="asterisk">*</span></label>
										<div class="col-md-9">
											<input class="form-control" type="text" placeholder="List Price" name="list_price" ng-model="opportunityEditForm.list_price" validator="required, number" required-error-message="Required Field">
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Beds</label>
										<div class="col-md-9">
											<select name="beds" ng-model="opportunityEditForm.beds" class="bs-select form-control simba-bs-select" data-style="default" >
										    	<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
												<option value="6">6</option>
												<option value="7">7</option>
												<option value="8">8</option>
												<option value="9">9</option>
												<option value="10">10</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Year Built</label>
										<div class="col-md-9">
											<input class="form-control" type="text" placeholder="Year Built" name="year_built" ng-model="opportunityEditForm.year_built">
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Baths</label>
										<div class="col-md-9">
											<select name="baths" ng-model="opportunityEditForm.baths" class="bs-select form-control simba-bs-select" data-style="default" >
												<option value="1">1</option>
												<option value="1.5">1.5</option>
												<option value="2">2</option>
												<option value="2.5">2.5</option>
												<option value="3">3</option>
												<option value="3.5">3.5</option>
												<option value="4">4</option>
												<option value="4.5">4.5</option>
												<option value="5">5</option>
												<option value="5.5">5.5</option>
												<option value="6">6</option>
												<option value="6.5">6.5</option>
												<option value="7">7</option>
												<option value="7.5">7.5</option>
												<option value="8">8</option>
												<option value="8.5">8.5</option>
												<option value="9">9</option>
												<option value="9.5">9.5</option>
												<option value="10">10</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Subdivision</label>
										<div class="col-md-9">
											<input class="form-control" type="text" placeholder="Subdivision" name="subdivision" ng-model="opportunityEditForm.subdivision">
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Square Feet</label>
										<div class="col-md-9">
											<input class="form-control" type="text" placeholder="Square Feet" name="square_feet" ng-model="opportunityEditForm.square_feet">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Lot Square Feet</label>
										<div class="col-md-9">
											<input class="form-control" type="text" placeholder="Lot Square Feet" name="lot_square_feet" ng-model="opportunityEditForm.lot_square_feet">
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Pool</label>
										<div class="col-md-9">
											<div class="radio-list">
                                                <label class="radio-inline">
                                                    <input type="radio" name="pool" value="yes" ng-model="opportunityEditForm.pool"> Yes
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="pool" value="no" ng-model="opportunityEditForm.pool"> No
                                                </label>
                                            </div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Property Source</label>
										<div class="col-md-9">
											<select name="property_source" ng-model="opportunityEditForm.property_source" class="bs-select form-control simba-bs-select" data-style="default" >
											    <option value="auction" selected="selected">Auction</option>
											    <option value="mls">MLS</option>
											    <option value="npl">NPL</option>
											    <option value="off_market">Off Market</option>
											    <option value="portfolio">Portfolio</option>
											    <option value="other">Other</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="form-actions">
							<div class="row">
								<div class="col-md-6">
									<div class="row">
										<div class="col-md-offset-3 col-md-9">
											<button class="btn btn-circle green" type="submit" validation-submit="opportunity_edit_form" ng-click="singleSave()">Submit</button>
											<button class="btn btn-circle default" type="button">Cancel</button>
										</div>
									</div>
								</div>
								<div class="col-md-6"> </div>
							</div>
						</div>

					</form>

				</div>
			</div>
		</div>
	</div>

	
</div>