<div class="row" ng-controller="driverAddController">
	<div class="col-md-12">
		<div class="portlet light" style="padding: 0px; margin: 0px;">
			<div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green bold uppercase">
                    	Add Driver 
                	</span>
                </div>
                <div class="tools">
                	<button class="bootbox-close-button close" data-dismiss="modal" type="button">×</button>
            	</div>
            </div>
            
            <div class="portlet-body form">
<!--             	<h4 class="sbold">
		    		Driver ID : {{database.id}}
				</h4> -->
				<hr class="margin-top-10" />
            	<div class="row simba-form-horizontal">
        			<div class="col-md-12">
        			
	            		<form role="form" method="POST" class="form-horizontal" novalidate name="trucksForm" id="trucksForm">
							<div class="form-body" style="padding: 0px;">
								
								<div class="row margin-bottom-15">

									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4 col-xs-4">
												Id
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                        			<input type="text" id="first_name" name="first_name" class="form-control" ng-model="newRecord.id" validator="required" required-error-message="Required Field"  >
											</div>
										</div>
									</div>

									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												First Name
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                        			<input type="text" id="first_name" name="first_name" class="form-control" ng-model="newRecord.first_name" validator="required" required-error-message="Required Field"  >
											</div>
										</div>
									</div>
								</div>

								<div class="row margin-bottom-15">

									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4 col-xs-4">
												Last Name
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" id="last_name" name="last_name" class="form-control" ng-model="newRecord.last_name" validator="required" required-error-message="Required Field" >
											</div>
					                    </div>
									</div>

									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Nickname
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" id="nickname" name="nickname" class="form-control" ng-model="newRecord.nickname" validator="required" required-error-message="Required Field">
											</div>
										</div>
									</div>
								</div>
								
								<div class="row margin-bottom-15">

									<div class="col-md-6 ">
										<div class="form-group" ng-class="{'has-error': earliestTimeError}">
											<label class="control-label col-md-4 col-sm-4 col-xs-4">
												Driver Licence Number
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" name="driver_licence_number" id="driver_licence_number" class="form-control" ng-model="newRecord.driver_licence_number" validator="required" required-error-message="Required Field">
											</div>
										</div>
									</div>
								
									<div class="col-md-6 ">
										<div class="form-group" ng-class="{'has-error': earliestTimeError}">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												national 
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                   <input type="text" name="national_id" id="national_id" class="form-control" ng-model="newRecord.national_id" validator="required" required-error-message="Required Field">
											</div>
										</div>
									</div>
								</div>
								<div class="row margin-bottom-15">
									<div class="col-md-6 ">
										<div class="form-group" ng-class="{'has-error': earliestTimeError}">
											<label class="control-label col-md-4 col-sm-4 col-xs-4">
												Phone Number
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" name="phone_number" id="phone_number" class="form-control" ng-model="newRecord.phone_number"  validator="required" required-error-message="Required Field">
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="form-actions">
							<div class="row">
								<div class="col-md-6">
									<div class="col-md-offset-3 col-md-9">
										<button class="btn green" type="button" ng-click="editDriver(database)" validation-submit="trucksForm">Submit</button>
										<button class="bootbox-close-button btn default" data-dismiss="modal" type="button">Cancel</button>
									</div>
								</div>
							</div>
						</div>
					</form>
        			</div>
            	</div>
            </div>
		</div>



