<ul class="page-breadcrumb breadcrumb" ng-show="showListView">
    <li>
        <a href="#/dashboard.html">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span class="active">{{ $state.current.data.pageTitle }}</span>
    </li>
</ul>
<div id="simba_list_view">
    <div ng-if="showListView" >
        <div class="row" >
            <div class="col-lg-12 col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject bold font-green uppercase">
                                List View
                            </span>
                        </div>
                        <div class="tools">
                            <button class="btn green btn-outline active" type="button" ng-click="binAddModals()">
                               <i class='icon-plus'></i>  Add
                            </button>
<!--                             <button class="btn green btn-outline" type="button" ng-click="mapView()">
                                Map
                            </button> -->

                            <a href="" class="fullscreen"> </a>
                            <a class="collapse" href="javascript:;" data-original-title="" title=""> </a>

                        </div>
                    </div>

                    <div class="portlet-body">
                        <table ng-listview-opportunities class="table table-striped table-bordered table-hover dt-responsive listview_opportunities" width="100%" id="listview_opportunities" on-edit="binViewModals(updatedName)">
                            <thead>
                                <tr>
                                    <th class="">Id</th>
                                    <th class="">Tag Id</th>
                                    <th class="">Barcode Id </th>
                                    <th class="">Model</th>
                                    <th class="">Weight </th>
                                    <th class="">Dimension </th>
                                    <th class="">Load status</th>
                                    <th class="">Status</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="showMapView" ng-controller="opportunityMapViewController">
    <ng-include src="templateMapViewUrl"></ng-include>
</div>

