<div class="" ng-class="{'text-center' : loginBean.loggedIn == false, 'page-footer-inner' : loginBean.loggedIn == true}"> 
	Copyright: &copy; 2016 Thai Union Manufacturing. All rights reserved.
</div>
<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>