<!-- BEGIN PAGE TITLE -->
<div>
	<div id="simba-page-title" class="page-title">
	    <h1>
	        <span data-ng-bind="$state.current.data.pageTitle"></span>
	        <small data-ng-bind="$state.current.data.pageSubTitle"></small>
	    </h1>
	</div>
</div>
<!-- END PAGE TITLE -->
<div class="page-toolbar" ng-if="$state.current.data.pageHead=='dashboard'" ng-class="getDeviceWidth <= 360 ? 'pull-left margin-bottom-10' : ''">
	<select class="bs-select form-control input-large dashboard_select_location" data-style="green" >
	    <option value="Atlanta" selected="selected">Atlanta</option>
	    <option value="Charlotte/The Carolinas">Charlotte/The Carolinas</option>
	    <option value="Chicagoland">Chicagoland</option>
	    <option value="FL-Central/Orlando">FL-Central/Orlando</option>
	    <option value="FL-Jacksonville">FL-Jacksonville</option>
	    <option value="FL-Miami Dade/Broward/Palm Beach">FL-Miami Dade/Broward/Palm Beach</option>
	    <option value="FL-Tampa Bay">FL-Tampa Bay</option>
	    <option value="Inland Empire/Orange County">Inland Empire/Orange County</option>
	    <option value="Las Vegas">Las Vegas</option>
	    <option value="Los Angeles/Ventura County">Los Angeles/Ventura County</option>
	    <option value="Minneapolis/ST.Paul">Minneapolis/ST.Paul</option>
	    <option value="Phoenix">Phoenix</option>
	    <option value="Sacramento/San Joaquin/Bay Area">Sacramento/San Joaquin/Bay Area</option>
	    <option value="Seattle/Tacoma">Seattle/Tacoma</option>
	</select>
</div>
