
<div class="page-sidebar navbar-collapse collapse simba_page_sidebar">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu   " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
        <li class="nav-item start ">
            <a href="#/dashboard.html" class="nav-link nav-toggle">
                <i class="icon-home"></i>
                <span class="title">Dashboard</span>
            </a>
        </li>
        <li class="heading">
            <h3 class="uppercase">Master Data</h3>
        </li>

         <li class="start nav-item  ">
            <a href="#/Opportunities" class="nav-link nav-toggle">
                <i class="icon-key"></i>
                <span class="title">Bin</span>
            </a>
        </li>          
        <li class="nav-item  ">
            <a href="#/Location" class="nav-link nav-toggle">
                <i class="icon-magnifier"></i>
                <span class="title">Location</span>
            </a>
        </li>

        <li class="nav-item  ">
            <a href="#/Rooms" class="nav-link nav-toggle">
                <i class="icon-home"></i>
                <span class="title">Rooms</span>
            </a>
        </li>

        <li class="nav-item  ">
            <a href="#/Trucks" class="nav-link nav-toggle">
                <i class="icon-compass"></i> 
                <!-- <ng-md-icon icon="local_shipping" style="fill: white" size="36"></ng-md-icon> -->
                <span class="title">Trucks</span>
            </a>
        </li>

        <li class="nav-item  ">
            <a href="#/Activity" class="nav-link nav-toggle">
               <!-- <i class="account_circle"></i> -->
               <i class="icon-pie-chart"></i>
                <span class="title">Activity Type</span>
            </a>
        </li>

        <li class="nav-item  ">
            <a href="#/Routes" class="nav-link nav-toggle">
               <!-- <i class="account_circle"></i> -->
               <i class="icon-envelope"></i>
                <span class="title">Routes</span>
            </a>
        </li>

        <li class="nav-item  ">
            <a href="#/Drivers" class="nav-link nav-toggle">
               <!-- <i class="account_circle"></i> -->
               <i class="icon-power"></i>
                <span class="title">Drivers</span>
            </a>
        </li>

         <li class="nav-item  ">
            <a href="#/Users" class="nav-link nav-toggle">
               <!-- <i class="account_circle"></i> -->
               <i class="icon-user"></i>
                <span class="title">Users</span>
            </a>
        </li>


        <li class="heading">
            <h3 class="uppercase">Transportation Manager</h3>
        </li>

        <li class="nav-item  ">
            <a href="#/JobTracking" class="nav-link ">
                <i class="icon-calendar"></i>
                <span class="title">Job Tracking</span>
            </a>
        </li>
        <li class="nav-item  ">
            <a href="#/RoutePlanning" class="nav-link ">
                <i class="icon-calendar"></i>
                <span class="title">Route & Planning</span>
            </a>
        </li>
         <li class="heading">
            <h3 class="uppercase">Bin Control</h3>
        </li>

        <li class="nav-item  ">
            <a href="#/BinEnquiry" class="nav-link ">
                <i class="icon-envelope"></i>
                <span class="title">Bin Enquiry by Location</span>
            </a>
        </li>
        <li class="nav-item  ">
            <a href="#/History/:id" class="nav-link ">
                <i class="icon-envelope"></i>
                <span class="title">Historical Movement</span>
            </a>
        </li>
        <li class="heading">
            <h3 class="uppercase">Notification Center</h3>
        </li>

        <li class="nav-item  ">
            <a href="#/ListIssue" class="nav-link ">
                <i class="icon-envelope"></i>
                <span class="title">List of Issues</span>
            </a>
        </li>
        <!-- <li class="nav-item  ">
            <a href="#/Contacts" class="nav-link ">
                <i class="icon-user"></i>
                <span class="title">Contacts</span>
            </a>
        </li>
        <li class="nav-item  ">
            <a ui-sref="reports" class="nav-link ">
                <i class="icon-note"></i>
                <span class="title">Reports</span>
            </a>
        </li>
        <li class="nav-item  ">
            <a href="#/Tasks" class="nav-link ">
                <i class="icon-list"></i>
                <span class="title">Tasks</span>
            </a>
        </li>

        <li class="heading">
            <h3 class="uppercase">Concierge</h3>
        </li>

        <li class="nav-item  ">
            <a href="" class="nav-link ">
                <i class="icon-support"></i>
                <span class="title">Support</span>
            </a>
        </li>
        <li class="nav-item  ">
            <a href="" class="nav-link ">
                <i class="icon-speech"></i>
                <span class="title">Contact</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item ">
                    <a class="nav-link " href="">Contact</a>
                </li>
            </ul>
        </li> -->
    </ul>
    <!-- END SIDEBAR MENU -->
</div>