<ul class="page-breadcrumb breadcrumb" >
    <li>
        <a href="#/dashboard.html">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span class="active">{{ $state.current.data.pageTitle }}</span>
    </li>
</ul>
<div id="simba_list_view">
    <div  >
        <div class="row" >
            <div class="col-lg-12 col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject bold font-green uppercase">
                                List View
                            </span>
                        </div>
                        <div class="tools">
                            <button class="btn green btn-outline active" type="button" ng-click="roomAddModals()" >
                                <i class='icon-plus'></i>  Add
                            </button>
<!--                             <button class="btn green btn-outline" type="button" >
                                Map
                            </button> -->

                            <a href="" class="fullscreen"> </a>
                            <a class="collapse" href="javascript:;" data-original-title="" title=""> </a>

                        </div>
                    </div>

                    <div class="portlet-body">
                        <table ng-simba-rooms class="table table-striped table-bordered table-hover dt-responsive listview_opportunities" width="100%" id="listview_opportunities" on-edit="roomViewModals(updatedName)">
                            <thead>
                                <tr>
                                    <th class="">Id</th>
                                    <th class="">Name</th>
                                    <th class="">Location </th>
                                    <th class="">Capacity</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
