<div class="col-md-12" ng-style="{height: mapHeight }">
    <ng-map ng-if="closingMapInfo.height" id="closingsMapView" center="{{ closingMapInfo.center }}">
        <marker 
            ng-repeat="simbaProperty in closingMapInfo.pins track by $index" 
            position="{{simbaProperty.position}}"
            id="{{ simbaProperty.id }}"
            on-click="showPropertyDetail(simbaProperty, true)">
        </marker>

        <info-window style="display: none;" id="simbaInfoWindow">
            <div ng-non-bindable="">
                <div class="">
                    <div class="simba_custom_gmaps_ui">
                        <div class="col-md-6 col-sm-6 col-xs-6 simba_gmaps_image">
                            <img src="{{settings.imgPath}}/property1.jpg" class="" alt="">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 simba_gmaps_info">
                            <div class="gmaps_property_name">
                                <a href="#/Closings/{{simbaProperty.id}}">
                                    {{ simbaProperty.property_address_c | limitTo:12 }}
                                </a>
                            </div>
                            <div class="gmaps_property_price">
                                <b>{{ simbaProperty.list_price_c | currency:undefined:0 }}</b>
                            </div>
                            <div class="gmaps_property_info">
                                <div class="">
                                    <span class="sbold ">
                                        {{ simbaProperty.bed_c }}
                                    </span>
                                    <span class="margin-right-10">bd</span>
                                    <span>
                                        <i class="fa fa-circle margin-right-10" aria-hidden="true" style="font-size: 6px;"></i>
                                    </span>
                                    <span class="sbold">
                                        {{ simbaProperty.bath_c }}
                                    </span>
                                    <span class="">ba</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </info-window>
    </ng-map>
</div>