<div class="row position_relative" ng-controller="mapPopupViewController">
	<div class="col-lg-12 col-md-12 simba_closings_map_popup" >
		<div class="portlet light padding-0 margin-bottom-0">
			<button class="bootbox-close-button close absolute_top_right_0 " data-dismiss="modal" type="button"></button>
		    <div class="portlet-body">
		    	<div class="row">
		    		<div >
						<div class="col-md-12" style="height: {{ popupMapHeight }}px">
							<ng-map id="closingMapPopup" center="{{ closingsMapPopup.center }}" style="width: 100%; height: 100%;">
						        <marker 
						            ng-repeat="simbaPopupProperty in closingsMapPopup.pins track by $index" 
						            position="{{simbaPopupProperty.position}}"
						            id="{{ simbaPopupProperty.id }}"
					            	on-click="showPopupPropertyDetail(simbaPopupProperty, true)"
						            >
						        </marker>

						        <info-window style="display: none;" id="simbaPopupInfoWindow">
						            <div ng-non-bindable="">
						                <div class="">
						                    <div class="simba_custom_gmaps_ui">
						                        <div class="col-md-6 col-sm-6 col-xs-6 simba_gmaps_image">
						                            <img src="{{settings.imgPath}}/property1.jpg" class="" alt="">
						                        </div>
						                        <div class="col-md-6 col-sm-6 col-xs-6 simba_gmaps_info">
						                            <div class="gmaps_property_name">
						                                <a href="#/Closings/{{simbaPopupProperty.id}}">
						                                    {{ simbaPopupProperty.property_address_c | limitTo:12 }}
						                                </a>
						                            </div>
						                            <div class="gmaps_property_price">
						                                <b>{{ simbaPopupProperty.list_price_c | currency:undefined:0 }}</b>
						                            </div>
						                            <div class="gmaps_property_info">
						                            	<div class="">
						                                    <span class="sbold ">
						                                        {{ simbaPopupProperty.bed_c }}
						                                    </span>
						                                    <span class="margin-right-10">bd</span>
						                                    <span>
						                                        <i class="fa fa-circle margin-right-10" aria-hidden="true" style="font-size: 6px;"></i>
						                                    </span>
						                                    <span class="sbold">
						                                        {{ simbaPopupProperty.bath_c }}
						                                    </span>
						                                    <span class="">ba</span>
						                                </div>
						                            </div>
						                        </div>
						                    </div>
						                </div>
						            </div>
						        </info-window>

						    </ng-map>
						</div>
					</div>

                    </div>
				</div>
		    </div>
	    </div>
	</div>
</div>