<div >
	<div class="col-md-12" style="height: {{ popupMapHeight }}px">
		<ng-map  id="closingsNgPopup" center="{{ closingsMapPopup.center }}" style="width: 100%; height: 100%;">
	        <marker 
	            ng-repeat="simbaPopupProperty in closingsMapPopup.pins track by $index" 
	            position="{{simbaPopupProperty.property_address_c}}, {{simbaPopupProperty.property_address_city_c}}, {{simbaPopupProperty.property_address_state_c}}, {{simbaPopupProperty.property_address_postalcode_c}}"
	            id="{{ simbaPopupProperty.id }}"
            	on-click="showPopupPropertyDetail(simbaPopupProperty, true)"
	            >
	        </marker>

	        <info-window style="display: none;" id="simbaPopupInfoWindow">
	            <div ng-non-bindable="">
	                <div class="">
	                    <div class="simba_custom_gmaps_ui">
	                        <div class="col-md-6 col-sm-6 col-xs-6 simba_gmaps_image">
	                            <img src="{{settings.imgPath}}/property1.jpg" class="" alt="">
	                        </div>
	                        <div class="col-md-6 col-sm-6 col-xs-6 simba_gmaps_info">
	                            <div class="gmaps_property_name">
	                                <a href="#/Closings/{{simbaPopupProperty.id}}">
	                                    {{ simbaPopupProperty.property_address_c | limitTo:12 }}
	                                </a>
	                            </div>
	                            <div class="gmaps_property_price">
	                                <b>{{ simbaPopupProperty.list_price_c | currency:undefined:0 }}</b>
	                            </div>
	                            <div class="gmaps_property_info">
	                                <ul class="">
	                                    <li>
	                                        <b>{{ simbaPopupProperty.bed_c }}</b> bd
	                                    </li>
	                                    <li>
	                                        <b>{{ simbaPopupProperty.bath_c }}</b> ba
	                                    </li>
	                                </ul>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </info-window>

	    </ng-map>
	</div>
</div>