<ul class="page-breadcrumb breadcrumb" >
    <li>
        <a href="#/dashboard.html">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span class="active">{{ $state.current.data.pageTitle }}</span>
    </li>
</ul>
<div id="simba_list_view">
    <div  >
        <div class="row" >
            <div class="col-lg-12 col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                                <label class="control-label col-md-5 col-sm-5 col-xs-5">
                                    Location:<span class="asterisk"></span>
                                </label> 
                                <div class="col-md-7 col-sm-7 col-xs-7">
                                    <select name="property_category" ng-model="opportunityEditForm.property_category" class="bs-select form-control " data-style="default" >
                                        <option value="">TUM1</option>
                                        <option value="">TUM2</option>
                                        <option value="">TUM3</option>
                                    </select>
                                </div>
                        </div>
                        <div class="tools">
                            <a href="" class="fullscreen"> </a>
                            <a class="collapse" href="javascript:;" data-original-title="" title=""> </a>

                        </div>
                    </div>

                    <div class="portlet-body">
                        <table ng-simba-bin-enquiry class="table table-striped table-bordered table-hover dt-responsive listview_opportunities" width="100%" id="listview_opportunities">
                            <thead>
                                <tr>
                                    <!-- <th class="">Id</th> -->
                                    <th class="">Bin Tag#ID</th>
                                    <th class="">Loaded</th>
                                    <th class="">Weight (Kg.)</th>
                                    <th class="">Previos Location</th>
                                    <th class="">Current Location</th>
                                    <th class="">Last Check-in time</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
