<div class="row" ng-controller="locationAddController">
	<div class="col-md-12">
		<div class="portlet light" style="padding: 0px; margin: 0px;">
			<div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green bold uppercase">
                    	Add Location
                	</span>
                </div>
                <div class="tools">
                	<button class="bootbox-close-button close" data-dismiss="modal" type="button">×</button>
            	</div>
            </div>
            
            <div class="portlet-body form">
<!--             	<h4 class="sbold">
		    		Location ID : {{database.id}}
				</h4> -->
				<hr class="margin-top-10" />
            	<div class="row simba-form-horizontal">
        			<div class="col-md-12">
        			
	            		<form role="form" method="POST" class="form-horizontal" novalidate name="trucksForm" id="trucksForm">
							<div class="form-body" style="padding: 0px;">
								
								<div class="row margin-bottom-15">
									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4 col-xs-4">
												Id
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                        			<input type="text" id="name" name="name" class="form-control" ng-model="newRecord.id" validator="required" required-error-message="Required Field">
											</div>
										</div>
									</div>

									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Name
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                        			<input type="text" id="name" name="name" class="form-control" ng-model="newRecord.name" validator="required" required-error-message="Required Field">
											</div>
										</div>
									</div>
								</div>

								<div class="row margin-bottom-15">

									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4 col-xs-4">
												type
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" id="type" name="type" class="form-control" ng-model="newRecord.type" validator="required" required-error-message="Required Field" >
											</div>
					                    </div>
									</div>
								
									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												address
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" id="address" name="address" class="form-control" ng-model="newRecord.address" validator="required" required-error-message="Required Field">
											</div>
										</div>
									</div>
								</div>

								<div class="row margin-bottom-15">

									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4 col-xs-4">
												latitude
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" id="latitude" name="latitude" class="form-control" ng-model="newRecord.latitude" validator="required" required-error-message="Required Field" >
											</div>
					                    </div>
									</div>

									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												longitude
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" id="longitude" name="longitude" class="form-control" ng-model="newRecord.longitude" validator="required" required-error-message="Required Field">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-actions">
							<div class="row">
								<div class="col-md-6">
									<div class="col-md-offset-3 col-md-9">
										<button class="btn green" type="button" ng-click="editLocation(database)" validation-submit="trucksForm">Submit</button>
										<button class="bootbox-close-button btn default" data-dismiss="modal" type="button">Cancel</button>
									</div>
								</div>
							</div>
						</div>
					</form>
        			</div>
            	</div>
            </div>
		</div>



