<div class="row" ng-controller="jobTrackingViewController">
	<div class="col-md-12">
		<div class="portlet light" style="padding: 0px; margin: 0px;">
			<div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green bold uppercase">
                    	Job Tracking Detail
                	</span>
                </div>
                <div class="tools">
                	<button class="bootbox-close-button close" data-dismiss="modal" type="button">×</button>
            	</div>
            </div>
            
            <div class="portlet-body form">
            	<h4 class="sbold">
		    		Job Tracking ID : {{database.id}}
				</h4>
				<hr class="margin-top-10" />
            	<div class="row simba-form-horizontal">
        			<div class="col-md-12">
        			
	            		<form role="form" method="POST" class="form-horizontal" novalidate name="trucksForm" id="trucksForm">
							<div class="form-body" style="padding: 0px;">
								
								<div class="row margin-bottom-15">
									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4 col-xs-4">
												Job order id
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                        			<input type="text" id="job_order_id" name="job_order_id" class="form-control" ng-model="visitForm.visit_date" validator="required" required-error-message="Required Field" readonly=""  ng-value="database.job_order_id">
											</div>
										</div>
									</div>

									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Total bins
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" id="total_bins" name="total_bins" class="form-control" ng-model="visitForm.earliest_time" readonly="" validator="required" required-error-message="Required Field" ng-value="database.total_bins">
											</div>
					                    </div>
									</div>
								</div>

								<div class="row margin-bottom-15">
									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4 col-xs-4">
												Bins delivered
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" id="bins_delivered" name="bins_delivered" class="form-control" ng-model="visitForm.earliest_time" readonly="" validator="required" required-error-message="Required Field"  ng-value="database.total_bins">
											</div>
										</div>
									</div>

									<div class="col-md-6 ">
										<div class="form-group" ng-class="{'has-error': earliestTimeError}">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Load status
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" name="load_status" id="load_status" class="form-control" ng-model="visitForm.latest_time" readonly="" validator="required" required-error-message="Required Field" ng-value="database.load_status">
											</div>
										</div>
									</div>
								</div>
								
								<div class="row margin-bottom-15">
									<div class="col-md-6 ">
										<div class="form-group" ng-class="{'has-error': earliestTimeError}">
											<label class="control-label col-md-4 col-sm-4 col-xs-4">
												Weight
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" name="weight" id="weight" class="form-control" ng-model="visitForm.latest_time" readonly="" validator="required" required-error-message="Required Field" ng-value="database.weight">
											</div>
										</div>
									</div>

									<div class="col-md-6 ">
										<div class="form-group" ng-class="{'has-error': earliestTimeError}">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Requester
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" name="requester" id="requester" class="form-control" ng-model="visitForm.latest_time" readonly="" validator="required" required-error-message="Required Field" ng-value="database.requester">
											</div>
										</div>
									</div>
								</div>

								<div class="row margin-bottom-15">
									<div class="col-md-6 ">
										<div class="form-group" ng-class="{'has-error': earliestTimeError}">
											<label class="control-label col-md-4 col-sm-4 col-xs-4">
												Truck licence number
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" name="truck_licence_number" id="truck_licence_number" class="form-control" ng-model="visitForm.latest_time"  readonly="" validator="required" required-error-message="Required Field" ng-value="database.truck_licence_number">
											</div>
										</div>
									</div>
									
									<div class="col-md-6 ">
										<div class="form-group" ng-class="{'has-error': earliestTimeError}">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Driver
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" name="driver" id="driver" class="form-control" ng-model="visitForm.latest_time" readonly="" validator="required" required-error-message="Required Field" ng-value="database.driver">
											</div>
										</div>
									</div>
								</div>

								<div class="row margin-bottom-15">
									<div class="col-md-6 ">
										<div class="form-group" ng-class="{'has-error': earliestTimeError}">
											<label class="control-label col-md-4 col-sm-4 col-xs-4">
												Origin
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" name="origin" id="origin" class="form-control" ng-model="visitForm.latest_time"  readonly="" validator="required" required-error-message="Required Field" ng-value="database.origin">
											</div>
										</div>
									</div>
									
									<div class="col-md-6 ">
										<div class="form-group" ng-class="{'has-error': earliestTimeError}">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Destination
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" name="destination" id="destination" class="form-control" ng-model="visitForm.latest_time" readonly="" validator="required" required-error-message="Required Field" ng-value="database.destination">
											</div>
										</div>
									</div>
								</div>

								<div class="row margin-bottom-15">
									<div class="col-md-6 ">
										<div class="form-group" ng-class="{'has-error': earliestTimeError}">
											<label class="control-label col-md-4 col-sm-4 col-xs-4">
												Recipient
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" name="recipient" id="recipient" class="form-control" ng-model="visitForm.latest_time"  readonly="" validator="required" required-error-message="Required Field" ng-value="database.recipient">
											</div>
										</div>
									</div>
									
									<div class="col-md-6 ">
										<div class="form-group" ng-class="{'has-error': earliestTimeError}">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Time arrived at source
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" name="time_arrived_at_source" id="time_arrived_at_source" class="form-control" ng-model="visitForm.latest_time" readonly="" validator="required" required-error-message="Required Field" ng-value="database.time_arrived_at_source">
											</div>
										</div>
									</div>
								</div>

								<div class="row margin-bottom-15">
									<div class="col-md-6 ">
										<div class="form-group" ng-class="{'has-error': earliestTimeError}">
											<label class="control-label col-md-4 col-sm-4 col-xs-4">
												Time dispatched
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" name="time_dispatched" id="time_dispatched" class="form-control" ng-model="visitForm.latest_time"  readonly="" validator="required" required-error-message="Required Field" ng-value="database.time_dispatched">
											</div>
										</div>
									</div>
									
									<div class="col-md-6 ">
										<div class="form-group" ng-class="{'has-error': earliestTimeError}">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Time arrived at destination
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" name="time_arrived_at_destination" id="time_arrived_at_destination" class="form-control" ng-model="visitForm.latest_time" readonly="" validator="required" required-error-message="Required Field" ng-value="database.time_arrived_at_destination">
											</div>
										</div>
									</div>
								</div>

								<div class="row margin-bottom-15">
									<div class="col-md-6 ">
										<div class="form-group" ng-class="{'has-error': earliestTimeError}">
											<label class="control-label col-md-4 col-sm-4 col-xs-4">
												Time received
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" name="time_received" id="time_received" class="form-control" ng-model="visitForm.latest_time"  readonly="" validator="required" required-error-message="Required Field" ng-value="database.time_received">
											</div>
										</div>
									</div>
									
									<div class="col-md-6 ">
										<div class="form-group" ng-class="{'has-error': earliestTimeError}">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Total delivery time
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" name="total_delivery_time" id="total_delivery_time" class="form-control" ng-model="visitForm.latest_time" readonly="" validator="required" required-error-message="Required Field" ng-value="database.total_delivery_time">
											</div>
										</div>
									</div>
								</div>

								<div class="row margin-bottom-15">
									<div class="col-md-6 ">
										<div class="form-group" ng-class="{'has-error': earliestTimeError}">
											<label class="control-label col-md-4 col-sm-4 col-xs-4">
												Job status
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" name="job_status" id="job_status" class="form-control" ng-model="visitForm.latest_time"  readonly="" validator="required" required-error-message="Required Field" ng-value="database.job_status">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-actions">
							<div class="row">
								<div class="col-md-6">
									<div class="col-md-offset-3 col-md-9">
										<button class="btn green" type="button" ng-click="save()" validation-submit="trucksForm">Submit</button>
										<button class="bootbox-close-button btn default" data-dismiss="modal" type="button">Cancel</button>
									</div>
								</div>
							</div>
						</div>
					</form>
        			</div>
            	</div>
            </div>
		</div>



