= page_info(@proxies)
%table.table.table-hover
  %thead
    %tr
      - %w{id ip login password daily_limit daily_calls last_date}.each do |attr|
        %th= Proxy.label(attr)
      %th= t(:actions)
  %tbody
    - available = Proxy.find_available.try(:id) 
    - @proxies.each do |proxy|
     
      %tr{ :style => (available == proxy.id) ? "background-color: #f5f5f5" : nil }
        - %w{id ip login password daily_limit daily_calls last_date}.each do |attr|
          %td= proxy.format(attr)
      