- @title = member? ? @job.format(:name) : 'Jobs'

= content_for(:breadcrumbs) do
  =breadcrumb 'Admin'
  =breadcrumb 'Markets', admin_markets_url
  =breadcrumb @market.format(:fullname)
  - if member?
    =breadcrumb 'Jobs', collection_url

= content_for(:navigation) do
  - if member?
  - else
    - if can? :new, @job
      = nav_item t(:new), new_resource_url

= content_for(:content) do 
  =yield

= render :template => 'layouts/application'