- @title = member? ? @proxy.format(:name) : 'Proxies'

= content_for(:breadcrumbs) do
  =breadcrumb 'Admin'
  =breadcrumb 'Proxies', collection_url
  

= content_for(:navigation) do
  - if member?
  - else
    - if can? :index, @proxy
      =nav_item t(:results), collection_url(params_without_action)
    - if can? :new, @proxy
      = nav_item t(:import), new_admin_proxy_upload_url

= content_for(:content) do 
  =yield

= render :template => 'layouts/application'