- @title = member? ? @proxy.format(:name) : 'Proxy Import'

= content_for(:breadcrumbs) do
  =breadcrumb 'Admin'
  =breadcrumb 'Proxy Import', new_resource_url
  

= content_for(:navigation) do
  = nav_item t(:results), admin_proxies_url
  = nav_item t(:import), new_admin_proxy_upload_url
  
    

= content_for(:content) do 
  =yield

= render :template => 'layouts/application'