- @title = member? ? @service.format(:code) : t(:services)

= content_for(:breadcrumbs) do
  =breadcrumb 'Admin'
  - if member?
    =breadcrumb 'Services', collection_url

= content_for(:navigation) do
  - if member?
    - if can? :edit, @service
      = nav_item t(:edit), edit_resource_url
  - else
    - if can? :new, @service
      = nav_item t(:new), new_resource_url

= content_for(:content) do 
  =yield

= render :template => 'layouts/application'