- @title = member? ? @user.format(:name) : 'Users'

= content_for(:breadcrumbs) do
  =breadcrumb 'Admin'
  - if member?
    =breadcrumb 'Users', collection_url

= content_for(:navigation) do
  - if member?
    - if can? :edit, @user
      = nav_item t(:edit), edit_resource_url
  - else
    - if can? :new, @user
      = nav_item t(:new), new_resource_url

= content_for(:content) do 
  =yield

= render :template => 'layouts/application'