<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js" data-ng-app="SimbaNicApp"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js" data-ng-app="SimbaNicApp"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" data-ng-app="SimbaNicApp">
	<head>
        <title data-ng-bind="'BinControl | ' + $state.current.data.pageTitle"></title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="public/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="public/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="public/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="public/assets/global/plugins/bootstrap/css/bootstrapXL.css" rel="stylesheet" type="text/css" />
        <link href="public/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
        <link href="public/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN DYMANICLY LOADED CSS FILES(all plugin and page related styles must be loaded between GLOBAL and THEME css files ) -->
        <link id="ng_load_plugins_before" />
        <!-- END DYMANICLY LOADED CSS FILES -->
        <!-- BEGIN THEME STYLES -->
        <!-- DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag -->
        <link href="public/assets/global/css/components-rounded.min.css" id="style_components" rel="stylesheet" type="text/css" />
        <link href="public/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <link href="public/assets/layouts/layout4/css/layout.min.css" rel="stylesheet" type="text/css" />
        <link href="public/assets/layouts/layout4/css/themes/default.min.css" rel="stylesheet" type="text/css" />
        <link href="public/assets/css/simbanic.css" rel="stylesheet" type="text/css" />
        <link href="public/assets/css/simbanic_bootstrap.css" rel="stylesheet" type="text/css" />

        <script type="text/javascript" src="https://www.google.com/jsapi?autoload=%7B%22modules%22%3A%5B%7B%22name%22%3A%22feeds%22%2C%22version%22%3A%221.0%22%2C%22nocss%22%3Atrue%7D%5D%7D"></script>
        
        <!-- END THEME STYLES -->
        <link rel="shortcut icon" href="favicon.ico" /> 
    </head>

    <body ng-controller="AppController" class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-closed-hide-logo page-on-load " ng-class="{'page-sidebar-closed': settings.layout.pageSidebarClosed, 'login' : loginBean.loggedIn == false}">
        <!-- BEGIN PAGE SPINNER -->
        <div ng-spinner-bar class="page-spinner-bar">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
        <!-- END PAGE SPINNER -->
        <!-- BEGIN HEADER -->
        <div simba-header ng-if="loginBean.loggedIn == true && loginBean.simbaTimeOut == false" data-ng-include="'tpl/header.html'" data-ng-controller="HeaderController" class="page-header navbar navbar-fixed-top"> 
        </div>
        <!-- END HEADER -->
        <div class="clearfix"> </div>
        <!-- BEGIN CONTAINER -->
        <div simba-page-container class="page-container">
            <!-- BEGIN SIDEBAR -->
            <div ng-if="loginBean.loggedIn == true && loginBean.simbaTimeOut == false" data-ng-include="'tpl/sidebar.html'" data-ng-controller="SidebarController" class="page-sidebar-wrapper"> 
            </div>
            
            <!-- END SIDEBAR -->
            <div class="page-content-wrapper" id="simba_page_content">

                <div class="" ng-class="{'content' : loginBean.loggedIn == false, 'page-content' : loginBean.loggedIn == true}">

                <div>
                    <flash-message duration="5000" show-close="true" class="simba_flash_message">
                    </flash-message>
                </div>
                    <!-- BEGIN PAGE HEAD -->
                    <div ng-if="loginBean.loggedIn == true && loginBean.simbaTimeOut == false" data-ng-include="'tpl/page-head.html'" data-ng-controller="PageHeadController" class="page-head" >
                    </div>
                    <!-- END PAGE HEAD -->
                    <!-- BEGIN ACTUAL CONTENT -->
                    <div ui-view class="fade-in-up"> </div>
                    <!-- END ACTUAL CONTENT -->
                </div>
                <div ng-simba-spinner-bar class="simba_spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                    <!--<i class="fa fa-circle-o-notch fa-spin"></i>-->
                </div>
            </div>
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <div ng-if="loginBean.simbaTimeOut == false" data-ng-include="'tpl/footer.html'" data-ng-controller="FooterController" class="page-footer"> </div>
        <!-- END FOOTER -->
        <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
        <!-- BEGIN CORE JQUERY PLUGINS -->
        <!--[if lt IE 9]>
		<script src="public/assets/global/plugins/respond.min.js"></script>
		<script src="public/assets/global/plugins/excanvas.min.js"></script>
        <script src="public/assets/global/plugins/es5-shim.js"></script> 
        <script>
            document.createElement('ui-select');
            document.createElement('ui-select-match');
            document.createElement('ui-select-choices');
        </script>
		<![endif]-->
        <script src="public/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="public/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
        <script src="public/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="public/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
        <script src="public/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="public/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="public/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
        <script src="public/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
        <!-- END CORE JQUERY PLUGINS -->
        

        <!-- BEGIN CORE ANGULARJS PLUGINS -->
        <script src='public/assets/plugins/angular/lodash.min.js'></script>
        <script src="public/assets/global/plugins/angularjs/angular.min.js" type="text/javascript"></script>
        <script src="public/assets/global/plugins/angularjs/angular-sanitize.min.js" type="text/javascript"></script>
        <script src="public/assets/global/plugins/angularjs/angular-touch.min.js" type="text/javascript"></script>
        <script src="public/assets/global/plugins/angularjs/plugins/angular-ui-router.min.js" type="text/javascript"></script>
        <script src="public/assets/global/plugins/angularjs/plugins/ocLazyLoad.min.js" type="text/javascript"></script>
        <script src="public/assets/global/plugins/angularjs/plugins/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
        
        <script src="public/assets/global/plugins/angularjs/angular-ngStorage.js" type="text/javascript"></script>
        <script src="public/assets/global/plugins/angularjs/angular-idle.min.js" type="text/javascript"></script>
        <script src="public/assets/plugins/angular/angular-nl2br.min.js" type="text/javascript"></script>
        <script src="public/assets/plugins/angular/angucomplete-alt/angucomplete-alt.js" type="text/javascript"></script>
        <script src="public/assets/plugins/angular/angular-clndr/moment.js" type="text/javascript"></script>
        <script src="public/assets/plugins/angular/angular-clndr/jquery-clndr.js" type="text/javascript"></script>
        <script src="public/assets/plugins/angular/angular-clndr/angular-clndr.min.js" type="text/javascript"></script>

        <script src="public/assets/plugins/angular/angular-slimscroll.js" type="text/javascript"></script>

        <script src="public/assets/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
        <script src="public/assets/plugins/jquery-validation/js/additional-methods.min.js"></script>
        

        <script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
        <script src='public/assets/plugins/angular/ng-map.min.js'></script>
        <script src='public/assets/plugins/angular/ng-file-upload.min.js'></script>
        <script src='public/assets/plugins/angular/angular-validation/angular-validation.min.js'></script>
        <script src='public/assets/plugins/angular/angular-validation/angular-validation-rule.min.js'></script>
        
        <script src='public/assets/plugins/counterup/jquery.waypoints.min.js'></script>
        <script src='public/assets/plugins/counterup/jquery.counterup.min.js'></script>
        
        <script src='public/assets/plugins/angular/countUp.min.js'></script>
        <script src='public/assets/plugins/angular/angular-countUp.min.js'></script>
        <script src='public/assets/plugins/angular/ngBootbox/bootbox.js'></script>
        <script src='public/assets/plugins/angular/ngBootbox/ngBootbox.min.js'></script>
        <script src='public/assets/plugins/scrolltofixed/jquery-scrolltofixed-min.js'></script>
        <script src='public/assets/plugins/angular/angular-scrolltofixed.min.js'></script>
        <script src='public/assets/plugins/angular/angular-bootstrap-confirm.min.js'></script>
        <script src='public/assets/plugins/angular/angular-feeds.js'></script>

        <script src='public/assets/plugins/angular/angular-datatable/angular-datatables.min.js'></script>

        <script src='public/assets/plugins/angular/angular-sparkline/jquery.sparkline.min.js'></script>
        <script src='public/assets/plugins/angular/angular-flash/angular-flash.min.js'></script>

        <script src='public/assets/plugins/angular/angular-google-chart/ng-google-chart.min.js'></script>

        <script src='public/assets/plugins/angular/ui-calendar/fullcalendar.min.js'></script>
        <script src='public/assets/plugins/angular/ui-calendar/gcal.js'></script>
        <script src='public/assets/plugins/angular/ui-calendar/ui-calendar.js'></script>
        <script src='public/assets/plugins/angular/ui-select/select.js'></script>

        <script src='public/assets/plugins/angular/nya-bootstrap-select/nya-bs-select.min.js'></script>
        <script src='public/assets/plugins/angular/angular-file-upload/angular-file-upload.min.js'></script>

        <script src='public/assets/plugins/angular/angular-xeditable/xeditable.min.js'></script>

        <script src='public/assets/plugins/angular/angular-bootstrap-switch/bootstrap-switch.min.js'></script>
        <script src='public/assets/plugins/angular/angular-bootstrap-switch/angular-bootstrap-switch.min.js'></script>

        <script src='public/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js'></script>
        <script src='public/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js'></script>
        <script src='public/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js'></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.0/angular-material-icons.min.js"></script> 

        <!-- END CORE ANGULARJS PLUGINS -->
        <!-- BEGIN APP LEVEL ANGULARJS SCRIPTS -->
        <script src="app/main.js" type="text/javascript"></script>
        <script src="app/directives.js" type="text/javascript"></script>
        <script src="app/common/commonServices.js" type="text/javascript"></script>
        <script src="app/services/service.upload.js" type="text/javascript"></script>
        <script src="app/services/service.api.js" type="text/javascript"></script>
        <script src="app/components/login/authService.js" type="text/javascript"></script>
        <script src="app/components/closings/function.js" type="text/javascript"></script>
        <script src="app/common/headerController.js" type="text/javascript"></script>

        <!-- END APP LEVEL ANGULARJS SCRIPTS -->
        <!-- BEGIN APP LEVEL JQUERY SCRIPTS -->

        <script src="public/assets/plugins/datatables/datatables.all.min.js" type="text/javascript"></script>

        <script src="public/assets/global/scripts/app.min.js" type="text/javascript"></script>

        <script src="public/assets/layouts/layout4/scripts/layout.min.js" type="text/javascript"></script>
        
        <!-- END APP LEVEL JQUERY SCRIPTS -->
        
        <!-- END JAVASCRIPTS -->
    </body>

</html>