<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard.html">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span class="active">Tasks</span>
    </li>
</ul>

<div class="row">

	<div class="col-lg-12 col-md-12">
		<div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject bold font-green uppercase">
                        All Tasks
                    </span>
                </div>

                <div class="tools">
            		<button class="btn green uppercase" type="button" style="margin-right: 20px;">New Task</button>
            		<label class="">View:</label>
                    <select class="bs-select form-control input-small" data-style="green" ng-change="listFilterBy()" ng-model="filter_by" id="list_filter_by">
                        <option value="tasks.status != 'Completed'" selected="selected">Incomplete</option>
                        <option value="tasks.status = 'Completed'">Complete</option>
                        <option value="">All</option>
                    </select>

                    <a href="" class="fullscreen"> </a>
                    <a class="collapse" href="javascript:;" data-original-title="" title=""> </a>

                </div>
            </div>

			<div class="portlet-body">
				<table ng-listview-tasks class="table table-striped table-bordered table-hover table-checkable order-column" width="100%" id="listview_tasks">
                    <thead>
                        <tr>
                            <!--<th><input type="checkbox" class="group-checkable" data-set="#listview_tasks .checkboxes" /> </th>-->
                            <th></th>
                            <th class="">Subject</th>
                            <th class="">Status</th>
                            <th class="">Due</th>
                            <th class="">Assign</th>
                            <th class="">Address</th>
                            <th class="">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
			</div>
		</div>
	</div>
</div>