<div class="row">
    <div class="col-md-6 col-sm-6">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-key font-green"></i>
                    <span class="caption-subject font-green bold uppercase">New Opportunities</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="scroller">
                    <div>
                        <table class="table order-column" id="new_opportunities" ng-new-opportunities width="100%" style="width:100%" >
                            <thead>
                                <tr>
                                    <th class="">Address</th>
                                    <th class="">Gross Yield</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="scroller-footer">
                    <div class="btn-arrow-link pull-right">
                        <a href="#/Opportunities">See All Opportunities</a>
                        <i class="icon-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-folder-open-o font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Closings & Offers</span>
                </div>
                <div class="actions" style="padding-bottom: 0px;">
                    <ul class="nav nav-tabs" style="border: none;">
                        <li class="active">
                            <a href="#portlet_closings" data-toggle="tab" class="btn btn-circle green btn-outline btn-sm margin-right-5" ng-click="dashletClosings()" ng-init="dashletClosings()"> Closings </a>
                        </li>
                        <li>
                            <a href="#portlet_offers" data-toggle="tab" class="btn btn-circle green btn-outline btn-sm" ng-click="dashletOffers()"> Offers </a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="portlet-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="portlet_closings" ng-if="dashletClosing">
                        <div class="scroller" slimscroll1="{height: '250px'}">
                            <div>
                                <table class="table order-column" id="closings_dashlet" ng-closings-dashlet width="100%" style="width:100%" >
                                    <thead>
                                        <tr>
                                            <th class="">Address</th>
                                            <th class="">Close Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="scroller-footer">
                            <div class="btn-arrow-link pull-right">
                                <a href="#/Closings">See All Closings</a>
                                <i class="icon-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="portlet_offers" ng-if="dashletOffer">
                        <div class="scroller" slimscroll1="{height: '250px'}">
                            <div>
                                <table class="table order-column" id="offers_dashlet" ng-offers-dashlet width="100%" style="width:100%" >
                                    <thead>
                                        <tr>
                                            <th class="">Address</th>
                                            <th class="">Close Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="scroller-footer">
                            <div class="btn-arrow-link pull-right">
                                <a href="#/Offer">See All Offers</a>
                                <i class="icon-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>