<div class="row">
    
    <div class="col-md-6 col-sm-6 simba_iframe_dashlet">
        <div class="portlet light bordered">
            <div class="portlet-title tabbable-line">
                <div class="caption">
                    <i class="icon-home font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Housing News</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="scroller">
                    <div class="row">
                        <div class="col-md-12" slimscroll="{height: '300px'}">
                            <feed url="http://www.housingwire.com/rss/1" count="-1" />        
                        </div>
                    </div>
                </div>
                <div class="scroller-footer">
                    <div class="btn-arrow-link pull-right">
                        <a target="_blank" href="http://www.housingwire.com/rss/1">See All Housing News</a>
                        <i class="icon-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 simba_chats_dashlet">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bubbles font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Chats</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="scroller">
                    <div slimscroll="{height: '300px'}">
                        <ul class="chats">
                            <li class="in" >
                                <a class="btn btn-circle btn-icon-only blue avatar" href="javascript:;">
                                    <i class="icon-home"></i>
                                </a>
                                <div class="message">
                                    <span class="arrow"> </span>
                                    <a href="javascript:;" class="name"> Sam Smith: 123 Main Street </a>
                                    <span class="datetime pull-right"> 07 May, 10:30AM </span>
                                    <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
                                </div>
                            </li>
                            <li class="out">
                                <a class="btn btn-circle btn-icon-only green avatar" href="javascript:;">
                                    <i class="icon-support" style="margin-top: 1px;" ></i>
                                </a>
                                <div class="message">
                                    <span class="arrow"> </span>
                                    <a href="javascript:;" class="name"> Mike Daniels: Support Request </a>
                                    <span class="datetime pull-left"> 08 May, 11:30AM </span>
                                    <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
                                </div>
                            </li>
                            <li class="in" >
                                <a class="btn btn-circle btn-icon-only blue avatar" href="javascript:;">
                                    <i class="icon-home"></i>
                                </a>
                                <div class="message">
                                    <span class="arrow"> </span>
                                    <a href="javascript:;" class="name"> Sam Smith: 123 Main Street </a>
                                    <span class="datetime pull-right"> 07 May, 10:30AM </span>
                                    <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
                                </div>
                            </li>
                            <li class="out">
                                <a class="btn btn-circle btn-icon-only green avatar" href="javascript:;">
                                    <i class="icon-support" style="margin-top: 1px;" ></i>
                                </a>
                                <div class="message">
                                    <span class="arrow"> </span>
                                    <a href="javascript:;" class="name"> Mike Daniels: Support Request </a>
                                    <span class="datetime pull-left"> 08 May, 11:30AM </span>
                                    <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="scroller-footer">
                    <div class="btn-arrow-link pull-right">
                        <a href="#">See All Chats</a>
                        <i class="icon-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>