body {
  padding-top: 50px;
  padding-bottom: 50px; }

.navbar a.brand.selection {
  min-height: 20px;
  min-width: 100px; }
  .navbar a.brand.selection span.logo {
    color: #999;
    position: fixed;
    top: 3px; }
  .navbar a.brand.selection span.market {
    position: absolute;
    font-size: 11px;
    top: 20px;
    right: 10px;
    font-weight: bold; }
  .navbar a.brand.selection b.caret {
    position: absolute;
    right: 4px; }

.titlebar {
  margin-bottom: 8px;
  vertical-align: middle; }
  .titlebar .title {
    font-size: 24px;
    font-weight: bold;
    vertical-align: top;
    line-height: 35px;
    margin-right: 100px; }
  .titlebar .nav {
    line-height: 20px;
    margin-bottom: 0px !important;
    display: inline-block; }

.page_info .count {
  line-height: 32px; }
.page_info .pagination {
  margin: 0px !important; }

.table-definitions caption {
  text-align: left;
  text-transform: uppercase;
  border-bottom: #ccc 1px solid;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 2px; }
.table-definitions td {
  padding: 0px !important;
  border-top: none !important;
  margin-bottom: 2px; }
.table-definitions .title label {
  font-weight: 300; }
.table-definitions td.item {
  font-weight: bold;
  font-size: 13px;
  line-height: 20px; }
  .table-definitions td.item .checkbox {
    float: right; }
.table-definitions label {
  margin-bottom: 0px !important; }

.overriden {
  background-color: #ff0 !important; }

td.na {
  background-color: whiteSmoke; }

h4.section {
  border-bottom: 1px solid #eee; }

.empty-col {
  height: 10px;
  width: 20px; }

.controlbar {
  position: fixed;
  z-index: 1000;
  bottom: 0px;
  margin-bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: whiteSmoke; }

.nav-links {
  margin-bottom: 0px; }
  .nav-links li {
    float: left;
    margin-right: 0px; }
    .nav-links li a {
      display: inline-block; }
    .nav-links li + li:before {
      color: #ccc;
      padding: 0px 5px;
      content: "|"; }

.nav-breadcrumbs {
  margin-bottom: 0px; }
  .nav-breadcrumbs li {
    float: left;
    margin-right: 0px; }
    .nav-breadcrumbs li a {
      display: inline-block; }
    .nav-breadcrumbs li + li:before {
      color: #ccc;
      padding: 0px 5px;
      content: ">"; }

table th .sort .caret {
  vertical-align: middle;
  margin-left: 5px; }

.form-squeezed {
  max-width: 250px; }
  .form-squeezed .control-label {
    width: 80px !important; }
  .form-squeezed .controls {
    margin-left: 85px !important;
    width: 160px;
    padding-right: 0px !important; }
  .form-squeezed .controls-x {
    margin-left: 85px !important;
    width: 160px;
    padding-right: 0px !important;
    disply: inline-block; }

ul.nav li.dropdown:hover ul.dropdown-menu {
  display: block; }

.dropdown .dropdown-menu {
  margin-top: 0px; }

.form-hr {
  border-top: 1px solid #e5e5e5;
  height: 10px; }

.form-actions {
  margin: 0px !important;
  padding-top: 10px !important; }

.form-horizontal > .form-actions {
  margin-top: 20px !important; }
.form-horizontal .control-group {
  margin-bottom: 2px; }
.form-horizontal table .controls {
  margin-left: 0px !important; }

.nav {
  margin-bottom: 10px; }

.nav-tabs > li > a {
  padding: 4px 8px; }

.gmap img {
  max-width: none; }

.table {
  margin-bottom: 20px; }
  .table td {
    padding: 4px 6px; }
  .table th {
    padding: 4px 6px; }

.radio {
  min-height: 0px; }

.checkbox {
  min-height: 0px; }

.tab-pane {
  min-height: 300px; }

.input-append .add-on {
  padding: 2px 5px; }

.input-prepend .add-on {
  padding: 2px 5px; }

select {
  padding: 2px 4px;
  height: 25px; }

textarea {
  padding: 2px 4px; }

input[type="text"] {
  padding: 2px 4px; }

input[type="password"] {
  padding: 2px 4px; }

input[type="datetime"] {
  padding: 2px 4px; }

input[type="datetime-local"] {
  padding: 2px 4px; }

input[type="date"] {
  padding: 2px 4px; }

input[type="month"] {
  padding: 2px 4px; }

input[type="time"] {
  padding: 2px 4px; }

input[type="week"] {
  padding: 2px 4px; }

input[type="number"] {
  padding: 2px 4px; }

input[type="email"] {
  padding: 2px 4px; }

input[type="url"] {
  padding: 2px 4px; }

input[type="search"] {
  padding: 2px 4px; }

input[type="tel"] {
  padding: 2px 4px; }

input[type="color"] {
  padding: 2px 4px; }

.uneditable-input {
  padding: 2px 4px; }

.well {
  padding: 4px 8px;
  margin-bottom: 10px;
  margin-top: 20px; }

.valign-middle {
  vertical-align: middle !important; }

.align-center {
  text-align: center !important; }

.align-left {
  text-align: left !important; }

.bordered-bottom {
  border-bottom: 1pt solid #000 !important; }

.align-right {
  text-align: right !important; }

.no-border-left {
  border-left: 0px #fff; }

.xscroll {
  overflow-x: auto; }

.nowrap {
  white-space: nowrap; }

.small {
  font-size: 11px !important; }

.inline {
  display: inline; }

.last-item-width {
  width: 30%; }

.non_sortable {
  color: #08c; }

.large-comments {
  width: 80%;
  height: 500px; }

.aleft {
  width: 72px;
  float: left; }

.blocktext {
  margin-left: auto;
  margin-right: auto;
  width: 600px; }

.height32 {
  height: 32px; }

.inlaid {
  float: left; }

.width100 {
  width: 100px; }

.warning {
  margin-top: 2px;
  margin-bottom: 16px;
  color: #f00; }
