%body.page-header-fixed.page-sidebar-closed-hide-logo.page-container-bg-solid.page-sidebar-closed-hide-logo.page-on-load{"ng-class" => "{'page-sidebar-closed': settings.layout.pageSidebarClosed}", "ng-controller" => "AppController"}
  - rel_root = ""
  / BEGIN PAGE SPINNER
  .page-spinner-bar{"ng-spinner-bar" => ""}
    .bounce1
    .bounce2
    .bounce3
  / END PAGE SPINNER
  / BEGIN HEADER
  .page-header.navbar.navbar-fixed-top{"data-ng-controller" => "HeaderController", "data-ng-include" => "'assets/tpl/header.html'", "simba-header" => ""}
  / END HEADER
  .clearfix   
  / BEGIN CONTAINER
  .page-container{"simba-page-container" => ""}
    / BEGIN SIDEBAR
    .page-sidebar-wrapper{"data-ng-controller" => "SidebarController", "data-ng-include" => "'assets/tpl/sidebar.html'"}
    / END SIDEBAR
    #simba_page_content.page-content-wrapper
      .page-content
        
        / BEGIN PAGE HEAD
        .page-head{"data-ng-controller" => "PageHeadController", "data-ng-include" => "'assets/tpl/page-head.html'"}
        / END PAGE HEAD
        / BEGIN ACTUAL CONTENT
        .fade-in-up{"ui-view" => ""}         
        / END ACTUAL CONTENT
      .simba_spinner{"ng-simba-spinner-bar" => ""}
        .bounce1
        .bounce2
        .bounce3
        / <i class="fa fa-circle-o-notch fa-spin"></i>
  / END CONTAINER
  / BEGIN FOOTER
  .page-footer{"data-ng-controller" => "FooterController", "data-ng-include" => "'assets/tpl/footer.html'"}
  
  %script{:src => "#{rel_root}assets/global/plugins/jquery.min.js", :type => "text/javascript"}
  %script{:src => "#{rel_root}assets/global/plugins/jquery-migrate.min.js", :type => "text/javascript"}
  %script{:src => "#{rel_root}assets/global/plugins/bootstrap/js/bootstrap.min.js", :type => "text/javascript"}
  %script{:src => "#{rel_root}assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js", :type => "text/javascript"}
  %script{:src => "#{rel_root}assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js", :type => "text/javascript"}
  %script{:src => "#{rel_root}assets/global/plugins/jquery.blockui.min.js", :type => "text/javascript"}
  %script{:src => "#{rel_root}assets/global/plugins/jquery.cokie.min.js", :type => "text/javascript"}
  %script{:src => "#{rel_root}assets/global/plugins/uniform/jquery.uniform.min.js", :type => "text/javascript"}
    
    
  / END CORE JQUERY PLUGINS
  / BEGIN CORE ANGULARJS PLUGINS
  -# %script{:src => "assets/plugins/bootstrap-select/js/bootstrap-select.js", :type => "text/javascript"}
  %script{:src => "#{rel_root}assets/plugins/angular/lodash.min.js"}
  %script{:src => "#{rel_root}assets/global/plugins/angularjs/angular.min.js", :type => "text/javascript"}
  %script{:src => "#{rel_root}assets/global/plugins/angularjs/angular-sanitize.min.js", :type => "text/javascript"}
  %script{:src => "#{rel_root}assets/global/plugins/angularjs/angular-touch.min.js", :type => "text/javascript"}
  %script{:src => "#{rel_root}assets/global/plugins/angularjs/plugins/angular-ui-router.min.js", :type => "text/javascript"}
  %script{:src => "#{rel_root}assets/global/plugins/angularjs/plugins/ocLazyLoad.min.js", :type => "text/javascript"}
  %script{:src => "#{rel_root}assets/global/plugins/angularjs/plugins/ui-bootstrap-tpls.min.js", :type => "text/javascript"}
  
 

  %script{:src => "#{rel_root}assets/plugins/angular/slick/slick.min.js", :type => "text/javascript"}
  %script{:src => "#{rel_root}assets/plugins/angular/slick/lightbox/slick-lightbox.min.js", :type => "text/javascript"}

  %script{:src => "#{rel_root}assets/global/plugins/angularjs/angular-ngStorage.js", :type => "text/javascript"}
  %script{:src => "#{rel_root}assets/global/plugins/angularjs/angular-idle.min.js", :type => "text/javascript"}
  %script{:src => "#{rel_root}assets/plugins/angular/angular-nl2br.min.js", :type => "text/javascript"}
  %script{:src => "#{rel_root}assets/plugins/angular/angucomplete-alt/angucomplete-alt.js", :type => "text/javascript"}
  %script{:src => "#{rel_root}assets/plugins/angular/angular-clndr/moment.js", :type => "text/javascript"}
  %script{:src => "#{rel_root}assets/plugins/angular/angular-clndr/jquery-clndr.js", :type => "text/javascript"}
  %script{:src => "#{rel_root}assets/plugins/angular/angular-clndr/angular-clndr.min.js", :type => "text/javascript"}

  %script{:src => "#{rel_root}assets/plugins/angular/angular-slimscroll.js"}

  %script{:src => "#{rel_root}assets/plugins/jquery-validation/js/jquery.validate.min.js", :type => "text/javascript"}
  %script{:src => "#{rel_root}assets/plugins/jquery-validation/js/additional-methods.min.js", :type => "text/javascript"}

  %script{:src => "https://maps.googleapis.com/maps/api/js?sensor=false", :type => "text/javascript"}
  %script{:src => "#{rel_root}assets/plugins/angular/ng-map.min.js"}
  %script{:src => "#{rel_root}assets/plugins/angular/ng-file-upload.min.js"}
  %script{:src => "#{rel_root}assets/plugins/angular/angular-validation/angular-validation.min.js"}
  %script{:src => "#{rel_root}assets/plugins/angular/angular-validation/angular-validation-rule.min.js"}

  %script{:src => "#{rel_root}assets/plugins/counterup/jquery.waypoints.min.js"}
  %script{:src => "#{rel_root}assets/plugins/counterup/jquery.counterup.min.js"}

  %script{:src => "#{rel_root}assets/plugins/angular/countUp.min.js"}
  %script{:src => "#{rel_root}assets/plugins/angular/angular-countUp.min.js"}
  %script{:src => "#{rel_root}assets/plugins/angular/ngBootbox/bootbox.js"}
  %script{:src => "#{rel_root}assets/plugins/angular/ngBootbox/ngBootbox.min.js"}
  %script{:src => "#{rel_root}assets/plugins/scrolltofixed/jquery-scrolltofixed-min.js"}
  %script{:src => "#{rel_root}assets/plugins/angular/angular-scrolltofixed.min.js"}
  %script{:src => "#{rel_root}assets/plugins/angular/angular-bootstrap-confirm.min.js"}
  %script{:src => "#{rel_root}assets/plugins/angular/angular-feeds.js"}

  %script{:src => "#{rel_root}assets/plugins/angular/angular-datatable/angular-datatables.min.js"}

  %script{:src => "#{rel_root}assets/plugins/angular/angular-sparkline/jquery.sparkline.min.js"}
  %script{:src => "#{rel_root}assets/plugins/angular/angular-flash/angular-flash.min.js"}
  %script{:src => "#{rel_root}assets/plugins/angular/angular-google-chart/ng-google-chart.min.js"}

  %script{:src => "#{rel_root}assets/plugins/angular/ui-calendar/fullcalendar.min.js"}
  %script{:src => "#{rel_root}assets/plugins/angular/ui-calendar/gcal.js"}
  %script{:src => "#{rel_root}assets/plugins/angular/ui-calendar/ui-calendar.js"}
  %script{:src => "#{rel_root}assets/plugins/angular/ui-select/select.js"}

  %script{:src => "#{rel_root}assets/plugins/angular/nya-bootstrap-select/nya-bs-select.min.js"}
  %script{:src => "#{rel_root}assets/plugins/angular/angular-file-upload/angular-file-upload.min.js"}
    
  %script{:src => "#{rel_root}assets/plugins/angular/angular-xeditable/xeditable.min.js"}

  %script{:src => "#{rel_root}assets/plugins/angular/angular-bootstrap-switch/bootstrap-switch.min.js"}
  %script{:src => "#{rel_root}assets/plugins/angular/angular-bootstrap-switch/angular-bootstrap-switch.min.js"}

  %script{:src => "#{rel_root}assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"}
  %script{:src => "#{rel_root}assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"}
  %script{:src => "#{rel_root}assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"}

  %script{:src => "#{rel_root}assets/app/main.js", :type => "text/javascript"}
  %script{:src => "#{rel_root}assets/app/directives.js", :type => "text/javascript"}
  %script{:src => "#{rel_root}assets/app/common/commonServices.js", :type => "text/javascript"}
  %script{:src => "#{rel_root}assets/app/services/service.upload.js", :type => "text/javascript"}
  %script{:src => "#{rel_root}assets/app/services/service.api.js", :type => "text/javascript"}
  %script{:src => "#{rel_root}assets/app/components/login/authService.js", :type => "text/javascript"}
  %script{:src => "#{rel_root}assets/app/components/closings/function.js", :type => "text/javascript"}
  %script{:src => "#{rel_root}assets/app/common/headerController.js", :type => "text/javascript"}
  %script{:src => "#{rel_root}assets/app/components/opportunities/service.js", :type => "text/javascript"}
  %script{:src => "#{rel_root}assets/plugins/datatables/pdfmake.min.js", :type => "text/javascript"}
  %script{:src => "#{rel_root}assets/plugins/datatables/datatables.all.min.js", :type => "text/javascript"}
  %script{:src => "#{rel_root}assets/global/scripts/app.min.js", :type => "text/javascript"}
  %script{:src => "#{rel_root}assets/layouts/layout4/scripts/layout.min.js", :type => "text/javascript"}
  
