.row
  %table.table
    %tbody
      = simple_form_for([@market, @search]) do |f|
        =f.input :user_id, as: :hidden
        =f.fields_for :config do |c|
          - if @search.persisted? || !@search.errors.empty?
            %tr
              %td
                =f.input :name
              %td
                =f.input :sort_by, label_method: proc {|s| Property.label(s) }, input_html: {class: 'autocomplete'}
              %td
                =f.input :sort_ascending, label: false, inline_label: true
            %tr
              %td
                =f.input :email_start_on
              %td
                =f.input :email_frequency
              %td
                =f.input :email_public, label: false, inline_label: true
                =f.input :email_most_recent, label: false, inline_label: true
          %tr
            %td.form-horizontal.form-squeezed
              =search_text_input c, :id
              =search_text_input c, :mls_number
              =search_text_input c, :tax_id
              =search_text_input c, :legal_subdivision
              /=search_subdivision c
              =search_text_input c, :subdivision
              =search_text_input c, :subdivision_section_number
              =search_min_max c, :street_number
              =search_input c, :street_name
              =search_input c, :city
              =search_text_input c, :zip_code
              =search_text_input c, :county
              =search_input c, :disclosures
              =search_input c, :realtor_remarks
              %br
              %br
              %br
              %br
              %br
              %br
              %br
              %br
            %td
              =multiple_search_input c, :status
              =search_boolean_checkbox c, :is_back_on_market, label: false
              =search_boolean_price_reduction c, :price_reduction, label: false
              =multiple_search_input c, :category
              =multiple_search_input c, :rental_class, true
              =multiple_search_input c, :rental_type, true
              =multiple_search_input c, :single_family_type, true
              - Delayed::Worker.logger.debug "~~ params #{params[:search]}"
              - mls_area_key_param = params[:search].try(:[],:config_attributes).try(:[],:mls_area_key) || @search.config.attributes["mls_area_key"]
              =multiple_search_nullable_neg_input c, :mls_area_key, mls_area_key_param, true, true
              - geo_market_area_param = params[:search].try(:[],:config_attributes).try(:[],:geo_market_area) || @search.config.attributes["geo_market_area"]
              =multiple_search_nullable_neg_input c, :geo_market_area, geo_market_area_param, true, true
              
              - flood_param = params[:search].try(:[],:config_attributes).try(:[],:flood) || @search.config.attributes["flood"]
              - near_commercial_param = params[:near_commercial].try(:[],:config_attributes).try(:[],:near_commercial) || @search.config.attributes["near_commercial"]
              =multiple_search_nullable_input c, :flood, flood_param, true,true
              =multiple_search_nullable_input c, :near_commercial ,near_commercial_param , true,true
              
            %td.form-horizontal.form-squeezed 
              =search_min_max c, :list_price
              
              =search_min_max c, :beds
              =search_min_max c, :bathrooms
              =search_min_max c, :square_feet
              =search_min_max c, :lot_square_feet
              =search_min_max c, :year_built
              =search_min_max c, :cdom
              =search_min_max c, :dom
              =search_boolean_input c, :selling_for_lot_value
              =search_boolean_input c, :pool_private
              =search_min_max c, :garage_capacity
              =search_min_max c, :sold_price
              =search_min_max c, :sold_lease_price
              =search_min_max c, :owner_equity_ratio
              =search_min_max c, :owner_equity_amount
              %br
              - Delayed::Worker.logger.debug ("~~ search config #{@search.config.attributes}") if @search
              - Delayed::Worker.logger.debug ("~~ i rep #{params[:search].try(:[],:config_attributes).try(:[],:rep)}")
              - rep_param = params[:search].try(:[],:config_attributes).try(:[],:rep) || @search.config.attributes["rep"]
              - tag_param = params[:search].try(:[],:config_attributes).try(:[],:tag) || @search.config.attributes["tag"]
              =multiple_search_lookup_input c, :rep, rep_param, true 
              =multiple_search_lookup_input c, :tag, tag_param, true
              
            %td.form-horizontal.form-squeezed
              =search_min_max c, :listing_date
              =search_min_max c, :closed_date
              =search_min_max c, :pending_date
              =search_min_max c, :termination_date
              =search_min_max c, :withdrawn_date
              =search_min_max c, :expiration_date

              =search_min_max c, :comparables_avm_sale
              =search_min_max c, :comparables_cdom_sale
              =search_boolean_input c, :zillow_sale_only
              =search_min_max c, :comparables_avm_rental
              =search_min_max c, :comparables_cdom_rental
              =search_boolean_input c, :zillow_rent_only
              =search_min_max c, :comparables_avm_build
              =search_min_max c, :comparables_cdom_build
              =search_min_max c, :sale_output_renovation_expense
              =search_min_max c, :rental_output_renovation_expense
              =search_min_max c, :renovation_build_cost
              =search_min_max c, :rental_income_monthly_gross_rent
              =search_min_max c, :elementary_school_rating
              =search_min_max c, :middle_school_rating
              =search_min_max c, :high_school_rating
              =search_min_max c, :avg_school_rating
            %td.form-horizontal.form-squeezed
              =search_min_max c, :rental_output_max_purchase_ratio
              =search_min_max c, :sale_output_max_purchase_ratio
              =search_min_max c, :sale_output_pre_tax_roi_amount
              =search_min_max c, :sale_output_pre_tax_roi_ratio
              =search_min_max c, :rental_output_cap_rate
              =search_min_max c, :rental_output_pre_tax_roi_amount
              =search_min_max c, :rental_output_pre_tax_roi_ratio
              =search_min_max c, :rental_resale_output_investor_cap_rate
              =search_min_max c, :rental_resale_output_pre_tax_roi_amount
              =search_min_max c, :rental_resale_output_pre_tax_roi_ratio
              =search_min_max c, :seller_finance_output_cap_rate
              =search_min_max c, :seller_finance_output_pre_tax_roi_amount
              =search_min_max c, :seller_finance_output_pre_tax_roi_ratio
              =search_min_max c, :build_output_pre_tax_roi_amount
              =search_min_max c, :build_output_pre_tax_roi_ratio
              =search_min_max c, :assignment_output_pre_tax_roi_amount

        .controlbar
          .container
            .form-actions
              - if @search.new_record?# && !@search.errors.empty?
                =f.button :submit, t(:search), disable_with: t('wait'), class: 'span3 btn btn-info'
              =f.button :submit, t(:save_search), :disable_with => t('wait')
              - if @search.persisted?
                =link_to t(:cancel), collection_url, class: 'btn btn-link'
              =f.submit :reset, :value => t('reset'), :type => :reset, :class => 'btn'
          - if @market.id == 9 
            .blocktext
              .aleft
                = image_tag("fmls_logo.jpg")
              .span13{ :style => "float: left; width: 480px; margin-left: 10px" }= "Listing content provided by FMLS and deemed reliable but not guaranteed." 
              .fmls_bottom{:style => "clear:both; text-align: center;" }= "©2014 First Multiple Listing Service, Inc.​"        

=#debug(@stats)