var msg
<% if !params[:ids].blank? %>
    msg = "<%= params[:ids] %> added to Props successfully";
    $('.titlebar.clearfix').next().html('<div class="alert alert-info fade flash in" data-alert="alert">' + msg + '</div>');
<% else %>
    $('.titlebar.clearfix').next().html('');
<% end %>
<!-- $('div.alert.alert-info.fade.flash').delay(5000).fadeOut(400); -->