var msg
<% if !params[:ids].blank? %>
    msg = "<%= params[:ids] %> assigned to <%= @tag_name %> successfully";
    
    var pox ; 
    pox = $("th:contains(Label)").index("th");
    
    if (pox != -1) {
        var pos;
        pos = pox + 1;
        var arr = "<%= params[:ids] %>".replace(/\s+/g, '').split(",");
        
        $.each(arr,function( intIndex, objValue ){
               // alert(objValue);     
               $("a:contains(" +  objValue  + ")").parent().parent().children(":nth-child(" + pos + ")").text("<%= @tag_name %>");
                  
        });
            
    }        
    
   
    $('.titlebar.clearfix').next().html('<div class="alert alert-info fade flash in" data-alert="alert">' + msg + '</div>');
<% else %>
    $('.titlebar.clearfix').next().html('');
<% end %>