= page_info(@jobs)
%table.table.table-hover
  %thead
    - for attr in [:run_at, :name, :user, :started_at, :completed_at, :status, :priority, :results_count, :errors_count]
      %th= Job.label(attr)
    %th= t(:actions)
  %tbody
    - for job in @jobs
      %tr
        %td= job.format(:run_at)
        %td= job.format(:name)
        %td= job.format(:user)
        %td= job.format(:started_at, as: :time)
        %td= job.format(:completed_at, as: :time)
        %td= job.format(:status)
        %td= job.format(:priority)
        %td= job.format(:results_count)
        %td= job.format(:errors_count)
        %td.nowrap
          %ul.nav.nav-links
            - if can? :show, job
              =nav_item t(:show), resource_url(job)
            - if can? :destroy, job
              =nav_item t(:delete), resource_url(job), :method => :delete, :confirm => t(:are_you_sure)