.row
  .span3
    %h5= t(:import)
    = simple_form_for(@import, as: :market_job, url: admin_market_jobs_url(@market), observe: true, direction: :vertical) do |f|
      =f.hidden_field :type, value: 'import'
      =f.input :files, as: :file, input_html: {multiple: true}
      .form-actions
        =f.submit t(:submit), disable_with: t('wait'), class: 'btn btn-primary'
  .span3
    %h5= t(:grab)
    = simple_form_for(@grab, as: :market_job, url: admin_market_jobs_url(@market), observe: true, direction: :vertical) do |f|
      =f.hidden_field :type, value: 'grab'
      - unless @market.id.in?([2,3,4,5,6])
        =f.input :days, as: :integer
      .form-actions
        =f.submit t(:submit), disable_with: t('wait'), class: 'btn btn-primary'
  .span3
    %h5= t(:compute)
    = simple_form_for(@compute, as: :market_job, url: admin_market_jobs_url(@market), observe: true, direction: :vertical) do |f|
      =f.hidden_field :type, value: 'compute'
      =f.input :active_pending, as: :boolean, unchecked_value: nil, label: false, inline_label: 'Active/Pending'
      =f.input :not_active_pending, as: :boolean, unchecked_value: nil, label: false, inline_label: 'Others'    
      =f.input :rental_type, as: :boolean, unchecked_value: nil, label: false, inline_label: 'Rental'      
      =f.input :limit, as: :integer
      =f.input :force, as: :boolean, label: false, inline_label: true, unchecked_value: nil
      =f.input :general_start_id, as: :string, label: '#GLT ID from', input_html: {class: 'general_id_togglible'}
      =f.input :general_end_id, as: :string, label: 'to', input_html: {class: 'general_id_togglible'}
      =f.input :duration , as: :boolean, label: false, inline_label: true, unchecked_value: nil
      =f.input :general_start_date, as: :date, label: 'Date Updated from', input_html: {class: 'general_date_togglible'}
      =f.input :general_end_date, as: :date, label: 'to', input_html: {class: 'general_date_togglible'}
      .form-hr
      =f.input :active, as: :boolean, unchecked_value: nil, label: false, inline_label: 'Active & Not Computed'
      =f.input :active_start_id, as: :string, label: '#GLT ID from', input_html: {class: 'active_id_togglible'}
      =f.input :active_end_id, as: :string, label: 'to', input_html: {class: 'active_id_togglible'}
      .form-hr
      =f.input :missing_zillows, as: :boolean, unchecked_value: nil, label: false, inline_label: 'Missing Zillows'
      =f.input :active_single_family, as: :boolean, unchecked_value: nil, label: false, inline_label: 'Active Single Family'
      =f.input :custom_ids, as: :string, label: 'ids'
      .form-actions
        =f.submit t(:submit), disable_with: t('wait'), class: 'btn btn-primary'
  .span3
    %h5= t(:email)
    = simple_form_for(@email, as: :market_job, url: admin_market_jobs_url(@market), observe: true, direction: :vertical) do |f|
      =f.hidden_field :type, value: 'import'
      .form-actions
        =f.submit t(:submit), disable_with: t('wait'), class: 'btn btn-primary'
    