.tabbable
  %ul.nav.nav-tabs
    - for key in [(:error if @job.status == 'error'), :info, :config].compact
      =tab_item t(key), "##{key}"
  .tab-content
    .tab-pane#error
      =debug(@job.last_error, true)
    .tab-pane#config
      =debug(YAML.load(@job.handler), true)
    .tab-pane#info
      =debug(@job.info, true)
    