<ul class="page-breadcrumb breadcrumb" >
    <li>
        <a href="#/dashboard.html">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span class="active">{{ $state.current.data.pageTitle }}</span>
    </li>
</ul>

<div id="simba_list_view">
    <div  >
        <div class="row" ng-controller="historyViewController">
            <div class="col-lg-12 col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="row">
                            <label class="control-label col-xs-6 col-sm-3">
                                Bin Tag#ID : {{database.tag_id}}
                            </label>
                        
                            <label class="control-label col-xs-6 col-sm-3">
                                Loaded : {{database.load_status}}
                            </label>
                        
                            <label class="control-label col-xs-6 col-sm-3">
                               Current Location : {{database.current_location}}
                            </label>
                        
                            <label class="control-label col-xs-6 col-sm-3">
                                 Station : {{database.station}}
                            </label>
                        </div>
                    </div>
               <div class="portlet-body">
                        <table ng-simba-history class="table table-striped table-bordered table-hover dt-responsive listview_opportunities" width="100%" id="listview_opportunities" on-edit="historyViewModals(updatedName)">
                            <thead>
                                <tr>
                                    <!-- <th class="">Id</th> -->
                                    <th class="">Bin Tag#ID</th>
                                    <th class="">Event</th>
                                    <th class="">Location Name </th>
                                    <th class="">Room Name</th>
                                    <th class="">Activity Time</th>
                                    <th class="">Personal</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



