- @title = t(:change_password)

=simple_form_for(@user, :url => { :action => "update_password" } ) do |f|
  =f.input :current_password
  =f.input :password
  =f.input :password_confirmation
  .form-actions
    =f.button :submit, t('.change_password')
    =link_to_previous
