- @title = t(:preferences)

= simple_form_for(@user, url: update_preferences_url, direction: :vertical, observe: true) do |f|
  =f.fields_for :preferences do |s|
    = s.input :columns_results_tokens, input_html: { 'data-collection' => @choices.reject { |d| d == "comps_distance" }.to_json, class: 'transferable' }
    = s.input :columns_saved_tokens, input_html: { 'data-collection' => @choices.reject { |d| d == "comps_distance" }.to_json, class: 'transferable' }
    = s.input :columns_comps_tokens, input_html: { 'data-collection' => @choices.to_json, class: 'transferable' }

  .controlbar
    .container
      .form-actions
        =f.button :submit, t(:save_preferences), :disable_with => t('wait')
        =link_to_previous
