.col-xs-15,

.col-sm-15,

.col-md-15,

.col-lg-15 {

    position: relative;

    min-height: 1px;

    padding-right: 10px;

    padding-left: 10px;

}

.col-xs-15 {

    width: 20%;

    float: left;

}

@media (min-width: 768px) {

	.col-sm-15 {

	    width: 20%;

	    float: left;

    }

}

@media (min-width: 992px) {

    .col-md-15 {

        width: 20%;

        float: left;

    }

}

@media (min-width: 1200px) {

    .col-lg-15 {

        width: 20%;

        float: left;

    }

}



.col-xs-125,

.col-sm-125,

.col-md-125,

.col-lg-125 {

    position: relative;

    min-height: 1px;

    padding-right: 15px;

    padding-left: 15px;

}

.col-xs-125 {

    width: 12.5%;

    float: left;

}

@media (min-width: 768px) {

	.col-sm-125 {

	    width: 12.5%;

	    float: left;

    }

}

@media (min-width: 992px) {

    .col-md-125 {

        width: 12.5%;

        float: left;

    }

}

@media (min-width: 1200px) {

    .col-lg-125 {

        width: 12.5%;

        float: left;

    }

}



.col-xs-875,

.col-sm-875,

.col-md-875,

.col-lg-875 {

    position: relative;

    min-height: 1px;

    padding-right: 15px;

    padding-left: 15px;

}

.col-xs-875 {

    width: 87.5%;

    float: left;

}

@media (min-width: 768px) {

	.col-sm-875 {

	    width: 87.5%;

	    float: left;

    }

}

@media (min-width: 992px) {

    .col-md-875 {

        width: 87.5%;

        float: left;

    }

}

@media (min-width: 1200px) {

    .col-lg-875 {

        width: 87.5%;

        float: left;

    }

}







.page-header.navbar .page-logo .logo-default {

	margin-top: 0px;

}

.page-logo .site_name {

	font-size: 17px;

}

.page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .page-logo .site_name {

	display: none;

}

.simbanic_page_container .navbar-collapse.collapse {

	overflow: visible !important;

}

.page-header.navbar .page-logo {

	line-height: 75px;	

}



.closing_detail_image img {

	border-radius: 50%;

	height: 100px;

    width: 100px;

}

.closing_detail_buttons table {

	width: 100%;

	margin-bottom: 0px;

}

.closing_detail_buttons table tr td {

	width: 25%;

	text-align: center;

	border: none;

}



.simbanic_nav_tabs .nav > li > a {

	padding: 10px 15px;

}

.simbanic_nav_tabs .nav-tabs li:not(.active) > a {

	background: #e9ecf3;

	color: #000;

}

.simbanic_closing_tab table tr > td {

	border-top: 1px solid #EEE !important;

	width: 50%;

}

.simbanic_closing_tab table tr > td:last-child {

	text-align: right;

}

.simbanic_tabbed_subpanels .portlet .tools {

	padding: 0px !important;

	margin-left: 20px;

}

.simbanic_tabbed_subpanels .portlet .tools a {

	vertical-align: middle;

}

[id^=subpanel_] thead {

	border-bottom: 1px solid #ddd;

}

[id^=subpanel_] th > a {

	color: #97A0A5 !important;

	text-align: center;

	text-transform: uppercase;

	font-size: 12px;

}

[id^="subpanel_"] thead {

    border-bottom: 1px solid #ddd;

}

[id^=subpanel_] tbody tr {

	border-bottom: 1px solid #ddd;

}

.closing_detail_buttons .btn {

	margin: 0;

    padding: 10px 15px 6px;

}

.closing_detail_buttons > div {

	text-align: center;

}

.closing_detail_buttons .btn i{

	font-size: 20px;

}

.closing_detail_buttons .button_name td {

	padding: 0;

}

.closing_detail_buttons .button_name a{

	font-size: 13px;

	text-transform: uppercase;

	font-weight: 600;

}

.simba_element_step .simba_step {

	

}

.simba_element_step .step-thin .mt-step-number {

	font-size: 12px;

	padding: 5px 10px;

}

.simba_element_step .step-thin .mt-step-col {

	padding-left: 8px;

    padding-right: 8px;

    border-right: 2px solid #FFFFFF;

}

.simba_element_step .step-thin .mt-step-title {

	font-size: 14px;

    margin-top: 4px;

    padding-left: 30px;

}

.simbanic_tabbed_subpanels .portlet .tools {

    margin-left: 20px;

    padding: 0 !important;

}



.closing_detail_buttons {

	text-align: center;

}

.closing_detail_buttons .simba_icon_btn {

	min-width: 62px;

}

.closing_detail_buttons .simba_icon_btn > div {

    font-size: 13px;

}

.closing_list_info {



   	height: 100px;

    width: 100px;

    background: red;

    margin:10px;

    text-align: center;

    display:table-cell;

    vertical-align:middle;

}



.simbanic_closing_tab .form-group {

	border-top: 1px solid #EEE;

    margin-bottom: 5px;

    overflow: hidden;

    padding-top: 5px;

}

.simbanic_closing_tab .form-group .control-label {

	word-wrap: break-word;

	font-weight: bold;

	padding-left: 0px;

}

.simbanic_closing_tab .form-group .control-content {

	text-align: right;

	padding-right: 0px;

}

.closing_detail_buttons .simba_icon_btn {

	margin-top: 0px;

}

.closing_property_header {

	font-size: 14pt;

	font-weight: 600;

}

.closing_head_value {

	font-size: 12pt;

    font-weight: 600;

}

.closing_property_header {

	margin-top: 25px;

}

.closings_list_info .row > div {

	padding-left: 10px;

	padding-right: 10px;

}

.angular-google-map-container { height: 400px; }

.glt_logo_text {

	color: #fff;

    font-size: 17px;

    text-transform: uppercase;

}

.lock_copyright {

	margin-top: 10px;

	color: #FFF;

}

#subpanel_history > thead,

#listview_contacts > thead {

	display: none;

}

.simba_custom_gmaps_ui .simba_gmaps_image img {

	width: 100%;

}

.simba_custom_gmaps_ui .simba_gmaps_info ul {

	padding-left: 0px;

}

.simba_custom_gmaps_ui .simba_gmaps_info ul li {

	float: left;

	padding-left: 10px;

	list-style: inside;

}

.simba_custom_gmaps_ui .simba_gmaps_info ul li:first-child {

	padding-left: 0px;

	list-style-type: none;

}

.custom-marker {

}

.custom-marker .simba-marker {

	font-size: 15px;

	background: #3B3F51;

	padding: 5px 10px;

	border: 2px solid #FFF;

	color: #FFFFFF;

}

.custom-marker .simba-marker:hover {

	background: #2c3042;

}



.custom-marker.my1:after {

content: '';

position: absolute;

border-style: solid;

border-width: 7px 6px 0;

border-color: #fff transparent;

display: block;

width: 0;

z-index: 1;

margin-left: -6px;

bottom: -6px;

left: 50%;

}



.custom-marker.my1:before {

content: '';

position: absolute;

border-style: solid;

border-width: 7px 6px 0;

border-color: #7F7F7F transparent;

display: block;

width: 0;

z-index: 0;

margin-left: -6px;

bottom: -7px;

left: 50%;

}



.custom-marker.my2 {

font-size: 1.5em;

padding: 10px;

background: #fff;

-webkit-border-radius: 4px;

-moz-border-radius: 4px;

border-radius: 4px;

border: #7F7F7F solid 1px;

background: red;

}



.custom-marker.my2:after {

content: '';

position: absolute;

border-style: solid;

border-width: 7px 6px 0;

border-color: red transparent;

display: block;

width: 0;

z-index: 1;

margin-left: -6px;

bottom: -6px;

left: 50%;

}



.custom-marker.my2:before {

content: '';

position: absolute;

border-style: solid;

border-width: 7px 6px 0;

border-color: #7F7F7F transparent;

display: block;

width: 0;

z-index: 0;

margin-left: -6px;

bottom: -7px;

left: 50%;

}

.simba_custom_gmaps_ui {

	width: 200px;

	display: inline-block;

	font-size: 15px;

}

.simba_custom_gmaps_ui > div {

	padding-left: 0px;

}

.simba_custom_gmaps_ui > div:last-child {

	padding-right: 0px;

}



.simba_custom_gmaps_ui .gmaps_property_info ul {

	overflow: hidden;

	margin-bottom: 0px;

}

.simba_list_mapview {

	background-size: 100% 100% !important;

	background-repeat: no-repeat;

	color: #FFF;

}

.simba_inline_mapview {

	background: rgba(0, 0, 0, 0.3);

	padding: 10px 5px;

}

.simba_list_mapview a {

	color: #FFF;

}

.simba_list_mapview .simba_mapview_status {

	margin-bottom: 50px;

	text-transform: uppercase; 

}

.simba_list_mapview .simba_mapview_price {

	margin-bottom: 20px;

	font-size: 16px;

}

.simba_list_mapview .simba_mapview_info {

	font-size: 13px;

}



.simba_green {

	color: #009245;

}



#maplistview_closings thead,
#maplistview_opportunities thead{

	display: none;

}

#maplistview_closings tbody tr td,
#maplistview_opportunities tbody tr td {

	padding: 0px;

}

#maplistview_closings .simba_mapview_bed,
#maplistview_opportunities .simba_mapview_bed {

	padding-left: 0px;

	padding-right: 0px;

}

#maplistview_closings .simba_mapview_date_info,
#maplistview_opportunities .simba_mapview_date_info {

	margin-top: 10px;

}

#simbanic_search .form-group {

	display: inline-block;

    width: 100%;

}

#simbanic_search .form-section {

	margin: 15px 0px;

	padding-bottom: 10px;

}

.border-radius-left-top-bottom {

	border-top-left-radius: 50%;

	border-bottom-left-radius: 50%;

}

.border-radius-right-top-bottom {

	border-top-right-radius: 46%;

	border-bottom-right-radius: 46%;

}

#listview_tasks .task_edit_btn {

	margin-right: 0px;

}

#listview_tasks .task_delete_btn {

	margin-right: 0px;

}

.dataTables_scrollBody {

	overflow-x: hidden !important; 

}

#maplistview_closings_wrapper .dataTables_scroll table thead {

	display: none;

}

.btn.green_dark {

	background-color: #35C283;

    border-color: #35C283;

    color: #fff;

}

.btn.green_dark.active:not(.btn-outline), 

.btn.green_dark:active:not(.btn-outline), 

.btn.green_dark:hover:not(.btn-outline), 

.open > .btn.green_dark.dropdown-toggle:not(.btn-outline) {

	background-color: #15a263;

    border-color: #15a263;

    color: #fff;

}

.simba_detail_label {

	width: 100%;

	padding-top: 8px;

}

.mapHeight {

	position: fixed;

	bottom: 0;

	vertical-align: top;

    overflow: hidden;

}

.angucomplete-dropdown {

	width: 100%;

}

.task_detailview_btn .btn {

	padding: 6px 10px;

}

#listview_contacts {

	margin-top: 0px !important;

}

#listview_contacts_filter {

	width: 100%;

}

#listview_contacts_filter  > label {

	width: 100%;

	margin-bottom: 0px;

}

#listview_contacts_filter  > label > input {

	width: 100% !important;

	margin-left: 0px;

	border-bottom: none;

	border-bottom-left-radius: 0px;

	border-bottom-right-radius: 0px;

}

#listview_contacts .general-item-list .item {

	padding: 5px 0px;

}

#listview_contacts .general-item-list.active  {

	background-color: #dbeef9;

}

.contact_detail .contact_name {

	font-size: 28px;

}

#listview_contacts tr.simba_row_active td {

	background-color: #dbeef9 !important;

    border-color: #c5e4f5;

}

.simba_file_input {

	background: #F8F8F8;

    border: 5px dashed #DDD;

    text-align: center;

    padding: 10px 10px;

    margin-left: 10px;

}

.contact_user_profile {

	height: 70px;

	width: 70px;

	border: 2px solid #DDD;

}

.bg_green_dark {

	background-color: #35c283;

}

.opportunity_head_info .simba_opp_status .btn.rounded {

	padding: 1px 10px;

}

table.simba_greenlet_table tbody tr > td {

	border: none;

	border-right: 1px solid; 

	font-size: 16px;

	padding: 2px 8px;

	text-align: center;

}

table.simba_greenlet_table tbody tr > td:last-child {

	border-right: 0px;

}



table.simba_sqft_slash tbody tr > td {

	border: none;

	font-size: 16px;

	padding: 2px 8px;

	text-align: center;

}



table.simba_sqft_slash tbody tr:last-child > td {

	font-size: 10pt;

}

table.simba_cap_gross tbody > tr:last-child > td {

	font-size: 10pt;

}





.simba-group-btn .icon-btn {

	min-width: 65px;

	margin-right: 0px;

}

.simba-group-btn .icon-btn > div {

	font-size: 10pt;

}

.simba-group-btn a[class*='bg'] {

	color: #FFFFFF;

}

.simba-group-btn a[class*='bg'] > div {

	color: #FFFFFF;

}



.simba-tabbable-line > div > .nav-tabs > li.active {

    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;

    border-bottom: 4px solid #36c6d3;

    position: relative;

}

.simba-tabbable-line > div > .nav-tabs > li.active > a {

    border: 0 none;

    color: #333;

}

.simba-tabbable-line > div > .nav-tabs > li > a {

    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;

    border: 0 none;

    color: #737373;

    margin: 0;

    padding-left: 15px;

    padding-right: 15px;

}

#simba_opp_detail_btn {

	display: inline-block;

	min-height: unset;

	padding-top: 0px;

	width: 100%;

}

.simba_opp_property_info .form-horizontal .form-group {

	margin-bottom: 0px;

}

.simba_opp_property_info .form-group .control-label {

	font-weight: 600;

}

.simbanic_formView_border .form-group{

	border-top: 1px solid #eee;

    margin-bottom: 5px;

    overflow: hidden;

    padding-top: 5px;

}

.simba_opp_property_details_tab .control-label {

	font-size: 13px;
	padding-left: 5px;

}

.simba-form-horizontal .form-group {

	margin-bottom: 0px;

}

#listview_contacts_wrapper .dataTables_scrollHead {

	display: none;

}

#listview_contacts tbody tr > td {

	border-right: 2px solid #c2cad8;

}

.dataTables_wrapper .dataTables_paginate .paginate_button {

	padding: 0px;

}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {

	background: none;

	border: 1px solid;

}

.simba_spinner {

    left: 50%;

    position: fixed;

    text-align: center;

    top: 40%;

    width: 150px;

    z-index: 10051;

    font-size: 50px;

    color: #26A1AB;

}

.simba_spinner > div {

    animation: 1.4s ease-in-out 0s normal both infinite running bounceDelay;

    display: inline-block;

    height: 18px;

    margin: 0 5px;

    width: 18px;

    background: #6fa7d7;

}

.simba_spinner .bounce1 {

    animation-delay: -0.32s;

}

.page-spinner-bar .bounce2 {

    animation-delay: -0.16s;

}

.slash_after {

	position: relative;

}

.slash_after > span:after {

	position: absolute;

	right: -3px;

	content: "/";

}

h4.opp_sub_title {

	font-weight: 600;

    margin-top: 5px;

}

.simba_property_image img {

	max-width: 100%;

    max-height: 450px;

    display: block;

    margin: 0px auto;

}

.simba_property_slider {

	padding: 10px;

}

.simba-slider-nav .slick-dots {

	bottom: unset;

    display: inline-block;

    overflow: hidden;

    position: relative;

}

.simba-slick-prev, .simba-slick-next {

	background: transparent none repeat scroll 0 0;

    display: inline-block;

    padding: 0;

    position: absolute;

    top: 30px;

}

.simba-slick-prev {

	left: -20px;

}

.simba-slick-next {

	right: -20px;

}

.btn.simba-btn-outline {

	background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;

    border-color: #32c5d2 !important;

    color: #32c5d2 !important;

    border: 1px solid !important;

    padding: 6px 12px !important;

    border-radius: 4px !important;

}

.btn.simba-btn-outline:hover,

ul.nav-tabs li.active .btn.simba-btn-outline {

	background-color: #32c5d2 !important;

    border-color: #32c5d2 !important;

    color: #fff !important;

}



.simba_opp_property_details_tab .form-group .control-label {

	font-weight: bold;

}

.simba_opp_property_details_tab .form-group .control-label:after {

	/*content: ":";*/

}

.margin-right-5 {

	margin-right: 5px !important;

}

.margin-right-0 {

	margin-right: 0px !important;

}

.margin-bottom-0 {

	margin-bottom: 0px !important;

}

.margin-right-20 {

	margin-right: 20px !important;

}

.margin-left-20 {

	margin-left: 20px !important;

}

.margin-top-5 {

	margin-top: 5px !important;

}



/* Calendar */

.simba_calendar {

	

}

.simba_calendar .clndr {

	width: 100%;

	max-width: unset;

	overflow: hidden;

	position: relative;

}

.clndr,

.clndr:before,

.clndr:after,

.clndr *,

.clndr *:before,

.clndr *:after {

	box-sizing: border-box;

}

.clndr .clndr_days_names:before,

.clndr .clndr_days_grid:before,

.clndr .clndr_days_names:after,

.clndr .clndr_days_grid:after {

	content: " ";

	display: table;

}

.clndr .clndr_days_names:after,

.clndr .clndr_days_grid:after {

	clear: both;

}

.clndr .clndr_days_names:before,

.clndr .clndr_days_grid:before,

.clndr .clndr_days_names:after,

.clndr .clndr_days_grid:after {

	content: " ";

	display: table;

}

.clndr .clndr_days_names:after,

.clndr .clndr_days_grid:after {

	clear: both;

}

.clndr .md-card-toolbar-heading-text {

	text-transform: capitalize;

}

.clndr .clndr_days {

	-webkit-transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);

	transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);

	padding: 16px;

	-webkit-transform: translateY(0);

	transform: translateY(0);

	opacity: 1;

}

.clndr .clndr_days .clndr_days_names .day-header {

	width: 14.28571429%;

	float: left;

	text-align: center;

	padding: 8px 0;

	text-transform: uppercase;

	font-size: 17px;

	font-weight: 500;

}

.clndr .clndr_days .clndr_days_grid .day {

	width: 14.28571429%;

	float: left;

	padding: 6px;

	text-align: center;

	position: relative;

}

.clndr .clndr_days .clndr_days_grid .day.next-month,

.clndr .clndr_days .clndr_days_grid .day.last-month {

	color: #bbb;

}

.clndr .clndr_days .clndr_days_grid .day > span {

	display: inline-block;

	font-size: 15px;

	line-height: 36px;

	height: 38px;

	width: 38px;

	border-radius: 50%;

	border: 1px solid transparent;

}

@media only screen and (max-width: 479px) {

	.clndr .clndr_days .clndr_days_grid .day > span {

		font-size: 14px;

		line-height: 32px;

		width: 32px;

		border-radius: 16px;

	}

}

.clndr .clndr_days .clndr_days_grid .day.today > span {

	background: #7cb342;

	color: #fff;

}

.clndr .clndr_days .clndr_days_grid .day.event {

	cursor: pointer;

}

.clndr .clndr_days .clndr_days_grid .day.event > span {

	border-color: rgba(0, 0, 0, 0.12);

}

.clndr .clndr_days .clndr_days_grid .day.event.today > span {

	border-color: transparent;

}

.clndr .clndr_events {

	position: absolute;

	top: 0px;

	bottom: 0;

	right: 0;

	width: 240px;

	background: #fff;

	overflow-x: hidden;

	overflow-y: auto;

	padding: 16px;

	margin-right: -240px;

	-webkit-transition: margin 280ms cubic-bezier(0.4, 0, 0.2, 1);

	transition: margin 280ms cubic-bezier(0.4, 0, 0.2, 1);

	border-left: 1px solid rgba(0, 0, 0, 0.12);

}

.clndr .clndr_events .clndr_event {

	padding: 8px 0;

	display: none;

}

.clndr .clndr_events .clndr_event > a {

	display: inline-block;

	color: #212121;

}

.clndr .clndr_events .clndr_event .clndr_event_more_info,

.clndr .clndr_events .clndr_event .clndr_event_title {

	display: block;

}

.clndr .clndr_events .clndr_event .clndr_event_more_info {

	margin: 0;

	font-size: 12px;

	color: #999;

}

.clndr_event > a:hover,

.clndr_event > a:active {

	text-decoration: none;

}

.clndr .clndr_events .clndr_event .clndr_event_title {

	font-size: 14px;

	font-weight: 500;

}

.clndr .clndr_events .clndr_events_close_button {

	position: absolute;

	top: 6px;

	right: 6px;

	cursor: pointer;

}

.clndr-wrapper.animated_change .clndr_days {

	-webkit-transform: translateY(80%);

	transform: translateY(80%);

	opacity: 0;

}

.events_visible .clndr .clndr_days {

	margin-right: 240px;

}

.events_visible .clndr .clndr_days .day-active > span {

	border-color: #2196f3 !important;

	box-shadow: 0 0 0 1px #2196f3;

}

.events_visible .clndr .clndr_events {

	margin-right: 0;

}

.events_over.events_visible .clndr .clndr_days {

	margin-right: 0;

}

.events_over.events_visible .clndr_events {

	box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.26);

	z-index: 5;

	border-left-color: transparent;

}

.peity_data {

	display: none;

}

/* */



.overflow_scroll {

	overflow: scroll !important;

}

.display_block {

	display: block !important;

}

.simba_opportunity_map_bootbox .slick-next {

	right: 0px;

	z-index: 9999;

}

.simba_opportunity_map_bootbox .slick-prev {

	left: 0px;

	z-index: 9999;

}

.simba_opportunity_map_bootbox .slick-next,

.simba_opportunity_map_bootbox .slick-prev {

	height: 30px;

	width: 20px;

}

.simba_opportunity_map_bootbox .slick-next:before {

	content: "\f054";

}

.simba_opportunity_map_bootbox .slick-prev:before {

	content: "\f053";

}

.simba_opportunity_map_bootbox .slick-next:before,

.simba_opportunity_map_bootbox .slick-prev:before {

   font-family: FontAwesome;

   color: #000;

   font-size: 30px;

}



.simba_opp_bootbox_info {

	font-size: 16px;

}

.position_relative {

	position: relative;

}

.absolute_top_right_0 {

	position: absolute;

	top: 0;

	right: 0;

	opacity: 1;

}

.marker_arrow_down {

	width: 0; 

	height: 0; 

	border-left: 5px solid transparent;

	border-right: 5px solid transparent;

	border-top: 8px solid #F64C2A;

	margin-left: 22px;

}

.simba_marker {

    border-radius: 5px;

    background: #F64C2A;

    padding: 5px; 

    display: inline-block;

    color: #FFF;

}

ng-map {

	width: 100%;

  	height: 100% !important;

}

img.simba_slider_bottom_image {

	max-height: 60px;

	display: block;

	margin: 0px auto;

	max-width: 100%;

}

img.simba_popup_slider_img {

	margin: 0px auto;

	display: block;

	max-height: 250px;

}

.simba_map_marker_remove {

	display: block !important;

	color: #FFFFFF;

	text-decoration: underline;

}

table.subject_property {

	margin-top: 0px !important;

	border: none !important;

}

.subject_property thead {

	display: none;

}

#rental_subject_property_wrapper .dataTables_scroll,

#sale_subject_property_wrapper .dataTables_scroll {

	margin-bottom: 0px;

}

.overflow_x_scroll {

	overflow-x: scroll !important;

}

.closing_mapview_responsive_icon {

	cursor: pointer;

}

.padding-0 {

	padding: 0px !important;

}

.simba_closings_map_popup .bootbox-close-button {

	right: 5px;

	top: -10px;

}

.simba-slick-for .slick-list {

	height: auto !important;

}

.simba-slick-for .slick-dots {

	display: none;

}

.simba_opportunity_map_bootbox .slick-list {

	height: auto !important;

}

.simba_page_sidebar {

	z-index: 9990;

}
.simba_form_agreement .control-label.has-error {
	display: none;
}
.valign_top {
	vertical-align: top !important;
}
.simbanic_closings_visit_dialog .control-label,
.simbanic_opportunities_visit_dialog .control-label,
.simbanic_opportunities_evaluator_dialog .control-label {
	padding-left: 10px;
	padding-right: 10px;
}
.simbanic_closings_finance_dialog .modal-dialog.modal-lg,
.simbanic_opportunities_finance_dialog .modal-dialog.modal-lg,
.simbanic_opportunities_evaluator_dialog .modal-dialog.modal-lg {
	max-width: 540px;
}
#subpanel_documents tbody tr td,
#subpanel_notes tbody tr td {
	vertical-align: middle;
}
#subpanel_notes tbody tr td:nth-child(2) {
	text-align: center;
}
.bootbox-close-button.close{
	opacity: 1;
}
.simba_task_calendar .fc-event.incomplete{
	background-color: green;
	border: 1px solid green;
}
#listview_tasks .md-checkbox,
#subpanel_tasks .md-checkbox {
	display: inline-block !important;
}
#listview_tasks tbody > tr > td:first-child,
#subpanel_tasks tbody > tr > td:first-child {
	vertical-align: middle;
	text-align: center;
}
#listview_tasks .md-checkbox > label,
#subpanel_tasks .md-checkbox > label {
	display: block;
    height: 20px;
    margin: 0;
    padding: 0;
    width: 20px;
}
.ui-select-match-item .ui-select-match-close {
	margin: 0 !important;
}
#simbanic_dashboard .simba_widget_section1 .widget-thumb-icon {
	font-size: 30px;
}
/*.closings_contact_opportunities .ui-select-container ul.ui-select-choices li > div {
	padding: 10px;
}*/
.popover-content > p {
	display: none;
}
.popover-content > .row div:first-child {
	padding-right: 0px;
}
.popover-content > .row div:first-child .btn {
	border-top-right-radius: unset;
	border-bottom-right-radius: unset;
}
.popover-content > .row div:nth-child(2) {
	padding-left: 0px;
}
.popover-content > .row div:nth-child(2) .btn {
	border-top-left-radius: unset;
	border-bottom-left-radius: unset;
}
.popover {
	z-index: 9999;
}
.ui-select-search,
.select2-search-field {
	width: 100% !important;
}
.simba_widget_section2 table tbody tr td:last-child {
	text-align: center;
}
.simba_widget_section2 ul.nav.nav-tabs li a {
	padding: 4px 10px;
}
.simba_widget_section2 ul.nav.nav-tabs li.active a {
	background-color: #32c5d2;
	color: #FFF;
}
.simba_iframe_dashlet p,
.simba_iframe_dashlet hr {
	margin: 5px 0px;
}
.simba_iframe_dashlet h4 {
	font-size: 16px;
}
.simba_iframe_dashlet .media {
	margin-top: 5px;
}
/*.simba_chats_dashlet .mt-comment-img .btn {
	padding: 7px 9px;
}*/
.simba_chats_dashlet .mt-comment-img i {
	font-size: 16px;
}
#simbanic_dashboard .dataTables_scroll .dataTables_scrollHead .dataTables_scrollHeadInner table {
	margin-bottom: 0px;
}
body.page-header-fixed > .dataTable {
	display: none;
}
.dashboard_select_location,
.dashboard_select_location .btn .filter-option {
	text-transform: uppercase;
}
.simba_widget_section3 .chats li .avatar {
	padding: 0px !important;
}
.simba_widget_section3 .chats li .avatar > i {
	font-size: 20px;
    top: 25%;
    line-height: 1;
    margin: 0px;
}
.simba_widget_section3 .chats li .name {
	font-size: 14px;
}
.simba_widget_section3 .chats li .datetime {
	color: #b8c3c7;
}
.text-underline {
	text-decoration: underline;
}
#opportunity_edit_form .form-group .control-label {
	padding-left: 5px;
	padding-right: 5px;
}
.fileinput-button {
	position: relative;
	overflow: hidden;
	display: inline-block;
}
.fileinput-button input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	-ms-filter: 'alpha(opacity=0)';
	font-size: 200px;
	direction: ltr;
	cursor: pointer;
}
.simba_flash_message {
	position: fixed;
	top: 100px;
	right: 20px;
	float: right;
	z-index: 9999;
}
#opportunity_cloud_form .form-group.has-error .help-block {
	color: #737373;
}
.nya-bs-select ul.dropdown-menu.inner {
	max-height: 314px;
    overflow-y: auto;
    min-height: 103px;
}
.simba_opportunity_neighbor_grade .text-value {
	font-size: 40px;
	line-height: 40px;
}
.simba_circle_container {
	display: table;
	width: 100%;
}
.simba_center_align {
	display: inline-block;
	text-align: center;
}
.simba_center_content {
	width: 120px;
	height: 120px;
	border-radius: 100px;
	display: table-cell;
	vertical-align: middle;
}
.bg-green-simba {
	background-color: #109619;
}
.bg-blue-simba {
	background-color: #3266CC;
}

.simba_legend .legend_name::before {
	content: "\f111"; 
	font-family: FontAwesome;
	padding-right: 5px;
}
.simba_legend .legend_name {
	font-size: 12px;	
}
#opportunity_neighborhood_data .portlet-body {
	overflow: hidden;
}
.estimator_budget {
	
}
.estimator_budget h4 {
	margin-top: 0px;
}
.estimator_budget .estimator_total {
	font-size: 30px;
    font-weight: 600;
    word-wrap: break-word;
}
.estimator_budget .estimator_sqft {
	font-size: 18px;
    font-weight: 600;
    word-wrap: break-word;
}
#opportunity_rehab_estimator tr.total td {
	font-size: 18px;
}
#opportunity_rehab_estimator table tr td {
	vertical-align: middle;
}
.distance_info_name {
	margin-left: 3px;
}
.distance_info_name, .distance_info_miles {
	font-size: 16px;
	font-weight: 600;
}
.distance_info_miles {
	padding-left: 0px;
}
.estimator_photos {
	display: inline-block;
}
.estimator_summary_row {
	padding: 10px 0px;
	border-bottom: 1px solid #e7ecf1;
}
.estimator_summary_row .text-right {
	word-wrap: break-word;	
}
#simbanic_comps_rental_trends table tr td,
#simbanic_comps_sales_trends table tr td {
	width: 50%;
}
#simbanic_comps_valuations .form-group .control-content {
	
}
#simbanic_comps_rental_trends table tr td:first-child, 
#simbanic_comps_sales_trends table tr td:first-child {
	text-transform: uppercase;
}
.simba_opportunity_detail_view .tabbable-line ul.nav-tabs li a {
	padding-left: 12px;
	padding-right: 12px;
}
.opportunityOfferForm .form-group .control-label {
	padding-left: 5px;
	padding-right: 0px;
	word-wrap: break-word;
}
.opportunityOfferForm .form-group .form-inline .editable-controls {
	margin-left: 0px;
	margin-right: 0px; 
}
.opportunityOfferForm .input-group .form-control {
	border-top-right-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
}
.opportunityOfferForm .input-group {
	margin-bottom: 12px;
}
#opportunity_review_an_offer .form-group .control-label {
	padding-left: 0px;
	padding-right: 0px;
}
#opportunity_review_an_offer .opportunityOfferForm .form-body .row > div {
	overflow: hidden;
}
#opportunity_financials .widget-thumb-icon {
    height: 40px;
    width: 40px;
    padding: 0px;
    margin-right: 10px;
}
#opportunity_financials .widget-thumb-body > span {
	font-size: 14pt;
	float: left;
	color: #3e4f5e;
	font-weight: 600;
}
#opportunity_financials .widget-thumb {
	padding: 20px 15px;
}
#opportunity_financials .widget-thumb-wrap {
	display: table;
}
#opportunity_financials .widget-thumb-body {
	display: table-cell;
	vertical-align: middle;
}
#opportunity_financials .text_to_link > a {
	float: left;
	margin-right: 5px;
}
#opportunity_financials .text_to_link > i {
	float: left;
	margin-top: 4px; 
}
.simba_title_tooltip {
	height: 15px;
    width: 15px;
    text-align: center;
    text-transform: none;
    padding: 2px 0px;
    line-height: inherit !important;
    font-size: 9px;
    background: none !important;
    border-color: #bcc5d4 !important;
    margin-top: -15px;
    margin-left: 5px;
}
.padding-right-0 {
	padding-right: 0px;
}
.simba_radio_switch .btn-group .btn {
	border-radius: 4px !important;
	color: #666;
	background-color: #e1e5ec;
	border-color: #e1e5ec; 
}
.border-bottom {
	border-bottom: 1px solid #EEE;
}
.padding-bottom-15 {
	padding-bottom: 15px;
}
.datepicker table tr td.today {
	background-color: inherit;
	font-weight: bold !important;
}
.datepicker table tr td.today:hover {
	background-color: inherit;
}
.bold_control_label .form-group .control-label {
	font-weight: 600;
}
.table_first_td_bold td:first-child {
	font-weight: 600;	
}
.form_group_overflow .form-group {
	display: inline-block;
    width: 100%;
}
.simba_tooltip {
	width: 12px;
    height: 12px;
    display: block;
    border: 1px solid;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    font-size: 8px;
    line-height: 10px;
    text-decoration: none;
    border-color: #bcc5d4;
    color: #bcc5d4 !important;
    cursor: pointer;
}
#opportunity_financials .simba_tooltip {
	margin-left: 4px;
}