@media only screen and (max-width: 480px) {
	/* Only Mobile Landscape */

	.simba_element_step .step-thin .mt-step-title {
	    font-size: 10px;
	    margin-top: 4px;
	    padding-left: 25px;
	}
	.simba_element_step .step-thin .mt-step-number {
		padding: 3px 8px;
	}
	.contact_detail .contact_name {
		font-size: 18px;
	}

}

@media (min-width: 992px) {
	.simbanic_opp_map_bootbox .modal-lg {
    	width: 650px;
    }
}

@media (max-width: 360px) {
	/* Mobile Portrait  */
	.simbanic_nav_tabs .nav > li > a {
	    padding: 10px 5px;
	}

	.closing_detail_buttons > .col-xs-3 {
		padding-left: 5px;
		padding-right: 5px;
	}

	.simba_element_step .step-thin .mt-step-title {
		clear: both;
	    font-size: 10px;
	    margin: 0;
	    padding: 5px 0 0;
	}

	.closing_property_header {
		font-size: 11pt;
	}
	.closing_head_value {
		font-size: 9pt;
		font-weight: 700;
	}
	.simba_responsive_tabs > ul.nav-tabs > li > a {
		padding: 10px 6px !important;
		font-size: 10px;
	}
	#simba_ul_responsive_tabs > li > a {
		padding: 10px 6px;
		font-size: 12px;
	}
}

@media only screen and (min-width: 640px)  {
	/* */
	.closings_list_info {
		margin-top: 25px;
	}
}

@media only screen and (min-width : 1200px) {
	/**/
	.closing_detail_buttons {
		min-height: 100px;
		padding-top: 20px;
	}
	.closing_detail_buttons > div {
		padding-left: 8px;
		padding-right: 8px;
	}
	
}

@media only screen and (min-width : 1599px) {
	/**/
	.closing_detail_buttons {
		padding-top: 10px;
	}
	.closing_detail_buttons .simba_icon_btn > i {
		font-size: 20px;
	}
	.closing_detail_buttons .simba_icon_btn > div {
	    font-size: 16px;
	}
	.closing_detail_buttons .simba_icon_btn {
		min-width: 90%;
		height: 70px;
	}
	
}

@media screen\9 {
	.fileinput-button input {
		filter: alpha(opacity=0);
		font-size: 100%;
		height: 100%;
	}
}