<ul class="page-breadcrumb breadcrumb" >
    <li>
        <a href="#/dashboard.html">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span class="active">{{ $state.current.data.pageTitle }}</span>
    </li>
</ul>
<div id="simba_list_view">
    <div  >
        <div class="row" >
            <div class="col-lg-12 col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject bold font-green uppercase">
                                List View
                            </span>
                        </div>
                        <div class="tools">
                            <button style="width: 100px;" class="btn green btn-outline " type="button"  >
                                จันทร์
                            </button>
                            <button style="width: 100px;" class="btn green btn-outline" type="button" >
                                อังคาร
                            </button>
                            <button style="width: 100px;" class="btn green btn-outline " type="button"  >
                                พุธ
                            </button>
                            <button style="width: 100px;" class="btn green btn-outline" type="button" >
                                พฤหัสบดี
                            </button>
                            <button style="width: 100px;" class="btn green btn-outline " type="button"  >
                                ศุกร์
                            </button>
                            <button style="width: 100px;" class="btn green btn-outline" type="button" >
                                เสาร์
                            </button>
                            <button style="width: 100px;" class="btn green btn-outline" type="button" >
                                อาทิตย์
                            </button>

                            <a href="" class="fullscreen"> </a>
                            <a class="collapse" href="javascript:;" data-original-title="" title=""> </a>

                        </div>
                    </div>

                    <div class="portlet-body">
                        <table ng-simba-route-planning class="table table-striped table-bordered table-hover dt-responsive listview_opportunities" width="100%" id="listview_opportunities" on-edit="routePlanningViewModals(updatedName)">
                            <thead>
                                <tr>
                                    <th class="">Id</th>
                                    <th class="">Name</th>
                                    <th class="">Type</th>
                                    <th class="">#Truck Plate No.</th>
                                    <th class="">Driver</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
