%li
  .pin_comment
    .pin_description_comment
      .comment_name_comment_text
        .comment_wrapper
          .comment_description_creator= "#{note.user.try(:name) rescue nil} on #{note.created_at.strftime('%m/%d/%Y at %H:%M')}"
        %p.comment_description_content= note.content
        .clear