%h4= "Contacts and Notes"
-# =debug(@property._overrides)
.row{:style => "height:550px;"}
  .span9
    = simple_form_for([@market, @property], url: save_comment_resource_url, method: :post) do |f|
      .span35{:style => "margin-left: 20px; height: 400px;"}  
        - for attr in %w{owner_name owner_street_address owner_city owner_state owner_zip_code owner_zip_4 owner_phone owner_email }
          = f.input attr, input_html: {style: 'width: 130px'}
      .span35{:style => "margin-left: 20px; height: 400px;"}
        - for attr in %w{list_price offer_price owner_estimated_loan_balance mortgagee listing_agent_phone listing_agent_name listing_agent_email lock_box_code } 
          - if attr.in? ["list_price","offer_price"]
            = f.input attr, as: :money_wo_decimal,  input_html: {style: 'width: 130px'}
          - else
            = f.input attr,  input_html: {style: 'width: 130px'}
      .controlbar
        .container
          .form-actions.clear
            =f.button :submit, t(".override_changes"), :disable_with => t('wait')
            =link_to t(:cancel), resource_url, class: 'btn btn-link'
        - if @market.id == 9
          .blocktext
            .aleft
              = image_tag("fmls_logo.jpg")
            .span13{ :style => "float: left; width: 480px; margin-left: 10px" }= "Listing content provided by FMLS and deemed reliable but not guaranteed." 
            .fmls_bottom{:style => "clear:both; text-align: center;" }= "©2014 First Multiple Listing Service, Inc.​"
  .span3{:style => "margin-left: 10px;" }
    = simple_form_for([@market, @property], url: save_comment_resource_url, method: :post, observe: true, remote: true) do |f|
      .comment_small_gap
        %span.small_title Notes
      .comment_large_gap
        = f.fields_for @property.notes.build do |n|
          = n.text_area :content, :cols => "40", :rows => "3", :style => "width: 268px; margin-left: 0px"
          .comment_tiny_gap 
        = f.button :submit, "Add Note", :disable_with => t('wait'), :style => "margin-left: 0px"
        .comment_tiny_gap 
        #comment_list     
          .comment_container
            %ul.list_module
              - note_list = @property.notes.select {|n| !n.new_record?}
              - if note_list.length > 0
                - for note in note_list
                  = render :partial => 'note', :locals => {:note => note }                               
                     
      
      
             