= simple_form_for([@market, @property], url: recompute_resource_url, method: :post, observe: true) do |f|
  %h5.well= t(:comparables).upcase
  = #@proforma.errors.full_messages
  .row
    .span6          
      %table.table.table-bordered
        %thead.align-center
          %tr          
            %th.align-center.span1-5 
              = f.fields_for :config do |c|
                = c.hidden_field :category, :value => @category
            %th.align-center.span1-5{:style => @comp_level == 'expanded' ? "background-color: #99CCFF" : "" } Expanded (A-C)
            %th.align-center.span1-5{:style => @comp_level == 'moderate' ? "background-color: #99CCFF" : "" } Moderate (A-B)
            %th.align-center.span1-5{:style => @comp_level == 'conservative' ? "background-color: #99CCFF" : "" } Conservative (A)
        %tbody
          %tr
            %th= "Top Tier AVM"
            - for attr in [:expanded_avm, :moderate_avm, :conservative_avm]
              %td.align-right{:style => @comp_level == attr.to_s.split("_")[0] ? "background-color: #99CCFF" : "" }= @stats.format("#{attr}", as: :money)
          %tr
            %th= "Top Tier Sq Ft"
            - for attr in [:expanded_sale_price, :moderate_sale_price, :conservative_sale_price]
              %td.align-right{:style => @comp_level == attr.to_s.split("_")[0] ? "background-color: #99CCFF" : "" }= @stats.format("#{attr}_psf", as: :money_w_two_decimal)
          %tr
            %th= "Med-Max Range"
            - for attr in [:expanded, :moderate, :conservative]          
              %td.align-right{:style => @comp_level == attr.to_s.split("_")[0] ? "background-color: #99CCFF" : "" }= [@stats.format("#{attr}_avm_mean", as: :money_wo_decimal, custom_empty_value: ""),' - ',@stats.format("#{attr}_avm_max", as: :money_wo_decimal, custom_empty_value: "" )].join("")
          %tr
            %th= "Med-Max PSFT Range"
            - for attr in [:expanded, :moderate, :conservative]          
              %td.align-right{:style => @comp_level == attr.to_s.split("_")[0] ? "background-color: #99CCFF" : "" }= [@stats.format("#{attr}_sale_price_psf_mean", as: :money_w_two_decimal, custom_empty_value: ""),' - ',@stats.format("#{attr}_sale_price_psf_max", as: :money_w_two_decimal, custom_empty_value: "")].join("")
          - if @category == :sale
            %tr
              %th= "Max Sold Price"
              - for attr in [:expanded, :moderate, :conservative]          
                %td.align-right{:style => @comp_level == attr.to_s.split("_")[0] ? "background-color: #99CCFF" : "" }=  @stats.format("#{attr}_sale_price_max", as: :money)

      %br
      %table.table.table-bordered 
        %thead.align-center
          %tr          
            %th.align-center.span1-5 &nbsp;
            %th.align-center.span1-5 Price
            %th.align-center.span1-5 Sq Ft
        %tbody
          %tr
            %th= "#{@comp_level.capitalize} Top Tier AVM"
            %td.align-right= @stats.format("#{@comp_level}_avm", as: :money)
            %td.align-right= @stats.format("#{@comp_level}_sale_price_psf", as: :money_w_two_decimal)
          %tr
            %th= "User Comps"
            %td.align-right{:style => "padding: 4px 5px 4px 0px"}
              = f.simple_fields_for @proforma do |r|
                = r.definitions2 do |d|
                  =d.row4 "comparables_user_avm_#{@category}".to_sym, label: 'User Comps', editable: true, as: :money_wo_decimal
            %td.align-right{:style => "padding: 4px 5px 4px 0px"}
              = f.simple_fields_for @proforma do |r|
                = r.definitions2 do |d|
                  =d.row4 "comparables_user_sale_price_psf_#{@category}".to_sym, label: 'User Comps', editable: true, as: :decimal_w_two_decimal
          %tr
            - if @category == :sale
              %th= "Estimated Resale"
            - else
              %th= "Estimated Rent"
            %td.align-right{:style => "padding: 4px 5px 4px 0px"}

              = f.simple_fields_for @proforma do |r|
                = r.definitions2 do |d|
                  
                  =d.row3  @category == :sale ? :sale_income_user_estimated_resale : :rental_income_user_estimated_rent, label: 'Estimated Resale', editable: true, as: :money_wo_decimal
                 
            %td.align-right &nbsp;
        
        
        
         
         
            
    .span6
      .row
        .span2
          =definitions_for(@stats, caption: t(:stats)) do |d| 
            -[:active_count, :pending_count, :sold_count, :terminated_count, :withdrawn_count, :expired_count].each do |attr|
              =d.row attr, as: :integer
        .span2
          = definitions_for(@stats, caption: t(:absorption_rate)) do |d|
            = d.rows :timeframe, :sold_homes, :active_homes
            = d.rows :absorption_rate, as: :decimal          
            %tr
              %td.align-left.title
                %label{:for => "market"} Market
              %td.item.align-right Seller
            = d.row "#{@comp_level}_sale_price_to_list_price_mean".to_sym, label: "Median Sale to List", as: :percent_wo_decimal
            = d.row "#{@comp_level}_dom_mean".to_sym, fixed_label: "Median DOM", as: :integer
            - if @category == :sale
              = d.row "#{@comp_level}_list_price_to_avm".to_sym, fixed_label: "List to Top AVM", as: :percent_wo_decimal
            - else
              %tr
                %td.align-left.title
                  %label{:for => "#{@comp_level}_list_price_to_avm"} List to Top AVM
                %td.item.align-right N/A
        .span2
          = definitions_for2(@stats, caption: t(:zillow)) do |d|
            =d.row :zestimate, as: :money
            =d.row :zestimate_psf, as: :decimal           
          = definitions_for2(@property) do |d|
            =d.row :comps_updated_at
  
  %h5.well= "Subject Property"
  .row
    .span12
      = render 'new_comps_properties', data: @subject_property, coordinate: {lat: @property.latitude, long: @property.longitude }, comp_grades: @property.send("comps_#{@category}_stats")[:comp_grades], comps: @property.send("comps_#{@category}_stats")[:comps], columns: current_user.preferences.columns_comps, anchor: 'data'
  %h5.well= "Comparable Properties"
  .row
    .span12
      = render 'new_comps_properties', data:  @comp_properties, coordinate: {lat: @property.latitude, long: @property.longitude }, comp_grades: @selected_comp_grades, comps: @selected_comps, columns: current_user.preferences.columns_comps, anchor: 'data', refine: f, proforma: @proforma
  %h5.well= "Other Properties"
  .row
    .span12
      = render 'new_comps_properties', data: @non_comp_properties, coordinate: {lat: @property.latitude, long: @property.longitude }, comp_grades: @stats_comp_grades, comps: @stats_comps, columns: current_user.preferences.columns_comps, anchor: 'data'
  %br
  .controlbar
    .container
      .form-actions
        -#
          - if can? :recompute, @property
          =form_for(:recompute, url: recompute_resource_url) do |f|
        =f.button :submit, t(".save"), :disable_with => t('wait')
        =f.submit t(:recompute), class: 'btn btn-warning', :disable_with => t('wait')
        =f.submit :restore, :name => :restore, :value => t(:restore), :type => :submit, :class => 'btn btn-primary'

    - if @market.id == 9 
      .blocktext
        .aleft
          = image_tag("fmls_logo.jpg")
        .span13{ :style => "float: left; width: 480px; margin-left: 10px" }= "Listing content provided by FMLS and deemed reliable but not guaranteed." 
        .fmls_bottom{:style => "clear:both; text-align: center;" }= "©2014 First Multiple Listing Service, Inc.​"
    