%h4= t(:edit)
=debug(@property._overrides)
.row{:style => "height:550px;"}
  = simple_form_for([@market, @property]) do |f|
   
    .span4
      - for attr in %w{street_address city zip legal_subdivision subdivision subdivision_section_number county lock_box_code}
        = f.input attr
    .span4
      - if @property.category == 'rental'
        - edit_fields = %w{beds bathrooms square_feet lot_square_feet year_built list_price sold_lease_price}
      - else
        - edit_fields = %w{beds bathrooms square_feet lot_square_feet year_built list_price sold_price}
      - for attr in edit_fields
        = f.input attr
    .span4
      - for attr in %w{category rental_class rental_type single_family_type mls_area_name geo_market_area selling_for_lot_value pool_private}
        = f.input attr
    .controlbar
      .container
        .form-actions
          =f.button :submit, t(:override_changes), :disable_with => t('wait')
          =link_to t(:cancel), resource_url, class: 'btn btn-link'
      - if @market.id == 9
        .blocktext
          .aleft
            = image_tag("fmls_logo.jpg")
          .span13{ :style => "float: left; width: 480px; margin-left: 10px" }= "Listing content provided by FMLS and deemed reliable but not guaranteed." 
          .fmls_bottom{:style => "clear:both; text-align: center;" }= "©2014 First Multiple Listing Service, Inc.​"
  %br  
  


