= simple_form_for(@proforma, url: save_proforma_resource_url, method: :post, observe: true) do |f|
  
  .tabbable
    %ul.nav.nav-tabs
      - [:summary, :assumptions, :sale, :rental, :builder, :rental_resale, :seller_finance, :assignment, :listing, :listing_partnership].each do |key|
        =tab_item t(key), "##{key}"
    .tab-content
      .tab-pane.active#summary
        .row
          .span4
            = f.definitions(caption: t(:summary_sale), label_type: :context, columns: 3) do |d|
              =d.rows %w{comparables_avm_sale sale_income_sale_price sale_financing_purchase_price sale_financing_renovation_price sale_output_total_expenses sale_output_ltv}
              =d.row :sale_output_pre_tax_roi, :sale_output_pre_tax_roi_ratio, :sale_output_pre_tax_roi_amount 
              =d.row :sale_output_pre_tax_roe_ratio
              =d.row :sale_output_max_renovation, :sale_output_max_renovation_ratio, :sale_output_max_renovation_amount
              =d.row :sale_output_max_purchase, :sale_output_max_purchase_ratio, :sale_output_max_purchase_amount 
            = f.definitions(caption: t(:summary_rental_resale), label_type: :context, columns: 3) do |d|
              =d.rows %w{comparables_avm_rental_resale renovation_rental_resale_cost rental_resale_output_sale_price rental_resale_output_purchase_expense rental_resale_output_investor_cap_rate}
              =d.row %w{rental_resale_output_pre_tax_roi rental_resale_output_pre_tax_roi_ratio rental_resale_output_pre_tax_roi_amount}
              =d.row :rental_resale_output_pre_tax_roe_ratio 
              =d.row %w{rental_resale_output_max_renovation rental_resale_output_max_renovation_ratio rental_resale_output_max_renovation_amount}
              =d.row %w{rental_resale_output_max_purchase rental_resale_output_max_purchase_ratio rental_resale_output_max_purchase_amount}
            
            = f.definitions(caption: t(:summary_listing), label_type: :context, columns: 3) do |d|
              =d.rows %w{listing_output_sale_price listing_output_total_expenses listing_output_pre_tax_roi_amount listing_output_post_tax_roi_amount}
          .span4
            = f.definitions(caption: t(:summary_rental), label_type: :context, columns: 3) do |d|
              =d.rows %w{comparables_avm_rental rental_income_monthly_gross_rent comparables_avm_rental_sale rental_income_sale_price_current rental_output_purchase_expense rental_output_renovation_expense} 

              =d.row %w{rental_output_total_pre_lease_up_expenses}, fixed_label: "Total Expense"
              =d.rows %w{rental_output_cap_rate  rental_output_gross_yield rental_output_ltv}

              =d.row %w{rental_output_dscr}, as: :decimal_w_two_decimal
              =d.row :rental_output_noi_desc, :rental_output_noi_ratio, :rental_output_noi 
              =d.row :rental_output_avg_cash_yield, :rental_output_avg_cash_yield_ratio, :rental_output_avg_cash_yield_amount
              =d.row %w{rental_output_pre_tax_roi rental_output_pre_tax_roi_ratio rental_output_pre_tax_roi_amount}
              =d.row :rental_output_pre_tax_roe 
              =d.row %w{rental_output_max_renovation rental_output_max_renovation_ratio rental_output_max_renovation_amount}
              =d.row %w{rental_output_max_purchase rental_output_max_purchase_ratio rental_output_max_purchase_amount}
            = f.definitions(caption: t(:summary_seller_finance), label_type: :context, columns: 3) do |d|
              =d.rows %w{comparables_avm_seller_finance renovation_seller_finance_cost seller_finance_output_sale_price seller_finance_output_purchase_price seller_finance_output_cap_rate}
              =d.row %w{seller_finance_output_pre_tax_roi seller_finance_output_pre_tax_roi_ratio seller_finance_output_pre_tax_roi_amount}
              =d.row :seller_finance_output_pre_tax_roe_ratio 
              =d.row %w{seller_finance_output_max_purchase seller_finance_output_max_purchase_ratio seller_finance_output_max_purchase_amount}
              =d.row %w{seller_finance_output_max_renovation seller_finance_output_max_renovation_ratio seller_finance_output_max_renovation_amount}
            
          .span4
            = f.definitions(caption: t(:summary_builder), label_type: :context, columns: 3) do |d|
              =d.rows %w{comparables_avm_build build_income_sale_price build_expenses_purchase_price build_financing_total_build_cost build_output_total_expenses}               
              =d.row %w{build_output_pre_tax_roi build_output_pre_tax_roi_ratio build_output_pre_tax_roi_amount}
              =d.row :build_output_pre_tax_roe_ratio 
              =d.row %w{build_output_max_build build_output_max_build_ratio build_output_max_build_amount}
              =d.row %w{build_output_max_purchase build_output_max_purchase_ratio build_output_max_purchase_amount}
              
            = f.definitions(caption: t(:summary_assignment), label_type: :context, columns: 3) do |d|
              =d.rows %w{assignment_output_sale_price assignment_output_acquisition_price assignment_income_investor_arv_sale_ltv assignment_output_pre_tax_roi_amount}
              =d.row %w{assignment_output_max_renovation assignment_output_max_renovation_ratio assignment_output_max_renovation_amount}
              =d.row %w{assignment_output_max_purchase assignment_output_max_purchase_ratio assignment_output_max_purchase_amount}
            = f.definitions(caption: t(:summary_listing_partnership), label_type: :context, columns: 3) do |d|
              =d.rows %w{comparables_avm_listing_partnership renovation_sale_listing_partnership_cost listing_partnership_output_sale_price listing_partnership_output_purchase_price}
              =d.row %w{listing_partnership_output_pre_tax_roi listing_partnership_output_pre_tax_roi_ratio listing_partnership_output_pre_tax_roi_amount}
              =d.row :listing_partnership_output_pre_tax_roe_ratio 
              =d.row %w{listing_partnership_output_max_renovation listing_partnership_output_max_renovation_ratio listing_partnership_output_max_renovation_amount}
              =d.row %w{listing_partnership_output_max_purchase listing_partnership_output_max_purchase_ratio listing_partnership_output_max_purchase_amount}
            
      .tab-pane#assumptions
        .row
          .span4
            = f.definitions(caption: t(:assumptions_purchase), label_type: :context) do |d|
              = d.rows %w{purchase_price}, as: :money_wo_decimal, editable: true
              = d.rows %w{purchase_date purchase_commission purchase_annual_appreciation}, editable: true
            = f.definitions(caption: t(:assumptions_renovation)) do |d|
              = d.row %w{renovation_rental_hold_cost}, as: :money_wo_decimal, editable: true
              = d.row %w{renovation_rental_hold_weeks}, editable: true
              = d.row %w{renovation_rental_resale_cost}, as: :money_wo_decimal, editable: true
              = d.row %w{renovation_rental_resale_weeks}, editable: true
              = d.row %w{renovation_seller_finance_cost}, as: :money_wo_decimal, editable: true
              = d.row %w{renovation_seller_finance_weeks}, editable: true

              = d.row :renovation_build_cost, as: :money_wo_decimal, editable: true


              = d.row %w{renovation_build_weeks}, editable: true
              = d.rows %w{renovation_assignment_cost renovation_sale_listing_partnership_cost}, as: :money_wo_decimal, editable: true
              
              = d.rows %w{renovation_sale_listing_partnership_weeks}, editable: true
          .span4
            = f.definitions(caption: t(:assumptions_comparables)) do |d|
              = d.rows %w{comparables_avm_sale comparables_cdom_sale comparables_avm_rental comparables_cdom_rental comparables_avm_rental_sale comparables_cdom_rental_sale comparables_avm_rental_resale comparables_cdom_rental_resale comparables_avm_seller_finance comparables_cdom_seller_finance comparables_avm_build comparables_cdom_build comparables_avm_listing comparables_cdom_listing comparables_avm_listing_partnership comparables_cdom_listing_partnership comparables_avm_wholesale comparables_cdom_wholesale}, editable: false
          .span4
            = f.definitions(caption: t(:assumptions_carrying), label_type: :context) do |d|
              = d.rows %w{carrying_expenses_property_taxes}, as: :money_wo_decimal, editable: true
              = d.row %w{carrying_expenses_insurance}, as: :money_wo_decimal, editable: true
              = d.rows %w{carrying_expenses_maintenance carrying_expenses_utilities}, as: :money_wo_decimal, editable: true
              = d.row %w{carrying_expenses_annual}, as: :money_wo_decimal
            = f.definitions(caption: t(:assumptions_tax), label_type: :context) do |d|
              = d.rows %w{tax_rate_company_marginal tax_rate_investor_marginal tax_rate_capital_gains_rate tax_rate_improvement_ratio tax_rate_years_depreciation}, editable: true
            
      .tab-pane#sale
        .row
          .span6
            = f.definitions(caption: t(:sale_income), label_type: :context, columns: 3) do |d|
              = d.rows %w{sale_income_completion_date sale_income_sale_date}, editable: true

              = d.row %w{comparables_avm_sale}, editable: false
              = d.row %w{sale_income_sale_price}, as: :money_wo_decimal, editable: true
              = d.row %w{sale_financing_commission_credit_rate sale_financing_commission_credit}, editable: true
              

            = f.definitions(caption: t(:sale_expenses), label_type: :context, columns: 3) do |d|
              = d.rows %w{sale_financing_purchase_price sale_financing_renovation_price}, as: :money_wo_decimal, editable: true
              = d.row %w{sale_expenses_total_price}, editable: false
              = d.rows %w{sale_expenses_realtor_fees_closing_expense}, editable: true
              = d.rows %w{sale_expenses_seller_contributions}, as: :money_wo_decimal, editable: true
              
            = f.definitions(caption: t(:sale_financing), label_type: :context, columns: 3) do |d|
              = d.rows %w{sale_financing_loan}, editable: true
              = d.row %w{sale_financing_total_price}, editable: false
              = d.row %w{sale_financing_down_payment_purchase_rate sale_financing_down_payment_purchase}, editable: true
              = d.row %w{sale_financing_down_payment_renovation_rate sale_financing_down_payment_renovation}, editable: true
              = d.row %w{sale_financing_total_available_rate sale_financing_total_available}, editable: true
              = d.rows %w{sale_financing_total_down_payment sale_financing_loan_amount}, editable: false
              = d.row %w{sale_financing_interest_rate}, editable: true
              = d.row %w{sale_financing_loan_points_rate sale_financing_loan_points}, editable: true
              = d.rows %w{sale_financing_term sale_financing_interest_only}, editable: true
              = d.row %w{sale_financing_closing_costs_rate sale_financing_closing_costs}, editable: true
              = d.rows %w{sale_financing_monthly_payment}, editable: false

          .span6
            = f.definitions(caption: t(:sale_output), label_type: :context, columns: 3) do |d|

              = d.rows %w{comparables_avm_sale sale_output_sale_price sale_output_sale_date sale_output_purchase_expense sale_output_renovation_expense sale_output_total_price sale_output_hold_weeks sale_output_carrying_expense sale_output_lending_expense sale_output_realtor_fees_closing_expense sale_output_seller_contributions sale_output_commission_credit sale_output_total_expenses sale_output_equity_contribution}, editable: false

            = f.definitions(caption: t(:sale_returns), label_type: :context, columns: 3) do |d|

              = d.rows %w{sale_output_ltv}, editable: false
              = d.row %w{sale_output_pre_tax_roi_ratio sale_output_pre_tax_roi_amount}, editable: false
              = d.row %w{sale_output_post_tax_roi_ratio sale_output_post_tax_roi_amount}, editable: false
              = d.rows %w{sale_output_pre_tax_roe_ratio sale_output_post_tax_roe_ratio}, editable: false
              %tr
                %td.align-left.title &nbsp;
                %td.item.align-right &nbsp;
                %td.item.align-right &nbsp;
              = d.row %w{sale_output_minimum_roi}, editable: true
              = d.row %w{sale_output_minimum_return}, as: :money_wo_decimal, editable: true
              = d.row %w{sale_output_max_renovation_ratio sale_output_max_renovation_amount}, editable: false
              = d.row %w{sale_output_max_purchase_ratio sale_output_max_purchase_amount}, editable: false
              

            
              
      .tab-pane#rental
        .row
          .span6
            = f.definitions(caption: t(:rental_income), label_type: :context, columns: 3, editable: true) do |d|
              = d.rows %w{rental_income_completion_date rental_income_lease_up_date}, editable: true
              = d.row %w{comparables_avm_rental_sale}, editable: false
              = d.row %w{rental_income_sale_price_current}, as: :money_wo_decimal, editable: true 
              = d.row %w{comparables_avm_rental}, editable: false 
              = d.row %w{rental_income_monthly_gross_rent} , as: :money_wo_decimal, editable: true
              = d.row %w{rental_income_annual_gross_rent}, as: :money_wo_decimal, editable: false
              = d.row %w{rental_income_other_income}, as: :money_wo_decimal, editable: true
              = d.row %w{rental_income_annual_vacancy_rate rental_income_annual_vacancy}, editable: true
              = d.row %w{rental_income_total_annual_income}, editable: false 
              = d.rows %w{rental_income_annual_rent_increase rental_income_years_to_sale}, editable: true
              = d.row %w{rental_financing_commission_credit_rate rental_financing_commission_credit}, editable: true

              
            = f.definitions(caption: t(:rental_expenses), label_type: :context, columns: 3, editable: true) do |d|
              = d.rows %w{rental_output_purchase_expense rental_output_renovation_expense}, as: :money_wo_decimal, editable: true 
              = d.row %w{rental_expenses_total_price }, editable: false
              = d.rows %w{rental_expenses_management_fee rental_expenses_repairs_maintenance rental_expenses_other rental_expenses_property_taxes rental_expenses_insurance}, as: :money_wo_decimal, editable: true
              = d.rows %w{rental_expenses_annual_expense_increase rental_expenses_sale_realtor_closing_expense}, editable: true
              = d.row %w{rental_expenses_seller_contributions}, as: :money_wo_decimal, editable: true



            = f.definitions(caption: t(:rental_financing), label_type: :context, columns: 3, editable: true) do |d|
              = d.rows %w{rental_financing_loan}, editable: true
              = d.row %w{rental_financing_total_price}, editable: false
              = d.row %w{rental_financing_down_payment_rate rental_financing_down_payment}, editable: true
              = d.row %w{rental_financing_available_rate rental_financing_available}, editable: true

              = d.rows %w{rental_financing_total_down_payment rental_financing_loan_amount}, editable: false
              = d.row %w{rental_financing_interest_rate}, editable: true
              = d.row %w{rental_financing_loan_points_rate rental_financing_loan_points}, editable: true 
              = d.rows %w{rental_financing_term rental_financing_interest_only}, editable: true 
              = d.row %w{rental_financing_closing_costs_rate rental_financing_closing_costs}, editable: true 
              = d.rows %w{rental_financing_monthly_payment}, editable: false

          .span6
            = f.definitions(caption: t(:rental_output), label_type: :context, columns: 3) do |d|
              = d.rows %w{rental_output_purchase}, editable: false, last_item_width: true
              = d.rows %w{rental_output_renovation rental_output_total_price rental_output_hold_weeks      rental_output_carrying_expenses rental_output_lending_expenses rental_output_commission_credit rental_output_total_pre_lease_up_expenses comparables_avm_rental rental_output_monthly_gross_rent rental_output_annual_income }, editable: false

              = d.row %w{rental_output_annual_operating_expenses_percent rental_output_annual_operating_expenses}, editable: false
              = d.row %w{ rental_output_annual_principal_interest }, editable: false
              = d.row %w{rental_output_total_annual_expenses_percent rental_output_total_annual_expenses}, editable: false 
              = d.row %w{rental_output_equity_contribution}, editable: false

            = f.definitions(caption: t(:rental_sale_output), label_type: :context, columns: 3) do |d|
              = d.rows %w{rental_output_projected_sale_date rental_sale_output_sale_price_current rental_output_loan_payoff rental_output_projected_sale_price rental_output_total_pre_lease_up_expenses rental_output_realtor_fees_closing_expense rental_output_seller_contributions rental_sale_output_total_sale_return}, editable: false



            = f.definitions(caption: t(:rental_returns), label_type: :context, columns: 3) do |d|
              = d.row %w{rental_output_noi_ratio rental_output_noi}, editable: false, last_item_width: true
              = d.row %w{rental_output_cash_yield_ratio rental_output_cash_yield_amount}, editable: false
              = d.row %w{rental_output_avg_cash_yield_ratio rental_output_avg_cash_yield_amount}, editable: false
              = d.rows %w{rental_output_cap_rate rental_output_gross_yield rental_output_ltv} , editable: false
              = d.row %w{rental_output_dscr}, as: :decimal_w_two_decimal, editable: false
              = d.row %w{rental_output_return_on_sale_ratio rental_output_return_on_sale_amount}, editable: false
              = d.row %w{rental_output_pre_tax_roi_ratio rental_output_pre_tax_roi_amount}, editable: false
              = d.row %w{rental_output_post_tax_roi_ratio rental_output_post_tax_roi_amount}, editable: false
              = d.rows %w{rental_output_pre_tax_roe}, editable: false
              %tr
                %td.align-left.title &nbsp;
                %td.item.align-right &nbsp;
                %td.item.align-right &nbsp;
              = d.row %w{rental_output_minimum_cap_rate}, editable: true
              = d.row %w{rental_output_max_renovation_ratio rental_output_max_renovation_amount}, editable: false
              = d.row %w{rental_output_max_purchase_ratio rental_output_max_purchase_amount}, editable: false
              
      
      .tab-pane#builder
        .row
          .span6
            = f.definitions(caption: t(:builder_income), label_type: :context, editable: true, columns: 3) do |d|
              = d.rows %w{build_income_completion_date build_income_sale_date}, editable: true
              = d.row %w{comparables_avm_build}, editable: false
              = d.row %w{build_income_sale_price}, as: :money_wo_decimal, editable: true 
              = d.row %w{build_financing_commission_credit_rate build_financing_commission_credit}, editable: true

            = f.definitions(caption: t(:builder_expenses), label_type: :context, editable: true, columns: 3) do |d|
              = d.row %w{build_expenses_purchase_price}   , as: :money_wo_decimal, editable: true
              = d.row %{build_financing_total_build_cost} , as: :money_wo_decimal, editable: true
              = d.row %{build_recommended_size}, as: :money_wo_decimal, editable: true
              = d.rows %w{build_cost_sq_ft build_expenses_total_price}, editable: false
              = d.rows %w{build_expenses_realtor_fees_closing_expense}, editable: true
              = d.row %w{build_expenses_seller_contributions}, as: :money_wo_decimal, editable: true

            = f.definitions(caption: t(:build_financing), label_type: :context, editable: true, columns: 3) do |d|
              = d.row %w{build_financing_loan}, editable: true
              = d.row %w{build_financing_total_price}, as: :money_wo_decimal, editable: true
              = d.row %w{build_financing_down_payment_rate build_financing_down_payment}, editable: true 
              = d.row %w{build_financing_total_available_rate build_financing_total_available}, editable: true
              = d.rows %w{build_financing_total_down_payment build_financing_loan_amount}, editable: false
              = d.row %w{build_financing_interest_rate}, editable: true
              = d.row %w{build_financing_loan_points_rate build_financing_loan_points}, editable: true
              = d.rows %w{build_financing_term build_financing_interest_only}, editable: true
              = d.row %w{build_financing_closing_costs_rate build_financing_closing_costs}, editable: true
              = d.rows %w{build_financing_monthly_payment}, editable: false

          .span6
            = f.definitions(caption: t(:builder_output), label_type: :context, columns: 3) do |d|
              = d.rows %w{comparables_avm_build build_output_sale_price build_output_sale_date build_output_purchase_expense build_output_total_build_expenses build_output_total_price build_output_hold_weeks build_output_carrying_expense build_output_lending_expense build_output_realtor_fees_closing_expense build_output_seller_contributions build_output_commission_credit build_output_total_expenses build_output_equity_contribution}, editable: false

          .span6
            = f.definitions(caption: t(:builder_return), label_type: :context, columns: 3) do |d|
              = d.row %w{build_output_pre_tax_roi_ratio build_output_pre_tax_roi_amount}, editable: false
              = d.row %w{build_output_post_tax_roi_ratio build_output_post_tax_roi_amount}, editable: false


              = d.rows %w{build_output_pre_tax_roe_ratio}, editable: false
              = d.rows %w{build_output_post_tax_roe_ratio}, editable: false
              %tr
                %td.align-left.title &nbsp;
                %td.item.align-right &nbsp;
                %td.item.align-right &nbsp;
              = d.row %w{build_output_minimum_roi}, editable: true
              = d.row %w{build_output_minimum_cap_rate}, as: :money_wo_decimal, editable: true              
              = d.row %w{build_output_max_build_ratio build_output_max_build_amount}, editable: false
              = d.row %w{build_output_max_purchase_ratio build_output_max_purchase_amount}, editable: false
              

      .tab-pane#rental_resale
        .row
          .span6
            = f.definitions(caption: t(:rental_resale_income), label_type: :context, editable: true) do |d|
              = d.rows %w{rental_resale_income_completion_date rental_resale_income_sale_date rental_resale_income_sale_price rental_resale_income_investor_cap_rate}
            = f.definitions(caption: t(:rental_resale_expenses), label_type: :context, editable: true) do |d|
              = d.rows %w{rental_resale_expenses_marketing_expense rental_resale_expenses_closing_expense rental_resale_expenses_warranty_expenses}, editable: true
            = f.definitions(caption: t(:rental_resale_financing), label_type: :context, columns: 3, editable: true) do |d|
              = d.rows %w{rental_resale_financing_loan rental_resale_financing_purchase_price rental_resale_financing_renovation_price}
              = d.row :rental_resale_financing_total_price, editable: false
              = d.row %w{rental_resale_financing_down_payment_purchase_rate rental_resale_financing_down_payment_purchase}
              = d.row %w{rental_resale_financing_down_payment_renovation_rate rental_resale_financing_down_payment_renovation}
              = d.row %w{rental_resale_financing_commission_credit_rate rental_resale_financing_commission_credit}
              = d.row :rental_resale_financing_total_down_payment, editable: false
              = d.row %w{rental_resale_financing_total_available_rate rental_resale_financing_total_available}
              = d.row :rental_resale_financing_loan_amount, editable: false
              = d.row :rental_resale_financing_interest_rate
              = d.row %w{rental_resale_financing_loan_points_rate rental_resale_financing_loan_points}
              = d.rows %w{ rental_resale_financing_term rental_resale_financing_interest_only}
              = d.row %w{rental_resale_financing_closing_costs_rate rental_resale_financing_closing_costs}
              = d.row :rental_resale_financing_monthly_payment, editable: false
          .span6
            = f.definitions(caption: t(:rental_resale_output), label_type: :context, columns: 3) do |d|
              = d.rows %w{comparables_avm_rental_resale rental_resale_output_sale_price rental_resale_output_investor_cap_rate rental_resale_output_investor_ltv rental_resale_output_purchase_expense rental_resale_output_renovation_expense rental_resale_output_hold_weeks rental_resale_output_carrying_expense rental_resale_output_lending_expense rental_resale_output_realtor_fees_closing_expense rental_resale_output_seller_contributions rental_resale_output_total_expenses rental_resale_output_equity_contribution}
              = d.row %w{rental_resale_output_pre_tax_roi rental_resale_output_pre_tax_roi_ratio rental_resale_output_pre_tax_roi_amount}
              = d.row %w{rental_resale_output_post_tax_roi rental_resale_output_post_tax_roi_ratio rental_resale_output_post_tax_roi_amount}
              = d.rows %w{rental_resale_output_pre_tax_roe_ratio rental_resale_output_post_tax_roe_ratio}
              = d.row %w{rental_resale_output_max_renovation rental_resale_output_max_renovation_ratio rental_resale_output_max_renovation_amount}
              = d.row %w{rental_resale_output_max_purchase rental_resale_output_max_purchase_ratio rental_resale_output_max_purchase_amount}
      .tab-pane#seller_finance
        .row
          .span6
            = f.definitions(caption: t(:seller_finance_income), label_type: :context, editable: true, columns: 3) do |d|
              = d.rows %w{seller_finance_income_completion_date seller_finance_income_sale_date seller_finance_income_sale_price}
              = d.row %w{seller_finance_income_down_payment_rate seller_finance_income_down_payment}
              = d.rows %w{seller_finance_income_loan_amount seller_finance_income_interest_rate seller_finance_income_term seller_finance_income_monthly_payment seller_finance_income_years_to_sale}
            = f.definitions(caption: t(:seller_finance_expenses), label_type: :context, editable: true) do |d|
              = d.rows %w{seller_finance_expenses_realtor_closing_expense seller_finance_expenses_management_expense}
            = f.definitions(caption: t(:seller_finance_financing), label_type: :context, editable: true, columns: 3) do |d|
              = d.row :seller_finance_financing_loan
              = d.row :seller_finance_financing_purchase_renovation, editable: false
              = d.row %w{seller_finance_financing_down_payment_purchase_rate seller_finance_financing_down_payment_purchase}
              = d.row %w{seller_finance_financing_commission_credit_rate seller_finance_financing_commission_credit}
              = d.rows :seller_finance_financing_total_down_payment, :seller_finance_financing_loan_amount, editable: false
              = d.row :seller_finance_financing_interest_rate 
              = d.row %w{seller_finance_financing_loan_points_rate seller_finance_financing_loan_points}
              = d.rows %w{seller_finance_financing_term seller_finance_financing_interest_only}
              = d.row %w{seller_finance_financing_closing_costs_rate seller_finance_financing_closing_costs}
              = d.row :seller_finance_financing_monthly_payment, editable: false
          .span6
            = f.definitions(caption: t(:seller_finance_output), label_type: :context, columns: 3) do |d|
              = d.rows %w{comparables_avm_seller_finance seller_finance_output_sale_price seller_finance_output_sale_date seller_finance_output_buyer_down_payment seller_finance_output_purchase_price seller_finance_output_renovation_expense seller_finance_output_hold_weeks seller_finance_output_carrying_expenses seller_finance_output_lending_expenses seller_finance_output_realtor_closing_expense seller_finance_output_total_pre_sale_expenses seller_finance_output_equity_contribution seller_finance_output_annual_income seller_finance_output_annual_operating_expenses seller_finance_output_annual_principal_interest seller_finance_output_total_annual_expenses seller_finance_output_yearly_cash_yield_amount seller_finance_output_cap_rate seller_finance_output_loan_payoff}
              = d.row :seller_finance_output_return_on_sale 
              = d.row %w{seller_finance_output_pre_tax_roi seller_finance_output_pre_tax_roi_ratio seller_finance_output_pre_tax_roi_amount}
              = d.row %w{seller_finance_output_post_tax_roi seller_finance_output_post_tax_roi_ratio seller_finance_output_post_tax_roi_amount}
              = d.rows %w{seller_finance_output_pre_tax_roe_ratio seller_finance_output_post_tax_roe_ratio}
              = d.row %w{seller_finance_output_max_renovation seller_finance_output_max_renovation_ratio seller_finance_output_max_renovation_amount}
              = d.row %w{seller_finance_output_max_purchase seller_finance_output_max_purchase_ratio seller_finance_output_max_purchase_amount}
      
      .tab-pane#assignment
        .row
          .span6
            = f.definitions(caption: t(:assignment_income), label_type: :context, editable: true) do |d|
              = d.rows %w{assignment_income_sale_date assignment_income_investor_arv_sale_ltv assignment_income_sale_price}
            = f.definitions(caption: t(:assignment_expenses), label_type: :context, editable: true) do |d|
              = d.rows %w{assignment_expenses_marketing assignment_expenses_closing}
          .span6
            = f.definitions(caption: t(:assignment_output), label_type: :context, columns: 3) do |d|
              = d.rows %w{assignment_output_sale_price assignment_output_acquisition_price assignment_output_income assignment_output_marketing_expense assignment_output_closing_expenses assignment_output_total_expenses assignment_output_pre_tax_roi_amount assignment_output_post_tax_roi_amount}
              = d.row %w{assignment_output_max_renovation assignment_output_max_renovation_ratio assignment_output_max_renovation_amount}
              = d.row %w{assignment_output_max_purchase assignment_output_max_purchase_ratio assignment_output_max_purchase_amount}
      .tab-pane#listing
        .row
          .span6
            = f.definitions(caption: t(:listing_income), label_type: :context, editable: true) do |d|
              = d.rows %w{listing_income_listing_date listing_income_sale_date listing_income_sale_price listing_income_commission}
            = f.definitions(caption: t(:listing_expenses), label_type: :context, editable: true) do |d|
              = d.rows %w{listing_expenses_marketing listing_expenses_agent}
          .span6
            = f.definitions(caption: t(:listing_output), label_type: :context) do |d|
              = d.rows %w{listing_output_sale_price listing_output_income listing_output_marketing_expense listing_output_agent_expense listing_output_total_expenses listing_output_pre_tax_roi_amount listing_output_post_tax_roi_amount}
      .tab-pane#listing_partnership
        .row
          .span6
            = f.definitions(caption: t(:listing_partnership_income), label_type: :context, editable: true) do |d|
              = d.rows %w{listing_partnership_income_completion_date listing_partnership_income_sale_date listing_partnership_income_sale_price listing_partnership_income_commission listing_partnership_income_construction_markup listing_partnership_income_percent_of_profit}
            = f.definitions(caption: t(:listing_partnership_expenses), label_type: :context, editable: true) do |d|
              = d.rows %w{listing_partnership_expenses_marketing_legal listing_partnership_expenses_seller_contributions}
            = f.definitions(caption: t(:listing_partnership_financing), label_type: :context, editable: true, columns: 3) do |d|
              = d.rows %w{listing_partnership_financing_loan listing_partnership_financing_renovation}
              = d.row %w{listing_partnership_financing_down_payment_renovation_rate listing_partnership_financing_down_payment_renovation}
              = d.rows %w{listing_partnership_financing_total_down_payment listing_partnership_financing_loan_amount}, editable: false
              = d.row :listing_partnership_financing_interest_rate 
              = d.row %w{listing_partnership_financing_loan_points_rate listing_partnership_financing_loan_points}
              = d.rows %w{listing_partnership_financing_term listing_partnership_financing_interest_only}
              = d.row %w{listing_partnership_financing_closing_costs_rate listing_partnership_financing_closing_costs}
              = d.row :listing_partnership_financing_monthly_payment, editable: false
          .span6
            = f.definitions(caption: t(:listing_partnership_output), label_type: :context, columns: 3) do |d|
              = d.rows %w{comparables_avm_listing_partnership listing_partnership_output_sale_price listing_partnership_output_sale_date listing_partnership_output_purchase_price listing_partnership_output_renovation_expense listing_partnership_output_hold_weeks listing_partnership_output_lending_expense listing_partnership_output_marketing_legal_expense listing_partnership_output_seller_contributions listing_partnership_output_total_expenses listing_partnership_output_equity_contribution listing_partnership_output_overall_return listing_partnership_output_commission_income listing_partnership_output_construction_reimbursement_income listing_partnership_output_profit_participation}
              = d.row %w{listing_partnership_output_pre_tax_roi listing_partnership_output_pre_tax_roi_ratio listing_partnership_output_pre_tax_roi_amount}
              = d.row %w{listing_partnership_output_post_tax_roi listing_partnership_output_post_tax_roi_ratio listing_partnership_output_post_tax_roi_amount}
              = d.rows %w{listing_partnership_output_pre_tax_roe_ratio listing_partnership_output_post_tax_roe_ratio}
              = d.row %w{listing_partnership_output_max_renovation listing_partnership_output_max_renovation_ratio listing_partnership_output_max_renovation_amount}
              = d.row %w{listing_partnership_output_max_purchase listing_partnership_output_max_purchase_ratio listing_partnership_output_max_purchase_amount}

  .controlbar
    .container
      .form-actions
        =f.button :submit, t(".save_proforma"), :disable_with => t('wait')
        =f.submit :restore, :name => :restore, :value => t(:restore), :type => :submit, :class => 'btn btn-warning'
        =f.submit :reset, :value => t(:reset), :type => :reset, :class => 'btn'
    - if @market.id == 9 
      .blocktext
        .aleft
          = image_tag("fmls_logo.jpg")
        .span13{ :style => "float: left; width: 480px; margin-left: 10px" }= "Listing content provided by FMLS and deemed reliable but not guaranteed." 
        .fmls_bottom{:style => "clear:both; text-align: center;" }= "©2014 First Multiple Listing Service, Inc.​"
=debug(@proforma._overrides)