.row
  %table.table.table-hover.span12
    %thead
      %th.span2 DB Name
      %th.span2 Normal UI Label
      %th.span2 Short UI Label
      %th.span5 Current Value
      %th.span5 RAW Value 
    %tbody
      - Property.active_attributes(delegates: PropertyDetail).each do |attr|
        %tr
          %td= attr
          %td= Property.label(attr, :default, default: '-')
          %td= Property.label(attr, :short, default: '-')
          - if ((attr == :longitude) || (attr == :latitude) || (attr == :millage_rate))
            - Delayed::Worker.logger.debug "&&&attr #{attr}"
            %td= @property.send(attr)
          - else
            %td= @property.format(attr)
          %td= @property.detail._raw[attr]