%h5.well= t(:returns).upcase
.row
  .span12
    %table.table.table-bordered
      %thead.align-center
        %tr
          %th.align-center.span2{:rowspan => 2} &nbsp;
          %th.align-center.span1{:rowspan => 2} AVM
          %th.align-center.span1{:rowspan => 2} Renov. Estimate
          %th.align-center{:colspan => 2} ROI
          %th.align-center ROE
          %th.align-center{:colspan => 2} Max Offer
          %th.align-center{:colspan => 2} Max Ren.
        %tr
          %th.span1.align-center ($)
          %th.span1.align-center (%)
          %th.span1.align-center (%)
          %th.span1.align-center ($)
          %th.span1.align-center (%)
          %th.span1.align-center ($)
          %th.span1.align-center (%)
      %tbody
        %tr
          %th= t(:sale)
          - for attr in [:comparables_avm_sale, :renovation_sale_listing_partnership_cost, :sale_output_pre_tax_roi_amount, :sale_output_pre_tax_roi_ratio, :sale_output_pre_tax_roe_ratio, :sale_output_max_purchase_amount, :sale_output_max_purchase_ratio, :sale_output_max_renovation_amount, :sale_output_max_renovation_ratio]
            %td.align-right= @proforma.format(attr)
        %tr
          %th= t(:rental)
          - for attr in [:comparables_avm_rental, :renovation_rental_resale_cost, :rental_output_pre_tax_roi_amount, :rental_output_pre_tax_roi_ratio, :rental_output_pre_tax_roe, :rental_output_max_purchase_amount, :rental_output_max_purchase_ratio, :rental_output_max_renovation_amount, :rental_output_max_renovation_ratio]
            %td.align-right= @proforma.format(attr)
        %tr
          %th= t(:rental_resale)
          - for attr in [:comparables_avm_rental_resale, :renovation_rental_hold_cost, :rental_resale_output_pre_tax_roi_amount, :rental_resale_output_pre_tax_roi_ratio, :rental_resale_output_pre_tax_roe_ratio, :rental_resale_output_max_purchase_amount, :rental_resale_output_max_purchase_ratio, :rental_resale_output_max_renovation_amount, :rental_resale_output_max_renovation_ratio]
            %td.align-right= @proforma.format(attr)
        %tr
          %th= t(:seller_finance)
          - for attr in [:comparables_avm_seller_finance, :renovation_seller_finance_cost, :seller_finance_output_pre_tax_roi_amount, :seller_finance_output_pre_tax_roi_ratio, :seller_finance_output_pre_tax_roe_ratio, :seller_finance_output_max_purchase_amount, :seller_finance_output_max_purchase_ratio, :seller_finance_output_max_renovation_amount, :seller_finance_output_max_renovation_ratio]
            %td.align-right= @proforma.format(attr)
        %tr
          %th= t(:build)
          - for attr in [:comparables_avm_build, :renovation_build_cost, :build_output_pre_tax_roi_amount, :build_output_pre_tax_roi_ratio, :build_output_pre_tax_roe_ratio, :build_output_max_purchase_amount, :build_output_max_purchase_ratio, :build_output_max_build_amount, :build_output_max_build_ratio]
            %td.align-right= @proforma.format(attr)
        %tr
          %th= t(:assignment)
          - for attr in [nil, :renovation_assignment_cost, :assignment_output_pre_tax_roi_amount, nil, nil, :assignment_output_max_renovation_amount, :assignment_output_max_renovation_ratio, :assignment_output_max_purchase_amount, :assignment_output_max_purchase_ratio]
            %td.align-right{class: ('na' if attr.nil?)}= @proforma.format(attr)
        %tr
          %th= t(:listing)
          - for attr in [:comparables_avm_listing, nil, :listing_output_pre_tax_roi_amount, nil, nil, nil, nil, nil, nil]
            %td.align-right{class: ('na' if attr.nil?)}= @proforma.format(attr)
        %tr
          %th= t(:listing_partnership)
          - for attr in [:comparables_avm_listing_partnership, :renovation_sale_listing_partnership_cost, :listing_partnership_output_pre_tax_roi_amount, :listing_partnership_output_pre_tax_roi_ratio, :listing_partnership_output_pre_tax_roe_ratio, :listing_partnership_output_max_renovation_amount, :listing_partnership_output_max_renovation_ratio, :listing_partnership_output_max_purchase_amount, :listing_partnership_output_max_purchase_ratio]
            %td.align-right= @proforma.format(attr)

%h5.well= t(:property_information).upcase
.row
  .span3
    =definitions_for(@property) do |d|
      =d.rows :listing_date, :cdom, :dom, :selling_for_lot_value, :disclosures, :defects, :exemptions, :appreciation_rate
      =d.row :lot_description, label: 'Lot Description', as: :delimited_string
  .span3
    =definitions_for(@property) do |d|
      =d.row :elementary_school_full, definition_class: 'Property', label: 'Elementary School'
      =d.row :middle_school_full, definition_class: 'Property', label: 'Middle School'
      =d.row :high_school_full, definition_class: 'Property', label: 'High School'
      =d.row :school_district_full, definition_class: 'Property', label: 'School District'
      =d.rows :walk_score, :transit_score
      =d.rows :foundation_type, :new_construction, :garage_capacity, :pool_private, :data_updated_at
  .span3
    =definitions_for(@property) do |d|
      =d.rows :key_map_page, :geo_market_area 
      =d.row :mls_area_key, definition_class: 'Property', label: 'MLS Area'  
      =d.row :mls_area_name, definition_class: 'Property', label: 'Location'       
      =d.rows :tax_amount, :tax_rate, :comps_updated_at
  .span3
    =definitions_for(@property) do |d|
      =d.rows :financing_available, :maintenance_fee, :annual_maintenance_fee, :other_fees, :showing_instructions, :buyer_agent_compensation_percent, :listing_broker_name, :listing_agent_name, :lock_box_code

.row
  .span12
    =definitions_for(@property) do |d|
      =d.rows :realtor_remarks, :public_remarks, align: :left, title_class: 'span2', item_class: 'align-left'
%h5.well= t(:owner_and_deed).upcase
.row
  .span3
    =definitions_for(@property) do |d|
      =d.rows :owner_name, :owner_street_address, :owner_city_state_zip, :tax_value, :tax_market_value
  .span3
    =definitions_for(@property) do |d|
      =d.rows :sale_price, :seller_paid_to_buyer_closing_costs, :seller_repair_credits, :adj_sale_price
  .span3
    =definitions_for(@property) do |d|
      =d.rows :loan_amount_new, :loan_amount_interest_rate, :owner_estimated_loan_balance, :owner_equity_amount
  .span3
    =definitions_for(@proforma) do |d|
      =d.rows  :mortgagee, :last_sale_date, :deed_date
%h5.well= t(:historic_listings).upcase
=render 'properties', data: @history, columns: %w{mls_number category status listing_date list_price sale_price dom closed_date}

