<div class="row" ng-controller="opportunitiesEvaluatorController">
	<div class="col-md-12">
		<div class="portlet light" style="padding: 0px; margin: 0px;">
			<div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green bold uppercase">
                    	Schedule An Evaluator
                	</span>
                </div>
                <div class="tools">
                	<button class="bootbox-close-button close" data-dismiss="modal" type="button">×</button>
            	</div>
            </div>
            <div class="portlet-body form">
            	<h4 class="sbold">
		    		3602 Hidalgo Dr, Dallas, TX, 75220
				</h4>
				<hr class="margin-top-10" />
            	<div class="row simba-form-horizontal">
        			<div class="col-md-12">
        			
	            		<form role="form" method="POST" class="form-horizontal" novalidate name="closingEvaluatorForm" id="closingEvaluatorForm">
							<div class="form-body" style="padding: 0px;">
								<div class="row margin-bottom-15">
									<div class="col-md-12 ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Visit Date
											</label>
											<div class="col-md-9 col-sm-9 col-xs-9">
												<div class="input-group date date-picker" data-date-format="mm/dd/yyyy" >
                                        			<input type="text" id="visit_date" name="visit_date" class="form-control" ng-model="evaluatorForm.visit_date" validator="required" required-error-message="Required Field" visit-date-picker readonly="" >
		                                        	<span class="input-group-btn valign_top" ng-click="visitDatePicker()">
			                                            <button class="btn default" type="button">
			                                                <i class="fa fa-calendar"></i>
			                                            </button>
			                                        </span>
	                                    		</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row margin-bottom-15">
									<div class="col-md-12 col-sm-12 col-xs-12 ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Comments
											</label>
											<div class="col-md-9 col-sm-9 col-xs-9">
												<textarea class="form-control" name="comments" rows="3" ng-model="evaluatorForm.comments" placeholder="Anything we should know about your visit? Please let us know here."></textarea>
											</div>
										</div>
									</div>
								</div>
								<div class="row margin-bottom-15">
									<div class="col-md-12 col-sm-12 col-xs-12 ">
										<div class="form-group simba_form_agreement">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Agreement
											</label>
											<div class="col-md-9 col-sm-9 col-xs-9">
												<p class="form-control-static">
													Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
												</p>
												<div class="md-checkbox">
													<input name="terms_condition" id="terms_condition" class="md-check" type="checkbox" validator="required" required-error-message="Required Field" ng-model="evaluatorForm.terms">
													<label for="terms_condition" style="color: unset;">
														<span class="inc"></span>
														<span class="check"></span>
														<span class="box"></span>
													I have read this agreement and agree to the terms and conditions.
													</label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-actions">
								<div class="row">
									<div class="col-md-6">
										<div class="col-md-offset-3 col-md-9">
											<button class="btn green" type="button" ng-click="save()" validation-submit="closingEvaluatorForm">Submit</button>
											<button class="bootbox-close-button btn default" data-dismiss="modal" type="button">Cancel</button>
										</div>
									</div>
									
								</div>
							</div>
						</form>
        			</div>
            	</div>
            	
            </div>
		</div>
	</div>
</div>


