<div class="form-body form_group_overflow bold_control_label" style="padding: 0px;">

	<div class="row ">

		<div class="col-md-6 ">
			<div class="form-group">
				<label class="control-label col-md-5 col-sm-5 col-xs-5">
					Mortgage Payment
				</label>
				<div class="col-md-7 col-sm-7 col-xs-7 ">
					<div class="row">
						<div class="col-md-7 col-sm-7 col-xs-7 padding-right-0">
							Text
						</div>
						<div class="col-md-5 col-sm-5 col-xs-5 text-left simba_radio_switch padding-right-0" >
							<div class="btn-group btn-group-devided" data-toggle="buttons">
	                            <label class="btn btn-transparent green btn-outline  btn-sm active">
	                                <input type="radio" name="options" class="toggle" >/mo
	                            </label>
	                            <label class="btn btn-transparent green btn-outline  btn-sm">
	                                <input type="radio" name="options" class="toggle" >/yr
	                            </label>
	                        </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>

	<div class="row ">
		<div class="col-md-6 ">
			<div class="form-group">
				<label class="control-label col-md-5 col-sm-5 col-xs-5">
					Vacancy
				</label>
				<div class="col-md-7 col-sm-7 col-xs-7">
					<div class="row">
						<div class="col-md-7 col-sm-7 col-xs-7 padding-right-0">
							<div class="input-group">
								<span class="input-group-btn valign_top">
									<button class="btn default" type="button">
										<i class="fa fa-dollar"></i>
									</button>
								</span>
		                    	<input type="text" name="vacancy" class="form-control" ng-model="finance.expenseForm.vacancy" placeholder="Vacancy">
		                	</div>
						</div>
						<div class="col-md-5 col-sm-5 col-xs-5 text-left simba_radio_switch padding-right-0" >
							<div class="btn-group btn-group-devided" data-toggle="buttons">
	                            <label class="btn btn-transparent green btn-outline  btn-sm active">
	                                <input type="radio" name="options" class="toggle" >/mo
	                            </label>
	                            <label class="btn btn-transparent green btn-outline  btn-sm">
	                                <input type="radio" name="options" class="toggle" >/yr
	                            </label>
	                        </div>
						</div>
					</div>
					
				</div>
			</div>
		</div>

		<div class="col-md-6 ">
			<div class="form-group">
				<label class="control-label col-md-5 col-sm-5 col-xs-5">
					Maintenance
				</label>
				<div class="col-md-7 col-sm-7 col-xs-7">
					<div class="row">
						<div class="col-md-7 col-sm-7 col-xs-7 padding-right-0">
							<div class="input-group">
								<span class="input-group-btn valign_top">
									<button class="btn default" type="button">
										<i class="fa fa-dollar"></i>
									</button>
								</span>
		                    	<input type="text" name="maintenance" class="form-control" ng-model="finance.expenseForm.maintenance" placeholder="Maintenance">
		                	</div>
						</div>
						<div class="col-md-5 col-sm-5 col-xs-5 text-left simba_radio_switch padding-right-0" >
							<div class="btn-group btn-group-devided" data-toggle="buttons">
	                            <label class="btn btn-transparent green btn-outline  btn-sm active">
	                                <input type="radio" name="options" class="toggle" >/mo
	                            </label>
	                            <label class="btn btn-transparent green btn-outline  btn-sm">
	                                <input type="radio" name="options" class="toggle" >/yr
	                            </label>
	                        </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row ">
		<div class="col-md-6 ">
			<div class="form-group">
				<label class="control-label col-md-5 col-sm-5 col-xs-5">
					HOA Fees
				</label>
				<div class="col-md-7 col-sm-7 col-xs-7">
					<div class="row">
						<div class="col-md-7 col-sm-7 col-xs-7 padding-right-0">
							<div class="input-group">
								<span class="input-group-btn valign_top">
									<button class="btn default" type="button">
										<i class="fa fa-dollar"></i>
									</button>
								</span>
		                    	<input type="text" name="hoa_fees" class="form-control" ng-model="finance.expenseForm.hoa_fees" placeholder="HOA Fees">
		                	</div>
						</div>
						<div class="col-md-5 col-sm-5 col-xs-5 text-left simba_radio_switch padding-right-0" >
							<div class="btn-group btn-group-devided" data-toggle="buttons">
	                            <label class="btn btn-transparent green btn-outline  btn-sm active">
	                                <input type="radio" name="options" class="toggle" >/mo
	                            </label>
	                            <label class="btn btn-transparent green btn-outline  btn-sm">
	                                <input type="radio" name="options" class="toggle" >/yr
	                            </label>
	                        </div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6 ">
			<div class="form-group">
				<label class="control-label col-md-5 col-sm-5 col-xs-5">
					Pool Expense
				</label>
				<div class="col-md-7 col-sm-7 col-xs-7">
					<div class="row">
						<div class="col-md-7 col-sm-7 col-xs-7 padding-right-0">
							<div class="input-group">
								<span class="input-group-btn valign_top">
									<button class="btn default" type="button">
										<i class="fa fa-dollar"></i>
									</button>
								</span>
		                    	<input type="text" name="pool_expense" class="form-control" ng-model="finance.expenseForm.pool_expense" placeholder="Pool Expense">
		                	</div>
						</div>
						<div class="col-md-5 col-sm-5 col-xs-5 text-left simba_radio_switch padding-right-0" >
							<div class="btn-group btn-group-devided" data-toggle="buttons">
	                            <label class="btn btn-transparent green btn-outline  btn-sm active">
	                                <input type="radio" name="options" class="toggle" >/mo
	                            </label>
	                            <label class="btn btn-transparent green btn-outline  btn-sm">
	                                <input type="radio" name="options" class="toggle" >/yr
	                            </label>
	                        </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row ">
		<div class="col-md-6 ">
			<div class="form-group">
				<label class="control-label col-md-5 col-sm-5 col-xs-5">
					Insurance
				</label>
				<div class="col-md-7 col-sm-7 col-xs-7">
					<div class="row">
						<div class="col-md-7 col-sm-7 col-xs-7 padding-right-0">
							<div class="input-group">
								<span class="input-group-btn valign_top">
									<button class="btn default" type="button">
										<i class="fa fa-dollar"></i>
									</button>
								</span>
		                    	<input type="text" name="insurance" class="form-control" ng-model="finance.expenseForm.insurance" placeholder="Insurance">
		                	</div>
						</div>
						<div class="col-md-5 col-sm-5 col-xs-5 text-left simba_radio_switch padding-right-0" >
							<div class="btn-group btn-group-devided" data-toggle="buttons">
	                            <label class="btn btn-transparent green btn-outline  btn-sm active">
	                                <input type="radio" name="options" class="toggle" >/mo
	                            </label>
	                            <label class="btn btn-transparent green btn-outline  btn-sm">
	                                <input type="radio" name="options" class="toggle" >/yr
	                            </label>
	                        </div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6 ">
			<div class="form-group">
				<label class="control-label col-md-5 col-sm-5 col-xs-5">
					Property Management
				</label>
				<div class="col-md-7 col-sm-7 col-xs-7">
					<div class="row">
						<div class="col-md-7 col-sm-7 col-xs-7 padding-right-0">
							<div class="input-group">
								<span class="input-group-btn valign_top">
									<button class="btn default" type="button">
										<i class="fa fa-dollar"></i>
									</button>
								</span>
		                    	<input type="text" name="property_management" class="form-control" ng-model="finance.expenseForm.property_management" placeholder="Property Management">
		                	</div>
						</div>
						<div class="col-md-5 col-sm-5 col-xs-5 text-left simba_radio_switch padding-right-0" >
							<div class="btn-group btn-group-devided" data-toggle="buttons">
	                            <label class="btn btn-transparent green btn-outline  btn-sm active">
	                                <input type="radio" name="options" class="toggle" >/mo
	                            </label>
	                            <label class="btn btn-transparent green btn-outline  btn-sm">
	                                <input type="radio" name="options" class="toggle" >/yr
	                            </label>
	                        </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row ">
		<div class="col-md-6 ">
			<div class="form-group">
				<label class="control-label col-md-5 col-sm-5 col-xs-5">
					Property Taxes
				</label>
				<div class="col-md-7 col-sm-7 col-xs-7">
					<div class="row">
						<div class="col-md-7 col-sm-7 col-xs-7 padding-right-0">
							<div class="input-group">
								<span class="input-group-btn valign_top">
									<button class="btn default" type="button">
										<i class="fa fa-dollar"></i>
									</button>
								</span>
		                    	<input type="text" name="property_taxes" class="form-control" ng-model="finance.expenseForm.property_taxes" placeholder="Property Taxes">
		                	</div>
						</div>
						<div class="col-md-5 col-sm-5 col-xs-5 text-left simba_radio_switch padding-right-0" >
							<div class="btn-group btn-group-devided" data-toggle="buttons">
	                            <label class="btn btn-transparent green btn-outline  btn-sm active">
	                                <input type="radio" name="options" class="toggle" >/mo
	                            </label>
	                            <label class="btn btn-transparent green btn-outline  btn-sm">
	                                <input type="radio" name="options" class="toggle" >/yr
	                            </label>
	                        </div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="row ">
		<div class="col-md-6 ">
			<div class="form-group">
				<label class="control-label col-md-5 col-sm-5 col-xs-5">
					Other Expense 1
				</label>
				<div class="col-md-7 col-sm-7 col-xs-7">
					<div class="row">
						<div class="col-md-7 col-sm-7 col-xs-7 padding-right-0">
							<div class="input-group">
								<span class="input-group-btn valign_top">
									<button class="btn default" type="button">
										<i class="fa fa-dollar"></i>
									</button>
								</span>
		                    	<input type="text" name="other_expense_1" class="form-control" ng-model="finance.expenseForm.other_expense_1" placeholder="Other Expense 1">
		                	</div>
						</div>
						<div class="col-md-5 col-sm-5 col-xs-5 text-left simba_radio_switch padding-right-0" >
							<div class="btn-group btn-group-devided" data-toggle="buttons">
	                            <label class="btn btn-transparent green btn-outline  btn-sm active">
	                                <input type="radio" name="options" class="toggle" >/mo
	                            </label>
	                            <label class="btn btn-transparent green btn-outline  btn-sm">
	                                <input type="radio" name="options" class="toggle" >/yr
	                            </label>
	                        </div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6 ">
			<div class="form-group">
				<label class="control-label col-md-5 col-sm-5 col-xs-5">
					Other Expense 2
				</label>
				<div class="col-md-7 col-sm-7 col-xs-7">
					<div class="row">
						<div class="col-md-7 col-sm-7 col-xs-7 padding-right-0">
							<div class="input-group">
								<span class="input-group-btn valign_top">
									<button class="btn default" type="button">
										<i class="fa fa-dollar"></i>
									</button>
								</span>
		                    	<input type="text" name="other_expense_2" class="form-control" ng-model="finance.expenseForm.other_expense_2" placeholder="Other Expense 1">
		                	</div>
						</div>
						<div class="col-md-5 col-sm-5 col-xs-5 text-left simba_radio_switch padding-right-0" >
							<div class="btn-group btn-group-devided" data-toggle="buttons">
	                            <label class="btn btn-transparent green btn-outline  btn-sm active">
	                                <input type="radio" name="options" class="toggle" >/mo
	                            </label>
	                            <label class="btn btn-transparent green btn-outline  btn-sm">
	                                <input type="radio" name="options" class="toggle" >/yr
	                            </label>
	                        </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row ">
		<div class="col-md-6 ">
			<div class="form-group">
				<label class="control-label col-md-5 col-sm-5 col-xs-5">
					Total Expense
				</label>
				<div class="col-md-7 col-sm-7 col-xs-7">
					<div class="row">
						<div class="col-md-7 col-sm-7 col-xs-7 padding-right-0">
							<div class="input-group">
								<span class="input-group-btn valign_top">
									<button class="btn default" type="button">
										<i class="fa fa-dollar"></i>
									</button>
								</span>
		                    	<input type="text" name="total_expense" class="form-control" ng-model="finance.expenseForm.total_expense" placeholder="Total Expense">
		                	</div>
						</div>
						<div class="col-md-5 col-sm-5 col-xs-5 text-left simba_radio_switch padding-right-0" >
							<div class="btn-group btn-group-devided" data-toggle="buttons">
	                            <label class="btn btn-transparent green btn-outline  btn-sm active">
	                                <input type="radio" name="options" class="toggle" >/mo
	                            </label>
	                            <label class="btn btn-transparent green btn-outline  btn-sm">
	                                <input type="radio" name="options" class="toggle" >/yr
	                            </label>
	                        </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>