<div >
	<div style="height: 480px;" >
		<ng-map zoom="{{map.zoom}}" center="{{map.center}}" ng-if="hasoverviewMap" id="overviewMap">
			<marker position="[{{ map.lat }}, {{ map.lng }}]"></marker>
		</ng-map>
	</div>
</div>