			<div class="row">

				<div class="col-md-4 simba_opportunity_neighbor_grade">
					<div class="portlet light" >
						<div class="portlet-title">
			                <div class="caption">
			                    <span class="caption-subject font-green bold uppercase">
			                    	Grade
		                    	</span>
			                </div>
			                <div class="tools">
			                	<a href="" class="fullscreen"> </a>
								<a class="collapse" href="javascript:;" data-original-title="" title=""> </a>
							</div>
			            </div>
			            <div class="portlet-body">

			            	<div class="text-center">
			            		<h4 class="sbold margin-top-10">Neighborhood</h4>
			            		<div class="simba_circle_container">
			            			<div class="simba_center_align">
			            				<div class="bg-green-simba simba_center_content widget-title-color-white">
				            				<span class="text-value">B+</span>
			            				</div>
			            			</div>
		            			</div>
		            		</div>

		            		<div class="text-center">
			            		<h4 class="sbold margin-top-10">School</h4>
			            		<div class="simba_circle_container">
			            			<div class="simba_center_align">
			            				<div class="bg-blue-simba simba_center_content widget-title-color-white">
				            				<div class="text-value">8.7</div>
			            					<div class="">out of 10</div>
			            				</div>
			            			</div>
		            			</div>
		            		</div>
			            	
			            </div>
					</div>
				</div>

				<div class="col-md-4 simba_opportunity_neighbor_age">
					<div class="portlet light" >
						<div class="portlet-title">
			                <div class="caption">
			                    <span class="caption-subject font-green bold uppercase">
			                    	Age
		                    	</span>
			                </div>
			                <div class="tools">
			                	<a href="" class="fullscreen"> </a>
								<a class="collapse" href="javascript:;" data-original-title="" title=""> </a>
							</div>
			            </div>
			            <div class="portlet-body">
			            	<div style="height: 265px;">
			            		<div google-chart chart="neighborhoodAge" style="height:100%; width:100%;"></div>
			            	</div>
			            	<div class="row simba_legend">
			            		<div class="col-md-6 col-sm-6 col-xs-6" style="color: {{neighborhoodAge.options.colors[$index]}}" ng-repeat="row in neighborhoodAge.data.rows track by $index">
			            			<span class="legend_name">{{row.c[0].v}}</span>
			            		</div>
			            	</div>
			            </div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="portlet light" >
						<div class="portlet-title">
			                <div class="caption">
			                    <span class="caption-subject font-green bold uppercase">
			                    	Education
		                    	</span>
			                </div>
			                <div class="tools">
			                	<a href="" class="fullscreen"> </a>
								<a class="collapse" href="javascript:;" data-original-title="" title=""> </a>
							</div>
			            </div>
			            <div class="portlet-body">

				            <div class="margin-bottom-10" style="height: 100px;">
				            	<div google-chart chart="neighborhoodEducationHighSchool" style="height:110px; width:100%;"></div>
			            	</div>
			            	<div class="margin-bottom-10" style="height: 100px;">
				            	<div google-chart chart="neighborhoodEducationBachelors" style="height:110px; width:100%;"></div>
			            	</div>
			            	<div class="" style="height: 105px;">
				            	<div google-chart chart="neighborhoodEducationAdvancedCollege" style="height:110px; width:100%;"></div>
			            	</div>

			            </div>
					</div>
				</div>

			</div>

			<div class="row">

				<div class="col-md-4 simbanic_neighbor_distance">
					<div class="portlet light" >
						<div class="portlet-title">
			                <div class="caption">
			                    <span class="caption-subject font-green bold uppercase">
			                    	Distance To
		                    	</span>
			                </div>
			                <div class="tools">
			                	<a href="" class="fullscreen"> </a>
								<a class="collapse" href="javascript:;" data-original-title="" title=""> </a>
							</div>
			            </div>
			            <div class="portlet-body">
			            	<div style="height: 330px;">

			            		<div class="row margin-bottom-40">
		            				<div class="col-md-8">
		            					<a class="btn btn-icon-only default" href="javascript:;">
											<i class="fa fa-home font-lg"></i>
										</a>
	            						<span class="distance_info_name">New Construction</span>
		            				</div>
		            				<div class="col-md-4 text-right margin-top-5 distance_info_miles">
		            					<span class="">2.10 miles</span>
		            				</div>
			            		</div>

			            		<div class="row margin-bottom-40">
		            				<div class="col-md-8">
		            					<a class="btn btn-icon-only default" href="javascript:;">
											<i class="fa fa-coffee font-lg"></i>
										</a>
	            						<span class="distance_info_name">Coffee Shop</span>
		            				</div>
		            				<div class="col-md-4 text-right margin-top-5 distance_info_miles">
		            					<span class="">.23 miles</span>
		            				</div>
			            		</div>

			            		<div class="row margin-bottom-40">
		            				<div class="col-md-8">
		            					<a class="btn btn-icon-only default" href="javascript:;">
											<i class="fa fa-list-alt font-lg"></i>
										</a>
	            						<span class="distance_info_name">Major Retailer</span>
		            				</div>
		            				<div class="col-md-4 text-right margin-top-5 distance_info_miles">
		            					<span class="">.58 miles</span>
		            				</div>
			            		</div>

			            		<div class="row">
		            				<div class="col-md-8">
		            					<a class="btn btn-icon-only default" href="javascript:;">
											<i class="fa fa-shopping-cart font-lg"></i>
										</a>
	            						<span class="distance_info_name">Grocery Store</span>
		            				</div>
		            				<div class="col-md-4 text-right margin-top-5 distance_info_miles">
		            					<span class="">.67 miles</span>
		            				</div>
			            		</div>

			            	</div>
			            </div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="portlet light" >
						<div class="portlet-title">
			                <div class="caption">
			                    <span class="caption-subject font-green bold uppercase">
			                    	Marital
		                    	</span>
			                </div>
			                <div class="tools">
			                	<a href="" class="fullscreen"> </a>
								<a class="collapse" href="javascript:;" data-original-title="" title=""> </a>
							</div>
			            </div>
			            <div class="portlet-body">
			            	<div style="height: 290px;">
			            		<div google-chart chart="neighborhoodMarital" style="height:100%; width:100%;"></div>
			            	</div>
			            	<div class="row simba_legend">
			            		<div class="col-md-6 col-sm-6 col-xs-6" style="color: {{neighborhoodMarital.options.colors[$index]}}" ng-repeat="row in neighborhoodMarital.data.rows track by $index">
			            			<span class="legend_name">{{row.c[0].v}}</span>
			            		</div>
			            	</div>
			            </div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="portlet light" >
						<div class="portlet-title">
			                <div class="caption">
			                    <span class="caption-subject font-green bold uppercase">
			                    	Income
		                    	</span>
			                </div>
			                <div class="tools">
			                	<a href="" class="fullscreen"> </a>
								<a class="collapse" href="javascript:;" data-original-title="" title=""> </a>
							</div>
			            </div>
			            <div class="portlet-body">
			            	<div class="margin-bottom-20" style="height: 145px">
			            		<div google-chart chart="neighborhoodPerCapita" style="height:100%; width:100%;"></div>
		            		</div>
		            		<div class="margin-bottom-20" style="height: 145px">
			            		<div google-chart chart="neighborhoodMedianHousehold" style="height:100%; width:100%;"></div>
			            	</div>
			            </div>
					</div>
				</div>

				

			</div>

			<div class="row">

				<div class="col-md-4">
					<div class="portlet light" >
						<div class="portlet-title">
			                <div class="caption">
			                    <span class="caption-subject font-green bold uppercase">
			                    	Occupation
		                    	</span>
			                </div>
			                <div class="tools">
			                	<a href="" class="fullscreen"> </a>
								<a class="collapse" href="javascript:;" data-original-title="" title=""> </a>
							</div>
			            </div>
			            <div class="portlet-body">
			            	<div class="" style="height: 270px;">
			            		<div google-chart chart="neighborhoodOccupation" style="height:100%; width:100%;"></div>
			            	</div>
			            	<div class="row simba_legend">
			            		<div class="col-md-6 col-sm-6 col-xs-6" style="color: {{neighborhoodOccupation.options.colors[$index]}}" ng-repeat="row in neighborhoodOccupation.data.rows track by $index">
			            			<span class="legend_name">{{row.c[0].v}}</span>
			            		</div>
			            	</div>
			            </div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="portlet light" >
						<div class="portlet-title">
			                <div class="caption">
			                    <span class="caption-subject font-green bold uppercase">
			                    	UnEmployment
		                    	</span>
			                </div>
			                <div class="tools">
			                	<a href="" class="fullscreen"> </a>
								<a class="collapse" href="javascript:;" data-original-title="" title=""> </a>
							</div>
			            </div>
			            <div class="portlet-body">
			            	<div style="height: 330px;">
			            		<div google-chart chart="neighborhoodUnEmployment" style="height:100%; width:100%;"></div>
			            	</div>
			            </div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="portlet light" >
						<div class="portlet-title">
			                <div class="caption">
			                    <span class="caption-subject font-green bold uppercase">
			                    	HomeOwnerShip
		                    	</span>
			                </div>
			                <div class="tools">
			                	<a href="" class="fullscreen"> </a>
								<a class="collapse" href="javascript:;" data-original-title="" title=""> </a>
							</div>
			            </div>
			            <div class="portlet-body">
			            	<div style="height: 290px;">
			            		<div google-chart chart="neighborhoodHomeOwnerShip" style="height:100%; width:100%;"></div>
			            	</div>
			            	<div class="row simba_legend">
			            		<div class="col-md-6 col-sm-6 col-xs-6" style="color: {{neighborhoodHomeOwnerShip.options.colors[$index]}}" ng-repeat="row in neighborhoodHomeOwnerShip.data.rows track by $index">
			            			<span class="legend_name">{{row.c[0].v}}</span>
			            		</div>
			            	</div>
			            </div>
					</div>
				</div>

				

			</div>

			<div class="row">

				<div class="col-md-4">
					<div class="portlet light" >
						<div class="portlet-title">
			                <div class="caption">
			                    <span class="caption-subject font-green bold uppercase">
			                    	Commute
		                    	</span>
			                </div>
			                <div class="tools">
			                	<a href="" class="fullscreen"> </a>
								<a class="collapse" href="javascript:;" data-original-title="" title=""> </a>
							</div>
			            </div>
			            <div class="portlet-body">
			            	<div style="height: 330px;">
			            		<div google-chart chart="neighborhoodCommute" style="height:100%; width:100%;"></div>
			            	</div>
			            </div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="portlet light" >
						<div class="portlet-title">
			                <div class="caption">
			                    <span class="caption-subject font-green bold uppercase">
			                    	HouseHold
		                    	</span>
			                </div>
			                <div class="tools">
			                	<a href="" class="fullscreen"> </a>
								<a class="collapse" href="javascript:;" data-original-title="" title=""> </a>
							</div>
			            </div>
			            <div class="portlet-body">
			            	<div style="height: 275px;">
			            		<div google-chart chart="neighborhoodHouseHold" style="height:100%; width:100%;"></div>
			            	</div>
			            	<div class="row simba_legend">
			            		<div class="col-md-6 col-sm-6 col-xs-6" style="color: {{neighborhoodHouseHold.options.colors[$index]}}" ng-repeat="row in neighborhoodHouseHold.data.rows track by $index">
			            			<span class="legend_name">{{row.c[0].v}}</span>
			            		</div>
			            	</div>
			            </div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="portlet light" >
						<div class="portlet-title">
			                <div class="caption">
			                    <span class="caption-subject font-green bold uppercase">
			                    	Gender
		                    	</span>
			                </div>
			                <div class="tools">
			                	<a href="" class="fullscreen"> </a>
								<a class="collapse" href="javascript:;" data-original-title="" title=""> </a>
							</div>
			            </div>
			            <div class="portlet-body">
			            	<div style="height: 330px;">
			            		<div google-chart chart="neighborhoodGender" style="height:100%; width:100%;"></div>
			            	</div>
			            </div>
					</div>
				</div>

				
			</div>

			<div class="row">

				<div class="col-md-4">
					<div class="portlet light" >
						<div class="portlet-title">
			                <div class="caption">
			                    <span class="caption-subject font-green bold uppercase">
			                    	Migration
		                    	</span>
			                </div>
			                <div class="tools">
			                	<a href="" class="fullscreen"> </a>
								<a class="collapse" href="javascript:;" data-original-title="" title=""> </a>
							</div>
			            </div>
			            <div class="portlet-body">
			            	<div style="height:330px;">
			            		<div google-chart chart="neighborhoodMigration" style="height:100%; width:100%;"></div>
			            	</div>
			            </div>
					</div>
				</div>
				
			</div>