<div class="row">
	<div class="col-md-8">
		<div class="portlet light" >
			<div class="portlet-title">
	            <div class="caption">
	                <span class="caption-subject font-green bold uppercase">
	                	Rehab Estimator
	            	</span>
	            </div>
	            <div class="tools">
	            	<a class="btn dark btn-outline" href="#" style="height: inherit;"> Print </a>
	            	<a class="btn green btn-outline" href="#" style="height: inherit;"> PDF </a>
	            	<a class="btn yellow btn-outline" href="#" style="height: inherit;"> Excel </a>
	            	<a href="" class="fullscreen"> </a>
					<a class="collapse" href="javascript:;" data-original-title="" title=""> </a>

				</div>
	        </div>
	        <div class="portlet-body">

	        	<div class="row">
	        	
		        	<div class="col-md-12">

			        	<uib-tabset>

			        		<uib-tab>
			        			<uib-tab-heading>
			            			Exterior
			            		</uib-tab-heading>
			            		<div class="row simba_exterior_content">
			            			<div class="col-md-12">
			            				<div class="table-responsive">
			            					<table class="table">
			            						<thead>
			            							<tr>
				            							<th style="min-width: 170px;">Item</th>
				            							<th class="text-center" style="width: 90px;">Quantity</th>
				            							<th class="text-center" style="width: 90px;">Rate</th>
				            							<th class="text-center"s style="width: 150px;">Total</th>
				            						</tr>	
			            						</thead>
			            						<tbody>
			            							<tr ng-repeat="exterior in rehabExteriorEstimator track by $index">
			            								<td>
			            									<div class="" ng-if="exterior.name_type == 'text'">
			            										<input class="form-control input-sm" type="text" placeholder="Other Exterior Repairs" ng-model="rehabExteriorEstimator[$index]['name']" >
		            										</div>
		            										<span ng-if="exterior.name_type != 'text'">
		            											{{exterior.name}}
	            											</span>
	            										</td>
			            								<td class="text-center">
				            								<div class="" ng-if="exterior.qty_input != false">
																<input class="form-control input-sm text-center" type="text" placeholder="Enter Qty" ng-value="exterior.qty" ng-model="rehabExteriorEstimator[$index]['qty']" ng-change="getExteriorRowTotal($index)">
															</div>
														</td>
			            								<td class="text-right">
			            									<span ng-if="exterior.qty_input != false">{{ exterior.rate | currency:undefined:2}}</span>
		            									</td>
			            								<td class="text-center">
			            									<div class="input-group">
			            										<span class="input-group-addon">
																	<i class="fa fa-dollar"></i>
																</span>
			            										<input class="form-control input-sm text-right" type="text" placeholder="" ng-value="rehabExteriorEstimator[$index]['qty'] * rehabExteriorEstimator[$index]['rate']" ng-model="rehabExteriorEstimator[$index]['total']" >
			            									</div>
		            									</td>
			            							</tr>
			            							<tr class="total">
			            								<td class="text-right" colspan="4">
			            									Total: {{ getExteriorTotal() | currency:undefined:0 }}
		            									</td>
			            							</tr>
			            						</tbody>
			            					</table>
			            				</div>
			            			</div>
			            		</div>
			        		</uib-tab>

			        		<uib-tab>
			        			<uib-tab-heading>
			            			Interior
			            		</uib-tab-heading>
			            		<div class="row simba_interior_content">
			            			<div class="col-md-12">
			            				<div class="table-responsive">
			            					<table class="table">
			            						<thead>
			            							<tr>
				            							<th style="min-width: 170px;">Item</th>
				            							<th class="text-center" style="width: 90px;">Quantity</th>
				            							<th class="text-center" style="width: 90px;">Rate</th>
				            							<th class="text-center" style="width: 150px;">Total</th>
				            						</tr>	
			            						</thead>
			            						<tbody>
			            							<tr ng-repeat="interior in rehabInteriorEstimator track by $index">
			            								<td>
			            									<div class="" ng-if="interior.name_type == 'text'">
			            										<input class="form-control input-sm" type="text" placeholder="Other interior Repairs" ng-model="rehabInteriorEstimator[$index]['name']" >
		            										</div>
		            										<span ng-if="interior.name_type != 'text'">
		            											{{interior.name}}
	            											</span>
	            										</td>
			            								<td class="text-center">
			            									<div class="" ng-if="interior.qty_type == 'checkbox'">
			            										<input
																    bs-switch
																    ng-model="rehabInteriorEstimator[$index]['qty']"
																    type="checkbox"
																    switch-active="{{ isActive }}"
																    switch-on-text="YES"
																    switch-off-text="No"
																    ng-true-value="'1'"
																    ng-false-value="'0'"
																    switch-inverse="false"
																    ng-change="getInteriorRowTotal($index)">
			            									</div>
				            								<div class="" ng-if="interior.qty_input != false && interior.qty_type !='checkbox'">
																<input class="form-control input-sm text-center" type="text" placeholder="Enter Qty" ng-value="interior.qty" ng-model="rehabInteriorEstimator[$index]['qty']" ng-change="getInteriorRowTotal($index)">
															</div>
														</td>
			            								<td class="text-right">
			            									<span ng-if="interior.qty_input != false">
			            										{{ interior.rate | currency:undefined}}
		            										</span>
		            									</td>
			            								<td class="text-center">
			            									<div class="input-group">
			            										<span class="input-group-addon">
																	<i class="fa fa-dollar"></i>
																</span>
			            										<input class="form-control input-sm text-right" type="text" placeholder="" ng-value="rehabInteriorEstimator[$index]['qty'] * rehabInteriorEstimator[$index]['rate']" ng-model="rehabInteriorEstimator[$index]['total']" >
			            									</div>
		            									</td>
			            							</tr>
			            							<tr class="total">
			            								<td class="text-right" colspan="4">
			            									Total: {{ getInteriorTotal() | currency:undefined }}
		            									</td>
			            							</tr>
			            						</tbody>
			            					</table>
			            				</div>
			            			</div>
			            		</div>
			        		</uib-tab>

			        		<uib-tab>
			        			<uib-tab-heading>
			            			Appliances
			            		</uib-tab-heading>
			            		<div class="row simba_appliances_content">
			            			<div class="col-md-12">
			            				<div class="table-responsive">
			            					<table class="table">
			            						<thead>
			            							<tr>
				            							<th style="min-width: 170px;">Item</th>
				            							<th class="text-center" style="width: 90px;">Quantity</th>
				            							<th class="text-center" style="width: 90px;">Rate</th>
				            							<th class="text-center" style="width: 150px;">Total</th>
				            						</tr>	
			            						</thead>
			            						<tbody>
			            							<tr ng-repeat="appliances in rehabAppliancesEstimator track by $index">
			            								<td >
			            									<div class="" ng-if="appliances.name_type == 'text'">
			            										<input class="form-control input-sm" type="text" placeholder="Other appliances Repairs" ng-model="rehabAppliancesEstimator[$index]['name']" >
		            										</div>
		            										<span ng-if="appliances.name_type != 'text'">
		            											{{appliances.name}}
	            											</span>
	            										</td>
			            								<td class="text-center">
			            									<div class="" ng-if="appliances.qty_type == 'checkbox'">
			            										<input
																    bs-switch
																    ng-model="rehabAppliancesEstimator[$index]['qty']"
																    type="checkbox"
																    switch-active="{{ isActive }}"
																    switch-on-text="YES"
																    switch-off-text="No"
																    ng-true-value="'1'"
																    ng-false-value="'0'"
																    switch-inverse="false"
																    ng-change="getAppliancesRowTotal($index)">
			            									</div>
				            								<div class="" ng-if="appliances.qty_input != false && appliances.qty_type !='checkbox'">
																<input class="form-control input-sm text-center" type="text" placeholder="Enter Qty" ng-value="appliances.qty" ng-model="rehabAppliancesEstimator[$index]['qty']" ng-change="getAppliancesRowTotal($index)">
															</div>
														</td>
			            								<td class="text-right">
			            									<span ng-if="appliances.qty_input != false">
			            										{{ appliances.rate | currency:undefined}}
		            										</span>
		            									</td>
			            								<td class="text-center">
			            									<div class="input-group">
			            										<span class="input-group-addon">
																	<i class="fa fa-dollar"></i>
																</span>
			            										<input class="form-control input-sm text-right" type="text" placeholder="" ng-value="rehabAppliancesEstimator[$index]['qty'] * rehabAppliancesEstimator[$index]['rate']" ng-model="rehabAppliancesEstimator[$index]['total']" >
			            									</div>
		            									</td>
			            							</tr>
			            							<tr class="total">
			            								<td class="text-right" colspan="4">
			            									Total: {{ getAppliancesTotal() | currency:undefined }}
		            									</td>
			            							</tr>
			            						</tbody>
			            					</table>
			            				</div>
			            			</div>
			            		</div>
			        		</uib-tab>

			        		<uib-tab>
			        			<uib-tab-heading>
			            			Other
			            		</uib-tab-heading>
			            		<div class="row simba_other_content">
			            			<div class="col-md-12">
			            				<div class="table-responsive">
			            					<table class="table">
			            						<thead>
			            							<tr>
				            							<th style="width: 70%;">Item</th>
				            							<th class="text-center" style="width: 30%;">Total</th>
				            						</tr>	
			            						</thead>
			            						<tbody>
			            							<tr ng-repeat="other in rehabOtherEstimator track by $index">
			            								<td>
			            									<div class="" ng-if="other.name_type == 'text'">
			            										<input class="form-control input-sm" type="text" placeholder="Enter item" ng-model="rehabOtherEstimator[$index]['name']" >
		            										</div>
		            										<span ng-if="other.name_type != 'text'">
		            											{{other.name}}
	            											</span>
	            										</td>
			            								<td class="text-center">
			            									<div class="input-group">
			            										<span class="input-group-addon">
																	<i class="fa fa-dollar"></i>
																</span>
			            										<input class="form-control input-sm text-right" type="text" placeholder=""  ng-model="rehabOtherEstimator[$index]['total']" >
			            									</div>
		            									</td>
			            							</tr>
			            							<tr class="total">
			            								<td class="text-right" colspan="2">
			            									Total: {{ getOtherTotal() | currency:undefined }}
		            									</td>
			            							</tr>
			            						</tbody>
			            					</table>
			            					<button class="btn" ng-click="addOtherRow()">Add More Item</button>
			            				</div>
			            			</div>
			            		</div>
			        		</uib-tab>

			        	</uib-tabset>
		        	</div>

		        	

	        	</div>

	        </div>
		</div>
	</div>

	<div class="col-md-4">

		<div class="row">
    		<div class="col-md-12">
    			<div class="portlet light text-center" >
					<div class="portlet-title">
			            <div class="caption" style="float: unset;">
			                <span class="caption-subject font-green bold uppercase text-center" style="font-size: 18px">
			                	Forecasted Budget
			            	</span>
			            </div>
			        </div>
			        <div class="portlet-body">
			        	<div class="estimator_budget">
		        			<div class="estimator_total">
		        				{{ getExteriorTotal() + getInteriorTotal() + getAppliancesTotal() + getOtherTotal() | currency:undefined:0 }}
		        			</div>
		        			<div class="estimator_sqft">
		        				{{ (getExteriorTotal() + getInteriorTotal() + getAppliancesTotal() + getOtherTotal() )/5557 | currency:undefined }} sqft
		        			</div>
		    			</div>
			        </div>
		        </div>
    			
    		</div>
		</div>

		<div class="row">
			<div class="col-md-12">

				<div class="portlet light text-center" >
					<div class="portlet-title">
			            <div class="caption">
			                <span class="caption-subject font-green bold uppercase text-center" style="font-size: 18px">
			                	Photos & Media
			            	</span>
			            </div>
			        </div>
			        <div class="portlet-body">
			        	<div class="estimator_photos" style="max-width: 300px;">
							<a href="#/Opportunities/18092c24-cbd9-9506-744e-56d6c9e94c7e?trigger=photos">
								<img class="" src="{{ settings.siteURL }}/public/assets/img/property/24396815_1.jpg" style="width: 100%;" >
							</a>
		    				<div class="btn-arrow-link pull-right margin-top-10 ">
		                        <a target="_blank" href="#/Opportunities/18092c24-cbd9-9506-744e-56d6c9e94c7e?trigger=photos">
		                        	Open Photos & Media
	                        	</a>
		                        <i class="icon-arrow-right"></i>
		                    </div>
						</div>
			        </div>
		        </div>
				
			</div>
		</div>

		

		<div class="row">
    		<div class="col-md-12">

    			<div class="portlet light text-center" >
					<div class="portlet-title">
			            <div class="caption" style="float: unset;">
			                <span class="caption-subject font-green bold uppercase text-center" style="font-size: 18px">
			                	Summary
			            	</span>
			            </div>
			        </div>
			        <div class="portlet-body">
			        	<div class="estimator_summary font-lg text-left">
		    				<div class="row estimator_summary_row ">
		        				<div class="col-lg-6 col-md-6 col-sm-8 col-xs-7">Exterior</div>
								<div class="col-lg-6 col-md-6 col-sm-4 col-xs-5 text-right"> {{ getExteriorTotal() | currency:undefined:0 }} </div>
							</div>
							<div class="row estimator_summary_row">
		        				<div class="col-lg-6 col-md-6 col-sm-8 col-xs-7">Interior</div>
								<div class="col-lg-6 col-md-6 col-sm-4 col-xs-5 text-right">{{ getInteriorTotal() | currency:undefined:0 }}</div>
							</div>
							<div class="row estimator_summary_row">
		        				<div class="col-lg-6 col-md-6 col-sm-8 col-xs-7">Appliances</div>
								<div class="col-lg-6 col-md-6 col-sm-4 col-xs-5 text-right">{{ getAppliancesTotal() | currency:undefined:0 }}</div>
							</div>
							<div class="row estimator_summary_row" style="border-bottom: none;">
		        				<div class="col-lg-6 col-md-6 col-sm-8 col-xs-7">Other</div>
								<div class="col-lg-6 col-md-6 col-sm-4 col-xs-5 text-right">{{ getOtherTotal() | currency:undefined:0 }}</div>
							</div>
		    			</div>
			        </div>
		        </div>
    			
    		</div>
		</div>
	</div>

</div>