<div class="" style="height: 350px;">
    <ng-map zoom="{{saleMapInfo.zoom}}" center="{{saleMapInfo.center}}" ng-if="renderSaleMap" id="saleMap">
        <custom-marker ng-repeat="simbaSaleProperty in saleMapInfo.pins" position="{{simbaSaleProperty.latitude}}, {{simbaSaleProperty.longitude}}" label="{{simbaSaleProperty.mark}}" ng-if="simbaSaleProperty.display" >
            <div class="simba_marker_text text-center" >
                <div class="simba_marker font-xs">
                    <span ng-click="mapPopup()" style="cursor: pointer;">${{ formatPrice(simbaSaleProperty.list_price) }}</span>
                    <a data-address ="{{ simbaSaleProperty.street_address }}" data-status="sale" class="font-xs btn simba_map_marker_remove simba_remove_map btn-xs " type="button" style="padding: 0px;">
                        Remove
                    </a>
                </div>
                <div class="marker_arrow_down" ></div>
                
            </div>
        </custom-marker>

        <!--<info-window style="display: none;" id="simbaSaleInfoWindow">
            <div class="">
                <div class="simba_custom_gmaps_ui">
                    <div class="col-md-6 simba_gmaps_image">
                        <img src="{{settings.imgPath}}/property1.jpg" class="" alt="">
                    </div>
                    <div class="col-md-6 simba_gmaps_info">
                        <div class="gmaps_property_name">
                            <a href="#">
                                {{ simbaSaleProperty.address | limitTo:12 }}
                            </a>
                        </div>
                        <div class="gmaps_property_price">
                            <b>{{ simbaSaleProperty.list | currency:undefined:0 }}</b>
                        </div>
                        <div class="gmaps_property_info">
                            <ul class="">
                                <li>
                                    <b>{{ simbaSaleProperty.bed }}</b> bd
                                </li>
                                <li>
                                    <b>2</b> ba
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </info-window>-->
    </ng-map>
</div>
