<div class="row" ng-controller="routePlanningViewController">
	<div class="col-md-12">
		<div class="portlet light" style="padding: 0px; margin: 0px;">
			<div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green bold uppercase">
                    	Rout Planning Detail
                	</span>
                </div>
                <div class="tools">
                	<button class="bootbox-close-button close" data-dismiss="modal" type="button">×</button>
            	</div>
            </div>
            
            <div class="portlet-body form">
            	<h4 class="sbold">
		    		Route ID : {{database.id}}
				</h4>
				<hr class="margin-top-10" />
            	<div class="row simba-form-horizontal">
        			<div class="col-md-12">
        			
	            		<form role="form" method="POST" class="form-horizontal" novalidate name="trucksForm" id="trucksForm">
							<div class="form-body" style="padding: 0px;">
								
								<div class="row margin-bottom-15">
									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4 col-xs-4">
												Name
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                        			<input type="text" id="name" name="name" class="form-control" ng-model="visitForm.visit_date" validator="required" required-error-message="Required Field" readonly=""  ng-value="database.name">
											</div>
										</div>
									</div>

									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Point 1
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" id="type" name="type" class="form-control" ng-model="visitForm.earliest_time" readonly="" validator="required" required-error-message="Required Field" ng-value="database.point_1">
											</div>
					                    </div>
									</div>
								</div>

								<div class="row margin-bottom-15">
									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4 col-xs-4">
												Point 2
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" id="address" name="address" class="form-control" ng-model="visitForm.earliest_time" readonly="" validator="required" required-error-message="Required Field"  ng-value="database.point_2">
											</div>
										</div>
									</div>

									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Vihicle Type
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" id="latitude" name="latitude" class="form-control" ng-model="visitForm.earliest_time" readonly="" validator="required" required-error-message="Required Field" ng-value="database.vihicle_type">
											</div>
					                    </div>
									</div>
								</div>
								
								<div class="row margin-bottom-15">
									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4 col-xs-4">
												Manage By
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" id="longitude" name="longitude" class="form-control" ng-model="visitForm.earliest_time" readonly="" validator="required" required-error-message="Required Field"  ng-value="database.manage_by">
											</div>
										</div>
									</div>

									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-3">
												Driver<span class="asterisk">*</span>
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
												<select name="property_category" ng-model="opportunityEditForm.property_category" class="bs-select form-control simba-bs-select"  validator="required" required-error-message="Required Field">
												    <option value="">นายสมพร  สมพงษ์</option>
												    <option value="">นายสถาพร  ใจดี</option>
												    <option value="">นายยุทธนา  ใจกล้า</option>
												    <option value="">นายณัฐวุฒิ  มีใจ</option>
												</select>
											</div>
										</div>
									</div>
								</div>

								<div class="row margin-bottom-15">
									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4 col-xs-4">
												Truck Licence Number<span class="asterisk">*</span>
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
												<select name="property_category" ng-model="opportunityEditForm.property_category" class="bs-select form-control simba-bs-select" validator="required" required-error-message="Required Field">
												    <option value="">12กจน345</option>
												    <option value="">34นนง455</option>
												    <option value="">78สวพ231</option>
												    <option value="">94ภทม119</option>
												</select>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="form-actions">
							<div class="row">
								<div class="col-md-6">
									<div class="col-md-offset-3 col-md-9">
										<button class="btn green" type="button" ng-click="save()" validation-submit="trucksForm">Submit</button>
										<button class="bootbox-close-button btn default" data-dismiss="modal" type="button">Cancel</button>
									</div>
								</div>
							</div>
						</div>
					</form>
        			</div>
            	</div>
            </div>
		</div>



