<ul class="page-breadcrumb breadcrumb" >
    <li>
        <a href="#/dashboard.html">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span class="active">{{ $state.current.data.pageTitle }}</span>
    </li>
</ul>
<div id="simba_list_view">
    <div  >
        <div class="row" >
            <div class="col-lg-12 col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject bold font-green uppercase">
                                List View
                            </span>
                        </div>
                        <div class="tools">
                            <!-- <button class="btn green btn-outline active" type="button"  >
                                List
                            </button>
                            <button class="btn green btn-outline" type="button" >
                                Map
                            </button> -->

                            <a href="" class="fullscreen"> </a>
                            <a class="collapse" href="javascript:;" data-original-title="" title=""> </a>

                        </div>
                    </div>

                    <div class="portlet-body">
                        <table ng-simba-job-tracking class="table table-striped table-bordered table-hover dt-responsive listview_opportunities" width="100%" id="listview_opportunities" on-edit="jobTrackingViewModals(updatedName)">
                            <thead>
                                <tr>
                                    <th class="">id</th>
                                    <th class="">Job order id</th>
                                    <th class="">Total bins</th>
                                    <th class="">Bins delivered</th>
                                    <th class="">Load status</th>
                                    <th class="">Weigth </th>
                                    <th class="">Requester</th>
                                    <th class="">Truck licence number</th>
                                    <th class="">Driver</th>
                                    <th class="">Origin </th>
                                    <th class="">Destination </th>
                                    <th class="">Recipient </th>
                                    <th class="">Time arrived at source</th>
                                    <th class="">Time dispatched </th>
                                    <th class="">Time arrived at destination </th>
                                    <th class="">Time received </th>
                                    <th class="">Total delivery time </th>
                                    <th class="">Job status </th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



