<ul class="page-breadcrumb breadcrumb" >
    <li>
        <a href="#/dashboard.html">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span class="active">{{ $state.current.data.pageTitle }}</span>
    </li>
</ul>
<div id="simba_list_view">
    <div  >
        <div class="row" >
            <!-- <div class="col-lg-12 col-md-12"> -->
                <div class="portlet light">
                    
                            <div class="row">
                                    <label class="control-label col-md-1 ">
                                        Location: 
                                    </label> 
                                <div class="col-md-3">
                                        <select name="property_category" ng-model="opportunityEditForm.property_category" class="bs-select form-control " data-style="default" >
                                            <option value="">TUM1</option>
                                            <option value="">TUM2</option>
                                            <option value="">TUM3</option>
                                        </select>
                                </div>

                                <label class="control-label col-md-2">
                                    Issue Reported Date : 
                                </label>                                 
                                                                  
                                <div class="col-md-3">
                                    <input type="date" class="form-control" id="exampleInput" name="input" ng-model="example.value"
                                        placeholder="yyyy-MM-dd" min="2015-01-01" max="2016-8-30" required />
                                </div>
                                <div class="col-md-2">
                                    
                                </div>
                            </div>
                    <div class="portlet-title">   
                        <div class="tools">
                            <a href="" class="fullscreen"> </a>
                            <a class="collapse" href="javascript:;" data-original-title="" title=""> </a>

                        </div>
                    </div>

                    <div class="portlet-body">
                        <table ng-simba-list-issue class="table table-striped table-bordered table-hover dt-responsive listview_opportunities" width="100%" id="listview_opportunities" on-edit="listIssueViewModals(updatedName)">
                            <thead>
                                <tr>
                                    <th class="">Id</th>
                                    <th class="">Issue type</th>
                                    <th class="">Job order</th>
                                    <th class="">Task</th>
                                    <th class="">Issue found location</th>
                                    <th class="">status</th>
                                    <th class="">Issue reported date</th>
                                    <th class="">Closed date</th>
                                    <th class="">Note</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            <!-- </div> -->
        </div>
    </div>
</div>
