<ul class="page-breadcrumb breadcrumb" ng-show="showListView">
    <li>
        <a href="#/dashboard.html">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span class="active">{{ $state.current.data.pageTitle }}</span>
    </li>
</ul>
<div id="simba_list_view" simba-list-view-offset>
    <div ng-if="showListView" >
        <div class="row"  >
            <div class="col-lg-12 col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject bold font-green uppercase">
                                List View
                            </span>
                        </div>
                        <div class="tools">
                            <button class="btn green btn-outline active" type="button" ng-click="listView()">
                                List
                            </button>
                            <button class="btn green btn-outline" type="button" ng-click="mapView()">
                                Map
                            </button>

                            <a href="" class="fullscreen"> </a>
                            <a class="collapse" href="javascript:;" data-original-title="" title=""> </a>

                        </div>
                    </div>

                    <div class="portlet-body">
                        <table ng-listview-closings class="table table-striped table-header-fixed table-bordered table-hover dt-responsive" width="100%" id="listview_closings">
                            <thead>
                                <tr>
                                    <th class="">Address</th>
                                    <th class="">City</th>
                                    <th class="">State</th>
                                    <th class="">Status</th>
                                    <th class="">List</th>
                                    <th class="">Offer</th>
                                    <th class="">Offer Date</th>
                                    <th class="">Close Date</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="showMapView" ng-controller="mapViewController">
    <ng-include src="templateMapViewUrl"></ng-include>
</div>

