<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-closed-hide-logo  ng-scope login">
	<div class="clearfix"> </div>
	<div class="page-container">
		<div class="page-content-wrapper" id="simba_page_content">
			<div class="content" >
			
			  <div>
			    <flash-message duration="5000" show-close="true" class="simba_flash_message ng-isolate-scope">
			      <!-- ngRepeat: flash in $root.flashes track by $index -->
			    </flash-message>
			  </div>
			  <!-- BEGIN PAGE HEAD -->
			  <!-- ngIf: loginBean.loggedIn == true && loginBean.simbaTimeOut == false -->
			  <!-- END PAGE HEAD -->
			  <!-- BEGIN ACTUAL CONTENT -->
			  <!-- uiView:  -->
			  <div ui-view="" class="fade-in-up ng-scope">
			    <div class="login_content ng-scope">
			      <div class="logo">
			        <a href="index.html">
			          <img src="/assets/img/bincontrol_logo.png" width="140px">
			        </a>
			      </div>
			      <!-- BEGIN LOGIN FORM -->
			      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form',:class => 'login-form ng-valid ng-dirty ng-valid-parse'}) do |f| %>
			      
			        <h3 class="form-title">Login to your account</h3>
			        <div class="alert alert-danger display-hide">
			          <button class="close" data-close="alert"></button>
			          <span> Enter any username and password. </span>
			        </div>
			
			        <div class="form-group">
			          <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			          <label class="control-label visible-ie8 visible-ie9">Username</label>
			          <div class="input-icon">
			            <i class="fa fa-user"></i>			            
			            <%= f.email_field :email, :autofocus => true, class: 'form-control placeholder-no-fix ng-untouched ng-valid ng-dirty ng-valid-parse', placeholder: 'Username' %>
			          </div>
			        </div>
			        <div class="form-group">
			          <label class="control-label visible-ie8 visible-ie9">Password</label>
			          <div class="input-icon">
			            <i class="fa fa-lock"></i>
			            <%= f.email_field :password,  class: 'form-control placeholder-no-fix ng-untouched ng-valid ng-dirty ng-valid-parse', placeholder: 'Password', type: 'password' %>
			            
			          </div>
			        </div>
			        <div class="form-actions">
			          <label class="checkbox">
			            <div class="checker"><span><input type="checkbox" name="remember" value="1"></span>
			            </div> Remember me </label>
			          <button type="submit" class="btn green pull-right"> Login </button>
			        </div>
			
			        <div class="forget-password">
			          <h4>Forgot your password ?</h4>
			          <p> no worries, click
			            <a href="javascript:;" id="forget-password"> here </a> to reset your password.
			          </p>
			
			        </div>
			
			
			
			      <% end %>
			      <!-- END LOGIN FORM -->
			      <!-- BEGIN FORGOT PASSWORD FORM -->
			      <form simba-forget-form="" class="forget-form ng-pristine ng-valid" action="index.html" method="post" novalidate="novalidate">
			        <h3>Forget Password ?</h3>
			        <p> Enter your username and e-mail address below to reset your password. </p>
			
			        <div class="form-group">
			          <label class="control-label visible-ie8 visible-ie9">Username</label>
			          <div class="input-icon">
			            <i class="fa fa-user"></i>
			            <input class="form-control placeholder-no-fix ng-pristine ng-untouched ng-valid" type="text" autocomplete="off"  placeholder="Username" name="username">
			          </div>
			        </div>
			
			        <div class="form-group">
			          <div class="input-icon">
			            <i class="fa fa-envelope"></i>
			            <input class="form-control placeholder-no-fix ng-pristine ng-untouched ng-valid" type="text" autocomplete="off"  placeholder="Email" name="user_email">
			          </div>
			        </div>
			        <div class="form-actions">
			          <button type="button" id="back-btn" class="btn grey-salsa btn-outline"> Back </button>
			          <button type="submit" class="btn green pull-right" > Submit </button>
			        </div>
			      </form>
			      <!-- END FORGOT PASSWORD FORM -->
			
			    </div>
			
			  </div>
			  <!-- END ACTUAL CONTENT -->
			</div>
		</div>
	</div>


  <div  class="page-footer ng-scope">
  	<div class="ng-scope text-center" > 
			Copyright: © 2016 Thai Union Manufacturing. All rights reserved.
		</div>
		<div class="scroll-to-top ng-scope">
		    <i class="icon-arrow-up"></i>
		</div>
 </div>


</body>
