<p>Dear <%= @resource.user.name %></p>

<p>Your account has been assigned to the <%= @resource.market.name %> market. You can access via this link:</p>

<p><%= link_to "Access #{@resource.market.name} market", root_url %></p>