<p>A site visit has been requested for: <%= @resource["address"] %> on <%= @resource["request_date"] %>, <%= @resource["request_time"] %> for <%= @resource["username"] %>.</p>

Type: <%= @resource["client_access"].try(:titleize) %><br/>
Date: <%= @resource["scheduled_date"] %><br/>
Time: <%= @resource["scheduled_time"] %><br/><br/>

<p>If you have questions, please email <a href="mailto:fieldteam@greenletrealty.com" >fieldteam@greenletrealty.com</a>.</p> 

