<p>Hello!</p>

<p>Please find attached the latest results from the search</p>
<%= @resource.config.to_s %>

<p><%= link_to 'Greenlight Search', market_search_url(@resource.market_id, @resource) %></p>