<p>Dear <%= @resource.user.name %></p>

<p>Greenlight has completed processing your uploaded properties. You can view the upload here:</p>
<p><%= link_to 'Upload Results', market_upload_url(@resource.market, @resource) %></p>

<p>Your historic uploads are available in the history section of the Add Property module.</p>