<p>Hello <%= @resource.email %>!</p>

<p>Your account has been created! Please choose your first time password through this link below:</p>

<p><%= link_to 'Set my password', edit_password_url(@resource, :reset_password_token => @token) %></p>