<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard.html">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span class="active">{{ breadcrumbText }}</span>
    </li>
</ul>

<div class="row">
	<div class="col-lg-8 col-md-12">
		<div class="portlet light">
			<div class="portlet-body">
				<div class="row closing_head_info">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-5">
						<div class="closing_detail_image">
							<img src="{{ settings.imgPath }}/photo.jpg">
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-7">
						<div class="closing_property_header">
							<div>{{ closingInfo.property_address_c }}</div>
							{{ closingInfo.property_address_city_c ? closingInfo.property_address_city_c : ''}}{{ closingInfo.property_address_state_c ? ', ' + closingInfo.property_address_state_c : ''}}{{ closingInfo.property_address_postalcode_c ? ', ' + closingInfo.property_address_postalcode_c : ''}}
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 closings_list_info">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
								<div class="closing_head_value">{{ closingInfo.currency_symbol }}{{ closingInfo.list_price_c ? (closingInfo.list_price_c | megaNumber) : '' }}</div>
								<div class="">List</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center" style="border-left: 1px solid;">
								<div class="closing_head_value">{{ closingInfo.currency_symbol }}{{ closingInfo.offer_price_c ? (closingInfo.offer_price_c | megaNumber) : '' }}</div>
								<div class="">Offer</div>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
								<div class="closing_head_value">{{ closingInfo.bed_c }}</div>
								<div class="">Bd</div>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
								<div class="closing_head_value">{{ closingInfo.bath_c }}</div>
								<div class="">Ba</div>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
								<div class="closing_head_value">{{ closingInfo.sq_ft_c | currency:"":0 }}</div>
								<div class="">Sqft</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-12">
		<div class="portlet light">
			<div class="portlet-body">

				<div class="row">
					<div class="closing_detail_buttons">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<a class="icon-btn simba_icon_btn" href="javascript:;" ng-click="closingsVisit()">
								<i class="fa fa-user-plus"></i>
								<div> Visit </div>
							</a>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<a class="icon-btn simba_icon_btn" href="javascript:;">
								<i class="fa fa-check-circle-o"></i>
								<div> Inspect </div>
							</a>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<a class="icon-btn simba_icon_btn" href="javascript:;" ng-click="closingsFinance()">
								<i class="fa fa-dollar"></i>
								<div> Finance </div>
							</a>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<a class="icon-btn simba_icon_btn" href="javascript:;">
								<i class="fa fa-edit"></i>
								<div> Edit Offer </div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
		<div class="row" >
			<div class="col-md-12">
				<div class="portlet light portlet-fit bordered">
					<div class="portlet-title">
		                <div class="caption">
		                    <span class="caption-subject font-green bold uppercase">Closing Information</span>
		                </div>
		                <div class="tools">
							<a class="collapse" href="javascript:;" data-original-title="" title=""> </a>
						</div>
		            </div>

		            <div class="portlet-body">

			            <div class="mt-element-step simba_element_step">
			            	<div class="row step-thin">
			            		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 simba_step {{offerClass}} mt-step-col">
				                    <div class="mt-step-number bg-white font-grey">1</div>
				                    <div class="mt-step-title uppercase font-grey-cascade">
				                    	Offer
			                    	</div>
				                </div>
				                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 simba_step {{wonClass}} mt-step-col">
				                    <div class="mt-step-number bg-white font-grey">2</div>
				                    <div class="mt-step-title uppercase font-grey-cascade">
				                    	{{ wonText }}
			                    	</div>
				                </div>
				                <div class="col-lg-15 col-md-15 col-sm-15 col-xs-15 simba_step {{inspectClass}} mt-step-col">
				                    <div class="mt-step-number bg-white font-grey">3</div>
				                    <div class="mt-step-title uppercase font-grey-cascade">
				                    	Inspect
			                    	</div>
				                </div>
				                <div class="col-lg-15 col-md-15 col-sm-15 col-xs-15 simba_step {{closingClass}} mt-step-col">
				                    <div class="mt-step-number bg-white font-grey">4</div>
				                    <div class="mt-step-title uppercase font-grey-cascade">
				                    	Closing
			                    	</div>
				                </div>
				                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 simba_step {{purchaseClass}} mt-step-col">
				                    <div class="mt-step-number bg-white font-grey">5</div>
				                    <div class="mt-step-title uppercase font-grey-cascade">
				                    	Purchase
			                    	</div>
				                </div>
			            	</div>
			            </div>

			            <div class="clearfix margin-bottom-25"> </div>

			            <div class="simbanic_nav_tabs simbanic_closing_tab">

				            <uib-tabset>

				            	<uib-tab>
				            		<uib-tab-heading>
				            			<i class="fa fa-sticky-note"></i>
				            			Offer 
				            		</uib-tab-heading>
				            		<div id="offer_information" class="">
							    		<div class="row">
											<div class="col-md-6">

												<!--<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														Opportunity Status:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.opportunity_status_c }}
													</div>
												</div>-->

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														Offer Price:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.offer_price_c | currency:undefined:0 }}
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														Offer to List %:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.offer_to_list_c | currency:undefined:0 }}
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														Contract Price:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.contract_price_c | currency:undefined:0 }}
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														Counter Price:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.counter_offer_price_c | currency:undefined:0 }}
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														Offer Date:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.offer_date_c ? (closingInfo.offer_date_c | date:'MM/dd/yyyy') : '' }}
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														Offer Expiration:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.offer_expiration_date_c ? (closingInfo.offer_expiration_date_c | date:'MM/dd/yyyy') : '' }}
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														Close Date:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.close_date_c ? (closingInfo.close_date_c | date:'MM/dd/yyyy') : '' }}
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														Close Balance:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.balance_to_close_c }}
													</div>
												</div>
											</div>

											<div class="col-md-6">

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														MLS Status:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.mls_status_c }}
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														Option Status:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.option_fee_status_c }}
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														Earnest Status:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.earnest_money_status_c }}
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														Option Amount:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.option_amount_c | currency:undefined:0 }}
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														Inspect Period:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.option_inspection_period_c }}
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														Option Delivery:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.option_delivery_instructions_c }}
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														Earnest Amount:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.earnest_amount_c | currency:undefined:0 }}
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														Escrow Address:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.escrow_company_address_c }}
													</div>
												</div>
											</div>

											<div class="col-md-12">
												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														Closing Notes:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.inspection_closing_notes_c }}
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														Negotiation Notes:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.negotiation_notes_c }}
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														GLT Notes:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.glt_notes_c }}
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														Terms/Comments:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.additional_terms_comments_c }}
													</div>
												</div>
											</div>
										</div>
									</div>
				            	</uib-tab>

				            	<uib-tab>
				            		<uib-tab-heading>
				            			<i class="fa fa-building"></i>
						            	Property 
				            		</uib-tab-heading>
				            		<div id="property_information" class=" ">
										<div class="row">

											<div class="col-md-6">

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														MLS:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.mls_c }}
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														GLT Record:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.link_to_glt_record_c }}
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														Tax ID:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.tax_id_c }}
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														Subdivision:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.subdivision_c }}
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														County:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.property_address_country_c }}
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														Source:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.lead_source }}
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														Year Built:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.year_built_c }}
													</div>
												</div>
											</div>

											<div class="col-md-6">

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														List Date:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.list_date_c | date:'MM/dd/yyyy' }}
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														Occupancy:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.occupancy_status_c }}
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														Lot Size:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.lot_size_c }}
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														Listing Type:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.listing_type_c }}
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														Excludes:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.property_excludes_c }}
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														Includes:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.property_includes_c }}
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														Pool:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.pool_c }}
													</div>
												</div>
											</div>

										</div>

									</div>
				            	</uib-tab>

				            	<uib-tab>
				            		<uib-tab-heading>
				            			<i class="fa fa-users"></i>
						            	Contact
				            		</uib-tab-heading>
				            		<div id="contact_information" class=" ">
										<div class="row">
											
											<div class="col-md-6">

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														Buyer Contract Name:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.buyer_contract_name_c }}
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														Seller Name:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.seller_name_c }}
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														Seller Notice Address:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.seller_notice_address_c }}
													</div>
												</div>
											</div>

											<div class="col-md-6">

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														Escrow Name:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.escrow_company_name_c }}
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														Escrow Contact:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.escrow_company_contact_c }}
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														Escrow Phone:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.escrow_company_phone_c }}
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-6 col-sm-6 col-xs-6 control-label">
														Escrow Email:
													</label>
													<div class="col-md-6 col-sm-6 col-xs-6 control-content">
														{{ closingInfo.escrow_company_email_c }}
													</div>
												</div>
											</div>


										</div>

									</div>
				            	</uib-tab>
				            </uib-tabset>

					    </div>

		            </div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 simbanic_tabbed_subpanels" ng-controller="TabController">
				<div class="portlet light">
					<div class="portlet-title tabbable-line" >
		                <div class="caption">
		                    <span class="caption-subject bold font-green uppercase">
		                    	Closing Materials
		                    </span>
		                </div>
		                <div class="tools">
		                	<a ng-show="isSet(1)" class="btn green" ngf-select="uploadFiles($files, $invalidFiles)" ngf-max-size="5MB" ngf-drop=""   ngf-pattern="'.pdf,.jpg,video/*,!.jog'" style="height: auto;" >Create</a>
		                	<a ng-show="isSet(2)" href="#/Contacts/0?create=true&guid={{guid}}" class="btn green" style="height: auto;">Create</a>
							<a class="collapse" href="javascript:;" data-original-title="" title=""> </a>
						</div>
						<ul class="nav nav-tabs">
		                    <li ng-class="{ active: isSet(1) }">
		                        <a href ng-click="setTab(1)"> Documents </a>
		                    </li>
		                    <li ng-class="{ active: isSet(2) }">
		                        <a href ng-click="setTab(2)"> Contacts </a>
		                    </li>
		                    <li ng-class="{ active: isSet(3) }">
		                        <a href ng-click="setTab(3)"> History </a>
		                    </li>
		                </ul>
		            </div>
		            
		            <div class="portlet-body">
		                <div class="row">
		                    <div class="col-md-12">

		                    	<div ng-show="isSet(1)">
		                    		<div class="alert" ng-show="documentErrFiles.$error === 'maxSize'">Maximum upload file size is 5MB. {{file.$errorParam}}</div>
		                    		<table ng-subpanel-documents class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="subpanel_documents">
					                    <thead>
					                        <tr>
					                        	<th class="all"></th>
					                            <th class="all">Name</th>
					                            <!--<th class="none">File name</th>
					                            <th class="none">Document Type</th>
					                            <th class="none">Date Created</th>
					                            <th class="none">Status</th>
					                            <th class="min-phone-l">Publish Date</th>
					                            <th class="desktop">Created By</th>-->
					                            <th class="min-phone-l">Publish Date</th>
					                            <th class="desktop">Created By</th>
					                        </tr>
					                    </thead>
					                    <tbody>
					                    	
					                    </tbody>
					                </table>
		                    	</div>

		                    	<div ng-show="isSet(2)">
		                    		<div class="row margin-top-5 margin-bottom-10">
	                                    <div class="col-md-6 col-sm-6 col-xs-9 closings_contact_opportunities">
	                                        <ui-select multiple tagging="tagTransform" ng-model="closingInfo.contacts_opportunities" theme="select2" on-select="onContactSelected($item)" style="width: 100%;"> <!-- tagging="tagTransform" on-select="onContactSelected($item)" -->
	                                            <ui-select-match placeholder="Enter names of EXISTING contact" >
	                                                {{ $item.first_name }}{{ ' ' + $item.last_name }}
	                                            </ui-select-match>
	                                            <ui-select-choices refresh="funcAsync($select.search)" refresh-delay="0" repeat="contact in availableContacts" >
	                                                <div class="row">
	                                                    <div class="col-md-12 col-sm-12 col-xs-12">
	                                                    	<span ng-if="contact.isTag">
	                                                    		{{ contact.name }}
                                                    		</span>
	                                                        <span ng-if="!contact.isTag">{{ contact.first_name }}{{ ' ' + contact.last_name }}{{ contact.company_name_c ? ', ' + contact.company_name_c : ''}}<br/>
	                                                        {{ contact.email1 ? contact.email1 : ''}}</span>
	                                                    </div>
	                                                </div>
	                                            </ui-select-choices>
	                                        </ui-select>
	                                    </div>
	                                    <div class="col-md-6 col-sm-6 col-xs-3">
	                                    	<button class="btn green" ng-click="saveContactOpportunities()">Save</button>
	                                    </div>
                                    </div>

					          		<table ng-subpanel-contacts class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="subpanel_contacts">
					                    <thead>
					                        <tr>
					                        	<th></th>
					                            <th class="all">Name</th>
					                            <th class="min-phone-l">Company</th>
					                            <th class="min-tablet">Office</th>
					                            <th class="min-tablet">Email</th>
					                            <th class="none">Mobile Phone</th>
					                            <th class="none">Title</th>
					                            <th class="none">Description</th>
					                        </tr>
					                    </thead>
					                    <tbody>
					                    </tbody>
					                </table>
						     	</div>
						        <div ng-show="isSet(3)">
						        	<!--<div class="scroller" style="height: 338px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                                        <div class="general-item-list">
                                            <div class="item">
                                                <div class="item-head">
                                                    <div class="item-details">
                                                        <img class="item-pic rounded" src="public/assets/img/avatar9.jpg">
                                                        <a href="" class="item-name primary-link">Nick Larson</a>
                                                        <span class="item-label">3 hrs ago</span>
                                                    </div>
                                                    <span class="item-status">
                                                        <span class="badge badge-empty badge-success"></span> Open</span>
                                                </div>
                                                <div class="item-body"> 
                                                	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
                                            	</div>
                                            </div>
                                            <div class="item">
                                                <div class="item-head">
                                                    <div class="item-details">
                                                        <img class="item-pic rounded" src="public/assets/img/avatar9.jpg">
                                                        <a href="" class="item-name primary-link">Mark</a>
                                                        <span class="item-label">5 hrs ago</span>
                                                    </div>
                                                    <span class="item-status">
                                                        <span class="badge badge-empty badge-warning"></span> Pending</span>
                                                </div>
                                                <div class="item-body"> 
                                                	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat tincidunt ut laoreet. 
                                            	</div>
                                            </div>
                                            <div class="item">
                                                <div class="item-head">
                                                    <div class="item-details">
                                                        <img class="item-pic rounded" src="public/assets/img/avatar9.jpg">
                                                        <a href="" class="item-name primary-link">Nick Larson</a>
                                                        <span class="item-label">8 hrs ago</span>
                                                    </div>
                                                    <span class="item-status">
                                                        <span class="badge badge-empty badge-primary"></span> Closed</span>
                                                </div>
                                                <div class="item-body"> 
                                                	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh. 
                                            	</div>
                                            </div>

                                            <div class="item">
                                                <div class="item-head">
                                                    <div class="item-details">
                                                        <img class="item-pic rounded" src="public/assets/img/avatar9.jpg">
                                                        <a href="" class="item-name primary-link">Nick Larson</a>
                                                        <span class="item-label">12 hrs ago</span>
                                                    </div>
                                                    <span class="item-status">
                                                        <span class="badge badge-empty badge-danger"></span> Pending</span>
                                                </div>
                                                <div class="item-body">
                                                	Consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
                                            	</div>
                                            </div>
                                            
                                        </div>
                                    </div>-->

					          		<table ng-subpanel-history id="subpanel_history" class="table " style="width: 100%;">
									    <thead>
									        <tr>
					                            <th class="all"></th>
									        </tr>
									    </thead>
									</table>

						     	</div>
		                    </div>
		                </div>
		            </div>
		        </div>
			</div>
		</div>
	</div>

	<div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">

		<div class="row">
			<div class="col-md-12">
				<div class="portlet light bordered">
		            <div class="portlet-title">
		                <div class="caption">
		                    <span class="caption-subject bold font-green uppercase">Chats</span>
		                </div>
		                <div class="tools">
		                	<a href="" class="fullscreen"> </a>
							<a class="collapse" href="javascript:;" data-original-title="" title=""> </a>
						</div>
		            </div>
		            <div class="portlet-body" id="chats">
		                <div class="scroller" style="height: 250px;" data-always-visible="1" data-rail-visible1="1">
		                    <ul class="chats">
		                        <li class="out">
		                            <img class="avatar" alt="" src="{{ settings.imgPath }}/avatar8.jpg" />
		                            <div class="message">
		                                <span class="arrow"> </span>
		                                <a href="javascript:;" class="name"> Lisa Wong </a>
		                                <span class="datetime"> at 20:11 </span>
		                                <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
		                            </div>
		                        </li>
		                        <li class="out">
		                            <img class="avatar" alt="" src="{{ settings.imgPath }}/avatar8.jpg" />
		                            <div class="message">
		                                <span class="arrow"> </span>
		                                <a href="javascript:;" class="name"> Lisa Wong </a>
		                                <span class="datetime"> at 20:11 </span>
		                                <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
		                            </div>
		                        </li>
		                        <li class="in">
		                            <img class="avatar" alt="" src="{{ settings.imgPath }}/avatar8.jpg" />
		                            <div class="message">
		                                <span class="arrow"> </span>
		                                <a href="javascript:;" class="name"> Bob Nilson </a>
		                                <span class="datetime"> at 20:30 </span>
		                                <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
		                            </div>
		                        </li>
		                        <li class="in">
		                            <img class="avatar" alt="" src="{{ settings.imgPath }}/avatar8.jpg" />
		                            <div class="message">
		                                <span class="arrow"> </span>
		                                <a href="javascript:;" class="name"> Bob Nilson </a>
		                                <span class="datetime"> at 20:30 </span>
		                                <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
		                            </div>
		                        </li>
		                        <li class="out">
		                            <img class="avatar" alt="" src="{{ settings.imgPath }}/avatar8.jpg" />
		                            <div class="message">
		                                <span class="arrow"> </span>
		                                <a href="javascript:;" class="name"> Richard Doe </a>
		                                <span class="datetime"> at 20:33 </span>
		                                <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
		                            </div>
		                        </li>
		                        <li class="in">
		                            <img class="avatar" alt="" src="{{ settings.imgPath }}/avatar8.jpg" />
		                            <div class="message">
		                                <span class="arrow"> </span>
		                                <a href="javascript:;" class="name"> Richard Doe </a>
		                                <span class="datetime"> at 20:35 </span>
		                                <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
		                            </div>
		                        </li>
		                        <li class="out">
		                            <img class="avatar" alt="" src="{{ settings.imgPath }}/avatar8.jpg" />
		                            <div class="message">
		                                <span class="arrow"> </span>
		                                <a href="javascript:;" class="name"> Bob Nilson </a>
		                                <span class="datetime"> at 20:40 </span>
		                                <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
		                            </div>
		                        </li>
		                        <li class="in">
		                            <img class="avatar" alt="" src="{{ settings.imgPath }}/avatar8.jpg" />
		                            <div class="message">
		                                <span class="arrow"> </span>
		                                <a href="javascript:;" class="name"> Richard Doe </a>
		                                <span class="datetime"> at 20:40 </span>
		                                <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
		                            </div>
		                        </li>
		                        <li class="out">
		                            <img class="avatar" alt="" src="{{ settings.imgPath }}/avatar8.jpg" />
		                            <div class="message">
		                                <span class="arrow"> </span>
		                                <a href="javascript:;" class="name"> Bob Nilson </a>
		                                <span class="datetime"> at 20:54 </span>
		                                <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. sed diam nonummy nibh euismod tincidunt ut laoreet. </span>
		                            </div>
		                        </li>
		                    </ul>
		                </div>
		                <div class="chat-form">
		                    <div class="input-cont">
		                        <input class="form-control" type="text" placeholder="Type a message here..." /> </div>
		                    <div class="btn-cont">
		                        <span class="arrow"> </span>
		                        <a href="" class="btn blue icn-only">
		                            <i class="fa fa-check icon-white"></i>
		                        </a>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>

		<div class="row">
			<div class="col-md-12">
				
				<div class="portlet light">
		            <div class="portlet-title">
		                <div class="caption">
		                    <span class="caption-subject bold font-green uppercase">
		                    	Tasks
		                    </span>
		                </div>
		                <div class="tools">
		                	<a href="#/Tasks/0?create=true&guid={{guid}}&address={{closingInfo.property_address_c}}" class="btn green" style="height: auto;">Create</a>
		                	<a href="" class="fullscreen"> </a>
							<a class="collapse" href="javascript:;" data-original-title="" title=""> </a>

						</div>
		            </div>
		            <div class="portlet-body">
		                <div id="simbanic_activities">
		                    <div class="">
		                    	<div class="portlet-body">
		                    		<table ng-subpanel-tasks class="table table-striped table-hover table-bordered" id="subpanel_tasks">
                                        <thead>
                                            <tr>
                                            	<th class=""></th>
                                                <th class="">Subject</th>
                                                <th class="">Due</th>
                                                <th class="">Assigned</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
		                    	</div>
		                    </div>
		                </div>
		                
		            </div>
		        </div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="portlet light portlet-fit bordered">
			        <div class="portlet-title">
			            <div class="caption">
			                <span class="caption-subject bold font-green uppercase">Map</span>
			            </div>
			            <div class="tools">
			            	<a href="" class="fullscreen"> </a>
							<a class="collapse" href="javascript:;" data-original-title="" title=""> </a>

						</div>
			            
			        </div>
			        <div class="portlet-body">
			        	<div>
			        		<div ng-gmap id="gmap_basic" class="gmaps" style="height: 350px;"> </div>
			        	</div>
			        </div>
			    </div>

		    </div>
		</div>
	</div>
</div>

