<div class="row" ng-detail-view-contact id="contact_detail_view">
    <div class="col-lg-12 col-md-12">
        <div class="portlet light">

            <div class="portlet-body">

                <div class="row">
                    
                    <div class="col-lg-12 col-md-12 contact_detail">

                        <!--<form class="form-horizontal form-bordered" role="form" novalidate name="contactForm">-->
                        
                            <div class="form-body">

                                <div class="row visible-xs">
                                    <div class="btn-arrow-link pull-right">
                                        <a href="" ng-click="gotoListView()">See All Contacts</a>
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                </div>
                            
                                <div class="row" ng-if="!editView">
                                    <div class="col-md-12">
                                        <div class="general-item-list">
                                            <div class="item">
                                                <div class="item-head">
                                                    <div class="item-details contact_name">
                                                        <!--<img class="item-pic rounded" ng-src="{{contact.photo ? settings.crmURL + 'index.php?entryPoint=download&id={{contact.id}}_photo&type=Contacts' : '{{ avatarImagePath }}'}}" style="height: 70px; width: 70px;">-->
                                                        <img ng-src="{{contact.photoURL}}" class="item-pic rounded contact_user_profile" style="height: 70px; ">

                                                        {{contact.first_name}}
                                                        {{contact.last_name}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" ng-if="editView">
                                    <div class="col-md-2 text-center">
                                        <img ngf-src="file || contact.photo ? settings.crmURL + 'index.php?entryPoint=download&id={{contact.id}}_photo&type=Contacts' : '{{ avatarImagePath }}'" ngf-thumbnail="contact.image" class="item-pic rounded contact_user_profile">
                                        <button class="btn yellow btn-outline margin-top-10" type="button" ngf-select="" ngf-drop="" accept="image/*" ngf-pattern="image/*" ng-model="contact.image" ngf-capture="capture" ngf-model-invalid="errorFile">Select Image</button>
                                    </div>
                                    <div class="col-md-10 ">
                                        <div class="row">
                                            <div class="col-md-6 col-xs-6 col-sm-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">
                                                        First:
                                                    </label>
                                                    <div class="col-md-9">
                                                    <input type="text" name="first_name" class="form-control" ng-value="contact.first_name" ng-model= "contact.first_name"
                                                    validator="required" required-error-message="Required Field">
                                                    <input type="hidden" name="contact_id" value="contact.id" ng-model="contact.id">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-xs-6 col-sm-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">
                                                        Last:
                                                    </label>
                                                    <div class="col-md-9">
                                                    <input type="text" name="last_name" class="form-control" value="{{contact.last_name}}" ng-model= "contact.last_name" validator="required" required-error-message="Required Field">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6 col-xs-6 col-sm-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">
                                                        Company:
                                                    </label>
                                                    <div class="col-md-9">
                                                    <input type="text" name="company_name_c" class="form-control" value="{{contact.company_name_c}}" ng-model= "contact.company_name_c" >
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-xs-6 col-sm-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">
                                                        Title:
                                                    </label>
                                                    <div class="col-md-9">
                                                    <input type="text" name="title" class="form-control" value="{{contact.title}}" ng-model= "contact.title">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div ng-if="editView">
                                    <div style="clear: both;"></div>
                                    <hr/>
                                </div>

                                <div class="row" ng-if="!editView">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">
                                                Company:
                                            </label>
                                            <div class="col-md-8">
                                                <p class="form-control-static" >
                                                    <span >
                                                        {{contact.company_name_c}}
                                                    </span>
                                                </p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">
                                                Office:
                                            </label>
                                            <div class="col-md-8">
                                                <p class="form-control-static" ng-if="!editView"> 
                                                    <span >
                                                        {{contact.phone_work | tel}}
                                                    </span>
                                                </p>
                                                <input ng-if="editView" type="text" name="phone_work" class="form-control" value="{{contact.phone_work}}" ng-model= "contact.phone_work">
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">
                                                Mobile:
                                            </label>
                                            <div class="col-md-8">
                                                <p class="form-control-static" ng-if="!editView"> 
                                                    <span>
                                                        {{contact.phone_mobile | tel}}
                                                    </span>
                                                </p>
                                                <input ng-if="editView" type="text" name="phone_mobile" class="form-control" value="{{contact.phone_mobile}}" ng-model= "contact.phone_mobile">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">
                                                Fax:
                                            </label>
                                            <div class="col-md-8">
                                                <p class="form-control-static" ng-if="!editView"> 
                                                    <span >
                                                        {{contact.phone_fax | tel }}
                                                    </span>
                                                </p>
                                                <input ng-if="editView" type="text" name="phone_fax" class="form-control" value="{{contact.phone_fax}}" ng-model= "contact.phone_fax">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">
                                                Department:
                                            </label>
                                            <div class="col-md-8">
                                                <p class="form-control-static" ng-if="!editView"> 
                                                    <span>
                                                        {{contact.department}}
                                                    </span>
                                                </p>
                                                <input ng-if="editView" type="text" name="department" class="form-control" value="{{contact.department}}" ng-model= "contact.department">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">
                                                Email:
                                            </label>
                                            <div class="col-md-8">
                                                <p class="form-control-static" ng-if="!editView">
                                                    <span > 
                                                        <a href="mailto:{{contact.email1}}">
                                                            {{contact.email1}}
                                                        </a>
                                                    </span>
                                                </p>
                                                <input ng-if="editView" type="text" name="email1" class="form-control" value="{{contact.email1}}" ng-model= "contact.email1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">
                                                Address:
                                            </label>
                                            <div class="col-md-8">
                                                <p class="form-control-static" ng-if="!editView"> 
                                                    <span >
                                                        {{contact.primary_address_street}}
                                                        <br/>
                                                        {{contact.primary_address_city}}{{contact.primary_address_state ? ', ' + contact.primary_address_state : ''}}{{contact.primary_address_postalcode ? ' ' + contact.primary_address_postalcode : ''}}
                                                    </span>
                                                </p>
                                                <input ng-if="editView" type="text" name="primary_address_street" class="form-control" value="{{contact.primary_address_street}}" ng-model= "contact.primary_address_street" placeholder="Enter Street">
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="editView">
                                            <label class="control-label col-md-4">
                                                City:
                                            </label>
                                            <div class="col-md-8">
                                                <input type="text" name="primary_address_city" class="form-control" value="{{contact.primary_address_city}}" ng-model= "contact.primary_address_city" placeholder="Enter City">
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="editView">
                                            <label class="control-label col-md-4">
                                                State:
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-if="editView" ng-model="contact.primary_address_state"  placeholder="Enter State" class="form-control">
                                                    <option value="{{key}}" ng-repeat="(key, value) in stateList">
                                                        {{value}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="editView">
                                            <label class="control-label col-md-4">
                                                Zip:
                                            </label>
                                            <div class="col-md-8">
                                                 <input ng-if="editView" type="text" name="primary_address_postalcode" class="form-control" value="{{contact.primary_address_postalcode}}" ng-model= "contact.primary_address_postalcode" placeholder="Enter PostalCode">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">
                                                Address2:
                                            </label>
                                            <div class="col-md-8">
                                                <p class="form-control-static" ng-if="!editView"> 
                                                    <span >
                                                        {{contact.alt_address_street}}
                                                        <br/>
                                                        {{contact.alt_address_city}}{{contact.alt_address_state ? ', ' + contact.alt_address_state : ''}}{{contact.alt_address_postalcode ? ' ' + contact.alt_address_postalcode : ''}}
                                                    </span>
                                                </p>
                                                <input ng-if="editView" type="text" name="alt_address_street" class="form-control" value="{{contact.alt_address_street}}" ng-model= "contact.alt_address_street" placeholder="Enter Street">
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="editView">
                                            <label class="control-label col-md-4">
                                                City:
                                            </label>
                                            <div class="col-md-8">
                                                <input ng-if="editView" type="text" name="alt_address_city" class="form-control" value="{{contact.alt_address_city}}" ng-model= "contact.alt_address_city" placeholder="Enter City">
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="editView">
                                            <label class="control-label col-md-4">
                                                State:
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-if="editView" ng-model="contact.alt_address_state"  placeholder="Enter State" class="form-control">
                                                    <option value="{{key}}" ng-repeat="(key, value) in stateList">
                                                        {{value}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="editView">
                                            <label class="control-label col-md-4">
                                                Zip:
                                            </label>
                                            <div class="col-md-8">
                                                <input ng-if="editView" type="text" name="alt_address_postalcode" class="form-control" value="{{contact.alt_address_postalcode}}" ng-model= "contact.alt_address_postalcode" placeholder="Enter PostalCode">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-2">
                                                Description:
                                            </label>
                                            <div class="col-md-10">
                                                <p class="form-control-static" ng-if="!editView">
                                                    <span > 
                                                        {{contact.description}}
                                                    </span>
                                                </p>
                                                <textarea ng-if="editView" type="text" name="description" class="form-control" rows="5"  ng-model= "contact.description">{{contact.description}}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        <!--</form>-->
                    </div>
                </div>
                
            </div>
        </div>
    </div>
   
</div>