<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard.html">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
    	<span class="active"> Contacts </span>
    </li>
</ul>

<div class="row" >
	<div class="col-lg-12 col-md-12">
		<div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject bold font-green uppercase">
                        Contacts
                    </span>
                </div>

                <div class="tools">

                    <button class="btn green" type="button" ng-click="broadcast('create')" ng-disabled="editView">New</button>

                    <button ng-if="!editView" class="btn green_dark" type="button" ng-click="broadcast('edit')" >Edit</button>

                    <button ng-if="editView" class="btn green_dark" type="button" ng-click="save()" validation-submit="contactForm" id="contact_save_btn" ng-disabled="isSaveBtnDisabled">Save</button>

                    <button class="btn red" type="button" data-toggle="confirmation" data-id="{{contact.id}}" id="contact_delete_btn" >Delete</button>

                    <button ng-if="editView" class="btn yellow" type="button" ng-click="broadcast('cancel')" id="contact_cancel_btn" ng-disabled="isCancelBtnDisabled">Cancel</button>

                    <a href="" class="fullscreen"> </a>
                    <a class="collapse" href="javascript:;" data-original-title="" title=""> </a>
                </div>
            </div>

			<div class="portlet-body">

                <div class="row">
                    <div class="col-lg-4 col-md-4" id="contact_list_view">
                        <table ng-listview-contacts class="table table-striped table-bordered table-hover order-column" width="100%" id="listview_contacts">
                            <thead>
                                <tr>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <form class="form-horizontal form-bordered" role="form" novalidate name="contactForm">
                        <div ui-view class="col-lg-8 col-md-8 contact_detail slide">
                            
                        </div>
                    </form>
                </div>
				
			</div>
		</div>
	</div>
   
</div>

