%p= t(:description)
= simple_form_for(@upload, url: client_market_uploads_url(@market)) do |f|
  - if can? :bulk, Job
    .well
      %h5.inline= t(:upload_entry)         
    =f.input :source, hint: t(:source_hint)
    =f.input :files, as: :file, label: t(:files_label), hint: link_to(t(:download_template), template_client_market_uploads_url(@market)), input_html: { accept: 'text/csv' }
  
  .well
    %h5.inline= t(:manual_entry)
    - if can? :bulk, Job
      .pull-right
        =link_to t(:add_row), '#', class: 'add_fields', 'data-association-insertion-method' => :prepend, 'data-association-insertion-node' => 'tbody.overrides', 'data-association-insertion-template' => "#{render('override', f: f, object: {})}"
  .row
    .span12.xscroll
      %table.table.table-hover
        %thead
          %tr
            &nbsp; You are required to enter some combination of the following fields. MLS # or TAX # & Zip or Tax # & County or Address & Zip or Address & County. Other fields are optional.
            %th 
            - for attr in Property::IMPORT_FIELDS
              - if (['tax_id', 'street_address', 'zip_code', 'county'].include? attr)
                %th= "#{Property.label(attr, :short)}*"  
              - elsif (['list_price'].include? attr)
                %th= "#{Property.label(attr)}"         
              - else
                %th= Property.label(attr, :short)
        %tbody.overrides
          - for override in @upload.overrides
            =render 'override', f: f, object: override
  
  .controlbar
    .container
      .form-actions
        =f.button :submit, t('.submit'), :disable_with => t('wait')
        =link_to t(:cancel), client_market_uploads_url, class: 'btn btn-link'