<div class="row widget-row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat blue">
            <div class="visual">
                <i class="icon-key"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span class="" count-up end-val="44">0</span>
                </div>
                <div class="desc">Opportunities</div>
            </div>
            <a class="more" href="javascript:;">
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat red">
            <div class="visual">
                <i class="fa fa-folder-open-o"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span class="" count-up end-val="count.Opportunities">0</span>
                </div>
                <div class="desc">Offers & Closings</div>
            </div>
            <a class="more" href="javascript:;">
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat green">
            <div class="visual">
                <i class="icon-list"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span class="" count-up end-val="count.Tasks">0</span>
                </div>
                <div class="desc">Tasks</div>
            </div>
            <a class="more" href="javascript:;">
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat purple">
            <div class="visual">
                <i class="fa fa-comments"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span class="" count-up end-val="71">0</span></div>
                <div class="desc">Chats</div>
            </div>
            <a class="more" href="javascript:;">
            </a>
        </div>
    </div>


    <!--<div class="col-md-3 col-sm-6 col-xs-12">
        
        <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
            <h4 class="widget-thumb-heading">Opportunities</h4>
            <div class="widget-thumb-wrap">
                <i class="widget-thumb-icon bg-green icon-key"></i>
                <div class="widget-thumb-body">
                    <span class="widget-thumb-body-stat" count-up end-val="44">0</span>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        
        <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
            <h4 class="widget-thumb-heading">Offers & Closings</h4>
            <div class="widget-thumb-wrap">
                <i class="widget-thumb-icon bg-red fa fa-folder-open-o"></i>
                <div class="widget-thumb-body">
                    <span class="widget-thumb-body-stat" count-up end-val="count.Opportunities">0</span>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        
        <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
            <h4 class="widget-thumb-heading">Tasks</h4>
            <div class="widget-thumb-wrap">
                <i class="widget-thumb-icon bg-purple icon-list"></i>
                <div class="widget-thumb-body">
                    <span class="widget-thumb-body-stat" count-up end-val="count.Tasks">0</span>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        
        <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
            <h4 class="widget-thumb-heading">Chats</h4>
            <div class="widget-thumb-wrap">
                <i class="widget-thumb-icon bg-blue fa fa-comment-o"></i>
                <div class="widget-thumb-body">
                    <span class="widget-thumb-body-stat" count-up end-val="71">0</span>
                </div>
            </div>
        </div>
        
    </div>-->
</div>