<div class="row">
    <div class="col-md-6 col-sm-6">
        <div class="portlet light tasks-widget bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-list font-green"></i>
                    <span class="caption-subject font-green bold uppercase">
                        Tasks
                    </span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="task-content">
                    <div class="scroller" >
                        <div>
                            <table class="table order-column" id="tasks_dashlet" ng-tasks-dashlet width="100%" style="width:100%" >
                                <thead>
                                    <tr>
                                        <th class="">Name</th>
                                        <th class="">Due date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="task-footer">
                    <div class="btn-arrow-link pull-right">
                        <a href="#/Tasks">See All Tasks</a>
                        <i class="icon-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Reports</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row number-stats margin-bottom-30">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="stat-left">
                            <div class="stat-chart">
                                <div id="dashlet_report_2" ng-reports1-chart></div>
                            </div>
                            <div class="stat-number">
                                <div class="title"> Offers </div>
                                <div class="number"> 2460 </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="stat-right">
                            <div class="stat-chart">
                                <div id="dashlet_report_2" ng-reports2-chart></div>
                            </div>
                            <div class="stat-number">
                                <div class="title"> Closings </div>
                                <div class="number"> 719 </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="scroller">
                    <table class="table order-column" id="reports_dashlet" ng-reports-dashlet width="100%" style="width:100%" >
                        <thead>
                            <tr>
                                <th class="">Name</th>
                                <th class="">Last Run</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>

                <div class="scroller-footer">
                    <div class="btn-arrow-link pull-right">
                        <a href="#">See All Reports</a>
                        <i class="icon-arrow-right"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>