<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard.html">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="#/Tasks">
        	<span class="active"> Tasks </span>
    	</a>
    </li>
</ul>

<div class="row" ng-detail-view-task>
	<form role="form" method="POST" class="form-horizontal" novalidate name="taskForm">
		<div class="col-lg-12 col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="row">
						<div class="col-md-12" style="margin-bottom: 10px;">
							<a ng-href="{{ return_action }}" ng-if="backURL">
								<i class="fa fa-arrow-circle-o-left"></i>
								Return to Closing
							</a>
							<a ng-href="{{ return_action }}" ng-if="!backURL">
								See All Tasks 
								<i class="fa fa-arrow-circle-o-right"></i>
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 task_detailview_btn">
							<div class="clearfix">

								<button class="btn green" type="button" ng-if="task.status == 'Completed' && createView == false" ng-click="statusChange('In Progress')" data-id="{{task.id}}" id="status_incomplete_btn">Incomplete</button>
								
								<button class="btn green" type="button" ng-if="task.status != 'Completed' && createView == false" ng-click="statusChange('Completed')" data-id="{{task.id}}" id="status_complete_btn">Complete</button>

								<button ng-if="!editView" class="btn green_dark" type="button" ng-click="edit()">Edit</button>

								<button ng-if="editView" class="btn green_dark" type="button" ng-click="save()" validation-submit="taskForm">Save</button>

								<button id="task_cancel_btn" class="btn yellow" ng-if="editView" ng-click="cancel()" type="button">Cancel</button>

								<button class="btn red" mwl-confirm title="Are you Sure?" data-id="{{task.id}}" on-confirm="delete('{{task.id}}')" ng-if="!createView">Delete</button>
								
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label class="control-label col-md-2">Due:</label>
								<div class="col-md-10">

									<div ng-if="editView"  class="input-group" ng-click="dueDatePicker()">
                                        <input type="text" name="date_due" class="form-control" readonly=""  due-date-picker value="{{ task.date_due ? (formatDate(task.date_due) | date:'MM/dd/yyyy') : '' }}" ng-model="task.date_due" validator="required" required-error-message="Required Field">
                                        <span class="input-group-btn valign_top">
                                            <button class="btn default" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                    
									<label ng-if="!editView" class="simba_detail_label" > 
										{{ task.date_due ? (formatDate(task.date_due) | date:'MM/dd/yyyy') : '' }} 
									</label>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label class="control-label col-md-2">Time:</label>
								<div class="col-md-10">
									<div ng-if="editView"  class="input-group" ng-click="dueDateTimePicker()">
                                        <input ng-if="editView" type="text" name="date_simba_due_time" class="form-control timepicker timepicker-no-seconds" ng-value="task.date_due_time ? task.date_due_time : '' " due-time-picker ng-model="task.date_due_time">
                                        <span class="input-group-btn valign_top" >
                                            <button class="btn default" type="button">
                                                <i class="fa fa-clock-o"></i>
                                            </button>
                                        </span>
                                    </div>
                                    
									<label ng-if="!editView" class="simba_detail_label" > 
										{{ task.date_due_time ? task.date_due_time : '' }}
									</label>
								</div>
							</div>
						</div>
						<!--<div class="col-md-3">
							<div class="form-group">
								<label class="control-label col-md-3">Assign:</label>
								<div class="col-md-9">
									<input ng-if="editView" type="text" name="assigned_user_name" class="form-control" disabled="" ="" value="{{task.assigned_user_name}}">
									<label ng-if="!editView" class="simba_detail_label">{{task.assigned_user_name}}</label>
								</div>
							</div>
						</div>-->

						<div class="col-md-3">
							<div class="form-group">
								<label class="control-label col-md-3">Address:</label>
								<div class="col-md-9" ng-if="editView">
									<div 
										angucomplete-alt
										id="property_address_c"
										placeholder="Search Properties"
										pause="100"
										search-fields="property"
										selected-object="selectedProperty"
										initial-value="selectedPropertyAddress"
										remote-url='{{settings.apiURL}}/custom/service/v4_1_custom/rest.php'
										minlength="1"
										remote-url-request-formatter="remoteUrlRequestFn"
										remote-url-data-field="data"
										title-field="property_address_c"
										input-ng-model="task.property_address_c"
										input-class="form-control">
									</div>

								</div>
								<div class="col-md-9" ng-if="!editView">
									<label ng-if="!editView"  class="simba_detail_label">
										<a href="#/Closings/{{task.parent_id}}">
											{{task.property_address_c}}
										</a>
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="portlet-body">
					
					<div class="row">
						
						<div class="col-md-12">
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">Subject</label>
									<input ng-if="editView" type="text" name="name" class="form-control"  value="{{task.name}}" ng-model="task.name" validator="required" required-error-message="Required Field">
									<label ng-if="!editView" class="simba_detail_label">{{task.name}}</label>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">Details</label>
									<textarea ng-if="editView" class="form-control" ng-model="task.description">{{task.description}}</textarea>
									<label ng-if="!editView" class="simba_detail_label">{{task.description}}</label>
								</div>
							</div>
						</div>
						
					</div>
					
					
				</div>
			</div>
		</div>
	</form>

	<div class="col-lg-12 col-md-12">
		<div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject bold font-green uppercase">
                        Attach File 
                    </span>
                </div>
                <div class="tools">
                	<a href="javascript:;" ngf-select="createUploadFiles($files, $invalidFiles)" ngf-drop="" accept="*" ngf-pattern="*" ng-if="createView" ngf-keep="true">
                		<span class="icon-plus font-hg" aria-hidden="true"  ></span>
                	<a href="javascript:;" ng-if="!createView" ngf-select="uploadFiles($files, $invalidFiles)" ngf-drop="" accept="*" ngf-pattern="*" >
                		<span class="icon-plus font-hg" aria-hidden="true"></span>
            		</a>
                	<a href="" class="fullscreen"> </a>
                    <a class="collapse" href="javascript:;" data-original-title="" title=""> </a>
                </div>
            </div>

			<div class="portlet-body">
				<div class="row">
                    <div class="col-lg-12 col-md-12">
						<table ng-subpanel-notes class="table table-striped table-bordered table-hover order-column" width="100%" id="subpanel_notes">
							<thead>
								<tr>
									<th class="">Filename</th>
									<th class=""></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-if="createView" ng-repeat="noteFile in noteFiles track by $index">
									<td>
										<a target="_blank" ng-href="{{ noteFile.$ngfBlobUrl }}">{{ noteFile.name }}</a>
									</td>
									<td >
										<button data-index="{{$index}}" class="btn btn-outline red-mint btn-small" data-simba-toggle="confirmation" simba-create-task-note-confirmation>Remove</button>
									</td>
								</tr>
							</tbody>
						</table>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>