<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard.html">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span class="active">Tasks</span>
    </li>
</ul>

<div class="row">

	<div class="col-lg-12 col-md-12">
		<div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject bold font-green uppercase">
                        All Tasks
                    </span>
                    
                </div>

                <a href="#/Tasks/0?create=true" class="btn green uppercase margin-left-20" style="margin-top: 2px;">New Task</a>

                <div class="actions">
                    <label class="">View:</label>

                    <div class="btn-group">
                        <a class="btn btn-sm green btn-outline btn-circle" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> Filter By
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <!-- hold-on-click -->
                        <div class="dropdown-menu dropdown-checkboxes pull-right">
                            <div class="md-radio-list" style="padding: 0px 10px;">
                                <div class="md-radio">
                                    <input type="radio" name="filter_1" id="checkbox_incomplete" class="md-radiobtn" ng-change="listFilterBy('incomplete')" value="incomplete"  ng-model="filter1">
                                    <label for="checkbox_incomplete">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> Incomplete </label>
                                </div>
                                <div class="md-radio">
                                    <input type="radio" name="filter_1" id="checkbox_complete" class="md-radiobtn" ng-change="listFilterBy('complete')" value="complete" ng-model="filter1">
                                    <label for="checkbox_complete">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> Complete </label>
                                </div>
                                <div class="md-radio" style="padding-bottom: 5px; margin-bottom: 10px; border-bottom: 2px dotted #c2cad8">
                                    <input type="radio" name="filter_1" id="checkbox_all_status" class="md-radiobtn" ng-change="listFilterBy('all')" value="all_status" ng-model="filter1" >
                                    <label for="checkbox_all_status">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> All Status </label>
                                </div>
                                <div class="md-radio">
                                    <input type="radio" name="filter_2" id="checkbox_my_tasks" class="md-radiobtn" ng-change="listFilterBy('my_tasks')" value="my_tasks" ng-model="filter2">
                                    <label for="checkbox_my_tasks">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> My Tasks </label>
                                </div>
                                <div class="md-radio">
                                    <input type="radio" name="filter_2" id="checkbox_all_user_tasks" class="md-radiobtn" ng-change="listFilterBy('all_user_tasks')" value="all_user_tasks" ng-model="filter2" >
                                    <label for="checkbox_all_user_tasks">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> All Users Tasks </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="" class="fullscreen"> </a>
                    <a class="collapse" href="javascript:;" data-original-title="" title=""> </a>
                </div>

                <ul class="nav nav-tabs margin-top-5">
                    <li class="active">
                        <a href="#/Tasks" class="btn green simba-btn-outline margin-right-5"> List </a>
                    </li>
                    <li >
                        <a href="#/Calendar" class="btn green simba-btn-outline margin-right-20"> Calendar </a>
                    </li>
                </ul>

            </div>

			<div class="portlet-body">
				<table ng-listview-tasks class="table table-striped table-bordered table-hover table-checkable order-column" width="100%" id="listview_tasks">
                    <thead>
                        <tr>
                            <!--<th><input type="checkbox" class="group-checkable" data-set="#listview_tasks .checkboxes" /> </th>-->
                            <th></th>
                            <th class="">Subject</th>
                            <th class="">Status</th>
                            <th class="">Due</th>
                            <th class="">Assign</th>
                            <th class="">Address</th>
                            <th class="">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
			</div>
		</div>
	</div>
</div>