%p{:style => "margin-left: 180px; color: #777777"}= t(:description)
%br
= simple_form_for(@proxy_upload, url: admin_proxy_uploads_url(@proxy_upload), observe: true) do |f|
  
  =f.textarea :proxy_list, as: :text, input_html: {class: 'large-comments'}
  .form-actions
    =f.submit t(:submit), disable_with: t('wait'), class: 'btn btn-primary'
    =link_to t(:cancel), admin_proxies_url, class: 'btn btn-link'