- @title = t(:settings)

= simple_form_for(@assignment, :url => {:action => :update}, :observe => true) do |f|
  
  .tabbable
    %ul.nav.nav-tabs
      - [:renovation_rehabs, :renovation_timelines, :build_costs, :values].each do |key|
        =tab_item t(key), "##{key}"
    .tab-content
      = render 'values', :f => f

  .controlbar
    .container
      .form-actions
        =f.button :submit, t('.save_changes')
        =f.submit :restore, :name => :restore, :value => t('.restore_market_values'), :type => :submit, :class => 'btn btn-warning', :data => { :confirm => t('.are_you_sure') }
        =f.submit :reset, :value => t('.reset'), :type => :reset, :class => 'btn'