    <div class="login_content">
        <div class="logo">
            <a href="login.html">
                <img src="{{settings.imgPath}}/bincontrol_logo.png" width="140px">
            </a>
        </div>
        
        <!--<form simba-change-new-password-form class="change-new-password-form" action="index.html" ng-submit="simbaChangeNewPassword()"  method="post">-->
            <h3 class="form-title">Please enter user name and password.</h3>

            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span> Enter any username and password. </span>
            </div>
            <input type="hidden" name="guid" value="">
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Username</label>
                <div class="input-icon">
                    <i class="fa fa-user"></i>
                    <input class="form-control placeholder-no-fix" type="text" autocomplete="off" ng-model="changeNewPasswordForm.userName" placeholder="Username" name="user_name" /> </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">New Password</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    <input class="form-control placeholder-no-fix" type="password" autocomplete="off" ng-model="changeNewPasswordForm.newPassword" placeholder="Password" name="new_password" /> 
                </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Confirm Password</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    <input class="form-control placeholder-no-fix" type="password" autocomplete="off" ng-model="changeNewPasswordForm.password" placeholder="Confirm Password" name="password" /> 
                </div>
            </div>
            <div class="form-actions" style="overflow: hidden;">
                <button type="button" ng-click="simbaChangeNewPassword()" class="btn green pull-right"> Change Password </button>
            </div>
            
        <!--</form>-->
        
    </div>    
            