<div class="text-center">
    <div simba-user-lock class="page-lock" style="display: inline-block;">
        <div class="page-logo">
            <a class="brand" href="index.html" style="text-decoration: none;">
                <img src="{{settings.imgPath}}/logo.png" width="60px">
                <span class="glt_logo_text" style="color: #FFF;">BinControl</span>
            </a>
        </div>
        <div class="page-body">
            <img class="page-lock-img" src="{{settings.imgPath}}/avatar9.jpg" alt="">
            <div class="page-lock-info text-left">
                <h1>{{ loginBean.currentUser.name_value_list.user_name.value }}</h1>
                <span class="email">  </span>
                <span class="locked"> Locked </span>
                <form class="form-inline">
                    <div class="input-group input-medium">
                        <input type="password" class="form-control" placeholder="Password" ng-model="lockForm.password">
                        <span class="input-group-btn">
                            <button ng-click="simbaLock()" type="submit" class="btn green icn-only">
                                <i class="m-icon-swapright m-icon-white"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="text-center lock_copyright"> 
            Copyright: &copy; 2016 Thai Union Manufacturing. All rights reserved.
        </div>
    </div>
</div>