= simple_form_for([:admin, @user], :observe => true) do |f|
  =f.input :firstname
  =f.input :lastname
  =f.input :company
  =f.input :email
  =f.input :inactive unless (@user.new_record? || @user == current_user)
  =f.input :phone
  =f.input :fax
  =f.input :admin unless @user == current_user
  =f.input :role, :as => :radio_buttons
  =f.association :markets
  =f.input :address, :input_html => { :rows => 2 }
  =f.input :city
  =f.input :state
  =f.input :zip
  
  .controlbar
    .container
      .form-actions
        =f.button :submit, :disable_with => t('wait')
        =link_to t(:cancel), collection_url, class: 'btn btn-link'