= page_info(@users)
%table.table.table-hover
  %thead
    %tr
      - for attr in %w{admin email name role phone status markets}
        %th= User.label(attr)
      %th= t(:actions)
  %tbody
    - @users.each do |user|
      %tr
        %td= user.format(:admin)
        %td= link_to(user.email, "mailto:#{user.email}")
        - for attr in %w{name role phone}
          %td= user.format(attr)
        %td= user.format(:status, as: :enum)
        %td= user.markets.map(&:name).to_sentence
        %td.nowrap
          %ul.nav.nav-links
            - if can? :edit, user
              =nav_item t(:edit), edit_resource_url(user)
            - if can? :destroy, user
              =nav_item t(:delete), resource_url(user), method: :delete, confirm: t(:are_you_sure) 