<div class="row" ng-controller="listIssueViewController">
	<div class="col-md-12">
		<div class="portlet light" style="padding: 0px; margin: 0px;">
			<div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green bold uppercase">
                    	List of Issue Detail
                	</span>
                </div>
                <div class="tools">
                	<button class="bootbox-close-button close" data-dismiss="modal" type="button">×</button>
            	</div>
            </div>
            
            <div class="portlet-body form">
            	<h4 class="sbold">
		    		ID : {{database.id}}
				</h4>
				<hr class="margin-top-10" />
            	<div class="row simba-form-horizontal">
        			<div class="col-md-12">
        			
	            		<form role="form" method="POST" class="form-horizontal" novalidate name="trucksForm" id="trucksForm">
							<div class="form-body" style="padding: 0px;">
								
								<div class="row margin-bottom-15">
									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4 col-xs-4">
												Loaded
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                        			<input type="text" id="name" name="name" class="form-control" ng-model="visitForm.visit_date" validator="required" required-error-message="Required Field" readonly=""  ng-value="database.loaded">
											</div>
										</div>
									</div>

									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Weight (Kg.)
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" id="type" name="type" class="form-control" ng-model="visitForm.earliest_time" readonly="" validator="required" required-error-message="Required Field" ng-value="database.weight">
											</div>
					                    </div>
									</div>
								</div>

								<div class="row margin-bottom-15">
									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4 col-xs-4">
												Previos Location
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" id="address" name="address" class="form-control" ng-model="visitForm.earliest_time" readonly="" validator="required" required-error-message="Required Field"  ng-value="database.previos_location">
											</div>
										</div>
									</div>

									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Current Location
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" id="latitude" name="latitude" class="form-control" ng-model="visitForm.earliest_time" readonly="" validator="required" required-error-message="Required Field" ng-value="database.current_location">
											</div>
					                    </div>
									</div>
								</div>
								
								<div class="row margin-bottom-15">
									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4 col-xs-4">
												Last Check-in Time
											</label>
											<div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" id="longitude" name="longitude" class="form-control" ng-model="visitForm.earliest_time" readonly="" validator="required" required-error-message="Required Field"  ng-value="database.last_check_in_time">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-actions">
							<div class="row">
								<div class="col-md-6">
									<div class="col-md-offset-3 col-md-9">
										<button class="btn green" type="button" ng-click="save()" validation-submit="trucksForm">Submit</button>
										<button class="bootbox-close-button btn default" data-dismiss="modal" type="button">Cancel</button>
									</div>
								</div>
							</div>
						</div>
					</form>
        			</div>
            	</div>
            </div>
		</div>



