%tr
  %td= f.input :min, :label => false
  %td= f.input :max, :label => false
  %td= f.input :weeks, :label => false
  %td= f.input :cost, :label => false
  %td= f.input :_destroy, :as => :boolean, :label => false