= page_info(data)
- puts "%% column preference: #{columns}"
.row
  .span12{:style => 'position:relative;'}
    .xscroll{:style => "margin-left: #{defined?(refine) || defined?(rem) ? 134 : 103}px; border-left: 2px solid #666" }
      %table.table.table-hover.table-bordered{:style => 'margin-left: -3px'}
        %thead
          %th{:style => 'left: 0; position: absolute; width: 30px; border-top: 1px solid #DDD; margin-top:-1px' } &nbsp;
          %th{:style => 'left: 30px; position: absolute; width: 60px; border-top: 1px solid #DDD; margin-top:-1px', :nowrap => :nowrap}
            =sortable(:id, Property.label(:id, :short), anchor: (anchor rescue nil))
          - if defined?(refine)
            %th{:style => 'left: 100px; position: absolute; width: 20px; border-top: 1px solid #DDD; margin-top:-1px'}= check_box_tag :chk_all_refine
          - if defined?(rem)
            %th{:style => 'left: 100px; position: absolute; width: 20px; border-top: 1px solid #DDD; margin-top:-1px'}= check_box_tag :chk_all_remove    
          - Delayed::Worker.logger.debug "~~columns: #{columns}"
          - for column in columns
           
            - if !Property.attr_config(column, :as).nil? && (column != "rep")
              %th{:nowrap => :nowrap}
                =sortable(column, Property.label(column, :short), anchor: (anchor rescue nil))
            - elsif (column == "tag")
              %th{:nowrap => :nowrap}  
                =sortable(column, "Label", anchor: (anchor rescue nil))
            - else
              %th{:nowrap => :nowrap, :class => 'non_sortable'}
                =non_sortable(column, Property.label(column, :short), anchor: (anchor rescue nil))
        %tbody
          - sort = sort_asc ? 'ASC' : 'DESC'
          - Delayed::Worker.logger.debug "@@# sort_by #{sort_by.class}"
          - if sort_by.in?([:id,:city,:state,:zip])
            - sort_stmt = "properties.#{sort_by} #{sort}"
          
          - else
            - sort_stmt = "#{sort_by} #{sort}"
          - #if sort_by == :id
          - #sql = data.prepare.where(["proformas.user_id is NULL"]).order("properties.#{sort_by} #{sort}").to_sql
          - #else
          - #sql = data.prepare.where(["proformas.user_id is NULL"]).order("#{sort_by} #{sort}").to_sql
          - #puts "$$$ to sql:  #{sql}"
          
          - Delayed::Worker.logger.debug "@@# sort_statement #{sort_stmt}"
          - #Rails.logger.debug "%%% data #{data.prepare_user(current_user.id).where(["proformas.user_id is NULL"]).order(sort_stmt).to_sql}"
          - #data.prepare_user(current_user.id).where(["proformas.user_id is NULL"]).order(sort_stmt).each_with_index do |property, index|
          - data.prepare_client_user(current_user.id).order(sort_stmt).each_with_index do |property, index|
            - puts "~~property #{property.user_client_proforma.try(:rental_expenses_management_fee)}"
            %tr
              %td.align-right{:style => 'left: 0; position: absolute; width: 20px; border-bottom: 1px solid #DDD' }= index+1
              %td.align-right{:style => 'left: 30px; position: absolute; width: 60px; border-bottom: 1px solid #DDD', :nowrap => :nowrap}= link_to(property.id, client_market_property_url(@market, property), target: :_blank)
              - if defined?(refine)  
                = refine.fields_for :config do |c|
                  %td{:style => 'left: 100px; position: absolute; width: 20px; border-bottom: 1px solid #DDD'}
                    =c.check_box :id, {multiple: true}, property.id, nil
              - if defined?(rem)
                = rem.fields_for :config do |c|
                  %td{:style => 'left: 100px; position: absolute; width: 20px; border-bottom: 1px solid #DDD'}
                    =c.check_box :id, {multiple: true}, property.id, nil
              - for column in columns
                - if property.user_client_proforma.respond_to?(column)
                  %td{:nowrap => :nowrap, class: 'align-right'  }= property.user_client_proforma.format(column)
                - elsif property.respond_to?(column) && column.in?(["list_price_psf","sale_price_psf","build_cost_sq_ft","sale_sold_list_price_psf_min","sale_sold_list_price_psf_avg","sale_sold_list_price_psf_max","sale_sold_list_price_psf_mean","sale_sold_sale_price_psf_min","sale_sold_sale_price_psf_avg","sale_sold_sale_price_psf_max","sale_sold_sale_price_psf_mean","rental_sold_list_price_psf_min","rental_sold_list_price_psf_avg","rental_sold_list_price_psf_max","rental_sold_list_price_psf_mean","rental_sold_sale_price_psf_min","rental_sold_sale_price_psf_avg","rental_sold_sale_price_psf_max","rental_sold_sale_price_psf_mean","build_sold_list_price_psf_min","build_sold_list_price_psf_avg","build_sold_list_price_psf_max","build_sold_list_price_psf_mean","build_sold_sale_price_psf_min","build_sold_sale_price_psf_avg","build_sold_sale_price_psf_max","build_sold_sale_price_psf_mean","adj_sale_price_psf"])
                  - Delayed::Worker.logger.debug "@1# #{column}"
                  %td{:nowrap => :nowrap, class: ('align-right' if ActiveConfig.find(Property.attr_config(column, :as), :align_right) ) }= property.format(column, as: :money_w_two_decimal)
                - elsif property.user_client_proforma.respond_to?(column)
                  %td{:nowrap => :nowrap, class: ('align-right' if ActiveConfig.find(Property.attr_config(column, :as), :align_right) ) }= property.user_client_proforma.format(column)
                - elsif property.respond_to?(column) && !column.in?(["tag"])
                  - Delayed::Worker.logger.debug "@2# #{column}"
                  %td{:nowrap => :nowrap, class: ('align-right' if ActiveConfig.find(Property.attr_config(column, :as), :align_right) ) }= property.format(column)
                
                  
                - else
                  - if (column == 'tag')
                    - Delayed::Worker.logger.debug "@3.5# #{column}"
                    %td{:nowrap => :nowrap, class: 'align-right'  }= property.format_tag(current_user.id)
                  - else
                    - Delayed::Worker.logger.debug "@3# #{column}"
                    %td{:nowrap => :nowrap, class: 'align-right'  }= property.format(column)

