%tr
  %td= f.input :name, :label => false
  %td= f.input :start_hour, :label => false
  %td= f.input :start_min, :label => false
  %td= f.input :mer_indicator, :label => false
  %td= f.input :duration_hour, :label => false, :input_html => {:type => "number"}
  %td= f.input :duration_min, :label => false, :input_html => {:type => "number"}  
  %td= f.input :_destroy, :as => :boolean, :label => false