.tab-pane{id: "values_#{group}"}
  / %h4= group
  .row
    %table.table.table-definitions.span6
      - if defined?(@assignment)
        %thead
          %th.span4 Property
          %th.align-center Your value
          %th.align-center Market value
      %tbody
        %tr
        - attrs = {default: attrs} if attrs.is_a?(Array)
        - attrs.each do |category, all|
          - unless attrs.length == 1
            %tr
              %td
                %h5= t(category)
          - for attr in all
            %tr
              %td.title.valign-middle
                %label= MarketDefinition.label(attr, :context)
              %td.item.align-right=f.input attr, :label => false
              - if defined?(@assignment)
                %td.item.valign-middle.align-right= @market.definition.format(attr)