- if f.object.id.nil?
  - @test = @test.nil? ? Market.find(f.object.market_id).property_tags.count + 1 : @test +1
  - f.object.seq = @index
%tr
  %td
    %span= f.input :seq, :label => false, :input_html => {:style => "width: 40px; text-align: right", :readonly => true}
    %span= f.hidden_field :id, :label => false
  %td= f.input :name, :label => false
   
  %td= f.input :_destroy, :as => :boolean, :label => false
  %td= icon_link_to 'javascript:void(0)', { :icon => "chevron-up", :blank => "vote", :enlarge => true }, :class => "up"
  %td= icon_link_to 'javascript:void(0)', { :icon => "chevron-down", :blank => "vote", :enlarge => true }, :class => "down"
      

  