%tr
  %td= f.input :min, :label => false
  %td= f.input :max, :label => false
  %td= f.input :sale, :label => false
  %td= f.input :rental, :label => false
  %td= f.input :_destroy, :as => :boolean, :label => false