.tab-pane#tags
  .row   
    %table.table.table-bordered.span6{:style => "width: 500px"}
      %thead
        %tr
          %th.align-center= "#Seq"   
          %th.align-center= "Name"     
          %th.align-center= t('.delete')
          %th.align-center= ""
          %th.align-center= ""
        
      %tbody.cron-jobs   
        - @test = nil  
        - @index = 1     
        = f.fields_for "property_tags" do |r|
          = render "property_tag_fields", {:f => r, :index => @index}    
          - @index = @index + 1   
    =link_to_add_association  "Add", f, :property_tags, :"data-association-insertion-node" => "tbody.cron-jobs", :"data-association-insertion-method" => "append"