.tab-pane#renovation_rehabs
  .row
    %table.table.table-hover.span6
      %thead
        %tr
          %th= MarketRenovationRehab.label(:min)
          %th= MarketRenovationRehab.label(:max)
          %th= MarketRenovationRehab.label(:sale)
          %th= MarketRenovationRehab.label(:rental)
          %th= t('.delete')
      %tbody.renovation-rehabs
        %tr
          = f.fields_for :definition do |d|
            %td{:colspan => 2}= t('.unspecified')
            %td= d.input(:renovation_unspecified_sale_rehab, :label => false)
            %td= d.input(:renovation_unspecified_rental_rehab, :label => false)
            %td &nbsp;  

        = f.fields_for :renovation_rehabs do |r|
          = render "renovation_rehab_fields", :f => r
    =link_to_add_association  "Add", f, :renovation_rehabs, :"data-association-insertion-node" => "tbody.renovation-rehabs", :"data-association-insertion-method" => "prepend"

.tab-pane#renovation_timelines
  .row
    %table.table.table-hover.span5
      %thead
        %tr
          %th= MarketRenovationTimeline.label(:min)
          %th= MarketRenovationTimeline.label(:max)
          %th= MarketRenovationTimeline.label(:weeks)
          %th= t('.delete')
      %tbody.renovation-timelines
        = f.fields_for :renovation_timelines do |r|
          = render "renovation_timeline_fields", :f => r
    =link_to_add_association  "Add", f, :renovation_timelines, :"data-association-insertion-node" => "tbody.renovation-timelines", :"data-association-insertion-method" => "prepend"

.tab-pane#build_costs  
  .row
    %table.table.table-hover.span6
      %thead
        %tr
          %th= MarketBuildCost.label(:min)
          %th= MarketBuildCost.label(:max)
          %th= MarketBuildCost.label(:weeks)
          %th= MarketBuildCost.label(:cost)
          %th= t('.delete')
      %tbody.build-costs
        = f.fields_for :build_costs do |r|
          = render "build_cost_fields", :f => r
    =link_to_add_association  "Add", f, :build_costs, :"data-association-insertion-node" => "tbody.build-costs", :"data-association-insertion-method" => "prepend"

- @groups = [:purchase, :rental, :seller_finance, :rental_resale, :sale, :build, :listing, :assignment, :lending, :general, :return]
.tab-pane#values
  = f.fields_for :definition do |d|
    .tabbable.tabs-left
      %ul.nav.nav-tabs
        - for group in @groups
          =tab_item t(group), "#values_#{group}"
      .tab-content
        = render 'definition_fields', f: d, group: :purchase, attrs: %w{purchase_price_discount purchase_commission_earned purchase_bank_short_discount purchase_homeowner_short_discount}
        = render 'definition_fields', f: d, group: :rental, attrs: %w{rental_loan rental_annual_rent_increase rental_annual_vacancy_rate rental_annual_maintenance_expense rental_management_expense rental_annual_expense_increase rental_years_to_sale}
        = render 'definition_fields', f: d, group: :seller_finance, attrs: %w{seller_finance_loan seller_finance_sale_time_discount seller_finance_down_payment seller_finance_interest_rate seller_finance_term seller_finance_realtor_fee seller_finance_management_expense seller_finance_years_to_sale}
        = render 'definition_fields', f: d, group: :rental_resale, attrs: %w{rental_resale_loan rental_resale_marketing_expense rental_resale_closing_expense rental_resale_warranty_expense rental_resale_investor_cap_rate}
        = render 'definition_fields', f: d, group: :sale, attrs: %w{sale_loan sale_realtor_fee_closing_costs sale_seller_contribution}
        = render 'definition_fields', f: d, group: :build, attrs: %w{build_loan build_realtor_fee_closing_costs build_seller_contribution}
        = render 'definition_fields', f: d, group: :listing, attrs: %w{listing_prep_days listing_sale_comp_discount listing_commission_income listing_marketing_expense listing_agent_expense}
        = render 'definition_fields', f: d, group: :listing_partnership, attrs: %w{listing_partnership_loan listing_partnership_commission_income listing_partnership_construction_markup listing_partnership_profits_percent listing_partnership_marketing_legal_expense listing_partnership_seller_contribution}
        = render 'definition_fields', f: d, group: :assignment, attrs: %w{assignment_sale_time_discount assignment_investor_arv_sale_ltv assignment_marketing_expense assignment_closing_expense}
        = render 'definition_fields', f: d, group: :lending, attrs: {bridge: %w{lending_bridge_purchase_down_payment lending_bridge_renovation_down_payment lending_bridge_max_ltv lending_bridge_interest_rate lending_bridge_points lending_bridge_term lending_bridge_closing_costs lending_bridge_interest_only lending_bridge_amortization}, short: %w{lending_short_down_payment lending_short_max_ltv lending_short_interest_rate lending_short_points lending_short_term lending_short_closing_costs lending_short_interest_only lending_short_amortization}, short2: %w{lending_short2_down_payment lending_short2_max_ltv lending_short2_interest_rate lending_short2_points lending_short2_term lending_short2_closing_costs lending_short2_interest_only lending_short2_amortization}, long: %w{lending_long_down_payment lending_long_max_ltv lending_long_interest_rate lending_long_points lending_long_term lending_long_closing_costs lending_long_interest_only lending_long_amortization }}
        = render 'definition_fields', f: d, group: :general, attrs: %w{general_company_marginal_tax_rate general_investor_marginal_tax_rate general_capital_gains_rate general_improvement_ratio general_years_depreciation general_annual_insurance_expense general_annual_utility_expense general_days_to_close general_appreciation_rate general_tax_rate} 
        = render 'definition_fields', f: d, group: :return, attrs: %w{return_minimum_cap_rate return_minimum_roi return_minimum_return_on_total_project return_new_sale_comp_level return_new_rental_comp_level}