.tab-pane#weekly_comp_schedules 
  .row   
    %table.table.table-bordered.span6
      %thead
        %tr
          %th.align-center{:rowspan => 2}= "Name"
          %th.align-center{:colspan => 2}= "Schedule"
          %th.align-center{:rowspan => 2}= "Meridian"
          %th.align-center{:colspan => 2}= "Duration"
          %th.align-center{:rowspan => 2}= t('.delete')
        %tr
          %th.align-center= "hr"
          %th.align-center= "min"
          %th.align-center= "hr"
          %th.align-center= "min"
      %tbody.cron-jobs          
        = f.fields_for :cron_jobs do |r|
          = render "cron_job_fields", :f => r        
    =link_to_add_association  "Add", f, :cron_jobs, :"data-association-insertion-node" => "tbody.cron-jobs", :"data-association-insertion-method" => "prepend"