<div class="row">
	<div class="col-lg-12 col-md-12 simba_opportunity_map_bootbox" >
		<div class="portlet light" style="padding: 0px; margin-bottom: 0px;">
			<div class="portlet-title position_relative">
				<div class="row">
					<div class="col-md-2 col-sm-2 col-xs-2 text-center">
						<a href="javascript:;" class="btn rounded green_dark font-md" style="padding: 1px 7px">
							A
						</a>
						<h5 class="sbold" style="margin: 5px 0px;">Active</h5>
					</div>
					<div class="col-md-5 col-sm-5 col-xs-6 margin-top-10">
						<span class="font-lg font-black bold">
		            		3719 Highgrove Drive
		        		</span>
					</div>
					<div class="col-md-5 col-sm-5 col-xs-4 margin-top-10">
						<div class="btn-group btn-group-circle">
		            		<button ng-simba-spinner-bar="" data-address="3719 Highgrove Drive" class="btn simba_add_map green_dark btn-xs margin-right-0 display_block" type="button" style="width: 70px;" ng-click="addMarkerIntoMap()"><i class="fa fa-plus"></i> Add</button>
		            		<button ng-simba-spinner-bar="" data-address="3719 Highgrove Drive" class="btn simba_remove_map default display_block btn-xs " type="button" style="width: 70px;"><i class="fa fa-minus"></i> Remove</button>
		            	</div>
					</div>
				</div>
				<button class="bootbox-close-button close absolute_top_right_0" data-dismiss="modal" type="button"></button>
		    </div>
		    <div class="portlet-body">
		    	<div class="row" >
			    	<div class="col-md-12" ng-if="bootboxDialog">
						<slick simba-popup-slick dots=false init-onload=true data="propertyImages" slides-to-show=1 slides-to-scroll=1 class=" ">
							<div class="" ng-repeat="propertyImage in propertyImages" >
								<img ng-src="{{propertyImage.src}}" class="simba_popup_slider_img" >
							</div>
						</slick>
					</div>
				</div>

				<div class="clearfix margin-bottom-30"></div>

				<div class="row simba_opp_bootbox_info text-center sbold">
					<div class="col-md-12 margin-bottom-10">
	    				2 bd / 2 ba / 1,492 sq ft / 1982 yr / 14 days on Greenlet
	    			</div>
	    			<div class="col-md-12">
	    				List: 225,000 / Sold: 221,000 (98.2%) / Date: 03-21-2016 / Distance: 0.16 mi
	    			</div>
			    	<!--<div class="col-md-8 col-sm-8 col-xs-12">
			    		<div class="row">
			    			<div class="col-md-12">
			    				2 bd / 2 ba / 1,492 sq ft / 1982 yr / 14 days on Greenlet
			    			</div>
			    			<div class="col-md-3 col-sm-3 col-xs-3">
			    				2 beds
			    			</div>
			    			<div class="col-md-3 col-sm-3 col-xs-3">
			    				2.0 baths
			    			</div>
			    			<div class="col-md-3 col-sm-3 col-xs-3">
			    				1492 sqft
			    			</div>
			    			<div class="col-md-3 col-sm-3 col-xs-3">
			    				Year 1918
			    			</div>
			    		</div>
			    	</div>
			    	<div class="col-md-4 col-sm-8 col-xs-12">
			    		<div>
			    			Distance: 0.16 miles
			    		</div>
			    	</div>-->
		    	</div>

		    	<!--<hr style="margin: 10px 0px;" />

		    	<div class="row simba_opp_bootbox_info">
			    	<div class="col-md-9 col-sm-9 col-xs-12">
			    		<div class="row">
			    			<div class="col-md-4 col-sm-4 col-xs-3">
			    				List Price: $225k
			    			</div>
			    			<div class="col-md-5 col-sm-5 col-xs-4">
			    				Sold Price: $221k (98.2%)
			    			</div>
			    			<div class="col-md-3 col-sm-3 col-xs-3">
			    				DOM 4
			    			</div>
			    		</div>
			    	</div>
			    	<div class="col-md-3 col-sm-3 col-xs-12">
			    		<div>
			    			Sold Date: 3/21/2016
			    		</div>
			    	</div>
		    	</div>-->

		    	<hr style="margin: 10px 0px;" />

		    	<div class="row">
			    	<div class="col-md-12 col-sm-12 col-xs-12">
		    			{{ 'There was an item missing from yesterday’s City of Dallas Parks and Recreation Board agenda. It was briefing about a gift two philanthropic foundations, the Boone Family Foundation and the Rainwater Charitable Foundation, planned to give to the city. The gift seemed admirable enough.  The foundations wanted to install markers in seven city parks that would acknowledge their history as historically segregated African-American parks. Sparked both by the redo of Uptown’s once black-only Griggs Park in 2013 and the Facing Race conference held in Dallas in 2014, the intent was to do just that: face up to this city’s racial history, acknowledge the ignominy of the past and celebrate the role these parks played in shaping this city’s African-American community.' | limitTo: 400 }}
		    			<!--{{ myString | limitTo: 20 }}{{myString.length > 20 ? '...' : ''}}-->
			    	</div>
		    	</div>

		    </div>
	    </div>
	</div>
</div>