<div class="form-body form_group_overflow bold_control_label" style="padding: 0px;">

	<div class="row ">
		<div class="col-md-6 ">
			<div class="form-group">
				<label class="control-label col-md-5 col-sm-5 col-xs-5">
					List Price
				</label>
				<div class="col-md-7 col-sm-7 col-xs-7">
					123
				</div>
			</div>
		</div>
		<div class="col-md-6 ">
			<div class="form-group">
				<label class="control-label col-md-5 col-sm-5 col-xs-5">
					<span class="pull-left">Calculated Offer</span>
					<span class="simba_tooltip pull-left" >
						<span uib-tooltip="Lorem ipsum">
							<span>i</span>	
						</span>
					</span>
				</label>
				<div class="col-md-7 col-sm-7 col-xs-7">
					456
				</div>
			</div>
		</div>
	</div>

	<div class="row margin-bottom-15 border-bottom">
		<div class="col-md-6 ">
			<div class="form-group">
				<label class="control-label col-md-5 col-sm-5 col-xs-5">
					<span class="pull-left">Offer Price</span>
					<span class="simba_tooltip pull-left" >
						<span uib-tooltip="Lorem ipsum">
							<span>i</span>	
						</span>
					</span>
				</label>
				<div class="col-md-7 col-sm-7 col-xs-7">
					<div class="input-group">
						<span class="input-group-btn valign_top">
							<button class="btn default" type="button">
								<i class="fa fa-dollar"></i>
							</button>
						</span>
                    	<input type="text" name="offer_price" class="form-control" ng-model="finance.offerForm.offer_price" placeholder="Offer Price">
                	</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 ">
			<div class="form-group">
				<label class="control-label col-md-5 col-sm-5 col-xs-5">
					<span class="pull-left">Offer to Ask</span>
					<span class="simba_tooltip pull-left" >
						<span uib-tooltip="Lorem ipsum">
							<span>i</span>	
						</span>
					</span>
					
				</label>
				<div class="col-md-7 col-sm-7 col-xs-7">
					12.50
				</div>
			</div>
		</div>
	</div>

	<div class="row ">
		<div class="col-md-6 ">
			<div class="form-group">
				<label class="control-label col-md-5 col-sm-5 col-xs-5">
					Rent AVM
				</label>
				<div class="col-md-7 col-sm-7 col-xs-7">
					<ol name="rent_avm" class="nya-bs-select bs-select bootstrap-select form-control" ng-model="finance.offerForm.rent_avm">
						<li data-value="" class="nya-bs-option" >
					        <a>Please Select</a>
					    </li>
					</ol>
				</div>
			</div>
		</div>
		<div class="col-md-6 ">
			<div class="form-group">
				<label class="control-label col-md-12 col-sm-12 col-xs-12">
					<div class="text_to_link font-blue">
						<a class="text-underline font-blue" href="" ng-click="gotoTab('values_comps')">Values & Comps</a>
						<i class="icon-arrow-right"></i>
					</div>
				</label>
				
			</div>
		</div>
	</div>

	<div class="row ">
		<div class="col-md-6 ">
			<div class="form-group">
				<label class="control-label col-md-5 col-sm-5 col-xs-5">
					Custom Rent
				</label>
				<div class="col-md-7 col-sm-7 col-xs-7">
					<div class="input-group">
						<span class="input-group-btn valign_top">
							<button class="btn default" type="button">
								<i class="fa fa-dollar"></i>
							</button>
						</span>
                    	<input type="text" name="custom_rent" class="form-control" ng-model="finance.offerForm.custom_rent" placeholder="Custom Rent">
                	</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 ">
			<div class="form-group">
				<label class="control-label col-md-5 col-sm-5 col-xs-5">
					Other Income
				</label>
				<div class="col-md-7 col-sm-7 col-xs-7">
					<div class="input-group">
						<span class="input-group-btn valign_top">
							<button class="btn default" type="button">
								<i class="fa fa-dollar"></i>
							</button>
						</span>
                    	<input type="text" name="other_income" class="form-control" ng-model="finance.offerForm.other_income" placeholder="Other Income">
                	</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row margin-bottom-15 border-bottom">
		<div class="col-md-6 ">
			<div class="form-group">
				<label class="control-label col-md-5 col-sm-5 col-xs-5">
					Total Income
				</label>
				<div class="col-md-7 col-sm-7 col-xs-7">
				</div>
			</div>
		</div>
	</div>

	<div class="row ">
		<div class="col-md-6 ">
			<div class="form-group">
				<label class="control-label col-md-5 col-sm-5 col-xs-5">
					Rehab Grade
				</label>
				<div class="col-md-7 col-sm-7 col-xs-7">
					<ol name="rehab_grade" class="nya-bs-select bs-select bootstrap-select form-control" ng-model="finance.offerForm.rehab_grade">
						<li data-value="A" class="nya-bs-option">
					        <a>A</a>
					    </li>
					    <li data-value="B" class="nya-bs-option">
					        <a>B</a>
					    </li>
					    <li data-value="C" class="nya-bs-option">
					        <a>C</a>
					    </li>
					    <li data-value="D" class="nya-bs-option">
					        <a>D</a>
					    </li>
					    <li data-value="F" class="nya-bs-option">
					        <a>F</a>
					    </li>
					</ol>
				</div>
			</div>
		</div>
		<div class="col-md-6 ">
			<div class="form-group">
				<label class="control-label col-md-5 col-sm-5 col-xs-5">
					Grade Description
				</label>
				<div class="col-md-7 col-sm-7 col-xs-7">
					Text
				</div>
				
			</div>
		</div>
	</div>

	<div class="row ">
		<div class="col-md-6 ">
			<div class="form-group">
				<label class="control-label col-md-5 col-sm-5 col-xs-5">
					Rehab Price
				</label>
				<div class="col-md-7 col-sm-7 col-xs-7">
					<div class="input-group">
						<span class="input-group-btn valign_top">
							<button class="btn default" type="button">
								<i class="fa fa-dollar"></i>
							</button>
						</span>
                    	<input type="text" name="rehab_price" class="form-control" ng-model="finance.offerForm.rehab_price" placeholder="Rehab Price">
                	</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 ">
			<div class="form-group">
				<label class="control-label col-md-12 col-sm-12 col-xs-12">
					<div class="text_to_link font-blue">
						<a href="" class="text-underline font-blue" data-target="#opportunity_rehab_estimator" data-toggle="tab" ng-click="nextTab('rehab_estimator')">Rehab Estimator</a>
						<i class="icon-arrow-right"></i>
					</div>
				</label>
				
			</div>
		</div>
	</div>

	<div class="row ">
		<div class="col-md-6 ">
			<div class="form-group">
				<label class="control-label col-md-5 col-sm-5 col-xs-5">
					Closing Cost %
				</label>
				<div class="col-md-7 col-sm-7 col-xs-7">
					<div class="input-group">
                    	<input type="text" name="closing_cost_percentage" class="form-control" ng-model="finance.offerForm.closing_cost_percentage" placeholder="Estimated Closing Cost %">
                    	<span class="input-group-btn valign_top">
							<button class="btn default" type="button">
								%
							</button>
						</span>
                	</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 ">
			<div class="form-group">
				<label class="control-label col-md-5 col-sm-5 col-xs-5">
					Closing Cost $
				</label>
				<div class="col-md-7 col-sm-7 col-xs-7">
					<div class="input-group">
						<span class="input-group-btn valign_top">
							<button class="btn default" type="button">
								<i class="fa fa-dollar"></i>
							</button>
						</span>
                    	<input type="text" name="closing_cost_dollar" class="form-control" ng-model="finance.offerForm.closing_cost_dollar" placeholder="Estimated Closing Cost Price">
                	</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row margin-bottom-15 border-bottom">
		<div class="col-md-6 ">
			<div class="form-group">
				<label class="control-label col-md-5 col-sm-5 col-xs-5">
					Total Investment
				</label>
				<div class="col-md-7 col-sm-7 col-xs-7">
				</div>
			</div>
		</div>
	</div>

	<div class="row ">
		<div class="col-md-6 ">
			<div class="form-group">
				<label class="control-label col-md-5 col-sm-5 col-xs-5">
					Sale AVM
				</label>
				<div class="col-md-7 col-sm-7 col-xs-7">
					<ol name="rehab_grade" class="nya-bs-select bs-select bootstrap-select form-control" ng-model="finance.offerForm.sale_avm">
						<li data-value="" class="nya-bs-option">
					        <a>Please Select</a>
					    </li>
					    
					</ol>
				</div>
			</div>
		</div>
		<div class="col-md-6 ">
			<div class="form-group">
				<label class="control-label col-md-12 col-sm-12 col-xs-12">
					<div class="text_to_link font-blue">
						<a class="text-underline font-blue" href="" ng-click="gotoTab('values_comps')">Values & Comps</a>
						<i class="icon-arrow-right"></i>
					</div>
				</label>
			</div>
		</div>
	</div>

	<div class="row  margin-bottom-15 border-bottom">
		<div class="col-md-6 ">
			<div class="form-group">
				<label class="control-label col-md-5 col-sm-5 col-xs-5">
					Custom Sale
				</label>
				<div class="col-md-7 col-sm-7 col-xs-7">
					<div class="input-group">
						<span class="input-group-btn valign_top">
							<button class="btn default" type="button">
								<i class="fa fa-dollar"></i>
							</button>
						</span>
                    	<input type="text" name="custom_sale" class="form-control" ng-model="finance.offerForm.custom_sale" placeholder="Custom Sale">
                	</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 ">
			<div class="form-group">
				<label class="control-label col-md-5 col-sm-5 col-xs-5">
					Replacement %
				</label>
				<div class="col-md-7 col-sm-7 col-xs-7">
					10.20
				</div>
			</div>
		</div>
	</div>

	<div class="row ">
		<div class="col-md-6 ">
			<div class="form-group">
				<label class="control-label col-md-5 col-sm-5 col-xs-5">
					Financing
				</label>
				<div class="col-md-7 col-sm-7 col-xs-7">
				 	<div class="md-radio-inline">
                        <div class="md-radio">
                            <input type="radio" id="finance_financing_yes" name="financing" class="md-radiobtn" ng-model="finance.offerForm.financing" value="yes">
                            <label for="finance_financing_yes">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> Yes </label>
                        </div>
                        <div class="md-radio">
                            <input type="radio" id="finance_financing_no" name="financing" class="md-radiobtn" ng-model="finance.offerForm.financing" value="no">
                            <label for="finance_financing_no">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> No </label>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>

	<div class="row " ng-if="finance.offerForm.financing == 'yes'">
		<div class="col-md-6 ">
			<div class="form-group">
				<label class="control-label col-md-5 col-sm-5 col-xs-5">
					Down Payment %
				</label>
				<div class="col-md-7 col-sm-7 col-xs-7">
					<div class="input-group">
                    	<input type="text" name="down_payment_percentage" class="form-control" ng-model="finance.offerForm.down_payment_percentage" placeholder="Down Payment %">
                    	<span class="input-group-btn valign_top">
							<button class="btn default" type="button">
								%
							</button>
						</span>
                	</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 ">
			<div class="form-group">
				<label class="control-label col-md-5 col-sm-5 col-xs-5">
					Down Payment $
				</label>
				<div class="col-md-7 col-sm-7 col-xs-7">
					<div class="input-group">
						<span class="input-group-btn valign_top">
							<button class="btn default" type="button">
								<i class="fa fa-dollar"></i>
							</button>
						</span>
                    	<input type="text" name="down_payment_dollar" class="form-control" ng-model="finance.offerForm.down_payment_dollar" placeholder="Down Payment $">
                	</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row " ng-if="finance.offerForm.financing == 'yes'">
		<div class="col-md-6 ">
			<div class="form-group">
				<label class="control-label col-md-5 col-sm-5 col-xs-5">
					Terms (yrs)
				</label>
				<div class="col-md-7 col-sm-7 col-xs-7">
					<ol name="terms_yrs" class="nya-bs-select bs-select bootstrap-select form-control" ng-model="finance.offerForm.terms_yrs">
						<li data-value="" class="nya-bs-option" >
					        <a>Please Select</a>
					    </li>
					    <li data-value="1" class="nya-bs-option" >
					        <a>1</a>
					    </li>
					    <li data-value="2" class="nya-bs-option" >
					        <a>2</a>
					    </li>
					    <li data-value="5" class="nya-bs-option" >
					        <a>5</a>
					    </li>
					    <li data-value="10" class="nya-bs-option" >
					        <a>10</a>
					    </li>
					    <li data-value="15" class="nya-bs-option" >
					        <a>15</a>
					    </li>
					    <li data-value="20" class="nya-bs-option" >
					        <a>20</a>
					    </li>
					    <li data-value="25" class="nya-bs-option" >
					        <a>25</a>
					    </li>
					    <li data-value="30" class="nya-bs-option" >
					        <a>30</a>
					    </li>
					</ol>
				</div>
			</div>
		</div>
		<div class="col-md-6 ">
			<div class="form-group">
				<label class="control-label col-md-5 col-sm-5 col-xs-5">
					Interest Rate
				</label>
				<div class="col-md-7 col-sm-7 col-xs-7">
					<div class="input-group">
                    	<input type="text" name="interest_rate" class="form-control" ng-model="finance.offerForm.interest_rate" placeholder="Interest Rate">
                    	<span class="input-group-btn valign_top">
							<button class="btn default" type="button">
								%
							</button>
						</span>
                	</div>
				</div>
			</div>
		</div>
		
	</div>

	<div class="row " ng-if="finance.offerForm.financing == 'yes'">
		<div class="col-md-6 ">
			<div class="form-group">
				<label class="control-label col-md-5 col-sm-5 col-xs-5">
					Mortgage Payment
				</label>
				<div class="col-md-7 col-sm-7 col-xs-7">
					<div class="pull-left">Text</div>
					<div class="pull-right text-right simba_radio_switch" >
						<div class="btn-group btn-group-devided" data-toggle="buttons">
                            <label class="btn btn-transparent green btn-outline  btn-sm active">
                                <input type="radio" name="options" class="toggle" >/mo
                            </label>
                            <label class="btn btn-transparent green btn-outline  btn-sm">
                                <input type="radio" name="options" class="toggle" >/yr
                            </label>
                        </div>
					</div>
				</div>
			</div>
		</div>
		
	</div>

</div>