<div class="row">
	
	<div class="col-md-12">
		<div class="portlet light">
			<div class="portlet-title">
	            <div class="caption">
	                <span class="caption-subject font-green bold uppercase">
	                	Financials
	            	</span>
	            </div>
	            <div class="tools">
					<a class="collapse" href="javascript:;" data-original-title="" title=""> </a>
				</div>
	        </div>
	        <div class="portlet-body">
	        	<div class="row">
	        		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	        			<div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
	                        <h4 class="widget-thumb-heading">
	                        	Cash Flow 
	                        	<a href="javascript:;" class="simba_title_tooltip btn btn-circle btn-icon-only default" uib-tooltip="Lorem ipsum">
	                        		<span>i</span>
	                        	</a>
	                    	</h4>
	                        
	                        <div class="widget-thumb-wrap">
	                            <i class="widget-thumb-icon bg-green fa fa-dollar"></i>
	                            <div class="widget-thumb-body">
	                            	<span>$</span>
	                                <span class="widget-thumb-body-stat" count-up end-val="5750">5750</span>
	                                <span class="" >/ 8.25%</span>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	                	<div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
	                		<h4 class="widget-thumb-heading">
	                        	CAP Rate
	                        	<a href="javascript:;" class="simba_title_tooltip btn btn-circle btn-icon-only default" uib-tooltip="Lorem ipsum">
	                        		<span>i</span>
	                        	</a>
	                    	</h4>
	                        <div class="widget-thumb-wrap">
	                            <i class="widget-thumb-icon bg-green fa fa-cogs"></i>
	                            <div class="widget-thumb-body">
	                                <span class="" >6.28%</span>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	                    <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
	                    	<h4 class="widget-thumb-heading">
	                        	Gross Yield
	                        	<a href="javascript:;" class="simba_title_tooltip btn btn-circle btn-icon-only default" uib-tooltip="Lorem ipsum">
	                        		<span>i</span>
	                        	</a>
	                    	</h4>
	                        <div class="widget-thumb-wrap">
	                            <i class="widget-thumb-icon bg-green fa fa-area-chart"></i>
	                            <div class="widget-thumb-body">
	                                <span class="" >10.72%</span>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	                    <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
	                    	<h4 class="widget-thumb-heading">
	                        	Equity
	                        	<a href="javascript:;" class="simba_title_tooltip btn btn-circle btn-icon-only default" uib-tooltip="Lorem ipsum">
	                        		<span>i</span>
	                        	</a>
	                    	</h4>
	                        <div class="widget-thumb-wrap">
	                            <i class="widget-thumb-icon bg-green fa fa-money"></i>
	                            <div class="widget-thumb-body">
	                                <span>$</span>
	                                <span class="widget-thumb-body-stat" count-up end-val="1000">1000</span>
	                                <span class="" >/ 1.2%</span>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	        	</div>

	        	<div class="row">
	    			<div class="col-md-12 simbanic_nav_tabs">
	    				<uib-tabset>
			            	<uib-tab>
			            		<uib-tab-heading>
			            			<i class="fa fa-sticky-note"></i>
			            			Offer 
			            		</uib-tab-heading>

			            		<div ng-include src="'assets/app/components/opportunities/detailview/financial_offer.html'"></div>
			            		
		            		</uib-tab>
		            		
		            		<uib-tab>
			            		<uib-tab-heading>
			            			<i class="fa fa-calculator"></i>
			            			Expenses 
			            		</uib-tab-heading>
			            		
			            		<div ng-include src="'assets/app/components/opportunities/detailview/financial_expense.html'"></div>
			            		
		            		</uib-tab>
	            		</uib-tabset>
	    			</div>
	        	</div>
	        	
	        </div>
		</div>
	</div>

</div>