<div class="row" ng-controller="opportunitiesOfferController">

	<div class="col-md-12" ng-if="make_an_offer">
		<div class="portlet light" style="padding: 0px; margin: 0px;">
			<div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green bold uppercase">
                    	Make An Offer
                	</span>
                </div>
                <div class="tools">
                	<button class="bootbox-close-button close" data-dismiss="modal" type="button">×</button>
            	</div>
            </div>
            <div class="portlet-body form">
            	<div class="row">
            		<div class="col-md-6">
            			<h4 class="">
            				<span class="sbold">Address: </span>3602 Hidalgo Dr, Dallas, TX, 75220
            			</h4>
            		</div>
            		<div class="col-md-3">
            			<h4 class="">
            				<span class="sbold">List Price: </span>$900,000
            			</h4>
            		</div>
            		<div class="col-md-3">
            			<h4 class="">
            				<span class="sbold">List Date: </span>05/21/2016
            			</h4>
            		</div>
            	</div>
            	
				<hr class="clearfix margin-top-10" />

				<form simba-opportunity-offer-form role="form" method="POST" class="form-horizontal opportunityOfferForm simba-opportunity-offer-form" novalidate name="opportunityOfferForm" id="opportunityOfferForm" editable-form>

	            	<div class="row simba-form-horizontal">
	        			<div class="col-md-12">
	        			
							<div class="form-body" style="padding: 0px;">
								<div class="row margin-bottom-15">
									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Offer Price
											</label>
											<div class="col-md-9 col-sm-9 col-xs-9">
												<div class="input-group">
													<span class="input-group-btn valign_top">
														<button class="btn default" type="button">
															<i class="fa fa-dollar"></i>
														</button>
													</span>
	                                            	<input type="text" name="offer_price" class="form-control" ng-model="offerForm.offer_price" placeholder="Initial offer amount" ng-change="changeOfferPrice()">
                                            	</div>
											</div>
										</div>
									</div>
									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Offer/ List %
											</label>
											<div class="col-md-9 col-sm-9 col-xs-9">
												<div class="input-group">
													<input type="text" name="offer_list" class="form-control" ng-value="offerForm.offer_price ? ((offerForm.offer_price/900000) * 100 | setDecimal:2) : ''" readonly="">
													<span class="input-group-btn valign_top">
														<button class="btn default" type="button">
															%
														</button>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="row margin-bottom-15">
									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Max Offer
											</label>
											<div class="col-md-9 col-sm-9 col-xs-9">
												<div class="input-group">
													<span class="input-group-btn valign_top">
														<button class="btn default" type="button">
															<i class="fa fa-dollar"></i>
														</button>
													</span>
											 		<input type="text" name="max_offer" class="form-control" ng-model="offerForm.max_offer"  placeholder="Max offer you authorize">
										 		</div>
											</div>
										</div>
									</div>
									<div class="col-md-6 ">
										<div class="form-group" >
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Close Date
											</label>
											<div class="col-md-9 col-sm-9 col-xs-9">
											 	<div class="input-group date date-picker" data-date-format="mm/dd/yyyy" ng-click="closeDatePicker()">
                                        			<input type="text" id="offer_close_date" name="close_date" class="form-control" ng-model="offerForm.close_date" close-date-picker placeholder="Date you would like to close" ng-change="offerFormSubmit()">
		                                        	<span class="input-group-btn valign_top">
			                                            <button class="btn default" type="button">
			                                                <i class="fa fa-calendar"></i>
			                                            </button>
			                                        </span>
	                                    		</div>
											</div>
											
										</div>
									</div>
								</div>

								<div class="row margin-bottom-15">
									<div class="col-md-6  ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Earnest/ Deposit
											</label>
											<div class="col-md-9 col-sm-9 col-xs-9">
												<div class="input-group " >
													<span class="input-group-btn valign_top">
														<button class="btn default" type="button">
															<i class="fa fa-dollar"></i>
														</button>
													</span>
													<input type="text" name="earnest" class="form-control" ng-model="offerForm.earnest" placeholder="Deposit to secure property">
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6 ">
										<div class="form-group" >
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Offer Expires
											</label>
											<div class="col-md-9 col-sm-9 col-xs-9">
											 	<div class="input-group date date-picker" data-date-format="mm/dd/yyyy" ng-click="offerExpiresDatePicker()">
                                        			<input type="text" name="offer_expires" class="form-control" ng-model="offerForm.offer_expires"  offer-expires-date-picker placeholder="Date the offer expires" ng-change="offerFormSubmit()">
		                                        	<span class="input-group-btn valign_top" >
			                                            <button class="btn default" type="button">
			                                                <i class="fa fa-calendar"></i>
			                                            </button>
			                                        </span>
	                                    		</div>
											</div>
											
										</div>
									</div>
								</div>

								<div class="row margin-bottom-15">
									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Survey
											</label>
											<div class="col-md-9 col-sm-9 col-xs-9">
											 	<div class="md-radio-inline">
	                                                <div class="md-radio">
	                                                    <input type="radio" id="survey_yes" name="survey" class="md-radiobtn" ng-model="offerForm.survey" value="yes">
	                                                    <label for="survey_yes">
	                                                        <span></span>
	                                                        <span class="check"></span>
	                                                        <span class="box"></span> Yes </label>
	                                                </div>
	                                                <div class="md-radio">
	                                                    <input type="radio" id="survey_no" name="survey" class="md-radiobtn" ng-model="offerForm.survey" value="no">
	                                                    <label for="survey_no">
	                                                        <span></span>
	                                                        <span class="check"></span>
	                                                        <span class="box"></span> No </label>
	                                                </div>
	                                            </div>
	                                            <span class="help-block"> 
	                                            	Require seller produce a survey?
	                                        	</span>
											</div>
										</div>
									</div>
									<div class="col-md-6 ">
										<div class="form-group" >
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Option/ Inspect Period
											</label>
											<div class="col-md-9 col-sm-9 col-xs-9">
											 	<div class="md-radio-inline">
	                                                <div class="md-radio">
	                                                    <input type="radio" id="option_yes" name="option_inspect_period" class="md-radiobtn" ng-model="offerForm.option_inspect_period" value="yes" id="option_inspect_period">
	                                                    <label for="option_yes">
	                                                        <span></span>
	                                                        <span class="check"></span>
	                                                        <span class="box"></span> Yes </label>
	                                                </div>
	                                                <div class="md-radio">
	                                                    <input type="radio" id="option_no" name="option_inspect_period" class="md-radiobtn" ng-model="offerForm.option_inspect_period" value="no">
	                                                    <label for="option_no">
	                                                        <span></span>
	                                                        <span class="check"></span>
	                                                        <span class="box"></span> No </label>
	                                                </div>
	                                            </div>
	                                            <span class="help-block"> 
	                                            	Require a period to inspect property?
	                                        	</span>
											</div>
											
										</div>
									</div>
								</div>

								<!-- use ng-if="state=='TX'" -->
								<div class="row margin-bottom-15" ng-if="offerForm.option_inspect_period == 'yes'">
									<div class="col-md-6  ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Option Amount
											</label>
											<div class="col-md-9 col-sm-9 col-xs-9">
												<div class="input-group">
													<span class="input-group-btn valign_top">
														<button class="btn default" type="button">
															<i class="fa fa-dollar"></i>
														</button>
													</span>
													<input type="text" name="option_amount" id="option_amount" class="form-control" ng-model="offerForm.option_amount" placeholder="Initial option fee amount">
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6 ">
										<div class="form-group" >
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Option Period
											</label>
											<div class="col-md-9 col-sm-9 col-xs-9">
											 	<ol name="option_period" class="nya-bs-select bs-select bootstrap-select form-control" ng-model="offerForm.option_period">
													<li data-value="{{n}}" class="nya-bs-option" ng-repeat="n in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
												        <a>{{n}}</a>
												    </li>
												</ol>
												<span class="help-block"> 
	                                            	How many days for option period?
	                                        	</span>
											</div>
											
										</div>
									</div>
								</div>

								<div class="row margin-bottom-15">
									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Title Payer
											</label>
											<div class="col-md-9 col-sm-9 col-xs-9">
											 	<div class="md-radio-inline">
	                                                <div class="md-radio">
	                                                    <input type="radio" id="title_payer_seller" name="title_payer" class="md-radiobtn" ng-model="offerForm.title_payer" value="seller">
	                                                    <label for="title_payer_seller">
	                                                        <span></span>
	                                                        <span class="check"></span>
	                                                        <span class="box"></span> Seller </label>
	                                                </div>
	                                                <div class="md-radio">
	                                                    <input type="radio" id="title_payer_buyer" name="title_payer" class="md-radiobtn" ng-model="offerForm.title_payer" value="buyer">
	                                                    <label for="title_payer_buyer">
	                                                        <span></span>
	                                                        <span class="check"></span>
	                                                        <span class="box"></span> Buyer </label>
	                                                </div>
	                                                <div class="md-radio">
	                                                    <input type="radio" id="title_payer_split" name="title_payer" class="md-radiobtn" ng-model="offerForm.title_payer" value="split">
	                                                    <label for="title_payer_split">
	                                                        <span></span>
	                                                        <span class="check"></span>
	                                                        <span class="box"></span> Split </label>
	                                                </div>
	                                            </div>
	                                            <span class="help-block"> 
	                                            	Who pays title policy? Typically seller
	                                        	</span>
											</div>
										</div>
									</div>
									<div class="col-md-6 ">
										<div class="form-group" >
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Closing Costs
											</label>
											<div class="col-md-9 col-sm-9 col-xs-9">
											 	<div class="md-radio-inline">
	                                                <div class="md-radio">
	                                                    <input type="radio" id="closing_costs_yes" name="closing_costs" class="md-radiobtn" ng-model="offerForm.closing_costs" value="yes">
	                                                    <label for="closing_costs_yes">
	                                                        <span></span>
	                                                        <span class="check"></span>
	                                                        <span class="box"></span> Yes </label>
	                                                </div>
	                                                <div class="md-radio">
	                                                    <input type="radio" id="closing_costs_no" name="closing_costs" class="md-radiobtn" ng-model="offerForm.closing_costs" value="no">
	                                                    <label for="closing_costs_no">
	                                                        <span></span>
	                                                        <span class="check"></span>
	                                                        <span class="box"></span> No </label>
	                                                </div>
	                                            </div>
	                                            <span class="help-block"> 
	                                            	Request for seller to pay closing costs?
	                                        	</span>
											</div>
											
										</div>
									</div>
								</div>

								<div class="row margin-bottom-15" ng-if="offerForm.closing_costs == 'yes'">
									<div class="col-md-6  ">
									</div>
									<div class="col-md-6  ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Closing Support
											</label>
											<div class="col-md-9 col-sm-9 col-xs-9">
												<div class="input-group">
													<span class="input-group-btn valign_top">
														<button class="btn default" type="button">
															<i class="fa fa-dollar"></i>
														</button>
													</span>
													<input type="text" name="closing_support" class="form-control" ng-model="offerForm.closing_support" placeholder="How much closing seller pay?">
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="row margin-bottom-15">
									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Lease back
											</label>
											<div class="col-md-9 col-sm-9 col-xs-9">
											 	<div class="md-radio-inline">
	                                                <div class="md-radio">
	                                                    <input type="radio" id="lease_back_yes" name="lease_back" class="md-radiobtn" ng-model="offerForm.lease_back" value="yes">
	                                                    <label for="lease_back_yes">
	                                                        <span></span>
	                                                        <span class="check"></span>
	                                                        <span class="box"></span> Yes </label>
	                                                </div>
	                                                <div class="md-radio">
	                                                    <input type="radio" id="lease_back_no" name="lease_back" class="md-radiobtn" ng-model="offerForm.lease_back" value="no">
	                                                    <label for="lease_back_no">
	                                                        <span></span>
	                                                        <span class="check"></span>
	                                                        <span class="box"></span> No </label>
	                                                </div>
	                                            </div>
	                                            <span class="help-block"> 
	                                            	Allow seller to lease home back?
	                                        	</span>
											</div>
										</div>
									</div>
									<div class="col-md-6 ">
										<div class="form-group" >
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Financing
											</label>
											<div class="col-md-9 col-sm-9 col-xs-9">
											 	<div class="md-radio-inline">
	                                                <div class="md-radio">
	                                                    <input type="radio" id="financing_yes" name="financing" class="md-radiobtn" ng-model="offerForm.financing" value="yes">
	                                                    <label for="financing_yes">
	                                                        <span></span>
	                                                        <span class="check"></span>
	                                                        <span class="box"></span> Yes </label>
	                                                </div>
	                                                <div class="md-radio">
	                                                    <input type="radio" id="financing_no" name="financing" class="md-radiobtn" ng-model="offerForm.financing" value="no">
	                                                    <label for="financing_no">
	                                                        <span></span>
	                                                        <span class="check"></span>
	                                                        <span class="box"></span> No </label>
	                                                </div>
	                                            </div>
	                                            <span class="help-block"> 
	                                            	Will you finance a portion of this purchase?
	                                        	</span>
											</div>
											
										</div>
									</div>
								</div>

								<div class="row margin-bottom-15" ng-if="offerForm.financing == 'yes'">
									<div class="col-md-6  ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Loan %
											</label>
											<div class="col-md-9 col-sm-9 col-xs-9">
												<div class="input-group">
													<input type="text" name="loan" class="form-control" ng-model="offerForm.loan"  placeholder="What % of offer is a loan (ie 20%)">
													<span class="input-group-btn valign_top">
														<button class="btn default" type="button">
															%
														</button>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6  ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Loan Amount
											</label>
											<div class="col-md-9 col-sm-9 col-xs-9">
												<div class="input-group">
													<span class="input-group-btn valign_top">
														<button class="btn default" type="button">
															<i class="fa fa-dollar"></i>
														</button>
													</span>
													<input type="text" name="loan_amount" class="form-control" ng-model="offerForm.loan_amount" ng-value="(offerForm.offer_price && offerForm.loan) ? (offerForm.offer_price * offerForm.loan)/100 : ''" readonly="">
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="row margin-bottom-15" ng-if="offerForm.financing == 'yes'">
									<div class="col-md-6  ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Loan Type
											</label>
											<div class="col-md-9 col-sm-9 col-xs-9">
												<ol name="loan_type" class="nya-bs-select bs-select bootstrap-select form-control" ng-model="offerForm.loan_type" >
													<li data-value="" class="nya-bs-option" >
												        <a>Select Loan Type</a>
												    </li>
													<li data-value="conventional" class="nya-bs-option" >
												        <a>Conventional</a>
												    </li>
												    <li data-value="fha" class="nya-bs-option" >
												        <a>FHA</a>
												    </li>
												    <li data-value="va" class="nya-bs-option" >
												        <a>VA</a>
												    </li>
												    <li data-value="hard_money" class="nya-bs-option" >
												        <a>Hard Money</a>
												    </li>
												    <li data-value="owner_finance_request" class="nya-bs-option" >
												        <a>Owner Finance Request</a>
												    </li>
												</ol>
											</div>
										</div>
									</div>
									<div class="col-md-6  ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Interest Rate
											</label>
											<div class="col-md-9 col-sm-9 col-xs-9">
												<div class="input-group">
													<input type="text" name="interest_rate" class="form-control" ng-model="offerForm.interest_rate"  placeholder="What is your initial interest rate?">
													<span class="input-group-btn valign_top">
														<button class="btn default" type="button">
															%
														</button>
													</span>
												</div>
												
											</div>
										</div>
									</div>
								</div>

								<div class="row margin-bottom-15" ng-if="offerForm.financing == 'yes'">
									<div class="col-md-6  ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Terms (Yrs)
											</label>
											<div class="col-md-9 col-sm-9 col-xs-9">
												<ol name="terms_yrs" class="nya-bs-select bs-select bootstrap-select form-control" ng-model="offerForm.terms_yrs" >
													<li data-value="" class="nya-bs-option" >
												        <a>Select Terms</a>
												    </li>
													<li data-value="{{n}}" class="nya-bs-option" ng-repeat="n in [5,10,15,20,25,30]">
												        <a>{{n}}</a>
												    </li>
												    <li data-value="other" class="nya-bs-option" >
												        <a>Other</a>
												    </li>
												</ol>
											</div>
										</div>
									</div>
									<div class="col-md-6  ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Appraisal
											</label>
											<div class="col-md-9 col-sm-9 col-xs-9">
												<div class="md-radio-inline">
	                                                <div class="md-radio">
	                                                    <input type="radio" id="appraisal_yes" name="appraisal" class="md-radiobtn" ng-model="offerForm.appraisal" value="yes">
	                                                    <label for="appraisal_yes" style="color: inherit">
	                                                        <span></span>
	                                                        <span class="check"></span>
	                                                        <span class="box"></span> Yes </label>
	                                                </div>
	                                                <div class="md-radio">
	                                                    <input type="radio" id="appraisal_no" name="appraisal" class="md-radiobtn" ng-model="offerForm.appraisal" value="no">
	                                                    <label for="appraisal_no" style="color: inherit">
	                                                        <span></span>
	                                                        <span class="check"></span>
	                                                        <span class="box"></span> No </label>
	                                                </div>
	                                            </div>
	                                            <span class="help-block"> 
	                                            	Does your lender require an appraisal?
	                                        	</span>
											</div>
										</div>
									</div>
								</div>

								

								<div class="row margin-bottom-15">
									<div class="col-md-6  ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Buyer Name
											</label>
											<div class="col-md-9 col-sm-9 col-xs-9 margin-top-5">
												{{ offerForm.buyer_name }}
												<a href="#" class="btn green_dark margin-left-5" ng-click="toggleNewBuyer()">Edit</a>
											</div>
										</div>
									</div>
									<div class="col-md-6  ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Escrow Company
											</label>
											<div class="col-md-9 col-sm-9 col-xs-9 margin-top-5">
												{{ offerForm.escrow_company }}
												<a href="#" class="btn green_dark margin-left-5" ng-click="toggleNewEscrowCompany()">Edit</a>
											</div>
										</div>
									</div>
								</div>

								<div ng-if="displayNewBuyer">

									<div class="row margin-bottom-15" >
										<div class="col-md-6  ">
											<div class="form-group">
												<label class="control-label col-md-3 col-sm-3 col-xs-3">
													New Buyer Name
												</label>
												<div class="col-md-9 col-sm-9 col-xs-9">
													<input type="text" name="new_buyer_name" class="form-control" ng-model="offerForm.new_buyer_name" placeholder="New buyer name for offer">
												</div>
											</div>
										</div>
										<div class="col-md-6  ">
											<div class="form-group">
												<label class="control-label col-md-3 col-sm-3 col-xs-3">
													New Buyer Phone
												</label>
												<div class="col-md-9 col-sm-9 col-xs-9">
													<input type="text" name="new_buyer_phone" class="form-control" ng-model="offerForm.new_buyer_phone" placeholder="New buyer phone number for offer">
												</div>
											</div>
										</div>
									</div>

									<div class="row margin-bottom-15" >
										<div class="col-md-12  ">
											<div class="form-group">
												<label class="control-label col-md-125 col-sm-3 col-xs-3">
													New Buyer Address
												</label>
												<div class="col-md-875 col-sm-9 col-xs-9">
													<textarea name="new_buyer_address" rows="1" class="form-control" ng-model="offerForm.new_buyer_address" placeholder="New Buyer Address"></textarea>
												</div>
											</div>
										</div>
									</div>

									<div class="row margin-bottom-15" >
										<div class="col-md-6  ">
											<div class="form-group">
												<label class="control-label col-md-3 col-sm-3 col-xs-3">
													New Buyer Email
												</label>
												<div class="col-md-9 col-sm-9 col-xs-9">
													<div class="input-group">
														<span class="input-group-btn valign_top">
															<button class="btn default" type="button">
																<i class="fa fa-envelope-o"></i>
															</button>
														</span>
														<input type="text" name="new_buyer_email" class="form-control" ng-model="offerForm.new_buyer_email" placeholder="New Buyer Email">
													</div>
													
												</div>
											</div>
										</div>
									</div>

								</div>

								<div ng-if="displayNewEscrowCompany">

									<div class="row margin-bottom-15" >
										<div class="col-md-6  ">
											<div class="form-group">
												<label class="control-label col-md-3 col-sm-3 col-xs-3">
													New Escrow Company Name
												</label>
												<div class="col-md-9 col-sm-9 col-xs-9">
													<input type="text" name="new_escrow_company_name" class="form-control" ng-model="offerForm.new_escrow_company_name" placeholder="New escrow company">
												</div>
											</div>
										</div>
										<div class="col-md-6  ">
											<div class="form-group">
												<label class="control-label col-md-3 col-sm-3 col-xs-3">
													New Escrow Closer Name
												</label>
												<div class="col-md-9 col-sm-9 col-xs-9">
													<input type="text" name="new_escrow_closer_name" class="form-control" ng-model="offerForm.new_escrow_closer_name" placeholder="New escrow closer name">
												</div>
											</div>
										</div>
									</div>

									<div class="row margin-bottom-15" >
										<div class="col-md-12  ">
											<div class="form-group">
												<label class="control-label col-md-125 col-sm-3 col-xs-3">
													New Escrow Address
												</label>
												<div class="col-md-875 col-sm-9 col-xs-9">
													<textarea name="new_escrow_address" rows="1" class="form-control" ng-model="offerForm.new_escrow_address" placeholder="New Escrow Address"></textarea>
												</div>
											</div>
										</div>
									</div>

									<div class="row margin-bottom-15" >
										<div class="col-md-6  ">
											<div class="form-group">
												<label class="control-label col-md-3 col-sm-3 col-xs-3">
													New Escrow Phone
												</label>
												<div class="col-md-9 col-sm-9 col-xs-9">
													<input type="text" name="new_escrow_phone" rows="3" class="form-control" ng-model="offerForm.new_escrow_phone" placeholder="New escrow phone">
												</div>
											</div>
										</div>
										<div class="col-md-6  ">
											<div class="form-group">
												<label class="control-label col-md-3 col-sm-3 col-xs-3">
													New Escrow Email
												</label>
												<div class="col-md-9 col-sm-9 col-xs-9">
													<div class="input-group">
														<span class="input-group-btn valign_top">
															<button class="btn default" type="button">
																<i class="fa fa-envelope-o"></i>
															</button>
														</span>
														<input type="text" name="new_escrow_email" rows="3" class="form-control" ng-model="offerForm.new_escrow_email" placeholder="New escrow email">
													</div>
												</div>
											</div>
										</div>
									</div>

								</div>

								<div class="row margin-bottom-15">
									<div class="col-md-6  ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Special Terms
											</label>
											<div class="col-md-9 col-sm-9 col-xs-9">
												<div class="md-radio-inline">
	                                                <div class="md-radio">
	                                                    <input type="radio" id="special_terms_yes" name="special_terms" class="md-radiobtn" ng-model="offerForm.special_terms" value="yes">
	                                                    <label for="special_terms_yes">
	                                                        <span></span>
	                                                        <span class="check"></span>
	                                                        <span class="box"></span> Yes </label>
	                                                </div>
	                                                <div class="md-radio">
	                                                    <input type="radio" id="special_terms_no" name="special_terms" class="md-radiobtn" ng-model="offerForm.special_terms" value="no">
	                                                    <label for="special_terms_no">
	                                                        <span></span>
	                                                        <span class="check"></span>
	                                                        <span class="box"></span> No </label>
	                                                </div>
	                                            </div>
	                                            <span class="help-block"> 
	                                            	Do you have special terms for offer?
	                                        	</span>
											</div>
										</div>
									</div>
									<div class="col-md-6  " >
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												Negotiation Notes
											</label>
											<div class="col-md-9 col-sm-9 col-xs-9">
												<div class="md-radio-inline">
	                                                <div class="md-radio">
	                                                    <input type="radio" id="negotiation_notes_yes" name="negotiation_notes" class="md-radiobtn" ng-model="offerForm.negotiation_notes" value="yes">
	                                                    <label for="negotiation_notes_yes">
	                                                        <span></span>
	                                                        <span class="check"></span>
	                                                        <span class="box"></span> Yes </label>
	                                                </div>
	                                                <div class="md-radio">
	                                                    <input type="radio" id="negotiation_notes_no" name="negotiation_notes" class="md-radiobtn" ng-model="offerForm.negotiation_notes" value="no">
	                                                    <label for="negotiation_notes_no">
	                                                        <span></span>
	                                                        <span class="check"></span>
	                                                        <span class="box"></span> No </label>
	                                                </div>
	                                            </div>
	                                            <span class="help-block"> 
	                                            	Do you have private negotiation notes?
	                                        	</span>
											</div>
										</div>
									</div>
								</div>

								<div class="row margin-bottom-15" ng-if="offerForm.special_terms == 'yes'">
									<div class="col-md-12  ">
										<div class="form-group">
											<label class="control-label col-md-125 col-sm-3 col-xs-3">
												Special Term Notes
											</label>
											<div class="col-md-875 col-sm-9 col-xs-9">
												<textarea name="special_term_notes" rows="3" class="form-control" ng-model="offerForm.special_term_notes" placeholder="Enter any special terms you would like on the offer"></textarea>
											</div>
										</div>
									</div>
								</div>

								<div class="row margin-bottom-15" ng-if="offerForm.negotiation_notes == 'yes'">
									<div class="col-md-12  ">
										<div class="form-group">
											<label class="control-label col-md-125 col-sm-3 col-xs-3">
												Private Negotiation Notes
											</label>
											<div class="col-md-875 col-sm-9 col-xs-9">
												<textarea name="private_negotiation_notes" rows="3" class="form-control" ng-model="offerForm.private_negotiation_notes" placeholder="Enter private negotiation notes. These will only be used by our negotiators and not shared with the seller."></textarea>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="form-actions">
								<div class="row">
									<div class="col-md-6">
										<div class="col-md-offset-3 col-md-9">
											<button class="btn green" type="submit" ng-click="save()" >Review Offer</button>
											<!--<button class="btn green" type="button" ng-click="save()" >Review Offer</button>-->
											<button class="bootbox-close-button btn default" data-dismiss="modal" type="button">Cancel</button>
										</div>
									</div>
									
								</div>
							</div>
							
	        			</div>
	            	</div>
            	</form>

            </div>
		</div>
	</div>

	<div id="opportunity_review_an_offer" class="col-md-12" ng-if="review_an_offer">
		<div class="portlet light" style="padding: 0px; margin: 0px;">
			<div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green bold uppercase">
                    	Review An Offer
                	</span>
                </div>
                <div class="tools">
            		<a href="" class="btn btn-sm yellow" style="height: auto" ng-click="backMakeOffer()">
            			<i class="fa fa-arrow-circle-o-left"></i>
            			Back
            		</a>
                </div>
            </div>
            <div class="portlet-body form">
            	<div class="row">
            		<div class="col-md-6">
            			<h4 class="">
            				<span class="sbold">Address: </span>3602 Hidalgo Dr, Dallas, TX, 75220
            			</h4>
            		</div>
            		<div class="col-md-3">
            			<h4 class="">
            				<span class="sbold">List Price: </span>$900,000
            			</h4>
            		</div>
            		<div class="col-md-3">
            			<h4 class="">
            				<span class="sbold">List Date: </span>05/21/2016
            			</h4>
            		</div>
            	</div>

            	<hr class="clearfix margin-top-10 margin-bottom-10" />

            	<div class="row">
					<div class="col-md-12 sbold">
						Review the elements of your offer below. To change  anything, click on it and enter new information.
					</div>
				</div>
            	
				<hr class="clearfix margin-top-10" />

            	<div class="row opportunityOfferForm">
        			<div class="col-md-12">
        			
						<div class="form-body" style="padding: 0px;">

							<div class="row margin-bottom-15">
								<div class="col-md-6 ">
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-3">
											Offer Price
										</label>
										<div class="col-md-9 col-sm-9 col-xs-9">
											<a editable-text="offerForm.offer_price" href="#" onbeforesave="checkEditableCurrency($data)" e-ng-change="changeOfferPrice()"> 
												{{ offerForm.offer_price ? (offerForm.offer_price | currency:undefined:2) : "empty" }}
	        								</a>
										</div>
									</div>
								</div>
								<div class="col-md-6 ">
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-3">
											Offer/ List %
										</label>
										<div class="col-md-9 col-sm-9 col-xs-9">
											<span>
												{{ offerForm.offer_price ? (((offerForm.offer_price/900000) * 100) | setDecimal:2) : '' }}
												{{ offerForm.offer_price ? '%' : '' }}
											</span>
										</div>
									</div>
								</div>
							</div>

							<div class="row margin-bottom-15">
								<div class="col-md-6 ">
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-3">
											Max Offer
										</label>
										<div class="col-md-9 col-sm-9 col-xs-9">
											<a editable-text="offerForm.max_offer" href="#" onbeforesave="checkEditableCurrency($data)"> 
		        								{{ offerForm.max_offer ? (offerForm.max_offer | currency:undefined:2) : "empty" }}
	        								</a>
										</div>
									</div>
								</div>
								<div class="col-md-6 ">
									<div class="form-group" >
										<label class="control-label col-md-3 col-sm-3 col-xs-3">
											Close Date
										</label>
										<div class="col-md-9 col-sm-9 col-xs-9">
											<a editable-text="offerForm.close_date" href="#" > 
		        								{{ offerForm.close_date || "empty" }}
	        								</a>
										</div>
										
									</div>
								</div>
							</div>

							<div class="row margin-bottom-15">
								<div class="col-md-6  ">
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-3">
											Earnest/ Deposit
										</label>
										<div class="col-md-9 col-sm-9 col-xs-9">
											<a editable-text="offerForm.earnest" href="#" onbeforesave="checkEditableCurrency($data)" > 
												{{ offerForm.earnest ? (offerForm.earnest | currency:undefined:2) : "empty" }}
	        								</a>
										</div>
									</div>
								</div>
								<div class="col-md-6 ">
									<div class="form-group" >
										<label class="control-label col-md-3 col-sm-3 col-xs-3">
											Offer Expires
										</label>
										<div class="col-md-9 col-sm-9 col-xs-9">
											<a editable-text="offerForm.offer_expires" href="#"  > 
		        								{{ offerForm.offer_expires || "empty" }}
	        								</a>
										</div>
										
									</div>
								</div>
							</div>

							<div class="row margin-bottom-15">
								<div class="col-md-6 ">
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-3">
											Survey
										</label>
										<div class="col-md-9 col-sm-9 col-xs-9">
											<a href="#" editable-radiolist="offerForm.survey" e-ng-options="s.value as s.text for s in surveys">
												{{ showSurvey() }}
											</a>
										</div>
									</div>
								</div>
								<div class="col-md-6 ">
									<div class="form-group" >
										<label class="control-label col-md-3 col-sm-3 col-xs-3">
											Option/ Inspect Period
										</label>
										<div class="col-md-9 col-sm-9 col-xs-9">
										 	<a href="#" editable-radiolist="offerForm.option_inspect_period" e-ng-options="s.value as s.text for s in option_inspect_periods">
												{{ showOptionInspectPeriod() }}
											</a>
										</div>
										
									</div>
								</div>
							</div>

							<div class="row margin-bottom-15" ng-if="offerForm.option_inspect_period == 'yes'">
								<div class="col-md-6  ">
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-3">
											Option Amount
										</label>
										<div class="col-md-9 col-sm-9 col-xs-9">
											<a editable-text="offerForm.option_amount" href="#" onbeforesave="checkEditableCurrency($data)" > 
		        								{{ offerForm.option_amount ? (offerForm.option_amount | currency:undefined:2) : "empty" }}
	        								</a>
										</div>
									</div>
								</div>
								<div class="col-md-6 ">
									<div class="form-group" >
										<label class="control-label col-md-3 col-sm-3 col-xs-3">
											Option Period
										</label>
										<div class="col-md-9 col-sm-9 col-xs-9">
											<a href="#" editable-select="offerForm.option_period" e-ng-options="n.value as n.text for n in option_periods" >
												{{ showOptionPeriod() }}
											</a>
										</div>
										
									</div>
								</div>
							</div>

							<div class="row margin-bottom-15">
								<div class="col-md-6 ">
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-3">
											Title Payer
										</label>
										<div class="col-md-9 col-sm-9 col-xs-9">
											<a href="#" editable-radiolist="offerForm.title_payer" e-ng-options="s.value as s.text for s in title_payers">
												{{ showTitlePayer() }}
											</a>
										</div>
									</div>
								</div>
								<div class="col-md-6 ">
									<div class="form-group" >
										<label class="control-label col-md-3 col-sm-3 col-xs-3">
											Closing Costs
										</label>
										<div class="col-md-9 col-sm-9 col-xs-9">
											<a href="#" editable-radiolist="offerForm.closing_costs" e-ng-options="s.value as s.text for s in closing_costses">
												{{ showClosingCost() }}
											</a>
										</div>
										
									</div>
								</div>
							</div>

							<div class="row margin-bottom-15" ng-if="offerForm.closing_costs == 'yes'">
								<div class="col-md-6  ">
								</div>
								<div class="col-md-6  ">
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-3">
											Closing Support
										</label>
										<div class="col-md-9 col-sm-9 col-xs-9">
											<a editable-text="offerForm.closing_support" href="#" onbeforesave="checkEditableCurrency($data)" > 
												{{ offerForm.closing_support ? (offerForm.closing_support | currency:undefined:2) : "empty" }}
	        								</a>
										</div>
									</div>
								</div>
							</div>

							<div class="row margin-bottom-15">
								<div class="col-md-6 ">
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-3">
											Lease back
										</label>
										<div class="col-md-9 col-sm-9 col-xs-9">
										 	<a href="#" editable-radiolist="offerForm.lease_back" e-ng-options="s.value as s.text for s in lease_backs">
												{{ showLeaseBack() }}
											</a>
										</div>
									</div>
								</div>
								<div class="col-md-6 ">
									<div class="form-group" >
										<label class="control-label col-md-3 col-sm-3 col-xs-3">
											Financing
										</label>
										<div class="col-md-9 col-sm-9 col-xs-9">
											<a href="#" editable-radiolist="offerForm.financing" e-ng-options="s.value as s.text for s in financings">
												{{ showFinancing() }}
											</a>
										</div>
									</div>
								</div>
							</div>

							<div class="row margin-bottom-15" ng-if="offerForm.financing == 'yes'">
								<div class="col-md-6  ">
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-3">
											Loan %
										</label>
										<div class="col-md-9 col-sm-9 col-xs-9">
											<a editable-text="offerForm.loan" href="#" onbeforesave="checkEditableCurrency($data)" > 
												{{ offerForm.loan ? (offerForm.loan + ' %') : "empty" }}
	        								</a>
										</div>
									</div>
								</div>
								<div class="col-md-6  ">
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-3">
											Loan Amount
										</label>
										<div class="col-md-9 col-sm-9 col-xs-9">
											{{ (offerForm.offer_price && offerForm.loan) ? (offerForm.offer_price * offerForm.loan)/100 : '' }}
										</div>
									</div>
								</div>
							</div>

							<div class="row margin-bottom-15" ng-if="offerForm.financing == 'yes'">
								<div class="col-md-6  ">
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-3">
											Loan Type
										</label>
										<div class="col-md-9 col-sm-9 col-xs-9">
											<a href="#" editable-select="offerForm.loan_type" e-ng-options="s.value as s.text for s in loan_types">
												{{ showLoanType() }}
											</a>
										</div>
									</div>
								</div>
								<div class="col-md-6  " ng-if="offerForm.financing == 'yes'">
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-3">
											Interest Rate
										</label>
										<div class="col-md-9 col-sm-9 col-xs-9">
											<a editable-text="offerForm.interest_rate" href="#" onbeforesave="checkEditableCurrency($data)" > 
												{{ offerForm.interest_rate ? (offerForm.interest_rate + ' %') : "empty" }}
	        								</a>
										</div>
									</div>
								</div>
							</div>

							<div class="row margin-bottom-15" ng-if="offerForm.financing == 'yes'">
								<div class="col-md-6 ">
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-3">
											Terms (Yrs)
										</label>
										<div class="col-md-9 col-sm-9 col-xs-9">
											<a href="#" editable-select="offerForm.terms_yrs" e-ng-options="n as n for n in [5,10,15,20,25,30,'Other']">
												{{ offerForm.terms_yrs ? offerForm.terms_yrs : 'Not Set' }}
											</a>
										</div>
									</div>
								</div>
								<div class="col-md-6  ">
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-3">
											Appraisal
										</label>
										<div class="col-md-9 col-sm-9 col-xs-9">
											<a href="#" editable-radiolist="offerForm.appraisal" e-ng-options="s.value as s.text for s in appraisals">
												{{ showAppraisal() }}
											</a>
										</div>
									</div>
								</div>
							</div>

							<div class="row margin-bottom-15">
								<div class="col-md-6  ">
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-3">
											Buyer Name
										</label>
										<div class="col-md-9 col-sm-9 col-xs-9 margin-top-5">
											<a editable-text="offerForm.buyer_name" href="#" e-single e-placeholder="Buyer Name"> 
		        								{{ displayNewBuyer == true && offerForm.new_buyer_name ? offerForm.new_buyer_name : offerForm.buyer_name }}
	        								</a>
										</div>
									</div>
								</div>
								<div class="col-md-6  ">
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-3">
											Escrow Company
										</label>
										<div class="col-md-9 col-sm-9 col-xs-9 margin-top-5">
											<a editable-text="offerForm.escrow_company" href="#" e-single e-placeholder="Escrow Company"> 
												{{ displayNewEscrowCompany == true && offerForm.new_escrow_company_name ? offerForm.new_escrow_company_name : offerForm.escrow_company }}
	        								</a>
										</div>
									</div>
								</div>
							</div>

							<div ng-if="displayNewBuyer">

								<div class="row margin-bottom-15">
									<div class="col-md-6  ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												New Buyer Name
											</label>
											<div class="col-md-9 col-sm-9 col-xs-9">
												<a editable-text="offerForm.new_buyer_name" href="#"  > 
			        								{{ offerForm.new_buyer_name || "empty" }}
		        								</a>
											</div>
										</div>
									</div>
									<div class="col-md-6  ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												New Buyer Phone
											</label>
											<div class="col-md-9 col-sm-9 col-xs-9">
												<a editable-text="offerForm.new_buyer_phone" href="#"  > 
			        								{{ offerForm.new_buyer_phone || "empty" }}
		        								</a>
											</div>
										</div>
									</div>
								</div>

								<div class="row margin-bottom-15">
									<div class="col-md-12  ">
										<div class="form-group">
											<label class="control-label col-md-125 col-sm-3 col-xs-3">
												New Buyer Address
											</label>
											<div class="col-md-875 col-sm-9 col-xs-9">
												<a href="#" editable-textarea="offerForm.new_buyer_address" e-rows="3">
													{{ offerForm.new_buyer_address || 'no address' }}
												</a>
											</div>
										</div>
									</div>
								</div>

								<div class="row margin-bottom-15">
									<div class="col-md-6  ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												New Buyer Email
											</label>
											<div class="col-md-9 col-sm-9 col-xs-9">
												<a editable-text="offerForm.new_buyer_email" href="#"  > 
			        								{{ offerForm.new_buyer_email || "empty" }}
		        								</a>
											</div>
										</div>
									</div>
								</div>

							</div>

							<div ng-if="displayNewEscrowCompany">

								<div class="row margin-bottom-15">
									<div class="col-md-6  ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												New Escrow Company Name
											</label>
											<div class="col-md-9 col-sm-9 col-xs-9">
												<a editable-text="offerForm.new_escrow_company_name" href="#"  > 
			        								{{ offerForm.new_escrow_company_name || "empty" }}
		        								</a>
											</div>
										</div>
									</div>
									<div class="col-md-6  ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												New Escrow Closer Name
											</label>
											<div class="col-md-9 col-sm-9 col-xs-9">
												<a editable-text="offerForm.new_escrow_closer_name" href="#"  > 
			        								{{ offerForm.new_escrow_closer_name || "empty" }}
		        								</a>
											</div>
										</div>
									</div>
								</div>

								<div class="row margin-bottom-15">
									<div class="col-md-12  ">
										<div class="form-group">
											<label class="control-label col-md-125 col-sm-3 col-xs-3">
												New Escrow Address
											</label>
											<div class="col-md-875 col-sm-9 col-xs-9">
												<a href="#" editable-textarea="offerForm.new_escrow_address" e-rows="3">
													{{ offerForm.new_escrow_address || 'no address' }}
												</a>
											</div>
										</div>
									</div>
								</div>

								<div class="row margin-bottom-15">
									<div class="col-md-6  ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												New Escrow Phone
											</label>
											<div class="col-md-9 col-sm-9 col-xs-9">
												<a editable-text="offerForm.new_escrow_phone" href="#"  > 
			        								{{ offerForm.new_escrow_phone || "empty" }}
		        								</a>
											</div>
										</div>
									</div>
									<div class="col-md-6  ">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-3">
												New Escrow Email
											</label>
											<div class="col-md-9 col-sm-9 col-xs-9">
												<a editable-text="offerForm.new_escrow_email" href="#"  > 
			        								{{ offerForm.new_escrow_email || "empty" }}
		        								</a>
											</div>
										</div>
									</div>
								</div>

							</div>

							<div class="row margin-bottom-15">
								<div class="col-md-6  ">
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-3">
											Special Terms
										</label>
										<div class="col-md-9 col-sm-9 col-xs-9">
											<a href="#" editable-radiolist="offerForm.special_terms" e-ng-options="s.value as s.text for s in special_termses">
												{{ showSpecialTerms() }}
											</a>
										</div>
									</div>
								</div>
								<div class="col-md-6  ">
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-3">
											Negotiation Notes
										</label>
										<div class="col-md-9 col-sm-9 col-xs-9">
											<a href="#" editable-radiolist="offerForm.negotiation_notes" e-ng-options="s.value as s.text for s in negotiation_noteses">
												{{ showNegotiationNotes() }}
											</a>
										</div>
									</div>
								</div>
							</div>

							<div class="row margin-bottom-15" ng-if="offerForm.special_terms == 'yes'">
								<div class="col-md-12  ">
									<div class="form-group">
										<label class="control-label col-md-125 col-sm-3 col-xs-3">
											Special Term Notes
										</label>
										<div class="col-md-875 col-sm-9 col-xs-9">
											<a href="#" editable-textarea="offerForm.special_term_notes" e-rows="3" onbeforesave="checkEditableText($data)">
												{{ offerForm.special_term_notes || 'no notes' }}
											</a>
										</div>
									</div>
								</div>
							</div>

							<div class="row margin-bottom-15" ng-if="offerForm.negotiation_notes == 'yes'">
								<div class="col-md-12  ">
									<div class="form-group">
										<label class="control-label col-md-125 col-sm-3 col-xs-3">
											Private Negotiation Notes
										</label>
										<div class="col-md-875 col-sm-9 col-xs-9">
											<a href="#" editable-textarea="offerForm.private_negotiation_notes" e-rows="3" onbeforesave="checkEditableText($data)">
												{{ offerForm.private_negotiation_notes || 'no notes' }}
											</a>
										</div>
									</div>
								</div>
							</div>

							<div class="row margin-bottom-15">
								<div class="col-md-12 col-sm-12 col-xs-12 ">
									<div class="form-group simba_form_agreement">
										<label class="control-label col-md-125 col-sm-3 col-xs-3">
											Agreement
										</label>
										<div class="col-md-875 col-sm-9 col-xs-9">
											<p class="form-control-static">
												Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum<br/>
												Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
											</p>
											<div class="md-checkbox">
												<input name="terms_condition" id="terms_condition" class="md-check" type="checkbox" ng-model="visitForm.terms">
												<label for="terms_condition" style="color: unset;">
													<span class="inc"></span>
													<span class="check"></span>
													<span class="box"></span>
												I have read this agreement and agree to the terms and conditions.
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>

						<div class="form-actions">
							<div class="row">
								<div class="col-md-6">
									<div class="col-md-offset-3 col-md-9">
										<button class="btn green" type="button" data-dismiss="modal">Submit</button>
										<button class="bootbox-close-button btn default" data-dismiss="modal" type="button">Cancel</button>
									</div>
								</div>
								
							</div>
						</div>
						
        			</div>
            	</div>

            </div>
		</div>
	</div>

</div>