<div class="simba-slider simba-slider-for" ng-if="slider">
	<div class="simba_property_image" ng-repeat="propertyImage in propertyImages track by $index">
    	<img src="{{propertyImage.src}}">
    </div>
</div>
<div class="col-md-12">
	<div class="simba-slider simba-slider-nav" ng-if="slider">
        <div class="simba_property_slider" ng-repeat="propertyImage in propertyImages">
            <img src="{{propertyImage.src}}" width="100%">
        </div>
	    
	</div>
</div>