<div class="col-md-12">
	<div class="portlet light">
		<div class="portlet-title">
            <div class="caption">
                <span class="caption-subject font-green bold uppercase">
                	Property Details
            	</span>
            </div>
            <div class="tools">
				<a class="collapse" href="javascript:;" data-original-title="" title=""> </a>
			</div>
        </div>
        <div class="portlet-body">

        	<div class="row simba-form-horizontal">
    			<div class="col-md-12 simbanic_nav_tabs">
    				<uib-tabset>
		            	<uib-tab>
		            		<uib-tab-heading>
		            			Features 
		            		</uib-tab-heading>
		            		<form class="form-horizontal" role="form">
								<div class="form-body">
									<div class="row">
										<div class="col-md-4 ">
											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													Property Type
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static"> 	Single Family, Free Standing
													</p>
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													Year Built
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static"> 	1960
													</p>
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													Community
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static">Westbury Sec 02
													</p>
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													MLS#
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static">
														50088047
													</p>
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													Lot Size
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static">
														8,280 square feet
													</p>
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													Style
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static">
														Traditional
													</p>
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													Stories
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static">
														1
													</p>
												</div>
											</div>

										</div>
										<div class="col-lg-4 col-md-4">
											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													Property Type
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static"> 	Single Family, Free Standing
													</p>
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													Year Built
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static"> 	1960
													</p>
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													Community
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static">Westbury Sec 02
													</p>
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													MLS#
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static">
														50088047
													</p>
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													Lot Size
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static">
														8,280 square feet
													</p>
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													Style
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static">
														Traditional
													</p>
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													Stories
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static">
														1
													</p>
												</div>
											</div>
										</div>
										<div class="col-lg-4 col-md-4">
											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													Property Type
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static"> 	Single Family, Free Standing
													</p>
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													Year Built
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static"> 	1960
													</p>
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													Community
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static">Westbury Sec 02
													</p>
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													MLS#
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static">
														50088047
													</p>
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													Lot Size
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static">
														8,280 square feet
													</p>
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													Style
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static">
														Traditional
													</p>
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													Stories
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static">
														1
													</p>
												</div>
											</div>
										</div>
										

									</div>
								</div>
							</form>
	            		</uib-tab>
	            		<uib-tab>
		            		<uib-tab-heading>
		            			Tax Info 
		            		</uib-tab-heading>
		            		<form class="form-horizontal" role="form">
								<div class="form-body">
									<div class="row">
										<div class="col-lg-4 col-md-4">
											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													Property Type
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static"> 	Single Family, Free Standing
													</p>
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													Year Built
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static"> 	1960
													</p>
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													Community
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static">Westbury Sec 02
													</p>
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													MLS#
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static">
														50088047
													</p>
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													Lot Size
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static">
														8,280 square feet
													</p>
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													Style
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static">
														Traditional
													</p>
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													Stories
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static">
														1
													</p>
												</div>
											</div>

										</div>
										<div class="col-lg-4 col-md-4">
											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													Property Type
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static"> 	Single Family, Free Standing
													</p>
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													Year Built
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static"> 	1960
													</p>
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													Community
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static">Westbury Sec 02
													</p>
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													MLS#
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static">
														50088047
													</p>
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													Lot Size
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static">
														8,280 square feet
													</p>
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													Style
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static">
														Traditional
													</p>
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													Stories
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static">
														1
													</p>
												</div>
											</div>
										</div>
										<div class="col-lg-4 col-md-4">
											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													Property Type
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static"> 	Single Family, Free Standing
													</p>
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													Year Built
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static"> 	1960
													</p>
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													Community
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static">Westbury Sec 02
													</p>
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													MLS#
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static">
														50088047
													</p>
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													Lot Size
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static">
														8,280 square feet
													</p>
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													Style
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static">
														Traditional
													</p>
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4 col-xs-4">
													
													Stories
												</label>
												<div class="col-md-8 col-sm-8 col-xs-8">
													<p class="form-control-static">
														1
													</p>
												</div>
											</div>
										</div>
										

									</div>
								</div>
							</form>
	            		</uib-tab>
            		</uib-tabset>
    			</div>
        	</div>
        	
        </div>
	</div>
</div>