<div class="row simba_opp_value_comps_details_tab bold_control_label" >
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title tabbable-line">
                <div class="caption">
                    <span class="caption-subject font-green bold uppercase">
                        Values Trends & Comps
                    </span>
                </div>
                <div class="tools">
                    <a href="" class="reload"> </a>
                    <a href="" class="fullscreen"> </a>
                    <a class="collapse" href="javascript:;" data-original-title="" title=""> </a>
                </div>
                <ul id="simba_ul_responsive_tabs" class="nav nav-tabs">
                    <li class="active">
                        <a href="#" data-target="#simbanic_comps_valuations" data-toggle="tab" class="" ng-click="gotoTrends('rental')"> Valuations </a>
                    </li>
                    <li>
                        <a href="#" data-target="#simbanic_comps_rental_trends" data-toggle="tab" class="" ng-click="gotoTrends('rental')"> Rental Trends </a>
                    </li>
                    <li>
                        <a href="#" data-target="#simbanic_comps_sales_trends" data-toggle="tab" class="" ng-click="gotoTrends('sale')"> Sales Trends </a>
                    </li>
                </ul>
                
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="simbanic_comps_valuations">
                        <div class="row ">
                            <div class="col-md-12">
                            
                                <div class="row simbanic_formView_border">
                                    <div class="col-md-6">
                                        <h4 class="opp_sub_title">Rental Valuations</h4>
                                        <div class="form-group">
                                            <label class="col-md-5 col-sm-5 col-xs-5 control-label"> Automated Rent Values: </label>
                                            <div class="col-md-7 col-sm-7 col-xs-7 control-content"> 
                                                <select id="input_comp_level_rental_avm"  ng-options="c.value as c.name for c in comp_level_rental_avm_options" ng-model="database.comp_level_rental_avm"  class="form-control"  >													
												</select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-5 col-sm-5 col-xs-5 control-label"> Rent AVM Score: </label>
                                            <div class="col-md-7 col-sm-7 col-xs-7 control-content"> 
                                                {{database.rental_avm_score}}%
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-5 col-sm-5 col-xs-5 control-label"> Selected Rental Comps: </label>
                                            <div class="col-md-7 col-sm-7 col-xs-7 control-content"> 
                                                {{database.comparables_user_avm_rental | currency:undefined:0  }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-5 col-sm-5 col-xs-5 control-label"> User Override Rent: </label>
                                            <div class="col-md-7 col-sm-7 col-xs-7 control-content"> 
                                                <input type="text" class="form-control" ng-model="database.rental_income_user_estimated_rent">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-5 col-sm-5 col-xs-5 control-label"> List Price to AVM %: </label>
                                            <div class="col-md-7 col-sm-7 col-xs-7 control-content" ng-if="database.comp_level_sale == 'expanded'"> 
                                                 {{database.expanded_sale_price_to_list_price_mean}}
                                            </div>
                                            <div class="col-md-7 col-sm-7 col-xs-7 control-content" ng-if="database.comp_level_sale == 'moderate'"> 
                                                 {{database.moderate_sale_price_to_list_price_mean}}
                                            </div>
                                            <div class="col-md-7 col-sm-7 col-xs-7 control-content" ng-if="database.comp_level_sale == 'conservative'"> 
                                                 {{database.conservative_sale_price_to_list_price_mean}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h4 class="opp_sub_title">Sales Valuations</h4>
                                        <div class="form-group">
                                            <label class="col-md-5 col-sm-5 col-xs-5 control-label"> Automated Sale Values: </label>
                                            <div class="col-md-7 col-sm-7 col-xs-7 control-content"> 
                                                <select id="input_comp_level_sale_avm"  ng-options="c.value as c.name for c in comp_level_sale_avm_options" ng-model="database.comp_level_sale_avm"  class="form-control"  >													
												</select>
                                                 
                                               
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-5 col-sm-5 col-xs-5 control-label"> Sale AVM Score: </label>
                                            <div class="col-md-7 col-sm-7 col-xs-7 control-content"> 
                                                {{database.sale_avm_score}}%
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-5 col-sm-5 col-xs-5 control-label"> Selected Sale Comps: </label>
                                            <div class="col-md-7 col-sm-7 col-xs-7 control-content"> 
                                                {{database.comparables_user_avm_sale | currency:undefined:0 }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-5 col-sm-5 col-xs-5 control-label"> User Override Sale: </label>
                                            <div class="col-md-7 col-sm-7 col-xs-7 control-content"> 
                                                <input type="text" class="form-control" ng-model='database.sale_income_user_estimated_resale'>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-5 col-sm-5 col-xs-5 control-label"> List Price to AVM %: </label>
                                            <div class="col-md-7 col-sm-7 col-xs-7 control-content" ng-if="database.comp_level_rental == 'expanded'"> 
                                                 {{database.expanded_rental_price_to_list_price_mean}}
                                            </div>
                                            <div class="col-md-7 col-sm-7 col-xs-7 control-content" ng-if="database.comp_level_rental == 'moderate'"> 
                                                 {{database.moderate_rental_price_to_list_price_mean}}
                                            </div>
                                            <div class="col-md-7 col-sm-7 col-xs-7 control-content" ng-if="database.comp_level_rental == 'conservative'"> 
                                                 {{database.conservative_rental_price_to_list_price_mean}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix margin-bottom-30"></div>
                                <div class="row" ng-controller="rentalMapController">
                                    <div class="col-md-12" style="height: 350px;">
                                        <ng-map zoom="{{rentalMapInfo.zoom}}" center="{{rentalMapInfo.center}}" ng-if="renderRentalMap" id="rentalMap" >
                                            <!--<marker address="3602 Hidalgo Dr, Dallas, TX 75220, USA">-->
                                            <marker position="[{{database.latitude}},{{database.longitude}}]" icon="{{residential_marker_img}}"></marker>
                                            <custom-marker 
                                                ng-repeat="simbaRentalProperty in rentalMapInfo.pins" 
                                                ng-if="simbaRentalProperty.display"
                                                position="{{simbaRentalProperty.latitude}}, {{simbaRentalProperty.longitude}}"
                                                id="{{ simbaRentalProperty.id }}" label="{{simbaRentalProperty.mark}}"
                                                >
                                                <div class="simba_marker_text text-center" >
                                                    <div class="simba_marker font-xs">
                                                        <span ng-click="mapPopup()" style="cursor: pointer;">${{ formatPrice(simbaRentalProperty.list_price) }}</span>
                                                        <a data-address ="{{ simbaRentalProperty.street_address }}" data-status="rental" class="btn simba_map_marker_remove simba_remove_map btn-xs font-xs" type="button" style="padding: 0px;" >
                                                            Remove
                                                        </a>
                                                    </div>
                                                    <div class="marker_arrow_down" ></div>
                                                    
                                                </div>
                                                
                                            </custom-marker>
                                            <!--<info-window style="display: none;" id="simbaRentalInfoWindow">
                                                <div class="">
                                                    <div class="simba_custom_gmaps_ui">
                                                        <div class="col-md-6 simba_gmaps_image">
                                                            <img src="{{settings.imgPath}}/property1.jpg" class="" alt="">
                                                        </div>
                                                        <div class="col-md-6 simba_gmaps_info">
                                                            <div class="gmaps_property_name">
                                                                <a href="#">
                                                                    {{ simbaRentalProperty.address | limitTo:12 }}
                                                                </a>
                                                            </div>
                                                            <div class="gmaps_property_price">
                                                                <b>{{ simbaRentalProperty.list | currency:undefined:0 }}</b>
                                                            </div>
                                                            <div class="gmaps_property_info">
                                                                <ul class="">
                                                                    <li>
                                                                        <b>{{ simbaRentalProperty.beds }}</b> bd
                                                                    </li>
                                                                    <li>
                                                                        <b>2</b> ba
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </info-window>-->
                                        </ng-map>

                                        <div ng-include src="'assets/app/components/opportunities/detailview/sale_map.html'" ng-if="renderSaleMap" ng-init="saleMapProperties()" ng-controller="saleMapController"></div>

                                    </div>
                                </div>
                                <div class="clearfix margin-bottom-30"></div>
                                <div class="row ">
                                    <div class="col-md-12 simbanic_nav_tabs">
                                        <uib-tabset>
                                            <uib-tab heading="Rental" select="simbaTab('rental')">
                                            <div ng-if="rental">
                                                <div class="clearfix margin-bottom-10"></div>

                                                <table id="rental_subject_property" class="table table-striped table-bordered table-hover order-column subject_property" ng-subject-property width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        
                                                    </tbody>
                                                </table>

                                                <h4 class="opp_sub_title">
                                                    Comparable Properties
                                                </h4>
                                                
                                                <table class="table table-striped table-bordered table-hover order-column" id="comparable_properties" ng-comparable-properties width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th class="">&nbsp;</th>
                                                            <th class="">Address</th>
                                                            <th class="">City</th>
                                                            <th class="">Cap</th>
                                                            <th class="">Gross Yield</th>
                                                            <th class="">List</th>
                                                            <th class="">DOM</th>
                                                            <th class="">Beds</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        
                                                    </tbody>
                                                </table>
                                                
                                                <div class="clearfix margin-bottom-30"></div>
                                                <h4 class="opp_sub_title">
                                                    Related Properties
                                                </h4>
                                                <table ng-related-properties class="table table-striped table-bordered table-hover order-column" width="100%" id="related_properties">
                                                    <thead>
                                                        <tr>
                                                            <th class=""></th>
                                                            <th class="">Address</th>
                                                            <th class="">City</th>
                                                            <th class="">Cap</th>
                                                            <th class="">Gross Yield</th>
                                                            <th class="">List</th>
                                                            <th class="">DOM</th>
                                                            <th class="">Beds</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                            </uib-tab>
                                            <uib-tab heading="Sale" select="simbaTab('sale')">
                                            <div ng-if="sale">
                                                <div class="clearfix margin-bottom-10"></div>

                                                <table id="sale_subject_property" class="table table-striped table-bordered table-hover order-column subject_property" ng-subject-property width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        
                                                    </tbody>
                                                </table>

                                                <h4 class="opp_sub_title">
                                                    Comparable Properties
                                                </h4>
                                                
                                                <table class="table table-striped table-bordered table-hover order-column" id="sale_comparable_properties" ng-sale-comparable-properties width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th class="">&nbsp;</th>
                                                            <th class="">Address</th>
                                                            <th class="">City</th>
                                                            <th class="">Cap</th>
                                                            <th class="">Gross Yield</th>
                                                            <th class="">List</th>
                                                            <th class="">DOM</th>
                                                            <th class="">Beds</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        
                                                    </tbody>
                                                </table>
                                                
                                                <div class="clearfix margin-bottom-30"></div>
                                                <h4 class="opp_sub_title">
                                                    Related Properties
                                                </h4>
                                                <table ng-sale-related-properties class="table table-striped table-bordered table-hover order-column" width="100%" id="sale_related_properties">
                                                    <thead>
                                                        <tr>
                                                            <th class=""></th>
                                                            <th class="">Address</th>
                                                            <th class="">City</th>
                                                            <th class="">Cap</th>
                                                            <th class="">Gross Yield</th>
                                                            <th class="">List</th>
                                                            <th class="">DOM</th>
                                                            <th class="">Beds</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                            </uib-tab>
                                        </uib-tabset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Rental Trends -->
                    <div class="tab-pane " id="simbanic_comps_rental_trends" ng-if="compsRentalTrends">
                        <div class="row ">
                            <div class="col-md-6">
                                <div class="">
                                    <h4 class="sbold font-red">Rent Ranges</h4>
                                    
                                    <table class="table table_first_td_bold">
                                        <thead>
                                            
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Conservative</td>
                                                <td>{{database.rental_conservative_avm_mean | doubleRangeFilter: database.rental_conservative_avm_max:database.rental_conservative_sale_price_psf_mean:database.rental_conservative_sale_price_psf_max }} </td>
                                            </tr>
                                            <tr>
                                                <td>Moderate</td>
                                                <td>{{database.rental_moderate_avm_mean  | doubleRangeFilter: database.rental_conservative_avm_max:database.rental_moderate_sale_price_psf_mean:database.rental_moderate_sale_price_psf_max   }} </td>
                                            </tr>
                                            <tr>
                                                <td>Expanded</td>
                                                <td>{{database.rental_expanded_avm_mean | doubleRangeFilter: database.rental_expanded_avm_max:database.rental_expanded_sale_price_psf_mean:database.rental_expanded_sale_price_psf_max }} </td>
                                            </tr>
                                            <tr>
                                                <td>Low Resale</td>
                                                <td>{{database.rental_sold_sale_price_min}}</td>
                                            </tr>
                                            <tr>
                                                <td>High Resale</td>
                                                <td>{{database.rental_sold_sale_price_max}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="">
                                    <h4 class="sbold font-red">Rental Trends</h4>
                                    <table class="table table_first_td_bold">
                                        <thead>
                                            
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Absorption Rate</td>
                                                <td>{{database.rental_absorption_rate}}</td>
                                            </tr>
                                             <tr>
                                                <td>Median Day on Market</td>
                                                <td>{{database.rental_dom_mean}}</td>
                                            </tr>
                                             <tr>
                                                <td>Market Demand</td>
                                                <td>Sellers</td>
                                            </tr>
                                             <tr>
                                                <td>Subject vs Comp Size</td>
                                                <td>{{database.rental_subject_to_comps_square_feet_mean}}</td>
                                            </tr>
                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="margin-bottom-20">
                                    <h4 class="sbold font-red">Statistics</h4>
                                    <table class="table table_first_td_bold">
                                        <thead>
                                            
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Sold Count</td>
                                                <td>{{database.rental_sold_count}}</td>
                                            </tr>
                                            <tr>
                                                <td>Active Count</td>
                                                <td>{{database.rental_active_count}}</td>
                                            </tr>
                                            <tr>
                                                <td>Terminated Count</td>
                                                <td>{{database.rental_terminated_count}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="">
                                    <h4 class="sbold font-red margin-bottom-0" style="margin-left: 70px;">Price vs Distance Comparison</h4>
                                    <div google-chart chart="rentalTrendsChart" style="height:330px; width:100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Sale Trends -->
                    <div class="tab-pane " id="simbanic_comps_sales_trends" ng-if="compsSaleTrends">
                        <div class="row ">
                            <div class="col-md-6">
                                <div class="">
                                    <h4 class="sbold font-red">Rent Ranges</h4>
                                    <table class="table table_first_td_bold">
                                        <thead>
                                            
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Conservative</td>
                                                <td>{{database.sale_conservative_avm_mean | doubleRangeFilter: database.sale_conservative_avm_max:database.sale_conservative_sale_price_psf_mean:database.sale_conservative_sale_price_psf_max }} </td>
                                            </tr>
                                            <tr>
                                                <td>Moderate</td>
                                                <td>{{database.sale_moderate_avm_mean  | doubleRangeFilter: database.sale_conservative_avm_max:database.sale_moderate_sale_price_psf_mean:database.sale_moderate_sale_price_psf_max   }} </td>
                                            </tr>
                                            <tr>
                                                <td>Expanded</td>
                                                <td>{{database.sale_expanded_avm_mean | doubleRangeFilter: database.sale_expanded_avm_max:database.sale_expanded_sale_price_psf_mean:database.sale_expanded_sale_price_psf_max }} </td>
                                            </tr>
                                            <tr>
                                                <td>Low Resale</td>
                                                <td>{{database.sale_sold_sale_price_min}}</td>
                                            </tr>
                                            <tr>
                                                <td>High Resale</td>
                                                <td>{{database.sale_sold_sale_price_max}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="">
                                    <h4 class="sbold font-red">Rental Trends</h4>                                    
                                    <table class="table table_first_td_bold">
                                        <thead>
                                            
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Absorption Rate</td>
                                                <td>{{database.sale_absorption_rate}}</td>
                                            </tr>
                                             <tr>
                                                <td>Median Day on Market</td>
                                                <td>{{database.sale_dom_mean}}</td>
                                            </tr>
                                             <tr>
                                                <td>Market Demand</td>
                                                <td>Sellers</td>
                                            </tr>
                                             <tr>
                                                <td>Subject vs Comp Size</td>
                                                <td>{{database.sale_subject_to_comps_square_feet_mean}}</td>
                                            </tr>
                                             <tr>
                                                <td>Replacement Cost $</td>
                                                <td>{{database.sale_replacement_cost}}</td>
                                            </tr>
                                             <tr>
                                                <td>Replacement Cost %</td>
                                                <td>{{database.sale_replacement_cost_percent}}</td>
                                            </tr>
                                             <tr>
                                                <td>Peak Value</td>
                                                <td>{{database.sale_peak_cost}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="margin-bottom-20">
                                    <h4 class="sbold font-red">Statistics</h4>
                                    <table class="table table_first_td_bold">
                                        <thead>
                                            
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Sold Count</td>
                                                <td>{{database.sale_sold_count}}</td>
                                            </tr>
                                            <tr>
                                                <td>Active Count</td>
                                                <td>{{database.sale_active_count}}</td>
                                            </tr>
                                            <tr>
                                                <td>Terminated Count</td>
                                                <td>{{database.sale_terminated_count}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="">
                                    <h4 class="sbold font-red margin-bottom-0" style="margin-left: 70px;">Price vs Distance Comparison</h4>
                                    <div google-chart chart="saleTrendsChart" style="height:330px; width:100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    
            </div>
        </div>
    </div>
</div>


