= simple_form_for([:admin, @market], :observe => true) do |f|
  
  .tabbable
    %ul.nav.nav-tabs
      - [:general, :comps_queries, :users, :renovation_rehabs, :renovation_timelines, :build_costs, :values, :weekly_comp_schedules, :tags ].each do |key|
        =tab_item t(".#{key.to_s}"), "##{key}"
    .tab-content
      .tab-pane#general
        =f.input :name, disabled: true
        =f.input :state, disabled: true
        =f.input :mls_code, disabled: true
        =f.input :mls_login
        =f.input :mls_password, :input_html => { :value => @market.mls_password }
        =f.input :level2, as: :file, input_html: { :accept => 'application/vnd.ms-excel' }
        =f.input :level3, as: :file, input_html: { :accept => 'application/vnd.ms-excel' }
      .tab-pane#comps_queries
        =f.input :rental_comp_query
        =f.input :sale_comp_query
        =f.input :build_comp_query
      .tab-pane#users
        =f.association :users unless @market.new_record?
      = render 'values', :f => f
      = render 'weekly_comp_schedules', :f => f
      = render 'tags', :f => f
    .controlbar
      .container
        .form-actions
          =f.button :submit, :disable_with => t('wait') if !resource.assumptions_changed?      
          =f.submit :confirm, :name => :confirm, :value => t('.confirm_changes'), :type => :submit, :class => 'btn btn-warning' if resource.assumptions_changed?    
          =link_to t(:cancel), collection_url, class: 'btn btn-link'