= page_info(@markets)
%table.table.table-hover
  %thead
    %tr
      - for attr in %w{name state mls_code mls_login mls_password}
        %th= Market.label(attr)
      %th= t(:users)
      %th= t(:actions)
  %tbody
    - @markets.each do |market|
      %tr
        - for attr in %w{name state mls_code mls_login mls_password}
          %td= market.format(attr)
        %td= market.users.map(&:name).to_sentence
        %td.nowrap
          %ul.nav.nav-links
            - if can? :edit, market
              =nav_item t(:edit), edit_resource_url(market)
            - if can? :index, Job
              =nav_item t(:jobs), admin_market_jobs_url(market)