- @title = @property.format(:address) if member?

= content_for(:breadcrumbs) do
  =breadcrumb 'Markets'
  =breadcrumb @market.format(:fullname), market_url(@market)
  - if member?
    =breadcrumb 'Properties'
- if params[:action] == "saved"
  = content_for(:pagination) do
    .addrem_saved{:style => "float: right; width: 220px; height: 20px; margin-right: 10px; text-align: right"}
      = saved_page_select({ data: { market_id: @market.id, page: params[:page] } }, session[:per_page])
= content_for(:navigation) do
  - if member?
    - if can? :summary, @property
      =nav_item t(:summary), summary_resource_url
    - if can? :proforma, @property
      =nav_item t(:proforma), proforma_resource_url    
    - if can? :comps, @property
      %li.dropdown{:class => (:active if action_name.match(/comps_/)) }
        %a.dropdown-toggle{'data-toggle' => :dropdown, :href => '#'}
          =t(:comps)
          %b.caret
        %ul.dropdown-menu
          - if can? :comps_rental, @property
            =nav_item t(:rental), comps_rental_resource_url
          - if can? :comps_sale, @property
            =nav_item t(:sale), comps_sale_resource_url
          - if can? :comps_build, @property
            =nav_item t(:build), comps_build_resource_url
    - if can? :map, @property
      =nav_item t(:map), map_resource_url
    - if can? :mls, @property
      =nav_item t(:mls), @property.mls_url, target: :_blank
    
    %li.dropdown
      %a.dropdown-toggle{'data-toggle' => :dropdown, :href => '#'}
        ="Property Data"
        %b.caret
      %ul.dropdown-menu
        - if can? :tax, @property
          =nav_item t(:tax), @property.tax_url, target: :_blank
        - if can? :deed, @property
          =nav_item t(:deed), @property.deed_url, target: :_blank
        - if can? :zillow, @property
          =nav_item t(:zillow), @property.zillow_url, target: :_blank
        - if can? :pshark, @property
          =nav_item t(:pshark), @property.pshark_url, target: :_blank
     
    - if can? :comment, @property
      =nav_item "Contact & Notes", comment_resource_url
    - if can? :download, @property
      %li.dropdown
        %a.dropdown-toggle{'data-toggle' => :dropdown, :href => '#'}
          ="Evaluation"
          %b.caret
        %ul.dropdown-menu
          - if can? :level2, @property
            =nav_item t(:level2), level2_resource_url
          - if can? :level3, @property
            =nav_item t(:level3), level3_resource_url
    - if can? :edit, @property
      =nav_item t(:edit), edit_resource_url
    - if can? :raw, @property
      =nav_item t(:raw), raw_resource_url
  - elsif collection?
   
    - if current_user.admin? || current_user.role == 'analyst'
      =nav_item t(:results), saved_market_properties_url(params_without_action)
    - if current_user.admin? || current_user.role == 'analyst'
      %li.dropdown
        %a.dropdown-toggle{'data-toggle' => :dropdown, :href => '#'}
          =t(:download)
          %b.caret
        %ul.dropdown-menu
          - if current_user.admin? || current_user.role == 'analyst'
            =nav_item t(:excel), export_market_properties_url(params_without_action)
  
= content_for(:addrem_saved) do
  - if member? && MyProp.my_prop_exists(@property.id, current_user.id) 
    .addrem_saved{:style => "float: right; width: 200px; height: 20px; margin-right: 10px; text-align: right"}
      = link_to "Remove from My Props", {:controller => "properties", :action => "remove_saved", :referer => request.referer } 
  - elsif member?
    .addrem_saved{:style => "float: right; width: 200px; height: 20px; margin-right: 10px; text-align: right"}
      = link_to "Add to My Props", {:controller => "properties", :action => "add_saved", :referer => request.referer }  
    
= content_for(:content) do
  - if member?
    .row
      .span3
        =image_for(@property)
      .span3
        =definitions_for2(@property, :style => "margin-bottom: 0px" ) do |d|
          =d.rows :status, :category, :list_price 
          =d.row :list_price_psf, as: :money_w_two_decimal
          =d.row :sale_price, label: 'Sold Price' 
          =d.row :year_built
      .span3
        =definitions_for2(@property, :style => "margin-bottom: 0px") do |d|
          =d.rows :mls_number, :tax_id, :id, :legal_subdivision
          =d.row :subdivision_full, definition_class: 'Property', label: 'Subdivision'
          =d.row :avg_school_rating, label: 'Avg. School Rate'
          
      .span3
        =definitions_for2(@property, :style => "margin-bottom: 0px") do |d|
         
          =d.row :square_feet
          =d.rows :lot_square_feet, :beds, :bathrooms, :cdom, :dom
    .row
      = simple_form_for([@market, @property], url: edit_market_property_url, method: :post) do |f|
        .span3
          = f.hidden_field "market_id"
          = f.hidden_field "id"
        .span3
          - disabled_items = []
          - disabled_items =  User.all.map(&:id).reject! {|d| d == current_user.id  } if !current_user.admin? && !(current_user.role == "analyst")
          = prop_mul_rep(f, User.order("firstname , lastname").all.map{|s| [ [(s.firstname.nil? ? '':s.firstname),(s.lastname.nil? ? '': s.lastname)].join(' ').gsub(/^\s\s*/, '').gsub(/\s\s*$/, ''), s.id.to_s]},  (@property.rep ? @property.rep : "" ).split(",").each {|t| t.strip!}, disabled_items  )
          = flood_select(f, [["High","high"],["Moderate-Low","moderate-low"],["Undetermined","undetermined"]], @property.flood)    
        .span3
          - Property.assign_user_id(current_user.id)
          = prop_select(f, @property.market.property_tags.map{|s| [s.name, s.id.to_s]}, @property.user_assigned_tag.nil? ? nil : @property.user_assigned_tag.tag   )
          = near_commercial_select(f, [["Yes","1"],["No","0"]], (@property.near_commercial == true ?  "1" : (@property.near_commercial == false ? "0" : @property.near_commercial  ) )  )
        .span3
          = prop_user_update(f, @property.user_updated_at) 
          = prop_county(f, @property.county)
    %br
  =yield
  
  - if @market.id == 9 && !controller.action_name.to_sym.in?([:proforma,:comps_sale,:comps_rental,:comps_build,:comment,:edit])
    .blocktext
      .aleft
        = image_tag("fmls_logo.jpg")
      .span13{ :style => "float: left; width: 480px; margin-left: 10px" }= "Listing content provided by FMLS and deemed reliable but not guaranteed." 
      .fmls_bottom{:style => "clear:both; text-align: center;" }= "©2014 First Multiple Listing Service, Inc.​"
    %br
    %br  
= render :template => 'layouts/application'