- @title = defined?(@search) ? @search.name || 'Search' : 'Saved Searches'

= content_for(:breadcrumbs) do
  =breadcrumb 'Markets'
  =breadcrumb @market.format(:fullname), market_url(@market)
  - if member? && @search.persisted?
    =breadcrumb 'Saved Searches', collection_url

- if params[:action] == "show"
  = content_for(:pagination) do
    .addrem_saved{:style => "float: right; width: 220px; height: 20px; margin-right: 10px; text-align: right"}
      = page_select({ data: { market_id: @market.id, search_id: params[:id]} }, session[:per_page])

= content_for(:navigation) do
  - if member?
    - if can? :show, @search
      =nav_item t(:results), resource_url(params_without_action)
    - if params[:action] == "show"
      - if can? :map, @search
        =nav_item t(:map), map_resource_url(params_without_action), target: :_blank
    - if params[:action] == "show"
      - if can? :add_my_prop, @search
        =nav_item t(:add_my_prop), "#", class: "add-my-prop", data: {app_root: ENV["RAILS_RELATIVE_URL_ROOT"], market_id: @market.id, search_id: params[:id]}
    - if params[:action] == "show"
      - if can? :add_label, @search
        %li.dropdown
          %a.dropdown-toggle{'data-toggle' => :dropdown, :href => '#'}
            =t(:add_label)
            %b.caret
          %ul.dropdown-menu

            - for tag in @property_tags
              =nav_item tag.name, "#", class: "add-label", data: {app_root: ENV["RAILS_RELATIVE_URL_ROOT"], market_id: @market.id, search_id: params[:id], tag_id: tag.id}
    - if params[:action] == "show"
      - if can? :download, @search
        %li.dropdown
          %a.dropdown-toggle{'data-toggle' => :dropdown, :href => '#'}
            =t(:download)
            %b.caret
          %ul.dropdown-menu
            - if can? :export, @search
              =nav_item t(:excel), export_resource_url(params_without_action)
    - if can?(:edit, @search)
      =nav_item t(:edit), edit_resource_url(@search.persisted? ? {} : params_without_action)

= content_for(:content) do
  - if member?
    .row
      .span12= @search.format(:config)
    %hr
  =yield
  


= render :template => 'layouts/application'