- @title = member? ? @upload.handler_hash.format(:source) : 'Add Property'

= content_for(:breadcrumbs) do
  =breadcrumb 'Markets'
  =breadcrumb @market.format(:fullname), market_url(@market)
    
= content_for(:navigation) do
  - if can?(:index, Job)
    =nav_item t(:history), collection_url
  - if member?
    - if can? :download, @upload
      %li.dropdown
        %a.dropdown-toggle{'data-toggle' => :dropdown, :href => '#'}
          =t(:download)
          %b.caret
        %ul.dropdown-menu
          - if can? :export, @upload
            =nav_item t(:excel), export_resource_url(params_without_action)  
          
  - else
    - if can?(:new, Job)
      =nav_item t(:new), new_resource_url
      
   
  
= content_for(:content) do
  - if member?
    .row
      .span3
        = definitions_for(@upload) do |d|
          - for attr in [:run_at, :user, :source]
            =d.row attr
      .span3
        = definitions_for(@upload) do |d|
          - for attr in [:started_at, :completed_at, :status]
            =d.row attr
      .span3
        = definitions_for(@upload) do |d|
          - for attr in [:results_count, :errors_count]
            =d.row attr

  =yield

= render :template => 'layouts/application'