!!!
/[if IE 8] <html lang="en" class="ie8 no-js" data-ng-app="SimbaNicApp">
/[if IE 9] <html lang="en" class="ie9 no-js" data-ng-app="SimbaNicApp">
/ [if !IE]><!
%html{"data-ng-app" => "SimbaNicApp",:lang => "en"}
  - rel_root = ""
  %head
    %title{"data-ng-bind" => "'BinControl | ' + $state.current.data.pageTitle"}
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    /BEGIN GLOBAL MANDATORY STYLES 
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all",:rel => "stylesheet", :type => "text/css"}
    %link{:href => "#{rel_root}assets/global/plugins/font-awesome/css/font-awesome.min.css",:rel => "stylesheet", :type => "text/css"}
    %link{:href => "#{rel_root}assets/global/plugins/simple-line-icons/simple-line-icons.min.css",:rel => "stylesheet", :type => "text/css"}
    %link{:href => "#{rel_root}assets/global/plugins/bootstrap/css/bootstrap.min.css",:rel => "stylesheet", :type => "text/css"}
    
    
    %link{:href => "#{rel_root}assets/global/plugins/bootstrap/css/bootstrapXL.css",:rel => "stylesheet", :type => "text/css"}
    %link{:href => "#{rel_root}assets/global/plugins/uniform/css/uniform.default.css",:rel => "stylesheet", :type => "text/css"}
    %link{:href => "#{rel_root}assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css",:rel => "stylesheet", :type => "text/css"}
    /END GLOBAL MANDATORY STYLES
    /BEGIN DYMANICLY LOADED CSS FILES(all plugin and page related styles must be loaded between GLOBAL and THEME css files ) 
    %link#ng_load_plugins_before
    /END DYMANICLY LOADED CSS FILES 
    /BEGIN THEME STYLES 
    /DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag 
    %link{:href => "#{rel_root}assets/global/css/components-rounded.min.css",:rel => "stylesheet", :type => "text/css"}
    %link{:href => "#{rel_root}assets/global/css/plugins.min.css",:rel => "stylesheet", :type => "text/css"}
    %link{:href => "#{rel_root}assets/layouts/layout4/css/layout.min.css",:rel => "stylesheet", :type => "text/css"}
    %link{:href => "#{rel_root}assets/layouts/layout4/css/themes/default.min.css",:rel => "stylesheet", :type => "text/css"}
    %link{:href => "#{rel_root}assets/css/simbanic.css",:rel => "stylesheet", :type => "text/css"}
    %link{:href => "#{rel_root}assets/css/simbanic_bootstrap.css",:rel => "stylesheet", :type => "text/css"}
          
    %script{:src => "https://www.google.com/jsapi?autoload=%7B%22modules%22%3A%5B%7B%22name%22%3A%22feeds%22%2C%22version%22%3A%221.0%22%2C%22nocss%22%3Atrue%7D%5D%7D", :type => "text/javascript"}
    / END THEME STYLES
    -# %link{:rel => "shortcut icon", :href => "assets/favicon.ico"}
  =content_for?(:content) ? yield(:content) : yield
  
   