!!! 5
%html{:lang => I18n.locale}
  %head
    %title= 'Greenlight | ' + [@breadcrumbs, @title].flatten.compact.join(' > ')
    %meta{:name => :viewport, :content => "width=device-width, initial-scale=1.0"}
    = csrf_meta_tag
    /[if lt IE 9]
      %script{:src => "/assets/oldies/javascripts/html5.js", :type => "text/javascript"}
    
    %link{:href => "/assets/oldies/stylesheets/bootstrap.css?body=1" , :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/assets/oldies/stylesheets/bootstrap-datepicker.css" , :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/assets/oldies/stylesheets/select2.css" , :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/assets/oldies/stylesheets/jquery.slider.css" , :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/assets/oldies/stylesheets/application.css" , :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/assets/oldies/stylesheets/bootstrap-responsive.css" , :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/assets/oldies/stylesheets/token-input-facebook.css" , :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/assets/oldies/stylesheets/token-input-mac.css" , :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/assets/oldies/stylesheets/token-input.css" , :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/assets/oldies/stylesheets/property_notes.css" , :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/assets/oldies/stylesheets/jquery.multiselect.css" , :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/assets/oldies/stylesheets/jquery-ui-1.10.4.custom.css" , :rel => "stylesheet", :type => "text/css"}
    %link{rel:'shortcut icon', :href => image_path('favicon.ico')}
    =yield(:head)
    
  %body{:data => {  :reload => @reload }}
    #spinnerContainer.spinner{:style => "background: repeat scroll #AAA; opacity: 0.5; height: 100%; left: 0; position: fixed; top: 0; width: 100%; z-index:2000; display: none;"}
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          - route_namespace =  app_namespace ? "#{app_namespace.downcase}_" : ""
          - unless user_signed_in? 
            %a.brand{:href => root_url} Greenlight
          - else
            %ul.nav
              - markets = current_user.markets
              - puts "!markets: #{markets.length}"
              - unless markets.nil?
                %li.dropdown
                  %a.brand.dropdown-toggle{'data-toggle' => :dropdown, :href => '#', class: ('selection' if defined?(@assignment))}
                    - if defined?(@assignment)
                      %span.logo Greenlight
                      %span.market=@market.fullname
                    - else
                      %span Greenlight
                    - if markets.length > 1
                      %b.caret
                  - if markets.length > 1
                    %ul.dropdown-menu
                      - current_user.markets.each do |market|
                        - if can?(:show, market)
                          -if !(current_user.role == 'client')
                            =nav_item(market.fullname, market_url(market))
                          -else
                            =nav_item(market.fullname, client_market_url(market))

          %a.btn.btn-navbar{'data-toggle' => 'collapse', 'data-target' => '.nav-collapse'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .nav-collapse.collapse
            %ul.nav
              - if user_signed_in? 
                - if defined?(@assignment)
                  - if (can? :new, Search) 
                    -if (app_namespace != 'client')
                      =nav_item 'Search', send("new_market_search_url",@market)
                    -else
                      =nav_item 'Search', send("new_#{route_namespace}market_search_url",@market)
                  - if (can? :index, Job) 
                    -if (app_namespace != 'client')
                      =nav_item 'Add Property', send("new_market_upload_url",@market)
                    -else 
                      =nav_item 'Add Property', send("new_#{route_namespace}market_upload_url",@market)
                  - if (can? :index, Search)
                    -if (app_namespace != 'client')
                      =nav_item 'My Searches', send("market_searches_url",@market)
                    -else
                      =nav_item 'My Searches', send("#{route_namespace}market_searches_url",@market)
                  - if (can? :saved, Property) 
                    -if (app_namespace != 'client')
                      =nav_item 'My Properties', send("saved_market_properties_url",@market)
                    -else
                      =nav_item 'My Properties', send("saved_#{route_namespace}market_properties_url",@market)
                  - if (can? :edit, @market) 
                    -if (app_namespace != 'client')
                      =nav_item 'Settings', send("edit_market_url",@market)
                    -else
                      =nav_item 'Settings', send("edit_#{route_namespace}market_url",@market)
                  
                - if current_user.admin?
                  %li.dropdown{:class => (:active if request.url.match(admin_url))}
                    %a.dropdown-toggle{'data-toggle' => :dropdown, :href => '#'}
                      Admin
                      %b.caret
                    %ul.dropdown-menu
                      =nav_item 'Markets', admin_markets_url
                      =nav_item 'Users', admin_users_url
                      %li.dropdown-submenu
                        %a Settings
                        %ul.dropdown-menu
                          =nav_item 'Services', admin_services_url
                          =nav_item 'Proxies', admin_proxies_url
                   
            %ul.nav.pull-right
              - if user_signed_in?
                %li.dropdown
                  %a.dropdown-toggle{'data-toggle' => :dropdown, :href => '#'}
                    %i.icon-user.icon-white
                    = current_user.name
                    %b.caret
                  %ul.dropdown-menu
                    =nav_item 'Preferences',  current_user.role != 'client' ? edit_preferences_url : client_edit_preferences_url
                    =nav_item 'Change Password', change_password_url
                    =nav_item 'Sign Out', destroy_user_session_url, :method => :delete
              - else
                %li{:class => (:active if request.url == new_user_session_url)}= link_to('Sign In', new_user_session_url)

    .container
      .clearfix
        - if content_for?(:breadcrumbs)
          %ul.nav.nav-breadcrumbs.small.pull-left
            /%li
            /  %i.icon-globe
            =yield(:breadcrumbs)
        %ul.nav.nav-links.pull-right.small
          - if user_signed_in?
            %li
              =link_to t(:email), "mailto:?subject=#{@title}&body=#{request.url}"

      .titlebar.clearfix
        =yield(:pagination)
        =yield(:addrem_saved)
        %span.title= @title
        %ul.nav.nav-pills
          =yield(:navigation)
        
          
      .clearfix
        - flash.each do |type, message|
          - if (app_namespace != 'client') || message.is_a?(TrueClass) || ((app_namespace == 'client') && !(message == "You are not authorized to access this page.") && !(message.start_with?("You need to sign in or sign")))
            - unless message.is_a?(TrueClass) 
              - if bootstrap_alert_class(type) 
                .flash.alert.fade.in{ 'data-alert' => 'alert', :class => bootstrap_alert_class(type) }
                  = message
      -# = debug(params)
      =content_for?(:content) ? yield(:content) : yield
      


    %script{:src => "/assets/oldies/javascripts/jquery.js", :type => "text/javascript"}
    %script{:src => "/assets/oldies/javascripts/jquery_ujs.js", :type => "text/javascript"}
    %script{:src => "/assets/oldies/javascripts/jquery.numeric.js", :type => "text/javascript"}
    %script{:src => "/assets/oldies/javascripts/jquery.slider.js", :type => "text/javascript"}
    %script{:src => "/assets/oldies/javascripts/jquery.tokeninput.js", :type => "text/javascript"}
    %script{:src => "/assets/oldies/javascripts/cocoon.js", :type => "text/javascript"}
    %script{:src => "/assets/oldies/javascripts/geomap.js", :type => "text/javascript"}
    %script{:src => "/assets/oldies/javascripts/bootstrap.js", :type => "text/javascript"}
    %script{:src => "/assets/oldies/javascripts/bootstrap-datepicker.js", :type => "text/javascript"}
    %script{:src => "/assets/oldies/javascripts/select2.js", :type => "text/javascript"}
    %script{:src => "/assets/oldies/javascripts/jquery-ui.js", :type => "text/javascript"}
    %script{:src => "/assets/oldies/javascripts/jquery.color.js", :type => "text/javascript"}
    %script{:src => "/assets/oldies/javascripts/spinner.js", :type => "text/javascript"}
    %script{:src => "/assets/oldies/javascripts/jquery.multiselect.js", :type => "text/javascript"}
    %script{:src => "/assets/oldies/javascripts/jquery-ui-1.10.4.custom.js", :type => "text/javascript"}
    %script{:src => "/assets/oldies/javascripts/application.js", :type => "text/javascript"}    
    %script{:src => "/assets/oldies/javascripts/client_properties.js", :type => "text/javascript"}


    - puts ">>>>> #{controller.controller_name}"
    - if controller.controller_name.in?(%w(properties searches))
      %script{:src => "/assets/oldies/javascripts/#{controller.controller_name}.js", :type => "text/javascript"}      
    - if params[:controller] == "client/properties" && params[:action] == "summary"
      %script{:src => "/assets/oldies/javascripts/client_properties.js", :type => "text/javascript"}
    - if "#{root_url.gsub(/\/$/, '')}/markets/#{params[:market_id]}/uploads/#{params[:id]}/activate_tab".match("#{request.fullpath}".gsub(/\?.*$/,''))    
      :javascript
        //
        $(function() {  
          
          $('a[href=#results], a[href=#error], a[href=#info]').click(function() {
                      
            $.ajax({
              url: '#{root_url.gsub(/\/$/, '')}/markets/#{params[:market_id]}/uploads/#{params[:id]}/activate_tab',
              type: "GET",
              data: {selected_tab : $(this).attr('href').replace('#','')},
              dataType: 'script'
              
             });
          });                              
        });
        
        $('div.tab-pane').removeClass("active");
        if (('#{session[:selected_tab]}' != '') && ($('ul.nav-tabs > li > a[href="#error"]').length > 0) ) {
          $('div.tab-content > div##{session[:selected_tab]}').addClass("active");
        } else {
         
         if ($('ul.nav-tabs > li > a[href="#error"]').length > 0) {
            $('div.tab-content > div#error').addClass("active");
          } else {
            $('div.tab-content > div#results').addClass("active");
          }
        }
        $('ul.nav-tabs > li').removeClass("active");
        if (('#{session[:selected_tab]}' != '') && ($('ul.nav-tabs > li > a[href="#error"]').length > 0))  {
          $('ul.nav-tabs > li > a[href="##{session[:selected_tab]}"]').parent().addClass("active");
        } else {
          if ($('ul.nav-tabs > li > a[href="#error"]').length > 0) {
            $('ul.nav-tabs > li > a[href="#error"]').parent().addClass("active");
          } else {
            $('ul.nav-tabs > li > a[href="#results"]').parent().addClass("active");
          }
        }
    
    
      