!!!
/[if IE 8] <html lang="en" class="ie8 no-js" data-ng-app="SimbaNicApp">
/[if IE 9] <html lang="en" class="ie9 no-js" data-ng-app="SimbaNicApp">
/ [if !IE]><!
%html{:lang => "en"}
  - rel_root = "/"
  %head
    %title="BinControl | Login"
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}

    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all",:rel => "stylesheet", :type => "text/css"}

    %link{:href => "#{rel_root}assets/global/plugins/font-awesome/css/font-awesome.min.css",:rel => "stylesheet", :type => "text/css"}
    %link{:href => "#{rel_root}assets/global/plugins/simple-line-icons/simple-line-icons.min.css",:rel => "stylesheet", :type => "text/css"}
    %link{:href => "#{rel_root}assets/global/plugins/bootstrap/css/bootstrap.min.css",:rel => "stylesheet", :type => "text/css"}
    %link{:href => "#{rel_root}assets/global/plugins/bootstrap/css/bootstrapXL.css",:rel => "stylesheet", :type => "text/css"}
    %link{:href => "#{rel_root}assets/global/plugins/uniform/css/uniform.default.css",:rel => "stylesheet", :type => "text/css"}
    %link{:href => "#{rel_root}assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css",:rel => "stylesheet", :type => "text/css"}


    %link#ng_load_plugins_before

    %link{:href => "#{rel_root}assets/global/css/components-rounded.min.css",:rel => "stylesheet", :type => "text/css"}
    %link{:href => "#{rel_root}assets/global/css/plugins.min.css",:rel => "stylesheet", :type => "text/css"}
    %link{:href => "#{rel_root}assets/layouts/layout4/css/layout.min.css",:rel => "stylesheet", :type => "text/css"}
    %link{:href => "#{rel_root}assets/layouts/layout4/css/themes/default.min.css",:rel => "stylesheet", :type => "text/css"}
    %link{:href => "#{rel_root}assets/css/simbanic.css",:rel => "stylesheet", :type => "text/css"}
    %link{:href => "#{rel_root}assets/css/simbanic_bootstrap.css",:rel => "stylesheet", :type => "text/css"}
    %link{:href => "#{rel_root}assets/css/login.css",:rel => "stylesheet", :type => "text/css"} 
    %link{:href => "#{rel_root}assets/layouts/layout4/css/layout.min.css",:rel => "stylesheet", :type => "text/css"} 
      
    %script{:src => "https://www.google.com/jsapi?autoload=%7B%22modules%22%3A%5B%7B%22name%22%3A%22feeds%22%2C%22version%22%3A%221.0%22%2C%22nocss%22%3Atrue%7D%5D%7D", :type => "text/javascript"}
    / END DYMANICLY LOADED CSS FILES
    / BEGIN THEME STYLES
    / DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag

    =content_for?(:content) ? yield(:content) : yield

    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}
    %script{:src => "#{rel_root}assets/global/plugins/jquery-migrate.min.js", :type => "text/javascript"}
    %script{:src => "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"}%script{:src => "#{rel_root}assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js", :type => "text/javascript"}
    %script{:src => "#{rel_root}assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js", :type => "text/javascript"}
    %script{:src => "#{rel_root}assets/global/plugins/jquery.blockui.min.js", :type => "text/javascript"}
    %script{:src => "#{rel_root}assets/global/plugins/jquery.cokie.min.js", :type => "text/javascript"}
    %script{:src => "#{rel_root}assets/global/plugins/uniform/jquery.uniform.min.js", :type => "text/javascript"}

    -# %script{:src => "assets/plugins/bootstrap-select/js/bootstrap-select.js", :type => "text/javascript"}
    %script{:src => "#{rel_root}assets/plugins/angular/lodash.min.js"}
    %script{:src => "#{rel_root}assets/global/plugins/angularjs/angular.min.js", :type => "text/javascript"}
    %script{:src => "#{rel_root}assets/global/plugins/angularjs/angular-sanitize.min.js", :type => "text/javascript"}
    %script{:src => "#{rel_root}assets/global/plugins/angularjs/angular-touch.min.js", :type => "text/javascript"}
    %script{:src => "#{rel_root}assets/global/plugins/angularjs/plugins/angular-ui-router.min.js", :type => "text/javascript"}
    %script{:src => "#{rel_root}assets/global/plugins/angularjs/plugins/ocLazyLoad.min.js", :type => "text/javascript"}
    %script{:src => "#{rel_root}assets/global/plugins/angularjs/plugins/ui-bootstrap-tpls.min.js", :type => "text/javascript"}
    %script{:src => "#{rel_root}assets/plugins/angular/slick/slick.min.js", :type => "text/javascript"}
    %script{:src => "#{rel_root}assets/plugins/angular/slick/lightbox/slick-lightbox.min.js", :type => "text/javascript"}


    %script{:src => "#{rel_root}assets/global/plugins/angularjs/angular-ngStorage.js", :type => "text/javascript"}
    %script{:src => "#{rel_root}assets/global/plugins/angularjs/angular-idle.min.js", :type => "text/javascript"}
    %script{:src => "#{rel_root}assets/plugins/angular/angular-nl2br.min.js", :type => "text/javascript"}
    %script{:src => "#{rel_root}assets/plugins/angular/angucomplete-alt/angucomplete-alt.js", :type => "text/javascript"}
    %script{:src => "#{rel_root}assets/plugins/angular/angular-clndr/moment.js", :type => "text/javascript"}
    %script{:src => "#{rel_root}assets/plugins/angular/angular-clndr/jquery-clndr.js", :type => "text/javascript"}
    %script{:src => "#{rel_root}assets/plugins/angular/angular-clndr/angular-clndr.min.js", :type => "text/javascript"}

    %script{:src => "#{rel_root}assets/plugins/angular/angular-slimscroll.js", :type => "text/javascript"}
    %script{:src => "#{rel_root}assets/plugins/jquery-validation/js/jquery.validate.min.js", :type => "text/javascript"}
    %script{:src => "#{rel_root}assets/plugins/jquery-validation/js/additional-methods.min.js", :type => "text/javascript"}
    
    %script{:src => "https://maps.googleapis.com/maps/api/js?sensor=false", :type => "text/javascript"}

    %script{:src => "#{rel_root}assets/plugins/angular/ng-map.min.js"}
    %script{:src => "#{rel_root}assets/plugins/angular/ng-file-upload.min.js"}
    %script{:src => "#{rel_root}assets/plugins/angular/angular-validation/angular-validation.min.js"}
    %script{:src => "#{rel_root}assets/plugins/angular/angular-validation/angular-validation-rule.min.js"}
    %script{:src => "#{rel_root}assets/plugins/counterup/jquery.waypoints.min.js"}
    %script{:src => "#{rel_root}assets/plugins/counterup/jquery.counterup.min.js"}
    %script{:src => "#{rel_root}assets/plugins/angular/countUp.min.js"}
    %script{:src => "#{rel_root}assets/plugins/angular/angular-countUp.min.js"}
    %script{:src => "#{rel_root}assets/plugins/angular/ngBootbox/bootbox.js"}
    %script{:src => "#{rel_root}assets/plugins/angular/ngBootbox/ngBootbox.min.js"}
    %script{:src => "#{rel_root}assets/plugins/scrolltofixed/jquery-scrolltofixed-min.js"}
    %script{:src => "#{rel_root}assets/plugins/angular/angular-scrolltofixed.min.js"}
    %script{:src => "#{rel_root}assets/plugins/angular/angular-bootstrap-confirm.min.js"}
    %script{:src => "#{rel_root}assets/plugins/angular/angular-feeds.js"}
    
    %script{:src => "#{rel_root}assets/plugins/angular/angular-datatable/angular-datatables.min.js"}

    %script{:src => "#{rel_root}assets/plugins/angular/angular-sparkline/jquery.sparkline.min.js"}
    %script{:src => "#{rel_root}assets/plugins/angular/angular-flash/angular-flash.min.js"}

    %script{:src => "#{rel_root}assets/plugins/angular/ui-calendar/fullcalendar.min.js"}
    %script{:src => "#{rel_root}assets/plugins/angular/ui-calendar/gcal.js"}
    %script{:src => "#{rel_root}assets/plugins/angular/ui-calendar/ui-calendar.js"}
    %script{:src => "#{rel_root}assets/plugins/angular/ui-select/select.js"}

    %script{:src => "#{rel_root}assets/plugins/angular/nya-bootstrap-select/nya-bs-select.min.js"}
    %script{:src => "#{rel_root}assets/plugins/angular/angular-file-upload/angular-file-upload.min.js"}

    %script{:src => "#{rel_root}assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"}
    %script{:src => "#{rel_root}assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"}
    %script{:src => "#{rel_root}assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"}
    
    %script{:src => "#{rel_root}assets/app/main.js", :type => "text/javascript"}
    %script{:src => "#{rel_root}assets/app/directives.js", :type => "text/javascript"}
    %script{:src => "#{rel_root}assets/app/common/commonServices.js", :type => "text/javascript"}
    %script{:src => "#{rel_root}assets/app/services/service.upload.js", :type => "text/javascript"}
    %script{:src => "#{rel_root}assets/app/services/service.api.js", :type => "text/javascript"}
    %script{:src => "#{rel_root}assets/app/components/login/authService.js", :type => "text/javascript"}
    %script{:src => "#{rel_root}assets/app/components/closings/function.js", :type => "text/javascript"}
    %script{:src => "#{rel_root}assets/app/common/headerController.js", :type => "text/javascript"}

    %script{:src => "#{rel_root}assets/plugins/datatables/pdfmake.min.js", :type => "text/javascript"}
    %script{:src => "#{rel_root}assets/plugins/datatables/datatables.all.min.js", :type => "text/javascript"}
    %script{:src => "#{rel_root}assets/global/scripts/app.min.js", :type => "text/javascript"}
    %script{:src => "#{rel_root}assets/layouts/layout4/scripts/layout.min.js", :type => "text/javascript"}